<!DOCTYPE html>
<html lang="en">
<style>

</style>
<script></script>
<script></script>
<script></script>
<head>
    <meta charset="UTF-8">
    <title>小米优惠劵-优惠活动专区-小米商城</title>
    <link href="/static/css/whatelse.css" rel="stylesheet">
</head>
<body>
    <!--头部-->
    <header></header>
    <!--滚动图片-->

    <div class="main_wraper">
        <div class="coupon-type-title coupon-type-title-coupon" id="coupon-title">
            <img src="/static/images/lingquan/area01.png">
            <span class="title">领券立减</span>
            <img src="/static/images/lingquan/area02.png">
        </div>
        <!--精选专区-->
        <div class="nav-id" id="coupon1"></div>
        <div class="all-coupons-table-title">
            <span class="icon-img icon-img1">立减专区</span>
        </div>
        <div class="all-coupons-table active"><!--精选专区下的各个元件-->
            <div class="coupon-item">
              <div data-isReceive="false"
                data-isUse="false"
                data-isDone="false"
                data-name="100元科尼盛品牌优惠"
                data-isInvalid="false"
                data-id="9B64ABB872F529E9DBD3359D5E1D1557"
                data-channel="all"
                class="coupon-item-btn">
                <p class="coupon-item-btn-text">立即抢券</p>
              </div>
              <div class="coupon-item-con">
              <div class="coupon-item-top-title">
                <div class="coupon-item-con-desc">
                  <span class="icon ">¥</span>
                  <span class="money ">100</span>
                </div>
                <div class="condition-brought">
                    <div class="condition">满1000可用</div>
                </div>
              </div>
            <div class="coupon-item-name">
              <h3 class="ellipsis" title="100元科尼盛品牌优惠">100元ipad类别优惠
              </h3>
            </div>
            <div class="brought">
              已领<span class="brought-num">29</span>
            </div>
              <div style="display: none;" class="brought-icon"></div>
          </div>
        </div>
            <div class="coupon-item">
          <div data-isReceive="false"
              data-isUse="false"
              data-isDone="false"
              data-name="100元益嘉源品牌优惠"

                data-isInvalid="false"

              data-id="16C80AF73BAD2896CB3543037F688C5F"
              data-channel="all"
              
              class="coupon-item-btn">
            <p class="coupon-item-btn-text">
              立即抢券

            </p>
          </div>
          <div class="coupon-item-con">
            <div class="coupon-item-top-title">
              <div class="coupon-item-con-desc">

                  <span class="icon ">¥</span>
                  <span class="money ">100</span>

              </div>
              <div class="condition-brought">


                    <div class="condition">满1000可用</div>


              </div>
            </div>
            <div class="coupon-item-name">
              <h3 class="ellipsis" title="100元益嘉源品牌优惠">100元iphone优惠
              </h3>

            </div>
            <div class="brought">
              已领<span class="brought-num">22</span>

            </div>

              <div style="display: none;" class="brought-icon"></div>


          </div>
        </div>
            <div class="coupon-item">

          <div data-isReceive="false"
              data-isUse="false"
              data-isDone="false"
              data-name="50元扬杰品牌优惠"

                data-isInvalid="false"

              data-id="F94F4961CDD357057E9A2E586363734C"
              data-channel="all"
              
              class="coupon-item-btn">
            <p class="coupon-item-btn-text">
              立即抢券

            </p>
          </div>
          <div class="coupon-item-con">
            <div class="coupon-item-top-title">
              <div class="coupon-item-con-desc">

                  <span class="icon ">¥</span>
                  <span class="money ">500</span>

              </div>
              <div class="condition-brought">


                    <div class="condition">满5000可用</div>


              </div>
            </div>
            <div class="coupon-item-name">
              <h3 class="ellipsis" title="50元扬杰品牌优惠">500元computer优惠
              </h3>

            </div>
            <div class="brought">
              已领<span class="brought-num">24</span>

            </div>

              <div style="display: none;" class="brought-icon"></div>


          </div>
        </div>
            <div class="coupon-item">
          <div data-isReceive="false"
              data-isUse="false"
              data-isDone="false"
              data-name="20元富捷品牌优惠"

                data-isInvalid="false"

              data-id="E94CE021DC0C9A499560F927BB0DFFFD"
              data-channel="all"
              
              class="coupon-item-btn">
            <p class="coupon-item-btn-text">
              立即抢券

            </p>
          </div>
          <div class="coupon-item-con">
            <div class="coupon-item-top-title">
              <div class="coupon-item-con-desc">

                  <span class="icon ">¥</span>
                  <span class="money ">200</span>

              </div>
              <div class="condition-brought">


                    <div class="condition">满200可用</div>


              </div>
            </div>
            <div class="coupon-item-name">
              <h3 class="ellipsis" title="20元富捷品牌优惠">200元TV优惠
              </h3>

            </div>
            <div class="brought">
              已领<span class="brought-num">29</span>

            </div>

              <div style="display: none;" class="brought-icon"></div>


          </div>
        </div>
            <div class="coupon-item">

          <div data-isReceive="false"
              data-isUse="false"
              data-isDone="false"
              data-name="50元伯恩半导体品牌优惠"

                data-isInvalid="false"

              data-id="6FDEA23F0AC71806800E436D0A501DAE"
              data-channel="all"
              
              class="coupon-item-btn">
            <p class="coupon-item-btn-text">
              立即抢券

            </p>
          </div>
          <div class="coupon-item-con">
            <div class="coupon-item-top-title">
              <div class="coupon-item-con-desc">

                  <span class="icon ">¥</span>
                  <span class="money ">500</span>

              </div>
              <div class="condition-brought">


                    <div class="condition">满5000可用</div>


              </div>
            </div>
            <div class="coupon-item-name">
              <h3 class="ellipsis" title="50元伯恩半导体品牌优惠">500元TV优惠
              </h3>

            </div>
            <div class="brought">
              已领<span class="brought-num">25</span>

            </div>

              <div style="display: none;" class="brought-icon"></div>


          </div>
        </div>
            <div class="coupon-item">

          <div data-isReceive="false"
              data-isUse="false"
              data-isDone="false"
              data-name="500元海外代购优惠券"

                data-isInvalid="false"

              data-id="926101A839D4CECB62B971146C61DCB9"
              data-channel="all"
              
              class="coupon-item-btn">
            <p class="coupon-item-btn-text">
              立即抢券

            </p>
          </div>
          <div class="coupon-item-con">
            <div class="coupon-item-top-title">
              <div class="coupon-item-con-desc">

                  <span class="icon ">¥</span>
                  <span class="money ">500</span>

              </div>
              <div class="condition-brought">


                    <div class="condition">满20000可用</div>


              </div>
            </div>
            <div class="coupon-item-name">
              <h3 class="ellipsis" title="500元海外代购优惠券">500元通用优惠券
              </h3>

            </div>
            <div class="brought">
              已领<span class="brought-num">29</span>

            </div>

              <div style="display: none;" class="brought-icon"></div>


              <div class="coupon-item-tag">
                <span>海外代购</span>
              </div>

          </div>
        </div>
      </div>
    </div>
    <div class="content-container" >
        <div class="coupon-type-title coupon-type-title-activity" id="activity-title" style="display: block;">
            <img src="/static/images/lingquan/area01.png" />
            <span class="title">特惠活动</span>
            <img src="/static/images/lingquan/area02.png" />
        </div>
        <div class="activity">
            <div class="activity-item">
                <div class="activity-title">
                    <a href="http://127.0.0.1:5000/home">新人专属福利 ↓</a>
                </div>
                <a href="http://127.0.0.1:5000/home">
                    <div class="activity-img">
                        <img src="/static/images/lingquan/huodong.jpg">
                    </div>
                </a>
            </div>

        </div>
    </div>
</body>
<div></div>
</html>