<!DOCTYPE html>
<html>
  <head>
    <title>举报详情(商品评价)-已处理</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link href="resources/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="data/styles.css" type="text/css" rel="stylesheet"/>
    <link href="files/举报详情_商品评价_-已处理/styles.css" type="text/css" rel="stylesheet"/>
    <link href="http://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.css" type="text/css" rel="stylesheet"/>
    <script src="resources/scripts/jquery-3.7.1.min.js"></script>
    <script src="resources/scripts/axure/axQuery.js"></script>
    <script src="resources/scripts/axure/globals.js"></script>
    <script src="resources/scripts/axutils.js"></script>
    <script src="resources/scripts/axure/annotation.js"></script>
    <script src="resources/scripts/axure/axQuery.std.js"></script>
    <script src="resources/scripts/axure/doc.js"></script>
    <script src="resources/scripts/messagecenter.js"></script>
    <script src="resources/scripts/axure/events.js"></script>
    <script src="resources/scripts/axure/recording.js"></script>
    <script src="resources/scripts/axure/action.js"></script>
    <script src="resources/scripts/axure/expr.js"></script>
    <script src="resources/scripts/axure/geometry.js"></script>
    <script src="resources/scripts/axure/flyout.js"></script>
    <script src="resources/scripts/axure/model.js"></script>
    <script src="resources/scripts/axure/repeater.js"></script>
    <script src="resources/scripts/axure/sto.js"></script>
    <script src="resources/scripts/axure/utils.temp.js"></script>
    <script src="resources/scripts/axure/variables.js"></script>
    <script src="resources/scripts/axure/drag.js"></script>
    <script src="resources/scripts/axure/move.js"></script>
    <script src="resources/scripts/axure/visibility.js"></script>
    <script src="resources/scripts/axure/style.js"></script>
    <script src="resources/scripts/axure/adaptive.js"></script>
    <script src="resources/scripts/axure/tree.js"></script>
    <script src="resources/scripts/axure/init.temp.js"></script>
    <script src="resources/scripts/axure/legacy.js"></script>
    <script src="resources/scripts/axure/viewer.js"></script>
    <script src="resources/scripts/axure/math.js"></script>
    <script src="resources/scripts/axure/jquery.nicescroll.min.js"></script>
    <script src="data/document.js"></script>
    <script src="files/举报详情_商品评价_-已处理/data.js"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
  </head>
  <body>
    <div id="base" class="">

      <!-- Unnamed (Group) -->
      <div id="u13311" class="ax_default" data-left="0" data-top="0" data-width="0" data-height="0" layer-opacity="1">
      </div>

      <!-- Unnamed (标题通栏) -->

      <!-- 灰色背景 (Dynamic Panel) -->
      <div id="u13313" class="ax_default" data-label="灰色背景">
        <div id="u13313_state0" class="panel_state" data-label="State1" style="">
          <div id="u13313_state0_content" class="panel_state_content">
          </div>
        </div>
      </div>

      <!-- 线条 (Dynamic Panel) -->
      <div id="u13314" class="ax_default" data-label="线条">
        <div id="u13314_state0" class="panel_state" data-label="State1" style="">
          <div id="u13314_state0_content" class="panel_state_content">
          </div>
        </div>
      </div>

      <!-- 页面标题 (Rectangle) -->
      <div id="u13315" class="ax_default _默认样式" data-label="页面标题">
        <div id="u13315_div" class=""></div>
        <div id="u13315_text" class="text ">
          <p><span>页面标题</span></p>
        </div>
      </div>
      <div id="u13312" style="display:none; visibility:hidden;"></div>

      <!-- Unnamed (Rectangle) -->
      <div id="u13316" class="ax_default _默认样式">
        <div id="u13316_div" class=""></div>
        <div id="u13316_text" class="text ">
          <p><span>举报详情</span></p>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u13317" class="ax_default" data-left="0" data-top="119" data-width="1100" data-height="632" layer-opacity="1">

        <!-- Unnamed (Rectangle) -->
        <div id="u13318" class="ax_default _默认样式">
          <div id="u13318_div" class=""></div>
          <div id="u13318_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Table) -->
      <div id="u13319" class="ax_default _表格">

        <!-- Unnamed (Table Cell) -->
        <div id="u13320" class="ax_default _默认样式">
          <img id="u13320_img" class="img " src="images/修改商品信息/u4955.png"/>
          <div id="u13320_text" class="text ">
            <p><span>编号</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u13321" class="ax_default _默认样式">
          <img id="u13321_img" class="img " src="images/修改商品信息/u4956.png"/>
          <div id="u13321_text" class="text ">
            <p><span>1000001</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u13322" class="ax_default _默认样式">
          <img id="u13322_img" class="img " src="images/修改商品信息/u4955.png"/>
          <div id="u13322_text" class="text ">
            <p><span>举报类型</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u13323" class="ax_default _默认样式">
          <img id="u13323_img" class="img " src="images/修改商品信息/u4956.png"/>
          <div id="u13323_text" class="text ">
            <p><span>商品评价</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u13324" class="ax_default _默认样式">
          <img id="u13324_img" class="img " src="images/修改商品信息/u4955.png"/>
          <div id="u13324_text" class="text ">
            <p><span>举报人</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u13325" class="ax_default _默认样式">
          <img id="u13325_img" class="img " src="images/修改商品信息/u4956.png"/>
          <div id="u13325_text" class="text ">
            <p><span>Windir</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u13326" class="ax_default _默认样式">
          <img id="u13326_img" class="img " src="images/修改商品信息/u4955.png"/>
          <div id="u13326_text" class="text ">
            <p><span>举报时间</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u13327" class="ax_default _默认样式">
          <img id="u13327_img" class="img " src="images/修改商品信息/u4956.png"/>
          <div id="u13327_text" class="text ">
            <p><span>2017-03-22 11:05</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u13328" class="ax_default _默认样式">
          <img id="u13328_img" class="img " src="images/修改商品信息/u4955.png"/>
          <div id="u13328_text" class="text ">
            <p><span>举报对象</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u13329" class="ax_default _默认样式">
          <img id="u13329_img" class="img " src="images/修改商品信息/u4956.png"/>
          <div id="u13329_text" class="text ">
            <p><span>Windir</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u13330" class="ax_default _默认样式">
          <img id="u13330_img" class="img " src="images/修改商品信息/u4955.png"/>
          <div id="u13330_text" class="text ">
            <p><span>举报状态</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u13331" class="ax_default _默认样式">
          <img id="u13331_img" class="img " src="images/修改商品信息/u4956.png"/>
          <div id="u13331_text" class="text ">
            <p><span>未处理</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u13332" class="ax_default _默认样式">
          <img id="u13332_img" class="img " src="images/修改商品信息/u4973.png"/>
          <div id="u13332_text" class="text ">
            <p><span>举报内容</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u13333" class="ax_default _默认样式">
          <img id="u13333_img" class="img " src="images/修改商品信息/u4974.png"/>
          <div id="u13333_text" class="text ">
            <p><a id="u13334" class="link"><span>点击详情</span></a></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (底部版权) -->

      <!-- Unnamed (Rectangle) -->
      <div id="u13336" class="ax_default _默认样式">
        <img id="u13336_img" class="img " src="images/登录界面/u23.svg"/>
        <div id="u13336_text" class="text ">
          <p><span>Copyright © www.xiangtianchi.com, All Rights Reserved.</span></p><p><span>Email : 840251972@qq.com&nbsp; QQ:&nbsp; 840251972</span></p>
        </div>
      </div>
      <div id="u13335" style="display:none; visibility:hidden;"></div>

      <!-- Unnamed (Table) -->
      <div id="u13337" class="ax_default _表格">

        <!-- Unnamed (Table Cell) -->
        <div id="u13338" class="ax_default _默认样式">
          <img id="u13338_img" class="img " src="images/修改商品信息/u4955.png"/>
          <div id="u13338_text" class="text ">
            <p><span>处理人员</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u13339" class="ax_default _默认样式">
          <img id="u13339_img" class="img " src="images/修改商品信息/u4956.png"/>
          <div id="u13339_text" class="text ">
            <p><span>admin</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u13340" class="ax_default _默认样式">
          <img id="u13340_img" class="img " src="images/修改商品信息/u4955.png"/>
          <div id="u13340_text" class="text ">
            <p><span>处理时间</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u13341" class="ax_default _默认样式">
          <img id="u13341_img" class="img " src="images/修改商品信息/u4956.png"/>
          <div id="u13341_text" class="text ">
            <p><span>2017-07-19 14:48:38 </span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u13342" class="ax_default _默认样式">
          <img id="u13342_img" class="img " src="images/修改商品信息/u4955.png"/>
          <div id="u13342_text" class="text ">
            <p><span>处理结果</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u13343" class="ax_default _默认样式">
          <img id="u13343_img" class="img " src="images/修改商品信息/u4956.png"/>
          <div id="u13343_text" class="text ">
            <p><span>无效举报</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u13344" class="ax_default _默认样式">
          <img id="u13344_img" class="img " src="images/修改商品信息/u4973.png"/>
          <div id="u13344_text" class="text ">
            <p><span>处理备注</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u13345" class="ax_default _默认样式">
          <img id="u13345_img" class="img " src="images/修改商品信息/u4974.png"/>
          <div id="u13345_text" class="text ">
            <p><span>无</span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (关闭) -->

      <!-- Unnamed (Rectangle) -->
      <div id="u13347" class="ax_default _默认样式">
        <div id="u13347_div" class=""></div>
        <div id="u13347_text" class="text ">
          <p><span>关闭</span></p>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u13348" class="ax_default" data-left="1035" data-top="18" data-width="14" data-height="14" layer-opacity="1">

        <!-- Unnamed (Shape) -->
        <div id="u13349" class="ax_default _默认样式">
          <img id="u13349_img" class="img " src="images/商品日志/u961.svg"/>
          <div id="u13349_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Shape) -->
        <div id="u13350" class="ax_default _默认样式">
          <img id="u13350_img" class="img " src="images/商品日志/u962.svg"/>
          <div id="u13350_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>
      </div>
      <div id="u13346" style="display:none; visibility:hidden;"></div>
    </div>
    <script src="resources/scripts/axure/ios.js"></script>
  </body>
</html>
