<!DOCTYPE html>
<html>
  <head>
    <title>交易统计</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link href="resources/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="data/styles.css" type="text/css" rel="stylesheet"/>
    <link href="files/交易统计/styles.css" type="text/css" rel="stylesheet"/>
    <link href="http://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.css" type="text/css" rel="stylesheet"/>
    <script src="resources/scripts/jquery-3.7.1.min.js"></script>
    <script src="resources/scripts/axure/axQuery.js"></script>
    <script src="resources/scripts/axure/globals.js"></script>
    <script src="resources/scripts/axutils.js"></script>
    <script src="resources/scripts/axure/annotation.js"></script>
    <script src="resources/scripts/axure/axQuery.std.js"></script>
    <script src="resources/scripts/axure/doc.js"></script>
    <script src="resources/scripts/messagecenter.js"></script>
    <script src="resources/scripts/axure/events.js"></script>
    <script src="resources/scripts/axure/recording.js"></script>
    <script src="resources/scripts/axure/action.js"></script>
    <script src="resources/scripts/axure/expr.js"></script>
    <script src="resources/scripts/axure/geometry.js"></script>
    <script src="resources/scripts/axure/flyout.js"></script>
    <script src="resources/scripts/axure/model.js"></script>
    <script src="resources/scripts/axure/repeater.js"></script>
    <script src="resources/scripts/axure/sto.js"></script>
    <script src="resources/scripts/axure/utils.temp.js"></script>
    <script src="resources/scripts/axure/variables.js"></script>
    <script src="resources/scripts/axure/drag.js"></script>
    <script src="resources/scripts/axure/move.js"></script>
    <script src="resources/scripts/axure/visibility.js"></script>
    <script src="resources/scripts/axure/style.js"></script>
    <script src="resources/scripts/axure/adaptive.js"></script>
    <script src="resources/scripts/axure/tree.js"></script>
    <script src="resources/scripts/axure/init.temp.js"></script>
    <script src="resources/scripts/axure/legacy.js"></script>
    <script src="resources/scripts/axure/viewer.js"></script>
    <script src="resources/scripts/axure/math.js"></script>
    <script src="resources/scripts/axure/jquery.nicescroll.min.js"></script>
    <script src="data/document.js"></script>
    <script src="files/交易统计/data.js"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
  </head>
  <body>
    <div id="base" class="">

      <!-- Unnamed (标题通栏) -->

      <!-- 灰色背景 (Dynamic Panel) -->
      <div id="u11684" class="ax_default" data-label="灰色背景">
        <div id="u11684_state0" class="panel_state" data-label="State1" style="">
          <div id="u11684_state0_content" class="panel_state_content">
          </div>
        </div>
      </div>

      <!-- 线条 (Dynamic Panel) -->
      <div id="u11685" class="ax_default" data-label="线条">
        <div id="u11685_state0" class="panel_state" data-label="State1" style="">
          <div id="u11685_state0_content" class="panel_state_content">
          </div>
        </div>
      </div>

      <!-- 页面标题 (Rectangle) -->
      <div id="u11686" class="ax_default _默认样式" data-label="页面标题">
        <div id="u11686_div" class=""></div>
        <div id="u11686_text" class="text ">
          <p><span>页面标题</span></p>
        </div>
      </div>
      <div id="u11683" style="display:none; visibility:hidden;"></div>

      <!-- Unnamed (Rectangle) -->
      <div id="u11687" class="ax_default _默认样式" title="刷新">
        <div id="u11687_div" class=""></div>
        <div id="u11687_text" class="text ">
          <p><span>刷新</span></p>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u11688" class="ax_default" data-left="1031" data-top="16" data-width="19" data-height="17" layer-opacity="1">

        <!-- Unnamed (Shape) -->
        <div id="u11689" class="ax_default _默认样式">
          <img id="u11689_img" class="img " src="images/系统首页/u22.svg"/>
          <div id="u11689_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Shape) -->
        <div id="u11690" class="ax_default _默认样式">
          <img id="u11690_img" class="img " src="images/系统首页/u23.svg"/>
          <div id="u11690_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u11691" class="ax_default _默认样式">
        <div id="u11691_div" class=""></div>
        <div id="u11691_text" class="text ">
          <p><span>交易数据</span></p>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u11692" class="ax_default" data-left="0" data-top="119" data-width="1100" data-height="706" layer-opacity="1">

        <!-- Unnamed (Rectangle) -->
        <div id="u11693" class="ax_default _默认样式">
          <div id="u11693_div" class=""></div>
          <div id="u11693_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (底部版权) -->

      <!-- Unnamed (Rectangle) -->
      <div id="u11695" class="ax_default _默认样式">
        <img id="u11695_img" class="img " src="images/系统首页/u206.svg"/>
        <div id="u11695_text" class="text ">
          <p><span>Copyright © www.xiangtianchi.com, All Rights Reserved.</span></p><p><span>Email : 840251972@qq.com&nbsp; QQ:&nbsp; 840251972</span></p>
        </div>
      </div>
      <div id="u11694" style="display:none; visibility:hidden;"></div>

      <!-- Unnamed (Rectangle) -->
      <div id="u11696" class="ax_default _默认样式">
        <div id="u11696_div" class=""></div>
        <div id="u11696_text" class="text ">
          <p><span>导出数据</span></p>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u11697" class="ax_default" data-left="840" data-top="79" data-width="240" data-height="30" layer-opacity="1">

        <!-- Unnamed (Group) -->
        <div id="u11698" class="ax_default" data-left="840" data-top="79" data-width="240" data-height="30" layer-opacity="1">

          <!-- Unnamed (Group) -->
          <div id="u11699" class="ax_default" data-left="840" data-top="79" data-width="240" data-height="30" layer-opacity="1">

            <!-- Unnamed (Group) -->
            <div id="u11700" class="ax_default" data-left="840" data-top="79" data-width="240" data-height="30" layer-opacity="1">

              <!-- Unnamed (Rectangle) -->
              <div id="u11701" class="ax_default _默认样式">
                <div id="u11701_div" class=""></div>
                <div id="u11701_text" class="text ">
                  <p><span>2017-07-01 </span><span style="color:#999999;">~</span><span> 2017-07-07</span></p>
                </div>
              </div>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u11702" class="ax_default _默认样式">
            <div id="u11702_div" class=""></div>
            <div id="u11702_text" class="text ">
              <p><span></span></p>
            </div>
          </div>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u11703" class="ax_default" data-left="572" data-top="79" data-width="258" data-height="29" layer-opacity="1">

        <!-- Unnamed (Rectangle) -->
        <div id="u11704" class="ax_default _默认样式 selected">
          <div id="u11704_div" class="selected"></div>
          <div id="u11704_text" class="text ">
            <p><span>昨天</span></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u11705" class="ax_default _默认样式">
          <div id="u11705_div" class=""></div>
          <div id="u11705_text" class="text ">
            <p><span>最近7天</span></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u11706" class="ax_default _默认样式">
          <div id="u11706_div" class=""></div>
          <div id="u11706_text" class="text ">
            <p><span>最近30天</span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Table) -->
      <div id="u11707" class="ax_default _表格">

        <!-- Unnamed (Table Cell) -->
        <div id="u11708" class="ax_default _默认样式">
          <img id="u11708_img" class="img " src="images/商品列表/u576.png"/>
          <div id="u11708_text" class="text ">
            <p><span>浏览人数</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u11709" class="ax_default _默认样式">
          <img id="u11709_img" class="img " src="images/商品列表/u576.png"/>
          <div id="u11709_text" class="text ">
            <p><span>下单人数</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u11710" class="ax_default _默认样式">
          <img id="u11710_img" class="img " src="images/商品列表/u576.png"/>
          <div id="u11710_text" class="text ">
            <p><span>订单数</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u11711" class="ax_default _默认样式">
          <img id="u11711_img" class="img " src="images/商品列表/u576.png"/>
          <div id="u11711_text" class="text ">
            <p><span>下单件数</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u11712" class="ax_default _默认样式">
          <img id="u11712_img" class="img " src="images/商品列表/u576.png"/>
          <div id="u11712_text" class="text ">
            <p><span>有效订单数</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u11713" class="ax_default _默认样式">
          <img id="u11713_img" class="img " src="images/交易统计/u11713.png"/>
          <div id="u11713_text" class="text ">
            <p><span>下单金额</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u11714" class="ax_default _默认样式">
          <img id="u11714_img" class="img " src="images/属性列表/u2386.png"/>
          <div id="u11714_text" class="text ">
            <p><span>1888</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u11715" class="ax_default _默认样式">
          <img id="u11715_img" class="img " src="images/属性列表/u2386.png"/>
          <div id="u11715_text" class="text ">
            <p><span>80</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u11716" class="ax_default _默认样式">
          <img id="u11716_img" class="img " src="images/属性列表/u2386.png"/>
          <div id="u11716_text" class="text ">
            <p><span>144</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u11717" class="ax_default _默认样式">
          <img id="u11717_img" class="img " src="images/属性列表/u2386.png"/>
          <div id="u11717_text" class="text ">
            <p><span>643</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u11718" class="ax_default _默认样式">
          <img id="u11718_img" class="img " src="images/属性列表/u2386.png"/>
          <div id="u11718_text" class="text ">
            <p><span>130</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u11719" class="ax_default _默认样式">
          <img id="u11719_img" class="img " src="images/交易统计/u11719.png"/>
          <div id="u11719_text" class="text ">
            <p><span>￥1905871.71</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u11720" class="ax_default _默认样式">
          <img id="u11720_img" class="img " src="images/商品列表/u576.png"/>
          <div id="u11720_text" class="text ">
            <p><span>退款金额</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u11721" class="ax_default _默认样式">
          <img id="u11721_img" class="img " src="images/商品列表/u576.png"/>
          <div id="u11721_text" class="text ">
            <p><span>付款人数</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u11722" class="ax_default _默认样式">
          <img id="u11722_img" class="img " src="images/商品列表/u576.png"/>
          <div id="u11722_text" class="text ">
            <p><span>付款订单数</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u11723" class="ax_default _默认样式">
          <img id="u11723_img" class="img " src="images/商品列表/u576.png"/>
          <div id="u11723_text" class="text ">
            <p><span>付款件数</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u11724" class="ax_default _默认样式">
          <img id="u11724_img" class="img " src="images/商品列表/u576.png"/>
          <div id="u11724_text" class="text ">
            <p><span>付款金额</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u11725" class="ax_default _默认样式">
          <img id="u11725_img" class="img " src="images/交易统计/u11713.png"/>
          <div id="u11725_text" class="text ">
            <p><span>客单价</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u11726" class="ax_default _默认样式">
          <img id="u11726_img" class="img " src="images/商品分类/u2045.png"/>
          <div id="u11726_text" class="text ">
            <p><span>￥1046.01</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u11727" class="ax_default _默认样式">
          <img id="u11727_img" class="img " src="images/商品分类/u2045.png"/>
          <div id="u11727_text" class="text ">
            <p><span>55</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u11728" class="ax_default _默认样式">
          <img id="u11728_img" class="img " src="images/商品分类/u2045.png"/>
          <div id="u11728_text" class="text ">
            <p><span>81</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u11729" class="ax_default _默认样式">
          <img id="u11729_img" class="img " src="images/商品分类/u2045.png"/>
          <div id="u11729_text" class="text ">
            <p><span>381</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u11730" class="ax_default _默认样式">
          <img id="u11730_img" class="img " src="images/商品分类/u2045.png"/>
          <div id="u11730_text" class="text ">
            <p><span>￥1967849.99</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u11731" class="ax_default _默认样式">
          <img id="u11731_img" class="img " src="images/交易统计/u11731.png"/>
          <div id="u11731_text" class="text ">
            <p><span>￥24294.44</span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Image) -->
      <div id="u11732" class="ax_default image">
        <img id="u11732_img" class="img " src="images/交易统计/u11732.png"/>
        <div id="u11732_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u11733" class="ax_default" data-left="665" data-top="149" data-width="415" data-height="205" layer-opacity="1">

        <!-- Unnamed (Image) -->
        <div id="u11734" class="ax_default image">
          <img id="u11734_img" class="img " src="images/交易统计/u11734.png"/>
          <div id="u11734_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u11735" class="ax_default _默认样式">
          <img id="u11735_img" class="img " src="images/填写商品信息/u848.svg"/>
          <div id="u11735_text" class="text ">
            <p><span>下单转化率</span></p><p><span>4.24%</span></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u11736" class="ax_default _默认样式">
          <img id="u11736_img" class="img " src="images/填写商品信息/u848.svg"/>
          <div id="u11736_text" class="text ">
            <p><span>成交转化率</span></p><p><span>2.91%</span></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u11737" class="ax_default _默认样式">
          <img id="u11737_img" class="img " src="images/填写商品信息/u848.svg"/>
          <div id="u11737_text" class="text ">
            <p><span>付款转化率</span></p><p><span>68.75%</span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u11738" class="ax_default _默认样式">
        <div id="u11738_div" class=""></div>
        <div id="u11738_text" class="text ">
          <p><span>新老客户交易构成</span></p>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u11739" class="ax_default" data-left="0" data-top="904" data-width="1100" data-height="376" layer-opacity="1">

        <!-- Unnamed (Rectangle) -->
        <div id="u11740" class="ax_default _默认样式">
          <div id="u11740_div" class=""></div>
          <div id="u11740_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u11741" class="ax_default" data-left="964" data-top="864" data-width="116" data-height="30" layer-opacity="1">

        <!-- Unnamed (Group) -->
        <div id="u11742" class="ax_default" data-left="964" data-top="864" data-width="116" data-height="30" layer-opacity="1">

          <!-- Unnamed (Group) -->
          <div id="u11743" class="ax_default" data-left="964" data-top="864" data-width="116" data-height="30" layer-opacity="1">

            <!-- Unnamed (Group) -->
            <div id="u11744" class="ax_default" data-left="964" data-top="864" data-width="116" data-height="30" layer-opacity="1">

              <!-- Unnamed (Rectangle) -->
              <div id="u11745" class="ax_default _默认样式">
                <div id="u11745_div" class=""></div>
                <div id="u11745_text" class="text ">
                  <p><span>2017-07</span></p>
                </div>
              </div>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u11746" class="ax_default _默认样式">
            <div id="u11746_div" class=""></div>
            <div id="u11746_text" class="text ">
              <p><span></span></p>
            </div>
          </div>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u11747" class="ax_default" data-left="780" data-top="864" data-width="174" data-height="29" layer-opacity="1">

        <!-- Unnamed (Rectangle) -->
        <div id="u11748" class="ax_default _默认样式 selected">
          <div id="u11748_div" class="selected"></div>
          <div id="u11748_text" class="text ">
            <p><span>本月</span></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u11749" class="ax_default _默认样式">
          <div id="u11749_div" class=""></div>
          <div id="u11749_text" class="text ">
            <p><span>上月</span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Image) -->
      <div id="u11750" class="ax_default image">
        <img id="u11750_img" class="img " src="images/交易统计/u11750.png"/>
        <div id="u11750_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Image) -->
      <div id="u11751" class="ax_default image">
        <img id="u11751_img" class="img " src="images/交易统计/u11751.png"/>
        <div id="u11751_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Table) -->
      <div id="u11752" class="ax_default _表格">

        <!-- Unnamed (Table Cell) -->
        <div id="u11753" class="ax_default _默认样式">
          <img id="u11753_img" class="img " src="images/订单列表/u2968.png"/>
          <div id="u11753_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u11754" class="ax_default _默认样式">
          <img id="u11754_img" class="img " src="images/订单列表/u2968.png"/>
          <div id="u11754_text" class="text ">
            <p><span>付款金额</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u11755" class="ax_default _默认样式">
          <img id="u11755_img" class="img " src="images/订单列表/u2968.png"/>
          <div id="u11755_text" class="text ">
            <p><span>较前一月</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u11756" class="ax_default _默认样式">
          <img id="u11756_img" class="img " src="images/订单列表/u2968.png"/>
          <div id="u11756_text" class="text ">
            <p><span>付款人数</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u11757" class="ax_default _默认样式">
          <img id="u11757_img" class="img " src="images/交易统计/u11757.png"/>
          <div id="u11757_text" class="text ">
            <p><span>较前一月</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u11758" class="ax_default _默认样式">
          <img id="u11758_img" class="img " src="images/订单列表/u2977.png"/>
          <div id="u11758_text" class="text ">
            <p><span>新客户</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u11759" class="ax_default _默认样式">
          <img id="u11759_img" class="img " src="images/订单列表/u2977.png"/>
          <div id="u11759_text" class="text ">
            <p><span>￥1970700.49</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u11760" class="ax_default _默认样式">
          <img id="u11760_img" class="img " src="images/订单列表/u2977.png"/>
          <div id="u11760_text" class="text ">
            <p><span>&nbsp;↑ 4.73% </span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u11761" class="ax_default _默认样式">
          <img id="u11761_img" class="img " src="images/订单列表/u2977.png"/>
          <div id="u11761_text" class="text ">
            <p><span>30</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u11762" class="ax_default _默认样式">
          <img id="u11762_img" class="img " src="images/交易统计/u11762.png"/>
          <div id="u11762_text" class="text ">
            <p><span>&nbsp;↓ -92.00% </span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u11763" class="ax_default _默认样式">
          <img id="u11763_img" class="img " src="images/订单列表/u3021.png"/>
          <div id="u11763_text" class="text ">
            <p><span>老客户</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u11764" class="ax_default _默认样式">
          <img id="u11764_img" class="img " src="images/订单列表/u3021.png"/>
          <div id="u11764_text" class="text ">
            <p><span>￥0.00</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u11765" class="ax_default _默认样式">
          <img id="u11765_img" class="img " src="images/订单列表/u3021.png"/>
          <div id="u11765_text" class="text ">
            <p><span>/</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u11766" class="ax_default _默认样式">
          <img id="u11766_img" class="img " src="images/订单列表/u3021.png"/>
          <div id="u11766_text" class="text ">
            <p><span>42</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u11767" class="ax_default _默认样式">
          <img id="u11767_img" class="img " src="images/交易统计/u11767.png"/>
          <div id="u11767_text" class="text ">
            <p><span>&nbsp;↑ 2000% </span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u11768" class="ax_default _默认样式">
        <div id="u11768_div" class=""></div>
        <div id="u11768_text" class="text ">
          <p><span>交易数据</span></p>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u11769" class="ax_default" data-left="0" data-top="1359" data-width="1100" data-height="413" layer-opacity="1">

        <!-- Unnamed (Rectangle) -->
        <div id="u11770" class="ax_default _默认样式">
          <div id="u11770_div" class=""></div>
          <div id="u11770_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u11771" class="ax_default" data-left="840" data-top="1319" data-width="240" data-height="30" layer-opacity="1">

        <!-- Unnamed (Group) -->
        <div id="u11772" class="ax_default" data-left="840" data-top="1319" data-width="240" data-height="30" layer-opacity="1">

          <!-- Unnamed (Group) -->
          <div id="u11773" class="ax_default" data-left="840" data-top="1319" data-width="240" data-height="30" layer-opacity="1">

            <!-- Unnamed (Group) -->
            <div id="u11774" class="ax_default" data-left="840" data-top="1319" data-width="240" data-height="30" layer-opacity="1">

              <!-- Unnamed (Rectangle) -->
              <div id="u11775" class="ax_default _默认样式">
                <div id="u11775_div" class=""></div>
                <div id="u11775_text" class="text ">
                  <p><span>2017-07-01 </span><span style="color:#999999;">~</span><span> 2017-07-07</span></p>
                </div>
              </div>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u11776" class="ax_default _默认样式">
            <div id="u11776_div" class=""></div>
            <div id="u11776_text" class="text ">
              <p><span></span></p>
            </div>
          </div>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u11777" class="ax_default" data-left="572" data-top="1319" data-width="258" data-height="29" layer-opacity="1">

        <!-- Unnamed (Rectangle) -->
        <div id="u11778" class="ax_default _默认样式 selected">
          <div id="u11778_div" class="selected"></div>
          <div id="u11778_text" class="text ">
            <p><span>昨天</span></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u11779" class="ax_default _默认样式">
          <div id="u11779_div" class=""></div>
          <div id="u11779_text" class="text ">
            <p><span>最近7天</span></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u11780" class="ax_default _默认样式">
          <div id="u11780_div" class=""></div>
          <div id="u11780_text" class="text ">
            <p><span>最近30天</span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Image) -->
      <div id="u11781" class="ax_default image">
        <img id="u11781_img" class="img " src="images/交易统计/u11781.png"/>
        <div id="u11781_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u11782" class="ax_default _默认样式">
        <div id="u11782_div" class=""></div>
        <div id="u11782_text" class="text ">
          <p><span>订单来源构成</span></p>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u11783" class="ax_default" data-left="0" data-top="1851" data-width="1100" data-height="800" layer-opacity="1">

        <!-- Unnamed (Rectangle) -->
        <div id="u11784" class="ax_default _默认样式">
          <div id="u11784_div" class=""></div>
          <div id="u11784_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u11785" class="ax_default" data-left="964" data-top="1812" data-width="116" data-height="30" layer-opacity="1">

        <!-- Unnamed (Group) -->
        <div id="u11786" class="ax_default" data-left="964" data-top="1812" data-width="116" data-height="30" layer-opacity="1">

          <!-- Unnamed (Group) -->
          <div id="u11787" class="ax_default" data-left="964" data-top="1812" data-width="116" data-height="30" layer-opacity="1">

            <!-- Unnamed (Group) -->
            <div id="u11788" class="ax_default" data-left="964" data-top="1812" data-width="116" data-height="30" layer-opacity="1">

              <!-- Unnamed (Rectangle) -->
              <div id="u11789" class="ax_default _默认样式">
                <div id="u11789_div" class=""></div>
                <div id="u11789_text" class="text ">
                  <p><span>2017-07</span></p>
                </div>
              </div>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u11790" class="ax_default _默认样式">
            <div id="u11790_div" class=""></div>
            <div id="u11790_text" class="text ">
              <p><span></span></p>
            </div>
          </div>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u11791" class="ax_default" data-left="780" data-top="1812" data-width="174" data-height="29" layer-opacity="1">

        <!-- Unnamed (Rectangle) -->
        <div id="u11792" class="ax_default _默认样式 selected">
          <div id="u11792_div" class="selected"></div>
          <div id="u11792_text" class="text ">
            <p><span>本月</span></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u11793" class="ax_default _默认样式">
          <div id="u11793_div" class=""></div>
          <div id="u11793_text" class="text ">
            <p><span>上月</span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Image) -->
      <div id="u11794" class="ax_default image">
        <img id="u11794_img" class="img " src="images/交易统计/u11794.png"/>
        <div id="u11794_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Table) -->
      <div id="u11795" class="ax_default _表格">

        <!-- Unnamed (Table Cell) -->
        <div id="u11796" class="ax_default _默认样式">
          <img id="u11796_img" class="img " src="images/交易统计/u11796.png"/>
          <div id="u11796_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u11797" class="ax_default _默认样式">
          <img id="u11797_img" class="img " src="images/交易统计/u11796.png"/>
          <div id="u11797_text" class="text ">
            <p><span>付款金额</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u11798" class="ax_default _默认样式">
          <img id="u11798_img" class="img " src="images/交易统计/u11796.png"/>
          <div id="u11798_text" class="text ">
            <p><span>较前一月</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u11799" class="ax_default _默认样式">
          <img id="u11799_img" class="img " src="images/交易统计/u11796.png"/>
          <div id="u11799_text" class="text ">
            <p><span>付款人数</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u11800" class="ax_default _默认样式">
          <img id="u11800_img" class="img " src="images/秒杀时间段列表/u8670.png"/>
          <div id="u11800_text" class="text ">
            <p><span>较前一月</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u11801" class="ax_default _默认样式">
          <img id="u11801_img" class="img " src="images/交易统计/u11801.png"/>
          <div id="u11801_text" class="text ">
            <p><span>APP</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u11802" class="ax_default _默认样式">
          <img id="u11802_img" class="img " src="images/交易统计/u11801.png"/>
          <div id="u11802_text" class="text ">
            <p><span>100</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u11803" class="ax_default _默认样式">
          <img id="u11803_img" class="img " src="images/交易统计/u11801.png"/>
          <div id="u11803_text" class="text ">
            <p><span>/</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u11804" class="ax_default _默认样式">
          <img id="u11804_img" class="img " src="images/交易统计/u11801.png"/>
          <div id="u11804_text" class="text ">
            <p><span>￥0.00</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u11805" class="ax_default _默认样式">
          <img id="u11805_img" class="img " src="images/交易统计/u11805.png"/>
          <div id="u11805_text" class="text ">
            <p><span>/</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u11806" class="ax_default _默认样式">
          <img id="u11806_img" class="img " src="images/交易统计/u11806.png"/>
          <div id="u11806_text" class="text ">
            <p><span>微信端</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u11807" class="ax_default _默认样式">
          <img id="u11807_img" class="img " src="images/交易统计/u11806.png"/>
          <div id="u11807_text" class="text ">
            <p><span>100</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u11808" class="ax_default _默认样式">
          <img id="u11808_img" class="img " src="images/交易统计/u11806.png"/>
          <div id="u11808_text" class="text ">
            <p><span>/</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u11809" class="ax_default _默认样式">
          <img id="u11809_img" class="img " src="images/交易统计/u11806.png"/>
          <div id="u11809_text" class="text ">
            <p><span>￥0.00</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u11810" class="ax_default _默认样式">
          <img id="u11810_img" class="img " src="images/秒杀时间段列表/u8676.png"/>
          <div id="u11810_text" class="text ">
            <p><span>/</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u11811" class="ax_default _默认样式">
          <img id="u11811_img" class="img " src="images/交易统计/u11806.png"/>
          <div id="u11811_text" class="text ">
            <p><span>PC端</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u11812" class="ax_default _默认样式">
          <img id="u11812_img" class="img " src="images/交易统计/u11806.png"/>
          <div id="u11812_text" class="text ">
            <p><span>100</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u11813" class="ax_default _默认样式">
          <img id="u11813_img" class="img " src="images/交易统计/u11806.png"/>
          <div id="u11813_text" class="text ">
            <p><span>/</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u11814" class="ax_default _默认样式">
          <img id="u11814_img" class="img " src="images/交易统计/u11806.png"/>
          <div id="u11814_text" class="text ">
            <p><span>￥0.00</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u11815" class="ax_default _默认样式">
          <img id="u11815_img" class="img " src="images/秒杀时间段列表/u8676.png"/>
          <div id="u11815_text" class="text ">
            <p><span>/</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u11816" class="ax_default _默认样式">
          <img id="u11816_img" class="img " src="images/交易统计/u11806.png"/>
          <div id="u11816_text" class="text ">
            <p><span>小程序</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u11817" class="ax_default _默认样式">
          <img id="u11817_img" class="img " src="images/交易统计/u11806.png"/>
          <div id="u11817_text" class="text ">
            <p><span>100</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u11818" class="ax_default _默认样式">
          <img id="u11818_img" class="img " src="images/交易统计/u11806.png"/>
          <div id="u11818_text" class="text ">
            <p><span>/</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u11819" class="ax_default _默认样式">
          <img id="u11819_img" class="img " src="images/交易统计/u11806.png"/>
          <div id="u11819_text" class="text ">
            <p><span>￥0.00</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u11820" class="ax_default _默认样式">
          <img id="u11820_img" class="img " src="images/秒杀时间段列表/u8676.png"/>
          <div id="u11820_text" class="text ">
            <p><span>/</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u11821" class="ax_default _默认样式">
          <img id="u11821_img" class="img " src="images/交易统计/u11821.png"/>
          <div id="u11821_text" class="text ">
            <p><span>其他</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u11822" class="ax_default _默认样式">
          <img id="u11822_img" class="img " src="images/交易统计/u11821.png"/>
          <div id="u11822_text" class="text ">
            <p><span>100</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u11823" class="ax_default _默认样式">
          <img id="u11823_img" class="img " src="images/交易统计/u11821.png"/>
          <div id="u11823_text" class="text ">
            <p><span>/</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u11824" class="ax_default _默认样式">
          <img id="u11824_img" class="img " src="images/交易统计/u11821.png"/>
          <div id="u11824_text" class="text ">
            <p><span>￥0.00</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u11825" class="ax_default _默认样式">
          <img id="u11825_img" class="img " src="images/秒杀时间段列表/u8718.png"/>
          <div id="u11825_text" class="text ">
            <p><span>/</span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u11826" class="ax_default _默认样式">
        <div id="u11826_div" class=""></div>
        <div id="u11826_text" class="text ">
          <p><span>导出数据</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u11827" class="ax_default _默认样式">
        <div id="u11827_div" class=""></div>
        <div id="u11827_text" class="text ">
          <p><span>导出数据</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u11828" class="ax_default _默认样式">
        <div id="u11828_div" class=""></div>
        <div id="u11828_text" class="text ">
          <p><span>导出数据</span></p>
        </div>
      </div>
    </div>
    <script src="resources/scripts/axure/ios.js"></script>
  </body>
</html>
