<!DOCTYPE html>
<html>
  <head>
    <title>会员统计</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link href="resources/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="data/styles.css" type="text/css" rel="stylesheet"/>
    <link href="files/会员统计/styles.css" type="text/css" rel="stylesheet"/>
    <link href="http://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.css" type="text/css" rel="stylesheet"/>
    <script src="resources/scripts/jquery-3.7.1.min.js"></script>
    <script src="resources/scripts/axure/axQuery.js"></script>
    <script src="resources/scripts/axure/globals.js"></script>
    <script src="resources/scripts/axutils.js"></script>
    <script src="resources/scripts/axure/annotation.js"></script>
    <script src="resources/scripts/axure/axQuery.std.js"></script>
    <script src="resources/scripts/axure/doc.js"></script>
    <script src="resources/scripts/messagecenter.js"></script>
    <script src="resources/scripts/axure/events.js"></script>
    <script src="resources/scripts/axure/recording.js"></script>
    <script src="resources/scripts/axure/action.js"></script>
    <script src="resources/scripts/axure/expr.js"></script>
    <script src="resources/scripts/axure/geometry.js"></script>
    <script src="resources/scripts/axure/flyout.js"></script>
    <script src="resources/scripts/axure/model.js"></script>
    <script src="resources/scripts/axure/repeater.js"></script>
    <script src="resources/scripts/axure/sto.js"></script>
    <script src="resources/scripts/axure/utils.temp.js"></script>
    <script src="resources/scripts/axure/variables.js"></script>
    <script src="resources/scripts/axure/drag.js"></script>
    <script src="resources/scripts/axure/move.js"></script>
    <script src="resources/scripts/axure/visibility.js"></script>
    <script src="resources/scripts/axure/style.js"></script>
    <script src="resources/scripts/axure/adaptive.js"></script>
    <script src="resources/scripts/axure/tree.js"></script>
    <script src="resources/scripts/axure/init.temp.js"></script>
    <script src="resources/scripts/axure/legacy.js"></script>
    <script src="resources/scripts/axure/viewer.js"></script>
    <script src="resources/scripts/axure/math.js"></script>
    <script src="resources/scripts/axure/jquery.nicescroll.min.js"></script>
    <script src="data/document.js"></script>
    <script src="files/会员统计/data.js"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
  </head>
  <body>
    <div id="base" class="">

      <!-- Unnamed (标题通栏) -->

      <!-- 灰色背景 (Dynamic Panel) -->
      <div id="u12045" class="ax_default" data-label="灰色背景">
        <div id="u12045_state0" class="panel_state" data-label="State1" style="">
          <div id="u12045_state0_content" class="panel_state_content">
          </div>
        </div>
      </div>

      <!-- 线条 (Dynamic Panel) -->
      <div id="u12046" class="ax_default" data-label="线条">
        <div id="u12046_state0" class="panel_state" data-label="State1" style="">
          <div id="u12046_state0_content" class="panel_state_content">
          </div>
        </div>
      </div>

      <!-- 页面标题 (Rectangle) -->
      <div id="u12047" class="ax_default _默认样式" data-label="页面标题">
        <div id="u12047_div" class=""></div>
        <div id="u12047_text" class="text ">
          <p><span>页面标题</span></p>
        </div>
      </div>
      <div id="u12044" style="display:none; visibility:hidden;"></div>

      <!-- Unnamed (Rectangle) -->
      <div id="u12048" class="ax_default _默认样式" title="刷新">
        <div id="u12048_div" class=""></div>
        <div id="u12048_text" class="text ">
          <p><span>刷新</span></p>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u12049" class="ax_default" data-left="1031" data-top="16" data-width="19" data-height="17" layer-opacity="1">

        <!-- Unnamed (Shape) -->
        <div id="u12050" class="ax_default _默认样式">
          <img id="u12050_img" class="img " src="images/系统首页/u22.svg"/>
          <div id="u12050_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Shape) -->
        <div id="u12051" class="ax_default _默认样式">
          <img id="u12051_img" class="img " src="images/系统首页/u23.svg"/>
          <div id="u12051_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u12052" class="ax_default _默认样式">
        <div id="u12052_div" class=""></div>
        <div id="u12052_text" class="text ">
          <p><span>会员增长情况</span></p>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u12053" class="ax_default" data-left="0" data-top="119" data-width="1100" data-height="472" layer-opacity="1">

        <!-- Unnamed (Rectangle) -->
        <div id="u12054" class="ax_default _默认样式">
          <div id="u12054_div" class=""></div>
          <div id="u12054_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (底部版权) -->

      <!-- Unnamed (Rectangle) -->
      <div id="u12056" class="ax_default _默认样式">
        <img id="u12056_img" class="img " src="images/系统首页/u206.svg"/>
        <div id="u12056_text" class="text ">
          <p><span>Copyright © www.xiangtianchi.com, All Rights Reserved.</span></p><p><span>Email : 840251972@qq.com&nbsp; QQ:&nbsp; 840251972</span></p>
        </div>
      </div>
      <div id="u12055" style="display:none; visibility:hidden;"></div>

      <!-- Unnamed (Image) -->
      <div id="u12057" class="ax_default image">
        <img id="u12057_img" class="img " src="images/会员统计/u12057.png"/>
        <div id="u12057_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u12058" class="ax_default" data-left="964" data-top="80" data-width="116" data-height="30" layer-opacity="1">

        <!-- Unnamed (Group) -->
        <div id="u12059" class="ax_default" data-left="964" data-top="80" data-width="116" data-height="30" layer-opacity="1">

          <!-- Unnamed (Group) -->
          <div id="u12060" class="ax_default" data-left="964" data-top="80" data-width="116" data-height="30" layer-opacity="1">

            <!-- Unnamed (Group) -->
            <div id="u12061" class="ax_default" data-left="964" data-top="80" data-width="116" data-height="30" layer-opacity="1">

              <!-- Unnamed (Rectangle) -->
              <div id="u12062" class="ax_default _默认样式">
                <div id="u12062_div" class=""></div>
                <div id="u12062_text" class="text ">
                  <p><span>2017-07</span></p>
                </div>
              </div>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u12063" class="ax_default _默认样式">
            <div id="u12063_div" class=""></div>
            <div id="u12063_text" class="text ">
              <p><span></span></p>
            </div>
          </div>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u12064" class="ax_default _默认样式">
        <div id="u12064_div" class=""></div>
        <div id="u12064_text" class="text ">
          <p><span>导出数据</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u12065" class="ax_default _默认样式">
        <div id="u12065_div" class=""></div>
        <div id="u12065_text" class="text ">
          <p style="font-size:12px;"><span style="font-family:'微软雅黑', sans-serif;font-weight:400;">按月统计 </span><span style="font-family:'FontAwesome', sans-serif;font-weight:400;font-size:14px;color:#999999;"></span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u12066" class="ax_default _默认样式">
        <div id="u12066_div" class=""></div>
        <div id="u12066_text" class="text ">
          <p><span>会员端口来源</span></p>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u12067" class="ax_default" data-left="0" data-top="670" data-width="1100" data-height="384" layer-opacity="1">

        <!-- Unnamed (Rectangle) -->
        <div id="u12068" class="ax_default _默认样式">
          <div id="u12068_div" class=""></div>
          <div id="u12068_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u12069" class="ax_default" data-left="964" data-top="631" data-width="116" data-height="30" layer-opacity="1">

        <!-- Unnamed (Group) -->
        <div id="u12070" class="ax_default" data-left="964" data-top="631" data-width="116" data-height="30" layer-opacity="1">

          <!-- Unnamed (Group) -->
          <div id="u12071" class="ax_default" data-left="964" data-top="631" data-width="116" data-height="30" layer-opacity="1">

            <!-- Unnamed (Group) -->
            <div id="u12072" class="ax_default" data-left="964" data-top="631" data-width="116" data-height="30" layer-opacity="1">

              <!-- Unnamed (Rectangle) -->
              <div id="u12073" class="ax_default _默认样式">
                <div id="u12073_div" class=""></div>
                <div id="u12073_text" class="text ">
                  <p><span>2017-07</span></p>
                </div>
              </div>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u12074" class="ax_default _默认样式">
            <div id="u12074_div" class=""></div>
            <div id="u12074_text" class="text ">
              <p><span></span></p>
            </div>
          </div>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u12075" class="ax_default _默认样式">
        <div id="u12075_div" class=""></div>
        <div id="u12075_text" class="text ">
          <p><span>导出数据</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u12076" class="ax_default _默认样式">
        <div id="u12076_div" class=""></div>
        <div id="u12076_text" class="text ">
          <p style="font-size:12px;"><span style="font-family:'微软雅黑', sans-serif;font-weight:400;">按月统计 </span><span style="font-family:'FontAwesome', sans-serif;font-weight:400;font-size:14px;color:#999999;"></span></p>
        </div>
      </div>

      <!-- Unnamed (Image) -->
      <div id="u12077" class="ax_default image">
        <img id="u12077_img" class="img " src="images/会员统计/u12077.png"/>
        <div id="u12077_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u12078" class="ax_default _默认样式">
        <div id="u12078_div" class=""></div>
        <div id="u12078_text" class="text ">
          <p><span>会员消费金额分布</span></p>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u12079" class="ax_default" data-left="0" data-top="1133" data-width="1100" data-height="429" layer-opacity="1">

        <!-- Unnamed (Rectangle) -->
        <div id="u12080" class="ax_default _默认样式">
          <div id="u12080_div" class=""></div>
          <div id="u12080_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u12081" class="ax_default _默认样式">
        <div id="u12081_div" class=""></div>
        <div id="u12081_text" class="text ">
          <p><span>导出数据</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u12082" class="ax_default _默认样式">
        <div id="u12082_div" class=""></div>
        <div id="u12082_text" class="text ">
          <p style="font-size:12px;"><span style="font-family:'微软雅黑', sans-serif;font-weight:400;">按月统计 </span><span style="font-family:'FontAwesome', sans-serif;font-weight:400;font-size:14px;color:#999999;"></span></p>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u12083" class="ax_default" data-left="964" data-top="1094" data-width="116" data-height="30" layer-opacity="1">

        <!-- Unnamed (Group) -->
        <div id="u12084" class="ax_default" data-left="964" data-top="1094" data-width="116" data-height="30" layer-opacity="1">

          <!-- Unnamed (Group) -->
          <div id="u12085" class="ax_default" data-left="964" data-top="1094" data-width="116" data-height="30" layer-opacity="1">

            <!-- Unnamed (Group) -->
            <div id="u12086" class="ax_default" data-left="964" data-top="1094" data-width="116" data-height="30" layer-opacity="1">

              <!-- Unnamed (Rectangle) -->
              <div id="u12087" class="ax_default _默认样式">
                <div id="u12087_div" class=""></div>
                <div id="u12087_text" class="text ">
                  <p><span>2017-07</span></p>
                </div>
              </div>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u12088" class="ax_default _默认样式">
            <div id="u12088_div" class=""></div>
            <div id="u12088_text" class="text ">
              <p><span></span></p>
            </div>
          </div>
        </div>
      </div>

      <!-- Unnamed (Image) -->
      <div id="u12089" class="ax_default image">
        <img id="u12089_img" class="img " src="images/会员统计/u12089.png"/>
        <div id="u12089_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>
    </div>
    <script src="resources/scripts/axure/ios.js"></script>
  </body>
</html>
