<!DOCTYPE html>
<html>
  <head>
    <title>修改基本信息</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link href="resources/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="data/styles.css" type="text/css" rel="stylesheet"/>
    <link href="files/修改基本信息/styles.css" type="text/css" rel="stylesheet"/>
    <link href="http://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.css" type="text/css" rel="stylesheet"/>
    <script src="resources/scripts/jquery-3.7.1.min.js"></script>
    <script src="resources/scripts/axure/axQuery.js"></script>
    <script src="resources/scripts/axure/globals.js"></script>
    <script src="resources/scripts/axutils.js"></script>
    <script src="resources/scripts/axure/annotation.js"></script>
    <script src="resources/scripts/axure/axQuery.std.js"></script>
    <script src="resources/scripts/axure/doc.js"></script>
    <script src="resources/scripts/messagecenter.js"></script>
    <script src="resources/scripts/axure/events.js"></script>
    <script src="resources/scripts/axure/recording.js"></script>
    <script src="resources/scripts/axure/action.js"></script>
    <script src="resources/scripts/axure/expr.js"></script>
    <script src="resources/scripts/axure/geometry.js"></script>
    <script src="resources/scripts/axure/flyout.js"></script>
    <script src="resources/scripts/axure/model.js"></script>
    <script src="resources/scripts/axure/repeater.js"></script>
    <script src="resources/scripts/axure/sto.js"></script>
    <script src="resources/scripts/axure/utils.temp.js"></script>
    <script src="resources/scripts/axure/variables.js"></script>
    <script src="resources/scripts/axure/drag.js"></script>
    <script src="resources/scripts/axure/move.js"></script>
    <script src="resources/scripts/axure/visibility.js"></script>
    <script src="resources/scripts/axure/style.js"></script>
    <script src="resources/scripts/axure/adaptive.js"></script>
    <script src="resources/scripts/axure/tree.js"></script>
    <script src="resources/scripts/axure/init.temp.js"></script>
    <script src="resources/scripts/axure/legacy.js"></script>
    <script src="resources/scripts/axure/viewer.js"></script>
    <script src="resources/scripts/axure/math.js"></script>
    <script src="resources/scripts/axure/jquery.nicescroll.min.js"></script>
    <script src="data/document.js"></script>
    <script src="files/修改基本信息/data.js"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
  </head>
  <body>
    <div id="base" class="">

      <!-- Unnamed (Group) -->
      <div id="u1457" class="ax_default" data-left="0" data-top="121" data-width="1100" data-height="1291" layer-opacity="1">

        <!-- Unnamed (Group) -->
        <div id="u1458" class="ax_default" data-left="180" data-top="121" data-width="920" data-height="1291" layer-opacity="1">

          <!-- Unnamed (Rectangle) -->
          <div id="u1459" class="ax_default _默认样式">
            <div id="u1459_div" class=""></div>
            <div id="u1459_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>
        </div>

        <!-- Unnamed (Group) -->
        <div id="u1460" class="ax_default" data-left="0" data-top="121" data-width="181" data-height="1291" layer-opacity="1">

          <!-- Unnamed (Rectangle) -->
          <div id="u1461" class="ax_default _默认样式">
            <div id="u1461_div" class=""></div>
            <div id="u1461_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>
        </div>
      </div>

      <!-- Unnamed (Right Arrow Button) -->
      <div id="u1462" class="ax_default _默认样式">
        <img id="u1462_img" class="img " src="images/选择商品分类/u742.svg"/>
        <div id="u1462_text" class="text ">
          <p><span style="font-family:'FontAwesome', sans-serif;font-weight:400;"></span><span style="font-family:'微软雅黑', sans-serif;font-weight:400;"> 根据商品分类、品牌</span></p>
        </div>
      </div>

      <!-- Unnamed (Right Arrow Button) -->
      <div id="u1463" class="ax_default _默认样式">
        <img id="u1463_img" class="img " src="images/选择商品分类/u742.svg"/>
        <div id="u1463_text" class="text ">
          <p><span style="font-family:'FontAwesome', sans-serif;font-weight:400;"></span><span style="font-family:'微软雅黑', sans-serif;font-weight:400;"> 根据商品货号</span></p>
        </div>
      </div>

      <!-- Unnamed (标题通栏) -->

      <!-- 灰色背景 (Dynamic Panel) -->
      <div id="u1465" class="ax_default" data-label="灰色背景">
        <div id="u1465_state0" class="panel_state" data-label="State1" style="">
          <div id="u1465_state0_content" class="panel_state_content">
          </div>
        </div>
      </div>

      <!-- 线条 (Dynamic Panel) -->
      <div id="u1466" class="ax_default" data-label="线条">
        <div id="u1466_state0" class="panel_state" data-label="State1" style="">
          <div id="u1466_state0_content" class="panel_state_content">
          </div>
        </div>
      </div>

      <!-- 页面标题 (Rectangle) -->
      <div id="u1467" class="ax_default _默认样式" data-label="页面标题">
        <div id="u1467_div" class=""></div>
        <div id="u1467_text" class="text ">
          <p><span>页面标题</span></p>
        </div>
      </div>
      <div id="u1464" style="display:none; visibility:hidden;"></div>

      <!-- Unnamed (Rectangle) -->
      <div id="u1468" class="ax_default _默认样式 selected" selectiongroup="菜单">
        <div id="u1468_div" class="selected"></div>
        <div id="u1468_text" class="text ">
          <p><span>修改基本信息</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u1469" class="ax_default _默认样式" selectiongroup="菜单">
        <div id="u1469_div" class=""></div>
        <div id="u1469_text" class="text ">
          <p><span>修改商品详情</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u1470" class="ax_default _默认样式" selectiongroup="菜单">
        <div id="u1470_div" class=""></div>
        <div id="u1470_text" class="text ">
          <p><span>批量自动上下架</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u1471" class="ax_default _默认样式">
        <div id="u1471_div" class=""></div>
        <div id="u1471_text" class="text ">
          <p><span>进入编辑</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u1472" class="ax_default _默认样式">
        <img id="u1472_img" class="img " src="images/修改基本信息/u1472.svg"/>
        <div id="u1472_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u1473" class="ax_default" data-left="557" data-top="657" data-width="176" data-height="22" layer-opacity="1">

        <!-- Unnamed (Rectangle) -->
        <div id="u1474" class="ax_default _默认样式">
          <img id="u1474_img" class="img " src="images/修改基本信息/u1474.svg"/>
          <div id="u1474_text" class="text ">
            <p style="font-size:14px;"><span style="font-family:&quot;FontAwesome&quot;, sans-serif;font-weight:400;font-size:16px;color:#999999;"></span><span style="font-family:&quot;微软雅黑&quot;, sans-serif;font-weight:400;color:#999999;"> 逐个编辑&nbsp; &nbsp; </span><span style="font-family:&quot;FontAwesome&quot;, sans-serif;font-weight:400;font-size:16px;color:#1ABC9C;"></span><span style="font-family:&quot;微软雅黑&quot;, sans-serif;font-weight:400;color:#999999;"> 统一编辑&nbsp;&nbsp; </span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (底部版权) -->

      <!-- Unnamed (Rectangle) -->
      <div id="u1476" class="ax_default _默认样式">
        <img id="u1476_img" class="img " src="images/系统首页/u206.svg"/>
        <div id="u1476_text" class="text ">
          <p><span>Copyright © www.xiangtianchi.com, All Rights Reserved.</span></p><p><span>Email : 840251972@qq.com&nbsp; QQ:&nbsp; 840251972</span></p>
        </div>
      </div>
      <div id="u1475" style="display:none; visibility:hidden;"></div>

      <!-- Unnamed (Rectangle) -->
      <div id="u1477" class="ax_default _默认样式">
        <div id="u1477_div" class=""></div>
        <div id="u1477_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u1478" class="ax_default _默认样式">
        <div id="u1478_div" class=""></div>
        <div id="u1478_text" class="text ">
          <p><span>进入编辑</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u1479" class="ax_default _默认样式">
        <img id="u1479_img" class="img " src="images/修改基本信息/u1479.svg"/>
        <div id="u1479_text" class="text ">
          <p><span>输入商品货号(每行只能输入一个货号)</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u1480" class="ax_default _默认样式" selectiongroup="菜单">
        <div id="u1480_div" class=""></div>
        <div id="u1480_text" class="text ">
          <p><span>图片批量处理</span></p>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u1481" class="ax_default" data-left="557" data-top="1276" data-width="176" data-height="22" layer-opacity="1">

        <!-- Unnamed (Rectangle) -->
        <div id="u1482" class="ax_default _默认样式">
          <img id="u1482_img" class="img " src="images/修改基本信息/u1474.svg"/>
          <div id="u1482_text" class="text ">
            <p style="font-size:14px;"><span style="font-family:&quot;FontAwesome&quot;, sans-serif;font-weight:400;font-size:16px;color:#999999;"></span><span style="font-family:&quot;微软雅黑&quot;, sans-serif;font-weight:400;color:#999999;"> 逐个编辑&nbsp; &nbsp; </span><span style="font-family:&quot;FontAwesome&quot;, sans-serif;font-weight:400;font-size:16px;color:#1ABC9C;"></span><span style="font-family:&quot;微软雅黑&quot;, sans-serif;font-weight:400;color:#999999;"> 统一编辑&nbsp;&nbsp; </span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u1483" class="ax_default _默认样式">
        <div id="u1483_div" class=""></div>
        <div id="u1483_text" class="text ">
          <p><span>搜索</span></p>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u1484" class="ax_default" data-left="230" data-top="171" data-width="200" data-height="30" layer-opacity="1">

        <!-- Unnamed (Rectangle) -->
        <div id="u1485" class="ax_default _默认样式">
          <div id="u1485_div" class=""></div>
          <div id="u1485_text" class="text ">
            <p><span>请选择商品分类</span></p>
          </div>
        </div>

        <!-- Unnamed (Shape) -->
        <div id="u1486" class="ax_default _默认样式">
          <img id="u1486_img" class="img " src="images/商品列表/u463.svg"/>
          <div id="u1486_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u1487" class="ax_default" data-left="440" data-top="171" data-width="200" data-height="30" layer-opacity="1">

        <!-- Unnamed (Rectangle) -->
        <div id="u1488" class="ax_default _默认样式">
          <div id="u1488_div" class=""></div>
          <div id="u1488_text" class="text ">
            <p><span>请选择品牌</span></p>
          </div>
        </div>

        <!-- Unnamed (Shape) -->
        <div id="u1489" class="ax_default _默认样式">
          <img id="u1489_img" class="img " src="images/商品列表/u463.svg"/>
          <div id="u1489_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u1490" class="ax_default _默认样式">
        <div id="u1490_div" class=""></div>
        <div id="u1490_text" class="text ">
          <p><span>请输入搜索关键词</span></p>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u1491" class="ax_default" data-left="230" data-top="221" data-width="350" data-height="378" layer-opacity="1">

        <!-- Unnamed (Rectangle) -->
        <div id="u1492" class="ax_default _默认样式">
          <div id="u1492_div" class=""></div>
          <div id="u1492_text" class="text ">
            <p><span style="color:#999999;">已选择</span><span style="color:#F04844;">4</span><span style="color:#999999;">条</span></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u1493" class="ax_default _默认样式">
          <div id="u1493_div" class=""></div>
          <div id="u1493_text" class="text ">
            <p style="font-size:12px;"><span style="font-family:&quot;FontAwesome&quot;, sans-serif;font-weight:400;font-size:16px;color:#1ABC9C;"></span><span style="font-family:&quot;微软雅黑&quot;, sans-serif;font-weight:400;color:#999999;"> 男式天丝棉弹直筒牛仔裤</span></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u1494" class="ax_default _默认样式">
          <div id="u1494_div" class=""></div>
          <div id="u1494_text" class="text ">
            <p style="font-size:12px;"><span style="font-family:&quot;FontAwesome&quot;, sans-serif;font-weight:400;font-size:16px;color:#1ABC9C;"></span><span style="font-family:&quot;微软雅黑&quot;, sans-serif;font-weight:400;color:#999999;"> 日式多功能颈枕 针织款</span></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u1495" class="ax_default _默认样式">
          <div id="u1495_div" class=""></div>
          <div id="u1495_text" class="text ">
            <p style="font-size:12px;"><span style="font-family:&quot;FontAwesome&quot;, sans-serif;font-weight:400;font-size:16px;color:#1ABC9C;"></span><span style="font-family:&quot;微软雅黑&quot;, sans-serif;font-weight:400;color:#999999;"> 日式和风声波式电动牙刷</span></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u1496" class="ax_default _默认样式">
          <div id="u1496_div" class=""></div>
          <div id="u1496_text" class="text ">
            <p style="font-size:12px;"><span style="font-family:&quot;FontAwesome&quot;, sans-serif;font-weight:400;font-size:16px;color:#1ABC9C;"></span><span style="font-family:&quot;微软雅黑&quot;, sans-serif;font-weight:400;color:#999999;"> 男女款 板材小方眼镜架</span></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u1497" class="ax_default _默认样式">
          <div id="u1497_div" class=""></div>
          <div id="u1497_text" class="text ">
            <p style="font-size:12px;"><span style="font-family:&quot;FontAwesome&quot;, sans-serif;font-weight:400;font-size:16px;color:#CCCCCC;"></span><span style="font-family:&quot;微软雅黑&quot;, sans-serif;font-weight:400;color:#999999;"> 便携可手提运动包</span></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u1498" class="ax_default _默认样式">
          <div id="u1498_div" class=""></div>
          <div id="u1498_text" class="text ">
            <p style="font-size:12px;"><span style="font-family:&quot;FontAwesome&quot;, sans-serif;font-weight:400;font-size:16px;color:#CCCCCC;"></span><span style="font-family:&quot;微软雅黑&quot;, sans-serif;font-weight:400;color:#999999;"> 日式茶禅道蔺草坐垫</span></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u1499" class="ax_default _默认样式">
          <div id="u1499_div" class=""></div>
          <div id="u1499_text" class="text ">
            <p style="font-size:12px;"><span style="font-family:&quot;FontAwesome&quot;, sans-serif;font-weight:400;font-size:16px;color:#CCCCCC;"></span><span style="font-family:&quot;微软雅黑&quot;, sans-serif;font-weight:400;color:#999999;"> 纯棉水洗色织格夏凉被</span></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u1500" class="ax_default _默认样式">
          <div id="u1500_div" class=""></div>
          <div id="u1500_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u1501" class="ax_default" data-left="246" data-top="557" data-width="180" data-height="30" layer-opacity="1">

        <!-- Unnamed (Group) -->
        <div id="u1502" class="ax_default" data-left="246" data-top="557" data-width="180" data-height="30" layer-opacity="1">

          <!-- Unnamed (Rectangle) -->
          <div id="u1503" class="ax_default _默认样式">
            <div id="u1503_div" class=""></div>
            <div id="u1503_text" class="text ">
              <p><span>全选</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u1504" class="ax_default _默认样式">
            <div id="u1504_div" class=""></div>
            <div id="u1504_text" class="text ">
              <p><span>确定</span></p>
            </div>
          </div>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u1505" class="ax_default" data-left="710" data-top="222" data-width="350" data-height="378" layer-opacity="1">

        <!-- Unnamed (Rectangle) -->
        <div id="u1506" class="ax_default _默认样式">
          <div id="u1506_div" class=""></div>
          <div id="u1506_text" class="text ">
            <p><span style="color:#999999;">已选择</span><span style="color:#F04844;">4</span><span style="color:#999999;">条</span></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u1507" class="ax_default _默认样式">
          <div id="u1507_div" class=""></div>
          <div id="u1507_text" class="text ">
            <p style="font-size:12px;"><span style="font-family:&quot;FontAwesome&quot;, sans-serif;font-weight:400;font-size:16px;color:#1ABC9C;"></span><span style="font-family:&quot;微软雅黑&quot;, sans-serif;font-weight:400;color:#999999;"> 男式天丝棉弹直筒牛仔裤</span></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u1508" class="ax_default _默认样式">
          <div id="u1508_div" class=""></div>
          <div id="u1508_text" class="text ">
            <p style="font-size:12px;"><span style="font-family:&quot;FontAwesome&quot;, sans-serif;font-weight:400;font-size:16px;color:#1ABC9C;"></span><span style="font-family:&quot;微软雅黑&quot;, sans-serif;font-weight:400;color:#999999;"> 日式多功能颈枕 针织款</span></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u1509" class="ax_default _默认样式">
          <div id="u1509_div" class=""></div>
          <div id="u1509_text" class="text ">
            <p style="font-size:12px;"><span style="font-family:&quot;FontAwesome&quot;, sans-serif;font-weight:400;font-size:16px;color:#1ABC9C;"></span><span style="font-family:&quot;微软雅黑&quot;, sans-serif;font-weight:400;color:#999999;"> 日式和风声波式电动牙刷</span></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u1510" class="ax_default _默认样式">
          <div id="u1510_div" class=""></div>
          <div id="u1510_text" class="text ">
            <p style="font-size:12px;"><span style="font-family:&quot;FontAwesome&quot;, sans-serif;font-weight:400;font-size:16px;color:#1ABC9C;"></span><span style="font-family:&quot;微软雅黑&quot;, sans-serif;font-weight:400;color:#999999;"> 男女款 板材小方眼镜架</span></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u1511" class="ax_default _默认样式">
          <div id="u1511_div" class=""></div>
          <div id="u1511_text" class="text ">
            <p style="font-size:12px;"><span style="font-family:&quot;FontAwesome&quot;, sans-serif;font-weight:400;font-size:16px;color:#CCCCCC;"></span><span style="font-family:&quot;微软雅黑&quot;, sans-serif;font-weight:400;color:#999999;"> 便携可手提运动包</span></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u1512" class="ax_default _默认样式">
          <div id="u1512_div" class=""></div>
          <div id="u1512_text" class="text ">
            <p style="font-size:12px;"><span style="font-family:&quot;FontAwesome&quot;, sans-serif;font-weight:400;font-size:16px;color:#CCCCCC;"></span><span style="font-family:&quot;微软雅黑&quot;, sans-serif;font-weight:400;color:#999999;"> 日式茶禅道蔺草坐垫</span></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u1513" class="ax_default _默认样式">
          <div id="u1513_div" class=""></div>
          <div id="u1513_text" class="text ">
            <p style="font-size:12px;"><span style="font-family:&quot;FontAwesome&quot;, sans-serif;font-weight:400;font-size:16px;color:#CCCCCC;"></span><span style="font-family:&quot;微软雅黑&quot;, sans-serif;font-weight:400;color:#999999;"> 纯棉水洗色织格夏凉被</span></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u1514" class="ax_default _默认样式">
          <div id="u1514_div" class=""></div>
          <div id="u1514_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u1515" class="ax_default" data-left="726" data-top="558" data-width="180" data-height="30" layer-opacity="1">

        <!-- Unnamed (Group) -->
        <div id="u1516" class="ax_default" data-left="726" data-top="558" data-width="180" data-height="30" layer-opacity="1">

          <!-- Unnamed (Rectangle) -->
          <div id="u1517" class="ax_default _默认样式">
            <div id="u1517_div" class=""></div>
            <div id="u1517_text" class="text ">
              <p><span>全选</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u1518" class="ax_default _默认样式">
            <div id="u1518_div" class=""></div>
            <div id="u1518_text" class="text ">
              <p><span>移除</span></p>
            </div>
          </div>
        </div>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u1519" class="ax_default _默认样式">
        <img id="u1519_img" class="img " src="images/选择商品分类/u822.svg"/>
        <div id="u1519_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (刷新) -->

      <!-- Unnamed (Rectangle) -->
      <div id="u1521" class="ax_default _默认样式" title="刷新">
        <div id="u1521_div" class=""></div>
        <div id="u1521_text" class="text ">
          <p><span>刷新</span></p>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u1522" class="ax_default" data-left="1031" data-top="14" data-width="19" data-height="17" layer-opacity="1">

        <!-- Unnamed (Shape) -->
        <div id="u1523" class="ax_default _默认样式">
          <img id="u1523_img" class="img " src="images/系统首页/u22.svg"/>
          <div id="u1523_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Shape) -->
        <div id="u1524" class="ax_default _默认样式">
          <img id="u1524_img" class="img " src="images/系统首页/u23.svg"/>
          <div id="u1524_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>
      </div>
      <div id="u1520" style="display:none; visibility:hidden;"></div>
    </div>
    <script src="resources/scripts/axure/ios.js"></script>
  </body>
</html>
