<!DOCTYPE html>
<html>
  <head>
    <title>区域设置</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link href="resources/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="data/styles.css" type="text/css" rel="stylesheet"/>
    <link href="files/区域设置/styles.css" type="text/css" rel="stylesheet"/>
    <link href="http://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.css" type="text/css" rel="stylesheet"/>
    <script src="resources/scripts/jquery-3.7.1.min.js"></script>
    <script src="resources/scripts/axure/axQuery.js"></script>
    <script src="resources/scripts/axure/globals.js"></script>
    <script src="resources/scripts/axutils.js"></script>
    <script src="resources/scripts/axure/annotation.js"></script>
    <script src="resources/scripts/axure/axQuery.std.js"></script>
    <script src="resources/scripts/axure/doc.js"></script>
    <script src="resources/scripts/messagecenter.js"></script>
    <script src="resources/scripts/axure/events.js"></script>
    <script src="resources/scripts/axure/recording.js"></script>
    <script src="resources/scripts/axure/action.js"></script>
    <script src="resources/scripts/axure/expr.js"></script>
    <script src="resources/scripts/axure/geometry.js"></script>
    <script src="resources/scripts/axure/flyout.js"></script>
    <script src="resources/scripts/axure/model.js"></script>
    <script src="resources/scripts/axure/repeater.js"></script>
    <script src="resources/scripts/axure/sto.js"></script>
    <script src="resources/scripts/axure/utils.temp.js"></script>
    <script src="resources/scripts/axure/variables.js"></script>
    <script src="resources/scripts/axure/drag.js"></script>
    <script src="resources/scripts/axure/move.js"></script>
    <script src="resources/scripts/axure/visibility.js"></script>
    <script src="resources/scripts/axure/style.js"></script>
    <script src="resources/scripts/axure/adaptive.js"></script>
    <script src="resources/scripts/axure/tree.js"></script>
    <script src="resources/scripts/axure/init.temp.js"></script>
    <script src="resources/scripts/axure/legacy.js"></script>
    <script src="resources/scripts/axure/viewer.js"></script>
    <script src="resources/scripts/axure/math.js"></script>
    <script src="resources/scripts/axure/jquery.nicescroll.min.js"></script>
    <script src="data/document.js"></script>
    <script src="files/区域设置/data.js"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
  </head>
  <body>
    <div id="base" class="">

      <!-- Unnamed (标题通栏) -->

      <!-- 灰色背景 (Dynamic Panel) -->
      <div id="u15112" class="ax_default" data-label="灰色背景">
        <div id="u15112_state0" class="panel_state" data-label="State1" style="">
          <div id="u15112_state0_content" class="panel_state_content">
          </div>
        </div>
      </div>

      <!-- 线条 (Dynamic Panel) -->
      <div id="u15113" class="ax_default" data-label="线条">
        <div id="u15113_state0" class="panel_state" data-label="State1" style="">
          <div id="u15113_state0_content" class="panel_state_content">
          </div>
        </div>
      </div>

      <!-- 页面标题 (Rectangle) -->
      <div id="u15114" class="ax_default _默认样式" data-label="页面标题">
        <div id="u15114_div" class=""></div>
        <div id="u15114_text" class="text ">
          <p><span>页面标题</span></p>
        </div>
      </div>
      <div id="u15111" style="display:none; visibility:hidden;"></div>

      <!-- Unnamed (刷新) -->

      <!-- Unnamed (Rectangle) -->
      <div id="u15116" class="ax_default _默认样式" title="刷新">
        <div id="u15116_div" class=""></div>
        <div id="u15116_text" class="text ">
          <p><span>刷新</span></p>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u15117" class="ax_default" data-left="1031" data-top="16" data-width="19" data-height="17" layer-opacity="1">

        <!-- Unnamed (Shape) -->
        <div id="u15118" class="ax_default _默认样式">
          <img id="u15118_img" class="img " src="images/系统首页/u253.svg"/>
          <div id="u15118_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Shape) -->
        <div id="u15119" class="ax_default _默认样式">
          <img id="u15119_img" class="img " src="images/系统首页/u254.svg"/>
          <div id="u15119_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>
      </div>
      <div id="u15115" style="display:none; visibility:hidden;"></div>

      <!-- Unnamed (Rectangle) -->
      <div id="u15120" class="ax_default _默认样式">
        <div id="u15120_div" class=""></div>
        <div id="u15120_text" class="text ">
          <p><span>区域设置</span></p>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u15121" class="ax_default" data-left="0" data-top="119" data-width="1100" data-height="1313" layer-opacity="1">

        <!-- Unnamed (Rectangle) -->
        <div id="u15122" class="ax_default _默认样式">
          <div id="u15122_div" class=""></div>
          <div id="u15122_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (底部版权) -->

      <!-- Unnamed (Rectangle) -->
      <div id="u15124" class="ax_default _默认样式">
        <img id="u15124_img" class="img " src="images/登录界面/u23.svg"/>
        <div id="u15124_text" class="text ">
          <p><span>Copyright © www.xiangtianchi.com, All Rights Reserved.</span></p><p><span>Email : 840251972@qq.com&nbsp; QQ:&nbsp; 840251972</span></p>
        </div>
      </div>
      <div id="u15123" style="display:none; visibility:hidden;"></div>

      <!-- Unnamed (Rectangle) -->
      <div id="u15125" class="ax_default _默认样式">
        <div id="u15125_div" class=""></div>
        <div id="u15125_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u15126" class="ax_default _默认样式">
        <div id="u15126_div" class=""></div>
        <div id="u15126_text" class="text ">
          <p><span>恢复默认设置</span></p>
        </div>
      </div>

      <!-- Unnamed (Vertical Line) -->
      <div id="u15127" class="ax_default _默认样式">
        <img id="u15127_img" class="img " src="images/区域设置/u15127.svg"/>
        <div id="u15127_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u15128" class="ax_default _默认样式">
        <img id="u15128_img" class="img " src="images/区域设置/u15128.svg"/>
        <div id="u15128_text" class="text ">
          <p><span>省/自治区/直辖市</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u15129" class="ax_default _默认样式">
        <img id="u15129_img" class="img " src="images/区域设置/u15128.svg"/>
        <div id="u15129_text" class="text ">
          <p><span>地级市</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u15130" class="ax_default _默认样式">
        <img id="u15130_img" class="img " src="images/区域设置/u15130.svg"/>
        <div id="u15130_text" class="text ">
          <p><span>市辖区/县/县级市</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u15131" class="ax_default _默认样式">
        <img id="u15131_img" class="img " src="images/区域设置/u15128.svg"/>
        <div id="u15131_text" class="text ">
          <p><span>乡/镇/街道</span></p>
        </div>
      </div>

      <!-- Unnamed (Vertical Line) -->
      <div id="u15132" class="ax_default _默认样式">
        <img id="u15132_img" class="img " src="images/区域设置/u15127.svg"/>
        <div id="u15132_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Vertical Line) -->
      <div id="u15133" class="ax_default _默认样式">
        <img id="u15133_img" class="img " src="images/区域设置/u15127.svg"/>
        <div id="u15133_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u15134" class="ax_default _默认样式">
        <img id="u15134_img" class="img " src="images/区域设置/u15134.svg"/>
        <div id="u15134_text" class="text ">
          <p><span>北京</span></p><p><span>天津</span></p><p><span>河北</span></p><p><span>山西</span></p><p><span>内蒙古</span></p><p><span>辽宁</span></p><p><span>吉林</span></p><p><span>黑龙江</span></p><p><span>上海</span></p><p><span>江苏</span></p><p><span>浙江</span></p><p><span>安徽</span></p><p><span>福建</span></p><p><span>江西</span></p><p><span>山东</span></p><p><span>河南</span></p><p><span>湖北</span></p><p><span>湖南</span></p><p><span>广东</span></p><p><span>广西</span></p><p><span>海南</span></p><p><span>重庆</span></p><p><span>四川</span></p><p><span>贵州</span></p><p><span>云南</span></p><p><span>西藏</span></p><p><span>陕西</span></p><p><span>甘肃</span></p><p><span>青海</span></p><p><span>宁夏</span></p><p><span>新疆</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u15135" class="ax_default _默认样式">
        <img id="u15135_img" class="img " src="images/区域设置/u15135.svg"/>
        <div id="u15135_text" class="text ">
          <p><span>广州</span></p><p><span>深圳</span></p><p><span>珠海</span></p><p><span>汕头</span></p><p><span>韶关</span></p><p><span>佛山</span></p><p><span>江门</span></p><p><span>湛江</span></p><p><span>茂名</span></p><p><span>肇庆</span></p><p><span>梅洲</span></p><p><span>汕尾</span></p><p><span>河源</span></p><p><span>阳江</span></p><p><span>清远</span></p><p><span>东莞</span></p><p><span>中山</span></p><p><span>潮州</span></p><p><span>揭阳</span></p><p><span>云浮 </span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u15136" class="ax_default _默认样式">
        <img id="u15136_img" class="img " src="images/区域设置/u15136.svg"/>
        <div id="u15136_text" class="text ">
          <p><span>罗湖区</span></p><p><span>福田区</span></p><p><span>南山区</span></p><p><span>盐田区</span></p><p><span>宝安区</span></p><p><span>龙岗区</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u15137" class="ax_default _默认样式">
        <img id="u15137_img" class="img " src="images/区域设置/u15137.svg"/>
        <div id="u15137_text" class="text ">
          <p><span>桂园街道</span></p><p><span>黄贝街道</span></p><p><span>东门街道</span></p><p><span>翠竹街道</span></p><p><span>东晓街道</span></p><p><span>南湖街道</span></p><p><span>笋岗街道</span></p><p><span>东湖街道</span></p><p><span>莲塘街道</span></p><p><span>清水河街道</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u15138" class="ax_default _默认样式">
        <img id="u15138_img" class="img " src="images/区域设置/u15138.svg"/>
        <div id="u15138_text" class="text ">
          <p><span>新增</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u15139" class="ax_default _默认样式">
        <div id="u15139_div" class=""></div>
        <div id="u15139_text" class="text ">
          <p><span>广东</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u15140" class="ax_default _默认样式">
        <div id="u15140_div" class=""></div>
        <div id="u15140_text" class="text ">
          <p><span>深圳</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u15141" class="ax_default _默认样式">
        <div id="u15141_div" class=""></div>
        <div id="u15141_text" class="text ">
          <p><span>罗湖区</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u15142" class="ax_default _默认样式">
        <div id="u15142_div" class=""></div>
        <div id="u15142_text" class="text ">
          <p><span>东门街道</span></p>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u15143" class="ax_default" data-left="830" data-top="586" data-width="221" data-height="40" layer-opacity="1">

        <!-- Unnamed (Rectangle) -->
        <div id="u15144" class="ax_default _默认样式">
          <div id="u15144_div" class=""></div>
          <div id="u15144_text" class="text ">
            <p><span>保存 取消</span></p>
          </div>
        </div>

        <!-- Unnamed (Vertical Line) -->
        <div id="u15145" class="ax_default _默认样式">
          <img id="u15145_img" class="img " src="images/区域设置/u15145.svg"/>
          <div id="u15145_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u15146" class="ax_default _默认样式">
        <img id="u15146_img" class="img " src="images/区域设置/u15138.svg"/>
        <div id="u15146_text" class="text ">
          <p><span>新增</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u15147" class="ax_default _默认样式">
        <img id="u15147_img" class="img " src="images/区域设置/u15138.svg"/>
        <div id="u15147_text" class="text ">
          <p><span>新增</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u15148" class="ax_default _默认样式">
        <img id="u15148_img" class="img " src="images/区域设置/u15138.svg"/>
        <div id="u15148_text" class="text ">
          <p><span>新增</span></p>
        </div>
      </div>
    </div>
    <script src="resources/scripts/axure/ios.js"></script>
  </body>
</html>
