<!DOCTYPE html>
<html>
  <head>
    <title>发布帮助</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link href="resources/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="data/styles.css" type="text/css" rel="stylesheet"/>
    <link href="files/发布帮助/styles.css" type="text/css" rel="stylesheet"/>
    <link href="http://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.css" type="text/css" rel="stylesheet"/>
    <script src="resources/scripts/jquery-3.7.1.min.js"></script>
    <script src="resources/scripts/axure/axQuery.js"></script>
    <script src="resources/scripts/axure/globals.js"></script>
    <script src="resources/scripts/axutils.js"></script>
    <script src="resources/scripts/axure/annotation.js"></script>
    <script src="resources/scripts/axure/axQuery.std.js"></script>
    <script src="resources/scripts/axure/doc.js"></script>
    <script src="resources/scripts/messagecenter.js"></script>
    <script src="resources/scripts/axure/events.js"></script>
    <script src="resources/scripts/axure/recording.js"></script>
    <script src="resources/scripts/axure/action.js"></script>
    <script src="resources/scripts/axure/expr.js"></script>
    <script src="resources/scripts/axure/geometry.js"></script>
    <script src="resources/scripts/axure/flyout.js"></script>
    <script src="resources/scripts/axure/model.js"></script>
    <script src="resources/scripts/axure/repeater.js"></script>
    <script src="resources/scripts/axure/sto.js"></script>
    <script src="resources/scripts/axure/utils.temp.js"></script>
    <script src="resources/scripts/axure/variables.js"></script>
    <script src="resources/scripts/axure/drag.js"></script>
    <script src="resources/scripts/axure/move.js"></script>
    <script src="resources/scripts/axure/visibility.js"></script>
    <script src="resources/scripts/axure/style.js"></script>
    <script src="resources/scripts/axure/adaptive.js"></script>
    <script src="resources/scripts/axure/tree.js"></script>
    <script src="resources/scripts/axure/init.temp.js"></script>
    <script src="resources/scripts/axure/legacy.js"></script>
    <script src="resources/scripts/axure/viewer.js"></script>
    <script src="resources/scripts/axure/math.js"></script>
    <script src="resources/scripts/axure/jquery.nicescroll.min.js"></script>
    <script src="data/document.js"></script>
    <script src="files/发布帮助/data.js"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
  </head>
  <body>
    <div id="base" class="">

      <!-- Unnamed (Group) -->
      <div id="u13028" class="ax_default" data-left="1" data-top="70" data-width="1100" data-height="828" layer-opacity="1">

        <!-- Unnamed (Group) -->
        <div id="u13029" class="ax_default" data-left="181" data-top="70" data-width="920" data-height="828" layer-opacity="1">

          <!-- Unnamed (Rectangle) -->
          <div id="u13030" class="ax_default _默认样式">
            <div id="u13030_div" class=""></div>
            <div id="u13030_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>
        </div>

        <!-- Unnamed (Group) -->
        <div id="u13031" class="ax_default" data-left="1" data-top="70" data-width="181" data-height="828" layer-opacity="1">

          <!-- Unnamed (Rectangle) -->
          <div id="u13032" class="ax_default _默认样式">
            <div id="u13032_div" class=""></div>
            <div id="u13032_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>
        </div>
      </div>

      <!-- Unnamed (Right Arrow Button) -->
      <div id="u13033" class="ax_default _默认样式">
        <img id="u13033_img" class="img " src="images/选择商品分类/u973.svg"/>
        <div id="u13033_text" class="text ">
          <p><span style="font-family:'FontAwesome', sans-serif;font-weight:400;"></span><span style="font-family:'微软雅黑', sans-serif;font-weight:400;"> 基本信息</span></p>
        </div>
      </div>

      <!-- Unnamed (标题通栏) -->

      <!-- 灰色背景 (Dynamic Panel) -->
      <div id="u13035" class="ax_default" data-label="灰色背景">
        <div id="u13035_state0" class="panel_state" data-label="State1" style="">
          <div id="u13035_state0_content" class="panel_state_content">
          </div>
        </div>
      </div>

      <!-- 线条 (Dynamic Panel) -->
      <div id="u13036" class="ax_default" data-label="线条">
        <div id="u13036_state0" class="panel_state" data-label="State1" style="">
          <div id="u13036_state0_content" class="panel_state_content">
          </div>
        </div>
      </div>

      <!-- 页面标题 (Rectangle) -->
      <div id="u13037" class="ax_default _默认样式" data-label="页面标题">
        <div id="u13037_div" class=""></div>
        <div id="u13037_text" class="text ">
          <p><span>页面标题</span></p>
        </div>
      </div>
      <div id="u13034" style="display:none; visibility:hidden;"></div>

      <!-- Unnamed (底部版权) -->

      <!-- Unnamed (Rectangle) -->
      <div id="u13039" class="ax_default _默认样式">
        <img id="u13039_img" class="img " src="images/登录界面/u23.svg"/>
        <div id="u13039_text" class="text ">
          <p><span>Copyright © www.xiangtianchi.com, All Rights Reserved.</span></p><p><span>Email : 840251972@qq.com&nbsp; QQ:&nbsp; 840251972</span></p>
        </div>
      </div>
      <div id="u13038" style="display:none; visibility:hidden;"></div>

      <!-- Unnamed (Right Arrow Button) -->
      <div id="u13040" class="ax_default _默认样式">
        <img id="u13040_img" class="img " src="images/选择商品分类/u973.svg"/>
        <div id="u13040_text" class="text ">
          <p><span style="font-family:'FontAwesome', sans-serif;font-weight:400;"></span><span style="font-family:'微软雅黑', sans-serif;font-weight:400;"> 帮助正文</span></p>
        </div>
      </div>

      <!-- Unnamed (富文本编辑器) -->

      <!-- Unnamed (Rectangle) -->
      <div id="u13042" class="ax_default _默认样式">
        <div id="u13042_div" class=""></div>
        <div id="u13042_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u13043" class="ax_default _默认样式">
        <div id="u13043_div" class=""></div>
        <div id="u13043_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Image) -->
      <div id="u13044" class="ax_default image">
        <img id="u13044_img" class="img " src="images/填写商品属性/u1321.png"/>
        <div id="u13044_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Repeater) -->
      <div id="u13045" class="ax_default">
        <script id="u13045_script" type="axure-repeater-template">

          <!-- Unnamed (Rectangle) -->
          <div id="u13046" class="ax_default _默认样式 u13046">
            <div id="u13046_div" class="u13046_div"></div>
            <div id="u13046_text" class="text u13046_text" style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>
        </script>
        <div id="u13045-1" class="preeval" style="width: 34px; height: 34px;">

          <!-- Unnamed (Rectangle) -->
          <div id="u13046-1" class="ax_default _默认样式 u13046" style="width: 34px; height: 34px; left: 0px; top: 0px;visibility: inherit">
            <div id="u13046-1_div" class="u13046_div" style="width: 34px; height: 34px;visibility: inherit"></div>
            <div id="u13046-1_text" class="text u13046_text" style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>
        </div>
        <div id="u13045-2" class="preeval" style="width: 34px; height: 34px;">

          <!-- Unnamed (Rectangle) -->
          <div id="u13046-2" class="ax_default _默认样式 u13046" style="width: 34px; height: 34px; left: 0px; top: 0px;visibility: inherit">
            <div id="u13046-2_div" class="u13046_div" style="width: 34px; height: 34px;visibility: inherit"></div>
            <div id="u13046-2_text" class="text u13046_text" style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>
        </div>
        <div id="u13045-3" class="preeval" style="width: 34px; height: 34px;">

          <!-- Unnamed (Rectangle) -->
          <div id="u13046-3" class="ax_default _默认样式 u13046" style="width: 34px; height: 34px; left: 0px; top: 0px;visibility: inherit">
            <div id="u13046-3_div" class="u13046_div" style="width: 34px; height: 34px;visibility: inherit"></div>
            <div id="u13046-3_text" class="text u13046_text" style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>
        </div>
        <div id="u13045-4" class="preeval" style="width: 34px; height: 34px;">

          <!-- Unnamed (Rectangle) -->
          <div id="u13046-4" class="ax_default _默认样式 u13046" style="width: 34px; height: 34px; left: 0px; top: 0px;visibility: inherit">
            <div id="u13046-4_div" class="u13046_div" style="width: 34px; height: 34px;visibility: inherit"></div>
            <div id="u13046-4_text" class="text u13046_text" style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>
        </div>
        <div id="u13045-5" class="preeval" style="width: 34px; height: 34px;">

          <!-- Unnamed (Rectangle) -->
          <div id="u13046-5" class="ax_default _默认样式 u13046" style="width: 34px; height: 34px; left: 0px; top: 0px;visibility: inherit">
            <div id="u13046-5_div" class="u13046_div" style="width: 34px; height: 34px;visibility: inherit"></div>
            <div id="u13046-5_text" class="text u13046_text" style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>
        </div>
        <div id="u13045-6" class="preeval" style="width: 34px; height: 34px;">

          <!-- Unnamed (Rectangle) -->
          <div id="u13046-6" class="ax_default _默认样式 u13046" style="width: 34px; height: 34px; left: 0px; top: 0px;visibility: inherit">
            <div id="u13046-6_div" class="u13046_div" style="width: 34px; height: 34px;visibility: inherit"></div>
            <div id="u13046-6_text" class="text u13046_text" style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>
        </div>
        <div id="u13045-7" class="preeval" style="width: 34px; height: 34px;">

          <!-- Unnamed (Rectangle) -->
          <div id="u13046-7" class="ax_default _默认样式 u13046" style="width: 34px; height: 34px; left: 0px; top: 0px;visibility: inherit">
            <div id="u13046-7_div" class="u13046_div" style="width: 34px; height: 34px;visibility: inherit"></div>
            <div id="u13046-7_text" class="text u13046_text" style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>
        </div>
        <div id="u13045-8" class="preeval" style="width: 34px; height: 34px;">

          <!-- Unnamed (Rectangle) -->
          <div id="u13046-8" class="ax_default _默认样式 u13046" style="width: 34px; height: 34px; left: 0px; top: 0px;visibility: inherit">
            <div id="u13046-8_div" class="u13046_div" style="width: 34px; height: 34px;visibility: inherit"></div>
            <div id="u13046-8_text" class="text u13046_text" style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>
        </div>
        <div id="u13045-9" class="preeval" style="width: 34px; height: 34px;">

          <!-- Unnamed (Rectangle) -->
          <div id="u13046-9" class="ax_default _默认样式 u13046" style="width: 34px; height: 34px; left: 0px; top: 0px;visibility: inherit">
            <div id="u13046-9_div" class="u13046_div" style="width: 34px; height: 34px;visibility: inherit"></div>
            <div id="u13046-9_text" class="text u13046_text" style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>
        </div>
        <div id="u13045-10" class="preeval" style="width: 34px; height: 34px;">

          <!-- Unnamed (Rectangle) -->
          <div id="u13046-10" class="ax_default _默认样式 u13046" style="width: 34px; height: 34px; left: 0px; top: 0px;visibility: inherit">
            <div id="u13046-10_div" class="u13046_div" style="width: 34px; height: 34px;visibility: inherit"></div>
            <div id="u13046-10_text" class="text u13046_text" style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>
        </div>
        <div id="u13045-11" class="preeval" style="width: 34px; height: 34px;">

          <!-- Unnamed (Rectangle) -->
          <div id="u13046-11" class="ax_default _默认样式 u13046" style="width: 34px; height: 34px; left: 0px; top: 0px;visibility: inherit">
            <div id="u13046-11_div" class="u13046_div" style="width: 34px; height: 34px;visibility: inherit"></div>
            <div id="u13046-11_text" class="text u13046_text" style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>
        </div>
        <div id="u13045-12" class="preeval" style="width: 34px; height: 34px;">

          <!-- Unnamed (Rectangle) -->
          <div id="u13046-12" class="ax_default _默认样式 u13046" style="width: 34px; height: 34px; left: 0px; top: 0px;visibility: inherit">
            <div id="u13046-12_div" class="u13046_div" style="width: 34px; height: 34px;visibility: inherit"></div>
            <div id="u13046-12_text" class="text u13046_text" style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>
        </div>
        <div id="u13045-13" class="preeval" style="width: 34px; height: 34px;">

          <!-- Unnamed (Rectangle) -->
          <div id="u13046-13" class="ax_default _默认样式 u13046" style="width: 34px; height: 34px; left: 0px; top: 0px;visibility: inherit">
            <div id="u13046-13_div" class="u13046_div" style="width: 34px; height: 34px;visibility: inherit"></div>
            <div id="u13046-13_text" class="text u13046_text" style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>
        </div>
        <div id="u13045-14" class="preeval" style="width: 34px; height: 34px;">

          <!-- Unnamed (Rectangle) -->
          <div id="u13046-14" class="ax_default _默认样式 u13046" style="width: 34px; height: 34px; left: 0px; top: 0px;visibility: inherit">
            <div id="u13046-14_div" class="u13046_div" style="width: 34px; height: 34px;visibility: inherit"></div>
            <div id="u13046-14_text" class="text u13046_text" style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>
        </div>
        <div id="u13045-15" class="preeval" style="width: 34px; height: 34px;">

          <!-- Unnamed (Rectangle) -->
          <div id="u13046-15" class="ax_default _默认样式 u13046" style="width: 34px; height: 34px; left: 0px; top: 0px;visibility: inherit">
            <div id="u13046-15_div" class="u13046_div" style="width: 34px; height: 34px;visibility: inherit"></div>
            <div id="u13046-15_text" class="text u13046_text" style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>
        </div>
        <div id="u13045-16" class="preeval" style="width: 34px; height: 34px;">

          <!-- Unnamed (Rectangle) -->
          <div id="u13046-16" class="ax_default _默认样式 u13046" style="width: 34px; height: 34px; left: 0px; top: 0px;visibility: inherit">
            <div id="u13046-16_div" class="u13046_div" style="width: 34px; height: 34px;visibility: inherit"></div>
            <div id="u13046-16_text" class="text u13046_text" style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>
        </div>
        <div id="u13045-17" class="preeval" style="width: 34px; height: 34px;">

          <!-- Unnamed (Rectangle) -->
          <div id="u13046-17" class="ax_default _默认样式 u13046" style="width: 34px; height: 34px; left: 0px; top: 0px;visibility: inherit">
            <div id="u13046-17_div" class="u13046_div" style="width: 34px; height: 34px;visibility: inherit"></div>
            <div id="u13046-17_text" class="text u13046_text" style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>
        </div>
        <div id="u13045-18" class="preeval" style="width: 34px; height: 34px;">

          <!-- Unnamed (Rectangle) -->
          <div id="u13046-18" class="ax_default _默认样式 u13046" style="width: 34px; height: 34px; left: 0px; top: 0px;visibility: inherit">
            <div id="u13046-18_div" class="u13046_div" style="width: 34px; height: 34px;visibility: inherit"></div>
            <div id="u13046-18_text" class="text u13046_text" style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>
        </div>
      </div>
      <div id="u13041" style="display:none; visibility:hidden;"></div>

      <!-- Unnamed (Rectangle) -->
      <div id="u13047" class="ax_default _默认样式">
        <div id="u13047_div" class=""></div>
        <div id="u13047_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u13048" class="ax_default _默认样式">
        <img id="u13048_img" class="img " src="images/发布专题/u12255.svg"/>
        <div id="u13048_text" class="text ">
          <p><span style="color:#F04844;">*</span><span> 帮助标题：</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u13049" class="ax_default _默认样式">
        <img id="u13049_img" class="img " src="images/添加模板/u6250.svg"/>
        <div id="u13049_text" class="text ">
          <p><span style="color:#F04844;">*</span><span> 帮助分类：</span></p>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u13050" class="ax_default" data-left="327" data-top="170" data-width="240" data-height="40" layer-opacity="1">

        <!-- Unnamed (Group) -->
        <div id="u13051" class="ax_default" data-left="327" data-top="170" data-width="239" data-height="40" layer-opacity="1">

          <!-- Unnamed (Rectangle) -->
          <div id="u13052" class="ax_default _默认样式">
            <div id="u13052_div" class=""></div>
            <div id="u13052_text" class="text ">
              <p><span>选择分类</span></p>
            </div>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u13053" class="ax_default _默认样式">
          <div id="u13053_div" class=""></div>
          <div id="u13053_text" class="text ">
            <p><span></span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u13054" class="ax_default _默认样式">
        <img id="u13054_img" class="img " src="images/添加模板/u6250.svg"/>
        <div id="u13054_text" class="text ">
          <p><span>显示设置：</span></p>
        </div>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u13055" class="ax_default _默认样式">
        <img id="u13055_img" class="img " src="images/填写商品信息/u1160.svg"/>
        <div id="u13055_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u13056" class="ax_default _默认样式" selectiongroup="按纽组-9">
        <div id="u13056_div" class=""></div>
        <div id="u13056_text" class="text ">
          <p><span>提交</span></p>
        </div>
      </div>

      <!-- Unnamed (返回) -->

      <!-- Unnamed (Rectangle) -->
      <div id="u13058" class="ax_default _默认样式">
        <div id="u13058_div" class=""></div>
        <div id="u13058_text" class="text ">
          <p><span>返回</span></p>
        </div>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u13059" class="ax_default _默认样式">
        <img id="u13059_img" class="img " src="images/逐个编辑/u1787.svg"/>
        <div id="u13059_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>
      <div id="u13057" style="display:none; visibility:hidden;"></div>
    </div>
    <script src="resources/scripts/axure/ios.js"></script>
  </body>
</html>
