<!DOCTYPE html>
<html>
  <head>
    <title>取消订单</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link href="resources/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="data/styles.css" type="text/css" rel="stylesheet"/>
    <link href="files/取消订单/styles.css" type="text/css" rel="stylesheet"/>
    <link href="http://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.css" type="text/css" rel="stylesheet"/>
    <script src="resources/scripts/jquery-3.7.1.min.js"></script>
    <script src="resources/scripts/axure/axQuery.js"></script>
    <script src="resources/scripts/axure/globals.js"></script>
    <script src="resources/scripts/axutils.js"></script>
    <script src="resources/scripts/axure/annotation.js"></script>
    <script src="resources/scripts/axure/axQuery.std.js"></script>
    <script src="resources/scripts/axure/doc.js"></script>
    <script src="resources/scripts/messagecenter.js"></script>
    <script src="resources/scripts/axure/events.js"></script>
    <script src="resources/scripts/axure/recording.js"></script>
    <script src="resources/scripts/axure/action.js"></script>
    <script src="resources/scripts/axure/expr.js"></script>
    <script src="resources/scripts/axure/geometry.js"></script>
    <script src="resources/scripts/axure/flyout.js"></script>
    <script src="resources/scripts/axure/model.js"></script>
    <script src="resources/scripts/axure/repeater.js"></script>
    <script src="resources/scripts/axure/sto.js"></script>
    <script src="resources/scripts/axure/utils.temp.js"></script>
    <script src="resources/scripts/axure/variables.js"></script>
    <script src="resources/scripts/axure/drag.js"></script>
    <script src="resources/scripts/axure/move.js"></script>
    <script src="resources/scripts/axure/visibility.js"></script>
    <script src="resources/scripts/axure/style.js"></script>
    <script src="resources/scripts/axure/adaptive.js"></script>
    <script src="resources/scripts/axure/tree.js"></script>
    <script src="resources/scripts/axure/init.temp.js"></script>
    <script src="resources/scripts/axure/legacy.js"></script>
    <script src="resources/scripts/axure/viewer.js"></script>
    <script src="resources/scripts/axure/math.js"></script>
    <script src="resources/scripts/axure/jquery.nicescroll.min.js"></script>
    <script src="data/document.js"></script>
    <script src="files/取消订单/data.js"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
  </head>
  <body>
    <div id="base" class="">

      <!-- Unnamed (组合) -->
      <div id="u2558" class="ax_default" data-left="0" data-top="0" data-width="0" data-height="0" layer-opacity="1">
      </div>

      <!-- Unnamed (标题通栏) -->

      <!-- 灰色背景 (动态面板) -->
      <div id="u2560" class="ax_default" data-label="灰色背景">
        <div id="u2560_state0" class="panel_state" data-label="State1" style="">
          <div id="u2560_state0_content" class="panel_state_content">
          </div>
        </div>
      </div>

      <!-- 线条 (动态面板) -->
      <div id="u2561" class="ax_default" data-label="线条">
        <div id="u2561_state0" class="panel_state" data-label="State1" style="">
          <div id="u2561_state0_content" class="panel_state_content">
          </div>
        </div>
      </div>

      <!-- 页面标题 (矩形) -->
      <div id="u2562" class="ax_default _默认样式" data-label="页面标题">
        <div id="u2562_div" class=""></div>
        <div id="u2562_text" class="text ">
          <p><span>页面标题</span></p>
        </div>
      </div>
      <div id="u2559" style="display:none; visibility:hidden;"></div>

      <!-- Unnamed (返回) -->

      <!-- Unnamed (矩形) -->
      <div id="u2564" class="ax_default _默认样式">
        <div id="u2564_div" class=""></div>
        <div id="u2564_text" class="text ">
          <p><span>返回</span></p>
        </div>
      </div>

      <!-- Unnamed (形状) -->
      <div id="u2565" class="ax_default _默认样式">
        <img id="u2565_img" class="img " src="images/修改商品信息/u2460.svg"/>
        <div id="u2565_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>
      <div id="u2563" style="display:none; visibility:hidden;"></div>

      <!-- Unnamed (组合) -->
      <div id="u2566" class="ax_default" data-left="0" data-top="119" data-width="1100" data-height="960" layer-opacity="1">

        <!-- Unnamed (矩形) -->
        <div id="u2567" class="ax_default _默认样式">
          <div id="u2567_div" class=""></div>
          <div id="u2567_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (底部版权) -->

      <!-- Unnamed (矩形) -->
      <div id="u2569" class="ax_default _默认样式">
        <img id="u2569_img" class="img " src="images/系统首页/u206.svg"/>
        <div id="u2569_text" class="text ">
          <p><span>Copyright © www.xiangtianchi.com, All Rights Reserved.</span></p><p><span>Email : 840251972@qq.com&nbsp; QQ:&nbsp; 840251972</span></p>
        </div>
      </div>
      <div id="u2568" style="display:none; visibility:hidden;"></div>

      <!-- Unnamed (矩形) -->
      <div id="u2570" class="ax_default _默认样式">
        <img id="u2570_img" class="img " src="images/填写商品信息/u534.svg"/>
        <div id="u2570_text" class="text ">
          <p><span style="color:#F04844;">*</span><span> 操作备注：</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2571" class="ax_default _默认样式">
        <div id="u2571_div" class=""></div>
        <div id="u2571_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2572" class="ax_default _默认样式">
        <img id="u2572_img" class="img " src="images/填写商品信息/u534.svg"/>
        <div id="u2572_text" class="text ">
          <p><span style="color:#F04844;">*</span><span> 取消原因：</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2573" class="ax_default _默认样式">
        <div id="u2573_div" class=""></div>
        <div id="u2573_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2574" class="ax_default _默认样式">
        <img id="u2574_img" class="img " src="images/取消订单/u2574.svg"/>
        <div id="u2574_text" class="text ">
          <p><span>订单金额：</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2575" class="ax_default _默认样式">
        <div id="u2575_div" class=""></div>
        <div id="u2575_text" class="text ">
          <p><span>¥200.00</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2576" class="ax_default _默认样式">
        <img id="u2576_img" class="img " src="images/取消订单/u2574.svg"/>
        <div id="u2576_text" class="text ">
          <p><span>退款方式：</span></p>
        </div>
      </div>

      <!-- Unnamed (组合) -->
      <div id="u2577" class="ax_default" data-left="401" data-top="583" data-width="252" data-height="45" layer-opacity="1">

        <!-- Unnamed (矩形) -->
        <div id="u2578" class="ax_default _默认样式">
          <img id="u2578_img" class="img " src="images/取消订单/u2578.svg"/>
          <div id="u2578_text" class="text ">
            <p style="font-size:14px;"><span style="font-family:'FontAwesome', sans-serif;font-weight:400;font-size:16px;color:#999999;"></span><span style="font-family:'微软雅黑', sans-serif;font-weight:400;color:#999999;"> 不退运费&nbsp; &nbsp; </span><span style="font-family:'FontAwesome', sans-serif;font-weight:400;font-size:16px;color:#1ABC9C;"></span><span style="font-family:'微软雅黑', sans-serif;font-weight:400;color:#999999;"> 退运费&nbsp; &nbsp; </span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2579" class="ax_default _默认样式">
        <img id="u2579_img" class="img " src="images/取消订单/u2579.svg"/>
        <div id="u2579_text" class="text ">
          <p><span style="color:#F04844;">*</span><span> 确认退款金额：</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2580" class="ax_default _默认样式">
        <img id="u2580_img" class="img " src="images/取消订单/u2580.svg"/>
        <div id="u2580_text" class="text ">
          <p><span>退运费：</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2581" class="ax_default _默认样式">
        <img id="u2581_img" class="img " src="images/取消订单/u2581.svg"/>
        <div id="u2581_text" class="text ">
          <p style="font-size:16px;"><span style="font-family:'FontAwesome', sans-serif;font-weight:400;color:#999999;"></span><span style="font-family:'微软雅黑', sans-serif;font-weight:400;font-size:14px;color:#999999;"> 退回到原支付渠道</span></p><p style="font-size:16px;"><span style="font-family:'FontAwesome', sans-serif;font-weight:400;color:#1ABC9C;"></span><span style="font-family:'微软雅黑', sans-serif;font-weight:400;font-size:14px;color:#999999;"> 生成退款申请</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2582" class="ax_default _默认样式">
        <img id="u2582_img" class="img " src="images/取消订单/u2582.svg"/>
        <div id="u2582_text" class="text ">
          <p><span style="color:#F04844;">*</span><span> 退款说明：</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2583" class="ax_default _默认样式">
        <div id="u2583_div" class=""></div>
        <div id="u2583_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2584" class="ax_default _默认样式">
        <div id="u2584_div" class=""></div>
        <div id="u2584_text" class="text ">
          <p><span>确定</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2585" class="ax_default _默认样式">
        <div id="u2585_div" class=""></div>
        <div id="u2585_text" class="text ">
          <p><span>取消</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2586" class="ax_default _默认样式">
        <div id="u2586_div" class=""></div>
        <div id="u2586_text" class="text ">
          <p><span>会记录在商家给客户的留言中</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2587" class="ax_default _默认样式">
        <img id="u2587_img" class="img " src="images/取消订单/u2587.svg"/>
        <div id="u2587_text" class="text ">
          <p><span>¥200.00</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2588" class="ax_default _默认样式">
        <div id="u2588_div" class=""></div>
        <div id="u2588_text" class="text ">
          <p><span>取消订单</span></p>
        </div>
      </div>
    </div>
    <script src="resources/scripts/axure/ios.js"></script>
  </body>
</html>
