<!DOCTYPE html>
<html>
  <head>
    <title>基本设置</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link href="resources/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="data/styles.css" type="text/css" rel="stylesheet"/>
    <link href="files/基本设置/styles.css" type="text/css" rel="stylesheet"/>
    <link href="http://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.css" type="text/css" rel="stylesheet"/>
    <script src="resources/scripts/jquery-3.7.1.min.js"></script>
    <script src="resources/scripts/axure/axQuery.js"></script>
    <script src="resources/scripts/axure/globals.js"></script>
    <script src="resources/scripts/axutils.js"></script>
    <script src="resources/scripts/axure/annotation.js"></script>
    <script src="resources/scripts/axure/axQuery.std.js"></script>
    <script src="resources/scripts/axure/doc.js"></script>
    <script src="resources/scripts/messagecenter.js"></script>
    <script src="resources/scripts/axure/events.js"></script>
    <script src="resources/scripts/axure/recording.js"></script>
    <script src="resources/scripts/axure/action.js"></script>
    <script src="resources/scripts/axure/expr.js"></script>
    <script src="resources/scripts/axure/geometry.js"></script>
    <script src="resources/scripts/axure/flyout.js"></script>
    <script src="resources/scripts/axure/model.js"></script>
    <script src="resources/scripts/axure/repeater.js"></script>
    <script src="resources/scripts/axure/sto.js"></script>
    <script src="resources/scripts/axure/utils.temp.js"></script>
    <script src="resources/scripts/axure/variables.js"></script>
    <script src="resources/scripts/axure/drag.js"></script>
    <script src="resources/scripts/axure/move.js"></script>
    <script src="resources/scripts/axure/visibility.js"></script>
    <script src="resources/scripts/axure/style.js"></script>
    <script src="resources/scripts/axure/adaptive.js"></script>
    <script src="resources/scripts/axure/tree.js"></script>
    <script src="resources/scripts/axure/init.temp.js"></script>
    <script src="resources/scripts/axure/legacy.js"></script>
    <script src="resources/scripts/axure/viewer.js"></script>
    <script src="resources/scripts/axure/math.js"></script>
    <script src="resources/scripts/axure/jquery.nicescroll.min.js"></script>
    <script src="data/document.js"></script>
    <script src="files/基本设置/data.js"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
  </head>
  <body>
    <div id="base" class="">

      <!-- Unnamed (Group) -->
      <div id="u14506" class="ax_default" data-left="1" data-top="70" data-width="1100" data-height="2314" layer-opacity="1">

        <!-- Unnamed (Group) -->
        <div id="u14507" class="ax_default" data-left="181" data-top="70" data-width="920" data-height="2314" layer-opacity="1">

          <!-- Unnamed (Rectangle) -->
          <div id="u14508" class="ax_default _默认样式">
            <div id="u14508_div" class=""></div>
            <div id="u14508_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>
        </div>

        <!-- Unnamed (Group) -->
        <div id="u14509" class="ax_default" data-left="1" data-top="70" data-width="181" data-height="2314" layer-opacity="1">

          <!-- Unnamed (Rectangle) -->
          <div id="u14510" class="ax_default _默认样式">
            <div id="u14510_div" class=""></div>
            <div id="u14510_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>
        </div>
      </div>

      <!-- Unnamed (Right Arrow Button) -->
      <div id="u14511" class="ax_default _默认样式">
        <img id="u14511_img" class="img " src="images/选择商品分类/u973.svg"/>
        <div id="u14511_text" class="text ">
          <p><span style="font-family:'FontAwesome', sans-serif;font-weight:400;"></span><span style="font-family:&quot;微软雅黑&quot;, sans-serif;font-weight:400;"> 常规设置</span></p>
        </div>
      </div>

      <!-- Unnamed (Right Arrow Button) -->
      <div id="u14512" class="ax_default _默认样式">
        <img id="u14512_img" class="img " src="images/选择商品分类/u973.svg"/>
        <div id="u14512_text" class="text ">
          <p><span style="font-family:'FontAwesome', sans-serif;font-weight:400;"></span><span style="font-family:&quot;微软雅黑&quot;, sans-serif;font-weight:400;">&nbsp; 购物设置</span></p>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u14513" class="ax_default" data-left="0" data-top="0" data-width="0" data-height="0" layer-opacity="1">
      </div>

      <!-- Unnamed (标题通栏) -->

      <!-- 灰色背景 (Dynamic Panel) -->
      <div id="u14515" class="ax_default" data-label="灰色背景">
        <div id="u14515_state0" class="panel_state" data-label="State1" style="">
          <div id="u14515_state0_content" class="panel_state_content">
          </div>
        </div>
      </div>

      <!-- 线条 (Dynamic Panel) -->
      <div id="u14516" class="ax_default" data-label="线条">
        <div id="u14516_state0" class="panel_state" data-label="State1" style="">
          <div id="u14516_state0_content" class="panel_state_content">
          </div>
        </div>
      </div>

      <!-- 页面标题 (Rectangle) -->
      <div id="u14517" class="ax_default _默认样式" data-label="页面标题">
        <div id="u14517_div" class=""></div>
        <div id="u14517_text" class="text ">
          <p><span>页面标题</span></p>
        </div>
      </div>
      <div id="u14514" style="display:none; visibility:hidden;"></div>

      <!-- Unnamed (底部版权) -->

      <!-- Unnamed (Rectangle) -->
      <div id="u14519" class="ax_default _默认样式">
        <img id="u14519_img" class="img " src="images/登录界面/u23.svg"/>
        <div id="u14519_text" class="text ">
          <p><span>Copyright © www.xiangtianchi.com, All Rights Reserved.</span></p><p><span>Email : 840251972@qq.com&nbsp; QQ:&nbsp; 840251972</span></p>
        </div>
      </div>
      <div id="u14518" style="display:none; visibility:hidden;"></div>

      <!-- Unnamed (Rectangle) -->
      <div id="u14520" class="ax_default _默认样式">
        <img id="u14520_img" class="img " src="images/基本设置/u14520.svg"/>
        <div id="u14520_text" class="text ">
          <p><span style="color:#F04844;">*</span><span> 热门搜索关键字：</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u14521" class="ax_default _默认样式">
        <div id="u14521_div" class=""></div>
        <div id="u14521_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u14522" class="ax_default _默认样式">
        <img id="u14522_img" class="img " src="images/填写商品信息/u1053.svg"/>
        <div id="u14522_text" class="text ">
          <p><span style="color:#F04844;">*</span><span> 时间格式：</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u14523" class="ax_default _默认样式">
        <div id="u14523_div" class=""></div>
        <div id="u14523_text" class="text ">
          <p><span>Y-m-d H:i:s</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u14524" class="ax_default _默认样式">
        <div id="u14524_div" class=""></div>
        <div id="u14524_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u14525" class="ax_default _默认样式" selectiongroup="按纽组-9">
        <div id="u14525_div" class=""></div>
        <div id="u14525_text" class="text ">
          <p><span>提交</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u14526" class="ax_default _默认样式">
        <img id="u14526_img" class="img " src="images/填写商品信息/u1053.svg"/>
        <div id="u14526_text" class="text ">
          <p><span>站点统计代码：</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u14527" class="ax_default _默认样式">
        <img id="u14527_img" class="img " src="images/填写商品信息/u1053.svg"/>
        <div id="u14527_text" class="text ">
          <p><span style="color:#F04844;">*</span><span> 货币格式：</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u14528" class="ax_default _默认样式">
        <div id="u14528_div" class=""></div>
        <div id="u14528_text" class="text ">
          <p><span>&lt;em&gt;¥&lt;/em&gt;%s</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u14529" class="ax_default _默认样式">
        <img id="u14529_img" class="img " src="images/基本设置/u14529.svg"/>
        <div id="u14529_text" class="text ">
          <p><span>商品评价是否需要审核：</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u14530" class="ax_default _默认样式">
        <div id="u14530_div" class=""></div>
        <div id="u14530_text" class="text ">
          <p><span>热门搜索关键字,请用半角逗号(,)分隔多个关键字</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u14531" class="ax_default _默认样式">
        <div id="u14531_div" class=""></div>
        <div id="u14531_text" class="text ">
          <p><span>显示商品价格的格式，%s将被替换为相应的价格数字。</span></p>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u14532" class="ax_default" data-left="400" data-top="409" data-width="130" data-height="40" layer-opacity="1">

        <!-- Unnamed (Rectangle) -->
        <div id="u14533" class="ax_default _默认样式">
          <img id="u14533_img" class="img " src="images/填写商品属性/u1274.svg"/>
          <div id="u14533_text" class="text ">
            <p style="font-size:16px;"><span style="font-family:'FontAwesome', sans-serif;font-weight:400;color:#1ABC9C;"></span><span style="font-family:'微软雅黑', sans-serif;font-weight:400;font-size:14px;color:#999999;"> 是&nbsp; &nbsp; </span><span style="font-family:'FontAwesome', sans-serif;font-weight:400;color:#999999;"></span><span style="font-family:'微软雅黑', sans-serif;font-weight:400;font-size:14px;color:#999999;"> 否&nbsp; &nbsp; </span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u14534" class="ax_default _默认样式">
        <img id="u14534_img" class="img " src="images/基本设置/u14534.svg"/>
        <div id="u14534_text" class="text ">
          <p><span>退货上传图片凭证：</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u14535" class="ax_default _默认样式">
        <div id="u14535_div" class=""></div>
        <div id="u14535_text" class="text ">
          <p><span>6</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u14536" class="ax_default _默认样式">
        <div id="u14536_div" class=""></div>
        <div id="u14536_text" class="text ">
          <p><span>设置退换货上传图片凭证数量限制</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u14537" class="ax_default _默认样式">
        <img id="u14537_img" class="img " src="images/基本设置/u14529.svg"/>
        <div id="u14537_text" class="text ">
          <p><span>是否开启自动确认收货：</span></p>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u14538" class="ax_default" data-left="400" data-top="768" data-width="130" data-height="40" layer-opacity="1">

        <!-- Unnamed (Rectangle) -->
        <div id="u14539" class="ax_default _默认样式">
          <img id="u14539_img" class="img " src="images/填写商品属性/u1274.svg"/>
          <div id="u14539_text" class="text ">
            <p style="font-size:16px;"><span style="font-family:'FontAwesome', sans-serif;font-weight:400;color:#1ABC9C;"></span><span style="font-family:'微软雅黑', sans-serif;font-weight:400;font-size:14px;color:#999999;"> 关闭&nbsp; &nbsp; </span><span style="font-family:'FontAwesome', sans-serif;font-weight:400;color:#999999;"></span><span style="font-family:'微软雅黑', sans-serif;font-weight:400;font-size:14px;color:#999999;"> 开启&nbsp; &nbsp; </span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u14540" class="ax_default _默认样式">
        <div id="u14540_div" class=""></div>
        <div id="u14540_text" class="text ">
          <p><span>确认收货时长请在订单设置中进行设置</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u14541" class="ax_default _默认样式">
        <img id="u14541_img" class="img " src="images/填写商品信息/u1053.svg"/>
        <div id="u14541_text" class="text ">
          <p><span style="color:#F04844;">*</span><span> 商品默认图片：</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u14542" class="ax_default _默认样式">
        <div id="u14542_div" class=""></div>
        <div id="u14542_text" class="text ">
          <p style="font-size:14px;"><span style="font-family:'FontAwesome', sans-serif;font-weight:400;font-size:16px;"></span><span style="font-family:'微软雅黑', sans-serif;font-weight:400;"> 选择上传文件</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u14543" class="ax_default _默认样式">
        <div id="u14543_div" class=""></div>
        <div id="u14543_text" class="text ">
          <p><span>只能上传jpg/png格式文件，文件不能超过50kb</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u14544" class="ax_default _默认样式">
        <img id="u14544_img" class="img " src="images/基本设置/u14534.svg"/>
        <div id="u14544_text" class="text ">
          <p><span>最小购物金额：</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u14545" class="ax_default _默认样式">
        <div id="u14545_div" class=""></div>
        <div id="u14545_text" class="text ">
          <p><span>0</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u14546" class="ax_default _默认样式">
        <div id="u14546_div" class=""></div>
        <div id="u14546_text" class="text ">
          <p><span>达到此购物金额，才能提交订单。</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u14547" class="ax_default _默认样式">
        <img id="u14547_img" class="img " src="images/基本设置/u14529.svg"/>
        <div id="u14547_text" class="text ">
          <p><span>能否开发票：</span></p>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u14548" class="ax_default" data-left="400" data-top="851" data-width="130" data-height="40" layer-opacity="1">

        <!-- Unnamed (Rectangle) -->
        <div id="u14549" class="ax_default _默认样式">
          <img id="u14549_img" class="img " src="images/填写商品属性/u1274.svg"/>
          <div id="u14549_text" class="text ">
            <p style="font-size:16px;"><span style="font-family:'FontAwesome', sans-serif;font-weight:400;color:#1ABC9C;"></span><span style="font-family:'微软雅黑', sans-serif;font-weight:400;font-size:14px;color:#999999;"> 能&nbsp; &nbsp; </span><span style="font-family:'FontAwesome', sans-serif;font-weight:400;color:#999999;"></span><span style="font-family:'微软雅黑', sans-serif;font-weight:400;font-size:14px;color:#999999;"> 不能&nbsp; &nbsp; </span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u14550" class="ax_default _默认样式">
        <img id="u14550_img" class="img " src="images/基本设置/u14529.svg"/>
        <div id="u14550_text" class="text ">
          <p><span>发票内容选项：</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u14551" class="ax_default _默认样式">
        <div id="u14551_div" class=""></div>
        <div id="u14551_text" class="text ">
          <p><span>日用品</span></p><p><span>家居用品</span></p><p><span>食品</span></p><p><span>酒/饮料</span></p><p><span><br></span></p><p><span><br></span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u14552" class="ax_default _默认样式">
        <img id="u14552_img" class="img " src="images/基本设置/u14529.svg"/>
        <div id="u14552_text" class="text ">
          <p><span>减库存的时机：</span></p>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u14553" class="ax_default" data-left="400" data-top="1080" data-width="216" data-height="40" layer-opacity="1">

        <!-- Unnamed (Rectangle) -->
        <div id="u14554" class="ax_default _默认样式">
          <img id="u14554_img" class="img " src="images/基本设置/u14554.svg"/>
          <div id="u14554_text" class="text ">
            <p style="font-size:16px;"><span style="font-family:'FontAwesome', sans-serif;font-weight:400;color:#1ABC9C;"></span><span style="font-family:'微软雅黑', sans-serif;font-weight:400;font-size:14px;color:#999999;"> 下订单时&nbsp; &nbsp; </span><span style="font-family:'FontAwesome', sans-serif;font-weight:400;color:#999999;"></span><span style="font-family:'微软雅黑', sans-serif;font-weight:400;font-size:14px;color:#999999;"> 发货时&nbsp; &nbsp; </span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u14555" class="ax_default _默认样式">
        <img id="u14555_img" class="img " src="images/基本设置/u14529.svg"/>
        <div id="u14555_text" class="text ">
          <p><span>增加销量的时机：</span></p>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u14556" class="ax_default" data-left="400" data-top="1131" data-width="216" data-height="40" layer-opacity="1">

        <!-- Unnamed (Rectangle) -->
        <div id="u14557" class="ax_default _默认样式">
          <img id="u14557_img" class="img " src="images/基本设置/u14554.svg"/>
          <div id="u14557_text" class="text ">
            <p style="font-size:16px;"><span style="font-family:'FontAwesome', sans-serif;font-weight:400;color:#1ABC9C;"></span><span style="font-family:'微软雅黑', sans-serif;font-weight:400;font-size:14px;color:#999999;"> 发货时&nbsp; &nbsp; </span><span style="font-family:'FontAwesome', sans-serif;font-weight:400;color:#999999;"></span><span style="font-family:'微软雅黑', sans-serif;font-weight:400;font-size:14px;color:#999999;"> 付款时&nbsp; &nbsp; </span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u14558" class="ax_default _默认样式">
        <div id="u14558_div" class=""></div>
        <div id="u14558_text" class="text ">
          <p><span>客户要求开发票时可以选择的内容。例如：办公用品。每一行代表一个选项。</span></p>
        </div>
      </div>

      <!-- Unnamed (Right Arrow Button) -->
      <div id="u14559" class="ax_default _默认样式">
        <img id="u14559_img" class="img " src="images/选择商品分类/u973.svg"/>
        <div id="u14559_text" class="text ">
          <p><span style="font-family:'FontAwesome', sans-serif;font-weight:400;"></span><span style="font-family:&quot;微软雅黑&quot;, sans-serif;font-weight:400;">&nbsp; 备注设置</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u14560" class="ax_default _默认样式">
        <img id="u14560_img" class="img " src="images/基本设置/u14529.svg"/>
        <div id="u14560_text" class="text ">
          <p><span>修改订单“发票信息”时：</span></p>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u14561" class="ax_default" data-left="400" data-top="1216" data-width="336" data-height="40" layer-opacity="1">

        <!-- Unnamed (Rectangle) -->
        <div id="u14562" class="ax_default _默认样式">
          <img id="u14562_img" class="img " src="images/基本设置/u14562.svg"/>
          <div id="u14562_text" class="text ">
            <p style="font-size:16px;"><span style="font-family:'FontAwesome', sans-serif;font-weight:400;color:#1ABC9C;"></span><span style="font-family:'微软雅黑', sans-serif;font-weight:400;font-size:14px;color:#999999;"> 必须填写备注&nbsp; &nbsp; </span><span style="font-family:'FontAwesome', sans-serif;font-weight:400;color:#999999;"></span><span style="font-family:'微软雅黑', sans-serif;font-weight:400;font-size:14px;color:#999999;"> 无需填写备注&nbsp; &nbsp;&nbsp; </span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u14563" class="ax_default _默认样式">
        <img id="u14563_img" class="img " src="images/基本设置/u14529.svg"/>
        <div id="u14563_text" class="text ">
          <p><span>修改订单“收货人信息”时：</span></p>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u14564" class="ax_default" data-left="400" data-top="1266" data-width="336" data-height="40" layer-opacity="1">

        <!-- Unnamed (Rectangle) -->
        <div id="u14565" class="ax_default _默认样式">
          <img id="u14565_img" class="img " src="images/基本设置/u14562.svg"/>
          <div id="u14565_text" class="text ">
            <p style="font-size:16px;"><span style="font-family:'FontAwesome', sans-serif;font-weight:400;color:#1ABC9C;"></span><span style="font-family:'微软雅黑', sans-serif;font-weight:400;font-size:14px;color:#999999;"> 必须填写备注&nbsp; &nbsp; </span><span style="font-family:'FontAwesome', sans-serif;font-weight:400;color:#999999;"></span><span style="font-family:'微软雅黑', sans-serif;font-weight:400;font-size:14px;color:#999999;"> 无需填写备注&nbsp; &nbsp;&nbsp; </span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u14566" class="ax_default _默认样式">
        <img id="u14566_img" class="img " src="images/基本设置/u14529.svg"/>
        <div id="u14566_text" class="text ">
          <p><span>修改订单“商品信息”时：</span></p>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u14567" class="ax_default" data-left="400" data-top="1317" data-width="336" data-height="40" layer-opacity="1">

        <!-- Unnamed (Rectangle) -->
        <div id="u14568" class="ax_default _默认样式">
          <img id="u14568_img" class="img " src="images/基本设置/u14562.svg"/>
          <div id="u14568_text" class="text ">
            <p style="font-size:16px;"><span style="font-family:'FontAwesome', sans-serif;font-weight:400;color:#1ABC9C;"></span><span style="font-family:'微软雅黑', sans-serif;font-weight:400;font-size:14px;color:#999999;"> 必须填写备注&nbsp; &nbsp; </span><span style="font-family:'FontAwesome', sans-serif;font-weight:400;color:#999999;"></span><span style="font-family:'微软雅黑', sans-serif;font-weight:400;font-size:14px;color:#999999;"> 无需填写备注&nbsp; &nbsp;&nbsp; </span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u14569" class="ax_default _默认样式">
        <img id="u14569_img" class="img " src="images/基本设置/u14529.svg"/>
        <div id="u14569_text" class="text ">
          <p><span>修改订单“费用信息”时：</span></p>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u14570" class="ax_default" data-left="400" data-top="1367" data-width="336" data-height="40" layer-opacity="1">

        <!-- Unnamed (Rectangle) -->
        <div id="u14571" class="ax_default _默认样式">
          <img id="u14571_img" class="img " src="images/基本设置/u14562.svg"/>
          <div id="u14571_text" class="text ">
            <p style="font-size:16px;"><span style="font-family:'FontAwesome', sans-serif;font-weight:400;color:#1ABC9C;"></span><span style="font-family:'微软雅黑', sans-serif;font-weight:400;font-size:14px;color:#999999;"> 必须填写备注&nbsp; &nbsp; </span><span style="font-family:'FontAwesome', sans-serif;font-weight:400;color:#999999;"></span><span style="font-family:'微软雅黑', sans-serif;font-weight:400;font-size:14px;color:#999999;"> 无需填写备注&nbsp; &nbsp;&nbsp; </span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u14572" class="ax_default _默认样式">
        <img id="u14572_img" class="img " src="images/基本设置/u14529.svg"/>
        <div id="u14572_text" class="text ">
          <p><span>关闭订单时：</span></p>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u14573" class="ax_default" data-left="400" data-top="1418" data-width="336" data-height="40" layer-opacity="1">

        <!-- Unnamed (Rectangle) -->
        <div id="u14574" class="ax_default _默认样式">
          <img id="u14574_img" class="img " src="images/基本设置/u14562.svg"/>
          <div id="u14574_text" class="text ">
            <p style="font-size:16px;"><span style="font-family:'FontAwesome', sans-serif;font-weight:400;color:#1ABC9C;"></span><span style="font-family:'微软雅黑', sans-serif;font-weight:400;font-size:14px;color:#999999;"> 必须填写备注&nbsp; &nbsp; </span><span style="font-family:'FontAwesome', sans-serif;font-weight:400;color:#999999;"></span><span style="font-family:'微软雅黑', sans-serif;font-weight:400;font-size:14px;color:#999999;"> 无需填写备注&nbsp; &nbsp;&nbsp; </span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u14575" class="ax_default _默认样式">
        <img id="u14575_img" class="img " src="images/基本设置/u14529.svg"/>
        <div id="u14575_text" class="text ">
          <p><span>取消订单时：</span></p>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u14576" class="ax_default" data-left="400" data-top="1468" data-width="336" data-height="40" layer-opacity="1">

        <!-- Unnamed (Rectangle) -->
        <div id="u14577" class="ax_default _默认样式">
          <img id="u14577_img" class="img " src="images/基本设置/u14562.svg"/>
          <div id="u14577_text" class="text ">
            <p style="font-size:16px;"><span style="font-family:'FontAwesome', sans-serif;font-weight:400;color:#1ABC9C;"></span><span style="font-family:'微软雅黑', sans-serif;font-weight:400;font-size:14px;color:#999999;"> 必须填写备注&nbsp; &nbsp; </span><span style="font-family:'FontAwesome', sans-serif;font-weight:400;color:#999999;"></span><span style="font-family:'微软雅黑', sans-serif;font-weight:400;font-size:14px;color:#999999;"> 无需填写备注&nbsp; &nbsp;&nbsp; </span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u14578" class="ax_default _默认样式">
        <img id="u14578_img" class="img " src="images/基本设置/u14529.svg"/>
        <div id="u14578_text" class="text ">
          <p><span>退货处理时：</span></p>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u14579" class="ax_default" data-left="400" data-top="1519" data-width="336" data-height="40" layer-opacity="1">

        <!-- Unnamed (Rectangle) -->
        <div id="u14580" class="ax_default _默认样式">
          <img id="u14580_img" class="img " src="images/基本设置/u14562.svg"/>
          <div id="u14580_text" class="text ">
            <p style="font-size:16px;"><span style="font-family:'FontAwesome', sans-serif;font-weight:400;color:#1ABC9C;"></span><span style="font-family:'微软雅黑', sans-serif;font-weight:400;font-size:14px;color:#999999;"> 必须填写备注&nbsp; &nbsp; </span><span style="font-family:'FontAwesome', sans-serif;font-weight:400;color:#999999;"></span><span style="font-family:'微软雅黑', sans-serif;font-weight:400;font-size:14px;color:#999999;"> 无需填写备注&nbsp; &nbsp;&nbsp; </span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u14581" class="ax_default _默认样式">
        <img id="u14581_img" class="img " src="images/基本设置/u14529.svg"/>
        <div id="u14581_text" class="text ">
          <p><span>退货确认收货时：</span></p>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u14582" class="ax_default" data-left="400" data-top="1569" data-width="336" data-height="40" layer-opacity="1">

        <!-- Unnamed (Rectangle) -->
        <div id="u14583" class="ax_default _默认样式">
          <img id="u14583_img" class="img " src="images/基本设置/u14562.svg"/>
          <div id="u14583_text" class="text ">
            <p style="font-size:16px;"><span style="font-family:'FontAwesome', sans-serif;font-weight:400;color:#1ABC9C;"></span><span style="font-family:'微软雅黑', sans-serif;font-weight:400;font-size:14px;color:#999999;"> 必须填写备注&nbsp; &nbsp; </span><span style="font-family:'FontAwesome', sans-serif;font-weight:400;color:#999999;"></span><span style="font-family:'微软雅黑', sans-serif;font-weight:400;font-size:14px;color:#999999;"> 无需填写备注&nbsp; &nbsp;&nbsp; </span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u14584" class="ax_default _默认样式">
        <img id="u14584_img" class="img " src="images/基本设置/u14529.svg"/>
        <div id="u14584_text" class="text ">
          <p><span>退款处理时：</span></p>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u14585" class="ax_default" data-left="400" data-top="1620" data-width="336" data-height="40" layer-opacity="1">

        <!-- Unnamed (Rectangle) -->
        <div id="u14586" class="ax_default _默认样式">
          <img id="u14586_img" class="img " src="images/基本设置/u14562.svg"/>
          <div id="u14586_text" class="text ">
            <p style="font-size:16px;"><span style="font-family:'FontAwesome', sans-serif;font-weight:400;color:#1ABC9C;"></span><span style="font-family:'微软雅黑', sans-serif;font-weight:400;font-size:14px;color:#999999;"> 必须填写备注&nbsp; &nbsp; </span><span style="font-family:'FontAwesome', sans-serif;font-weight:400;color:#999999;"></span><span style="font-family:'微软雅黑', sans-serif;font-weight:400;font-size:14px;color:#999999;"> 无需填写备注&nbsp; &nbsp;&nbsp; </span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u14587" class="ax_default _默认样式">
        <img id="u14587_img" class="img " src="images/基本设置/u14529.svg"/>
        <div id="u14587_text" class="text ">
          <p><span>修改优币或成长值时：</span></p>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u14588" class="ax_default" data-left="400" data-top="1670" data-width="336" data-height="40" layer-opacity="1">

        <!-- Unnamed (Rectangle) -->
        <div id="u14589" class="ax_default _默认样式">
          <img id="u14589_img" class="img " src="images/基本设置/u14562.svg"/>
          <div id="u14589_text" class="text ">
            <p style="font-size:16px;"><span style="font-family:'FontAwesome', sans-serif;font-weight:400;color:#1ABC9C;"></span><span style="font-family:'微软雅黑', sans-serif;font-weight:400;font-size:14px;color:#999999;"> 必须填写备注&nbsp; &nbsp; </span><span style="font-family:'FontAwesome', sans-serif;font-weight:400;color:#999999;"></span><span style="font-family:'微软雅黑', sans-serif;font-weight:400;font-size:14px;color:#999999;"> 无需填写备注&nbsp; &nbsp;&nbsp; </span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (富文本编辑器) -->

      <!-- Unnamed (Rectangle) -->
      <div id="u14591" class="ax_default _默认样式">
        <div id="u14591_div" class=""></div>
        <div id="u14591_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u14592" class="ax_default _默认样式">
        <div id="u14592_div" class=""></div>
        <div id="u14592_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Image) -->
      <div id="u14593" class="ax_default image">
        <img id="u14593_img" class="img " src="images/填写商品属性/u1321.png"/>
        <div id="u14593_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Repeater) -->
      <div id="u14594" class="ax_default">
        <script id="u14594_script" type="axure-repeater-template">

          <!-- Unnamed (Rectangle) -->
          <div id="u14595" class="ax_default _默认样式 u14595">
            <div id="u14595_div" class="u14595_div"></div>
            <div id="u14595_text" class="text u14595_text" style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>
        </script>
        <div id="u14594-1" class="preeval" style="width: 34px; height: 34px;">

          <!-- Unnamed (Rectangle) -->
          <div id="u14595-1" class="ax_default _默认样式 u14595" style="width: 34px; height: 34px; left: 0px; top: 0px;visibility: inherit">
            <div id="u14595-1_div" class="u14595_div" style="width: 34px; height: 34px;visibility: inherit"></div>
            <div id="u14595-1_text" class="text u14595_text" style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>
        </div>
        <div id="u14594-2" class="preeval" style="width: 34px; height: 34px;">

          <!-- Unnamed (Rectangle) -->
          <div id="u14595-2" class="ax_default _默认样式 u14595" style="width: 34px; height: 34px; left: 0px; top: 0px;visibility: inherit">
            <div id="u14595-2_div" class="u14595_div" style="width: 34px; height: 34px;visibility: inherit"></div>
            <div id="u14595-2_text" class="text u14595_text" style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>
        </div>
        <div id="u14594-3" class="preeval" style="width: 34px; height: 34px;">

          <!-- Unnamed (Rectangle) -->
          <div id="u14595-3" class="ax_default _默认样式 u14595" style="width: 34px; height: 34px; left: 0px; top: 0px;visibility: inherit">
            <div id="u14595-3_div" class="u14595_div" style="width: 34px; height: 34px;visibility: inherit"></div>
            <div id="u14595-3_text" class="text u14595_text" style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>
        </div>
        <div id="u14594-4" class="preeval" style="width: 34px; height: 34px;">

          <!-- Unnamed (Rectangle) -->
          <div id="u14595-4" class="ax_default _默认样式 u14595" style="width: 34px; height: 34px; left: 0px; top: 0px;visibility: inherit">
            <div id="u14595-4_div" class="u14595_div" style="width: 34px; height: 34px;visibility: inherit"></div>
            <div id="u14595-4_text" class="text u14595_text" style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>
        </div>
        <div id="u14594-5" class="preeval" style="width: 34px; height: 34px;">

          <!-- Unnamed (Rectangle) -->
          <div id="u14595-5" class="ax_default _默认样式 u14595" style="width: 34px; height: 34px; left: 0px; top: 0px;visibility: inherit">
            <div id="u14595-5_div" class="u14595_div" style="width: 34px; height: 34px;visibility: inherit"></div>
            <div id="u14595-5_text" class="text u14595_text" style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>
        </div>
        <div id="u14594-6" class="preeval" style="width: 34px; height: 34px;">

          <!-- Unnamed (Rectangle) -->
          <div id="u14595-6" class="ax_default _默认样式 u14595" style="width: 34px; height: 34px; left: 0px; top: 0px;visibility: inherit">
            <div id="u14595-6_div" class="u14595_div" style="width: 34px; height: 34px;visibility: inherit"></div>
            <div id="u14595-6_text" class="text u14595_text" style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>
        </div>
        <div id="u14594-7" class="preeval" style="width: 34px; height: 34px;">

          <!-- Unnamed (Rectangle) -->
          <div id="u14595-7" class="ax_default _默认样式 u14595" style="width: 34px; height: 34px; left: 0px; top: 0px;visibility: inherit">
            <div id="u14595-7_div" class="u14595_div" style="width: 34px; height: 34px;visibility: inherit"></div>
            <div id="u14595-7_text" class="text u14595_text" style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>
        </div>
        <div id="u14594-8" class="preeval" style="width: 34px; height: 34px;">

          <!-- Unnamed (Rectangle) -->
          <div id="u14595-8" class="ax_default _默认样式 u14595" style="width: 34px; height: 34px; left: 0px; top: 0px;visibility: inherit">
            <div id="u14595-8_div" class="u14595_div" style="width: 34px; height: 34px;visibility: inherit"></div>
            <div id="u14595-8_text" class="text u14595_text" style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>
        </div>
        <div id="u14594-9" class="preeval" style="width: 34px; height: 34px;">

          <!-- Unnamed (Rectangle) -->
          <div id="u14595-9" class="ax_default _默认样式 u14595" style="width: 34px; height: 34px; left: 0px; top: 0px;visibility: inherit">
            <div id="u14595-9_div" class="u14595_div" style="width: 34px; height: 34px;visibility: inherit"></div>
            <div id="u14595-9_text" class="text u14595_text" style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>
        </div>
        <div id="u14594-10" class="preeval" style="width: 34px; height: 34px;">

          <!-- Unnamed (Rectangle) -->
          <div id="u14595-10" class="ax_default _默认样式 u14595" style="width: 34px; height: 34px; left: 0px; top: 0px;visibility: inherit">
            <div id="u14595-10_div" class="u14595_div" style="width: 34px; height: 34px;visibility: inherit"></div>
            <div id="u14595-10_text" class="text u14595_text" style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>
        </div>
        <div id="u14594-11" class="preeval" style="width: 34px; height: 34px;">

          <!-- Unnamed (Rectangle) -->
          <div id="u14595-11" class="ax_default _默认样式 u14595" style="width: 34px; height: 34px; left: 0px; top: 0px;visibility: inherit">
            <div id="u14595-11_div" class="u14595_div" style="width: 34px; height: 34px;visibility: inherit"></div>
            <div id="u14595-11_text" class="text u14595_text" style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>
        </div>
        <div id="u14594-12" class="preeval" style="width: 34px; height: 34px;">

          <!-- Unnamed (Rectangle) -->
          <div id="u14595-12" class="ax_default _默认样式 u14595" style="width: 34px; height: 34px; left: 0px; top: 0px;visibility: inherit">
            <div id="u14595-12_div" class="u14595_div" style="width: 34px; height: 34px;visibility: inherit"></div>
            <div id="u14595-12_text" class="text u14595_text" style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>
        </div>
        <div id="u14594-13" class="preeval" style="width: 34px; height: 34px;">

          <!-- Unnamed (Rectangle) -->
          <div id="u14595-13" class="ax_default _默认样式 u14595" style="width: 34px; height: 34px; left: 0px; top: 0px;visibility: inherit">
            <div id="u14595-13_div" class="u14595_div" style="width: 34px; height: 34px;visibility: inherit"></div>
            <div id="u14595-13_text" class="text u14595_text" style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>
        </div>
        <div id="u14594-14" class="preeval" style="width: 34px; height: 34px;">

          <!-- Unnamed (Rectangle) -->
          <div id="u14595-14" class="ax_default _默认样式 u14595" style="width: 34px; height: 34px; left: 0px; top: 0px;visibility: inherit">
            <div id="u14595-14_div" class="u14595_div" style="width: 34px; height: 34px;visibility: inherit"></div>
            <div id="u14595-14_text" class="text u14595_text" style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>
        </div>
        <div id="u14594-15" class="preeval" style="width: 34px; height: 34px;">

          <!-- Unnamed (Rectangle) -->
          <div id="u14595-15" class="ax_default _默认样式 u14595" style="width: 34px; height: 34px; left: 0px; top: 0px;visibility: inherit">
            <div id="u14595-15_div" class="u14595_div" style="width: 34px; height: 34px;visibility: inherit"></div>
            <div id="u14595-15_text" class="text u14595_text" style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>
        </div>
        <div id="u14594-16" class="preeval" style="width: 34px; height: 34px;">

          <!-- Unnamed (Rectangle) -->
          <div id="u14595-16" class="ax_default _默认样式 u14595" style="width: 34px; height: 34px; left: 0px; top: 0px;visibility: inherit">
            <div id="u14595-16_div" class="u14595_div" style="width: 34px; height: 34px;visibility: inherit"></div>
            <div id="u14595-16_text" class="text u14595_text" style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>
        </div>
        <div id="u14594-17" class="preeval" style="width: 34px; height: 34px;">

          <!-- Unnamed (Rectangle) -->
          <div id="u14595-17" class="ax_default _默认样式 u14595" style="width: 34px; height: 34px; left: 0px; top: 0px;visibility: inherit">
            <div id="u14595-17_div" class="u14595_div" style="width: 34px; height: 34px;visibility: inherit"></div>
            <div id="u14595-17_text" class="text u14595_text" style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>
        </div>
        <div id="u14594-18" class="preeval" style="width: 34px; height: 34px;">

          <!-- Unnamed (Rectangle) -->
          <div id="u14595-18" class="ax_default _默认样式 u14595" style="width: 34px; height: 34px; left: 0px; top: 0px;visibility: inherit">
            <div id="u14595-18_div" class="u14595_div" style="width: 34px; height: 34px;visibility: inherit"></div>
            <div id="u14595-18_text" class="text u14595_text" style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>
        </div>
      </div>
      <div id="u14590" style="display:none; visibility:hidden;"></div>

      <!-- Unnamed (Right Arrow Button) -->
      <div id="u14596" class="ax_default _默认样式">
        <img id="u14596_img" class="img " src="images/选择商品分类/u973.svg"/>
        <div id="u14596_text" class="text ">
          <p><span style="font-family:'FontAwesome', sans-serif;font-weight:400;"></span><span style="font-family:&quot;微软雅黑&quot;, sans-serif;font-weight:400;">&nbsp; 用户协议</span></p>
        </div>
      </div>
    </div>
    <script src="resources/scripts/axure/ios.js"></script>
  </body>
</html>
