<!DOCTYPE html>
<html>
  <head>
    <title>对账单详情-已对账</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link href="resources/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="data/styles.css" type="text/css" rel="stylesheet"/>
    <link href="files/对账单详情-已对账/styles.css" type="text/css" rel="stylesheet"/>
    <link href="http://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.css" type="text/css" rel="stylesheet"/>
    <script src="resources/scripts/jquery-3.7.1.min.js"></script>
    <script src="resources/scripts/axure/axQuery.js"></script>
    <script src="resources/scripts/axure/globals.js"></script>
    <script src="resources/scripts/axutils.js"></script>
    <script src="resources/scripts/axure/annotation.js"></script>
    <script src="resources/scripts/axure/axQuery.std.js"></script>
    <script src="resources/scripts/axure/doc.js"></script>
    <script src="resources/scripts/messagecenter.js"></script>
    <script src="resources/scripts/axure/events.js"></script>
    <script src="resources/scripts/axure/recording.js"></script>
    <script src="resources/scripts/axure/action.js"></script>
    <script src="resources/scripts/axure/expr.js"></script>
    <script src="resources/scripts/axure/geometry.js"></script>
    <script src="resources/scripts/axure/flyout.js"></script>
    <script src="resources/scripts/axure/model.js"></script>
    <script src="resources/scripts/axure/repeater.js"></script>
    <script src="resources/scripts/axure/sto.js"></script>
    <script src="resources/scripts/axure/utils.temp.js"></script>
    <script src="resources/scripts/axure/variables.js"></script>
    <script src="resources/scripts/axure/drag.js"></script>
    <script src="resources/scripts/axure/move.js"></script>
    <script src="resources/scripts/axure/visibility.js"></script>
    <script src="resources/scripts/axure/style.js"></script>
    <script src="resources/scripts/axure/adaptive.js"></script>
    <script src="resources/scripts/axure/tree.js"></script>
    <script src="resources/scripts/axure/init.temp.js"></script>
    <script src="resources/scripts/axure/legacy.js"></script>
    <script src="resources/scripts/axure/viewer.js"></script>
    <script src="resources/scripts/axure/math.js"></script>
    <script src="resources/scripts/axure/jquery.nicescroll.min.js"></script>
    <script src="data/document.js"></script>
    <script src="files/对账单详情-已对账/data.js"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
  </head>
  <body>
    <div id="base" class="">

      <!-- Unnamed (Group) -->
      <div id="u14376" class="ax_default" data-left="0" data-top="0" data-width="0" data-height="0" layer-opacity="1">
      </div>

      <!-- Unnamed (标题通栏) -->

      <!-- 灰色背景 (Dynamic Panel) -->
      <div id="u14378" class="ax_default" data-label="灰色背景">
        <div id="u14378_state0" class="panel_state" data-label="State1" style="">
          <div id="u14378_state0_content" class="panel_state_content">
          </div>
        </div>
      </div>

      <!-- 线条 (Dynamic Panel) -->
      <div id="u14379" class="ax_default" data-label="线条">
        <div id="u14379_state0" class="panel_state" data-label="State1" style="">
          <div id="u14379_state0_content" class="panel_state_content">
          </div>
        </div>
      </div>

      <!-- 页面标题 (Rectangle) -->
      <div id="u14380" class="ax_default _默认样式" data-label="页面标题">
        <div id="u14380_div" class=""></div>
        <div id="u14380_text" class="text ">
          <p><span>页面标题</span></p>
        </div>
      </div>
      <div id="u14377" style="display:none; visibility:hidden;"></div>

      <!-- Unnamed (返回) -->

      <!-- Unnamed (Rectangle) -->
      <div id="u14382" class="ax_default _默认样式">
        <div id="u14382_div" class=""></div>
        <div id="u14382_text" class="text ">
          <p><span>返回</span></p>
        </div>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u14383" class="ax_default _默认样式">
        <img id="u14383_img" class="img " src="images/逐个编辑/u1787.svg"/>
        <div id="u14383_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>
      <div id="u14381" style="display:none; visibility:hidden;"></div>

      <!-- Unnamed (Rectangle) -->
      <div id="u14384" class="ax_default _默认样式">
        <div id="u14384_div" class=""></div>
        <div id="u14384_text" class="text ">
          <p><span>对账单信息</span></p>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u14385" class="ax_default" data-left="0" data-top="119" data-width="1100" data-height="607" layer-opacity="1">

        <!-- Unnamed (Rectangle) -->
        <div id="u14386" class="ax_default _默认样式">
          <div id="u14386_div" class=""></div>
          <div id="u14386_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Table) -->
      <div id="u14387" class="ax_default _表格">

        <!-- Unnamed (Table Cell) -->
        <div id="u14388" class="ax_default _默认样式">
          <img id="u14388_img" class="img " src="images/修改商品信息/u4955.png"/>
          <div id="u14388_text" class="text ">
            <p><span>订单编号</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u14389" class="ax_default _默认样式">
          <img id="u14389_img" class="img " src="images/修改商品信息/u4956.png"/>
          <div id="u14389_text" class="text ">
            <p><span>201707196398345</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u14390" class="ax_default _默认样式">
          <img id="u14390_img" class="img " src="images/修改商品信息/u4955.png"/>
          <div id="u14390_text" class="text ">
            <p><span>订单金额</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u14391" class="ax_default _默认样式">
          <img id="u14391_img" class="img " src="images/修改商品信息/u4956.png"/>
          <div id="u14391_text" class="text ">
            <p><span>¥200.00</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u14392" class="ax_default _默认样式">
          <img id="u14392_img" class="img " src="images/修改商品信息/u4955.png"/>
          <div id="u14392_text" class="text ">
            <p><span>支付方式</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u14393" class="ax_default _默认样式">
          <img id="u14393_img" class="img " src="images/修改商品信息/u4956.png"/>
          <div id="u14393_text" class="text ">
            <p><span>支付宝</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u14394" class="ax_default _默认样式">
          <img id="u14394_img" class="img " src="images/修改商品信息/u4955.png"/>
          <div id="u14394_text" class="text ">
            <p><span>支付时间</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u14395" class="ax_default _默认样式">
          <img id="u14395_img" class="img " src="images/修改商品信息/u4956.png"/>
          <div id="u14395_text" class="text ">
            <p><span>2017-07-19 14:48:38 </span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u14396" class="ax_default _默认样式">
          <img id="u14396_img" class="img " src="images/修改商品信息/u4973.png"/>
          <div id="u14396_text" class="text ">
            <p><span>订单状态</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u14397" class="ax_default _默认样式">
          <img id="u14397_img" class="img " src="images/修改商品信息/u4974.png"/>
          <div id="u14397_text" class="text ">
            <p><span>已完成</span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (底部版权) -->

      <!-- Unnamed (Rectangle) -->
      <div id="u14399" class="ax_default _默认样式">
        <img id="u14399_img" class="img " src="images/登录界面/u23.svg"/>
        <div id="u14399_text" class="text ">
          <p><span>Copyright © www.xiangtianchi.com, All Rights Reserved.</span></p><p><span>Email : 840251972@qq.com&nbsp; QQ:&nbsp; 840251972</span></p>
        </div>
      </div>
      <div id="u14398" style="display:none; visibility:hidden;"></div>

      <!-- Unnamed (Table) -->
      <div id="u14400" class="ax_default _表格">

        <!-- Unnamed (Table Cell) -->
        <div id="u14401" class="ax_default _默认样式">
          <img id="u14401_img" class="img " src="images/修改商品信息/u4955.png"/>
          <div id="u14401_text" class="text ">
            <p><span>对账状态</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u14402" class="ax_default _默认样式">
          <img id="u14402_img" class="img " src="images/修改商品信息/u4956.png"/>
          <div id="u14402_text" class="text ">
            <p><span>已对账</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u14403" class="ax_default _默认样式">
          <img id="u14403_img" class="img " src="images/修改商品信息/u4955.png"/>
          <div id="u14403_text" class="text ">
            <p><span>对账人员</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u14404" class="ax_default _默认样式">
          <img id="u14404_img" class="img " src="images/修改商品信息/u4956.png"/>
          <div id="u14404_text" class="text ">
            <p><span>admin</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u14405" class="ax_default _默认样式">
          <img id="u14405_img" class="img " src="images/修改商品信息/u4973.png"/>
          <div id="u14405_text" class="text ">
            <p><span>对账时间</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u14406" class="ax_default _默认样式">
          <img id="u14406_img" class="img " src="images/修改商品信息/u4974.png"/>
          <div id="u14406_text" class="text ">
            <p><span>2017-07-19 14:48:38 </span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u14407" class="ax_default _默认样式">
        <img id="u14407_img" class="img " src="images/统一编辑/u1852.svg"/>
        <div id="u14407_text" class="text ">
          <p><span style="font-family:'FontAwesome', sans-serif;"></span><span style="font-family:'微软雅黑', sans-serif;"> 订单信息</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u14408" class="ax_default _默认样式">
        <img id="u14408_img" class="img " src="images/统一编辑/u1852.svg"/>
        <div id="u14408_text" class="text ">
          <p><span style="font-family:'FontAwesome', sans-serif;"></span><span style="font-family:'微软雅黑', sans-serif;"> 对账信息</span></p>
        </div>
      </div>
    </div>
    <script src="resources/scripts/axure/ios.js"></script>
  </body>
</html>
