<!DOCTYPE html>
<html>
  <head>
    <title>对账单详情-已冲正</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link href="resources/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="data/styles.css" type="text/css" rel="stylesheet"/>
    <link href="files/对账单详情-已冲正/styles.css" type="text/css" rel="stylesheet"/>
    <link href="http://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.css" type="text/css" rel="stylesheet"/>
    <script src="resources/scripts/jquery-3.7.1.min.js"></script>
    <script src="resources/scripts/axure/axQuery.js"></script>
    <script src="resources/scripts/axure/globals.js"></script>
    <script src="resources/scripts/axutils.js"></script>
    <script src="resources/scripts/axure/annotation.js"></script>
    <script src="resources/scripts/axure/axQuery.std.js"></script>
    <script src="resources/scripts/axure/doc.js"></script>
    <script src="resources/scripts/messagecenter.js"></script>
    <script src="resources/scripts/axure/events.js"></script>
    <script src="resources/scripts/axure/recording.js"></script>
    <script src="resources/scripts/axure/action.js"></script>
    <script src="resources/scripts/axure/expr.js"></script>
    <script src="resources/scripts/axure/geometry.js"></script>
    <script src="resources/scripts/axure/flyout.js"></script>
    <script src="resources/scripts/axure/model.js"></script>
    <script src="resources/scripts/axure/repeater.js"></script>
    <script src="resources/scripts/axure/sto.js"></script>
    <script src="resources/scripts/axure/utils.temp.js"></script>
    <script src="resources/scripts/axure/variables.js"></script>
    <script src="resources/scripts/axure/drag.js"></script>
    <script src="resources/scripts/axure/move.js"></script>
    <script src="resources/scripts/axure/visibility.js"></script>
    <script src="resources/scripts/axure/style.js"></script>
    <script src="resources/scripts/axure/adaptive.js"></script>
    <script src="resources/scripts/axure/tree.js"></script>
    <script src="resources/scripts/axure/init.temp.js"></script>
    <script src="resources/scripts/axure/legacy.js"></script>
    <script src="resources/scripts/axure/viewer.js"></script>
    <script src="resources/scripts/axure/math.js"></script>
    <script src="resources/scripts/axure/jquery.nicescroll.min.js"></script>
    <script src="data/document.js"></script>
    <script src="files/对账单详情-已冲正/data.js"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
  </head>
  <body>
    <div id="base" class="">

      <!-- Unnamed (Group) -->
      <div id="u14442" class="ax_default" data-left="0" data-top="0" data-width="0" data-height="0" layer-opacity="1">
      </div>

      <!-- Unnamed (标题通栏) -->

      <!-- 灰色背景 (Dynamic Panel) -->
      <div id="u14444" class="ax_default" data-label="灰色背景">
        <div id="u14444_state0" class="panel_state" data-label="State1" style="">
          <div id="u14444_state0_content" class="panel_state_content">
          </div>
        </div>
      </div>

      <!-- 线条 (Dynamic Panel) -->
      <div id="u14445" class="ax_default" data-label="线条">
        <div id="u14445_state0" class="panel_state" data-label="State1" style="">
          <div id="u14445_state0_content" class="panel_state_content">
          </div>
        </div>
      </div>

      <!-- 页面标题 (Rectangle) -->
      <div id="u14446" class="ax_default _默认样式" data-label="页面标题">
        <div id="u14446_div" class=""></div>
        <div id="u14446_text" class="text ">
          <p><span>页面标题</span></p>
        </div>
      </div>
      <div id="u14443" style="display:none; visibility:hidden;"></div>

      <!-- Unnamed (返回) -->

      <!-- Unnamed (Rectangle) -->
      <div id="u14448" class="ax_default _默认样式">
        <div id="u14448_div" class=""></div>
        <div id="u14448_text" class="text ">
          <p><span>返回</span></p>
        </div>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u14449" class="ax_default _默认样式">
        <img id="u14449_img" class="img " src="images/逐个编辑/u1787.svg"/>
        <div id="u14449_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>
      <div id="u14447" style="display:none; visibility:hidden;"></div>

      <!-- Unnamed (Rectangle) -->
      <div id="u14450" class="ax_default _默认样式">
        <div id="u14450_div" class=""></div>
        <div id="u14450_text" class="text ">
          <p><span>对账单信息</span></p>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u14451" class="ax_default" data-left="0" data-top="119" data-width="1100" data-height="676" layer-opacity="1">

        <!-- Unnamed (Rectangle) -->
        <div id="u14452" class="ax_default _默认样式">
          <div id="u14452_div" class=""></div>
          <div id="u14452_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Table) -->
      <div id="u14453" class="ax_default _表格">

        <!-- Unnamed (Table Cell) -->
        <div id="u14454" class="ax_default _默认样式">
          <img id="u14454_img" class="img " src="images/修改商品信息/u4955.png"/>
          <div id="u14454_text" class="text ">
            <p><span>订单编号</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u14455" class="ax_default _默认样式">
          <img id="u14455_img" class="img " src="images/修改商品信息/u4956.png"/>
          <div id="u14455_text" class="text ">
            <p><span>201707196398345</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u14456" class="ax_default _默认样式">
          <img id="u14456_img" class="img " src="images/修改商品信息/u4955.png"/>
          <div id="u14456_text" class="text ">
            <p><span>订单金额</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u14457" class="ax_default _默认样式">
          <img id="u14457_img" class="img " src="images/修改商品信息/u4956.png"/>
          <div id="u14457_text" class="text ">
            <p><span>¥200.00</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u14458" class="ax_default _默认样式">
          <img id="u14458_img" class="img " src="images/修改商品信息/u4955.png"/>
          <div id="u14458_text" class="text ">
            <p><span>支付方式</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u14459" class="ax_default _默认样式">
          <img id="u14459_img" class="img " src="images/修改商品信息/u4956.png"/>
          <div id="u14459_text" class="text ">
            <p><span>支付宝</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u14460" class="ax_default _默认样式">
          <img id="u14460_img" class="img " src="images/修改商品信息/u4955.png"/>
          <div id="u14460_text" class="text ">
            <p><span>支付时间</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u14461" class="ax_default _默认样式">
          <img id="u14461_img" class="img " src="images/修改商品信息/u4956.png"/>
          <div id="u14461_text" class="text ">
            <p><span>2017-07-19 14:48:38 </span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u14462" class="ax_default _默认样式">
          <img id="u14462_img" class="img " src="images/修改商品信息/u4973.png"/>
          <div id="u14462_text" class="text ">
            <p><span>订单状态</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u14463" class="ax_default _默认样式">
          <img id="u14463_img" class="img " src="images/修改商品信息/u4974.png"/>
          <div id="u14463_text" class="text ">
            <p><span>已完成</span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (底部版权) -->

      <!-- Unnamed (Rectangle) -->
      <div id="u14465" class="ax_default _默认样式">
        <img id="u14465_img" class="img " src="images/登录界面/u23.svg"/>
        <div id="u14465_text" class="text ">
          <p><span>Copyright © www.xiangtianchi.com, All Rights Reserved.</span></p><p><span>Email : 840251972@qq.com&nbsp; QQ:&nbsp; 840251972</span></p>
        </div>
      </div>
      <div id="u14464" style="display:none; visibility:hidden;"></div>

      <!-- Unnamed (Table) -->
      <div id="u14466" class="ax_default _表格">

        <!-- Unnamed (Table Cell) -->
        <div id="u14467" class="ax_default _默认样式">
          <img id="u14467_img" class="img " src="images/修改商品信息/u4955.png"/>
          <div id="u14467_text" class="text ">
            <p><span>对账状态</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u14468" class="ax_default _默认样式">
          <img id="u14468_img" class="img " src="images/修改商品信息/u4956.png"/>
          <div id="u14468_text" class="text ">
            <p><span>已冲正</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u14469" class="ax_default _默认样式">
          <img id="u14469_img" class="img " src="images/修改商品信息/u4955.png"/>
          <div id="u14469_text" class="text ">
            <p><span>对账人员</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u14470" class="ax_default _默认样式">
          <img id="u14470_img" class="img " src="images/修改商品信息/u4956.png"/>
          <div id="u14470_text" class="text ">
            <p><span>admin</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u14471" class="ax_default _默认样式">
          <img id="u14471_img" class="img " src="images/修改商品信息/u4955.png"/>
          <div id="u14471_text" class="text ">
            <p><span>对账时间</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u14472" class="ax_default _默认样式">
          <img id="u14472_img" class="img " src="images/修改商品信息/u4956.png"/>
          <div id="u14472_text" class="text ">
            <p><span>2017-07-19 14:48:38 </span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u14473" class="ax_default _默认样式">
          <img id="u14473_img" class="img " src="images/修改商品信息/u4973.png"/>
          <div id="u14473_text" class="text ">
            <p><span>处理备注</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u14474" class="ax_default _默认样式">
          <img id="u14474_img" class="img " src="images/修改商品信息/u4974.png"/>
          <div id="u14474_text" class="text ">
            <p><span>无</span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u14475" class="ax_default _默认样式">
        <img id="u14475_img" class="img " src="images/统一编辑/u1852.svg"/>
        <div id="u14475_text" class="text ">
          <p><span style="font-family:'FontAwesome', sans-serif;"></span><span style="font-family:'微软雅黑', sans-serif;"> 订单信息</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u14476" class="ax_default _默认样式">
        <img id="u14476_img" class="img " src="images/统一编辑/u1852.svg"/>
        <div id="u14476_text" class="text ">
          <p><span style="font-family:'FontAwesome', sans-serif;"></span><span style="font-family:'微软雅黑', sans-serif;"> 对账信息</span></p>
        </div>
      </div>
    </div>
    <script src="resources/scripts/axure/ios.js"></script>
  </body>
</html>
