<!DOCTYPE html>
<html>
  <head>
    <title>对账单详情-异常</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link href="resources/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="data/styles.css" type="text/css" rel="stylesheet"/>
    <link href="files/对账单详情-异常/styles.css" type="text/css" rel="stylesheet"/>
    <link href="http://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.css" type="text/css" rel="stylesheet"/>
    <script src="resources/scripts/jquery-3.7.1.min.js"></script>
    <script src="resources/scripts/axure/axQuery.js"></script>
    <script src="resources/scripts/axure/globals.js"></script>
    <script src="resources/scripts/axutils.js"></script>
    <script src="resources/scripts/axure/annotation.js"></script>
    <script src="resources/scripts/axure/axQuery.std.js"></script>
    <script src="resources/scripts/axure/doc.js"></script>
    <script src="resources/scripts/messagecenter.js"></script>
    <script src="resources/scripts/axure/events.js"></script>
    <script src="resources/scripts/axure/recording.js"></script>
    <script src="resources/scripts/axure/action.js"></script>
    <script src="resources/scripts/axure/expr.js"></script>
    <script src="resources/scripts/axure/geometry.js"></script>
    <script src="resources/scripts/axure/flyout.js"></script>
    <script src="resources/scripts/axure/model.js"></script>
    <script src="resources/scripts/axure/repeater.js"></script>
    <script src="resources/scripts/axure/sto.js"></script>
    <script src="resources/scripts/axure/utils.temp.js"></script>
    <script src="resources/scripts/axure/variables.js"></script>
    <script src="resources/scripts/axure/drag.js"></script>
    <script src="resources/scripts/axure/move.js"></script>
    <script src="resources/scripts/axure/visibility.js"></script>
    <script src="resources/scripts/axure/style.js"></script>
    <script src="resources/scripts/axure/adaptive.js"></script>
    <script src="resources/scripts/axure/tree.js"></script>
    <script src="resources/scripts/axure/init.temp.js"></script>
    <script src="resources/scripts/axure/legacy.js"></script>
    <script src="resources/scripts/axure/viewer.js"></script>
    <script src="resources/scripts/axure/math.js"></script>
    <script src="resources/scripts/axure/jquery.nicescroll.min.js"></script>
    <script src="data/document.js"></script>
    <script src="files/对账单详情-异常/data.js"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
  </head>
  <body>
    <div id="base" class="">

      <!-- Unnamed (Group) -->
      <div id="u14409" class="ax_default" data-left="0" data-top="0" data-width="0" data-height="0" layer-opacity="1">
      </div>

      <!-- Unnamed (标题通栏) -->

      <!-- 灰色背景 (Dynamic Panel) -->
      <div id="u14411" class="ax_default" data-label="灰色背景">
        <div id="u14411_state0" class="panel_state" data-label="State1" style="">
          <div id="u14411_state0_content" class="panel_state_content">
          </div>
        </div>
      </div>

      <!-- 线条 (Dynamic Panel) -->
      <div id="u14412" class="ax_default" data-label="线条">
        <div id="u14412_state0" class="panel_state" data-label="State1" style="">
          <div id="u14412_state0_content" class="panel_state_content">
          </div>
        </div>
      </div>

      <!-- 页面标题 (Rectangle) -->
      <div id="u14413" class="ax_default _默认样式" data-label="页面标题">
        <div id="u14413_div" class=""></div>
        <div id="u14413_text" class="text ">
          <p><span>页面标题</span></p>
        </div>
      </div>
      <div id="u14410" style="display:none; visibility:hidden;"></div>

      <!-- Unnamed (返回) -->

      <!-- Unnamed (Rectangle) -->
      <div id="u14415" class="ax_default _默认样式">
        <div id="u14415_div" class=""></div>
        <div id="u14415_text" class="text ">
          <p><span>返回</span></p>
        </div>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u14416" class="ax_default _默认样式">
        <img id="u14416_img" class="img " src="images/逐个编辑/u1787.svg"/>
        <div id="u14416_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>
      <div id="u14414" style="display:none; visibility:hidden;"></div>

      <!-- Unnamed (Rectangle) -->
      <div id="u14417" class="ax_default _默认样式">
        <div id="u14417_div" class=""></div>
        <div id="u14417_text" class="text ">
          <p><span>对账单信息</span></p>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u14418" class="ax_default" data-left="0" data-top="119" data-width="1100" data-height="628" layer-opacity="1">

        <!-- Unnamed (Rectangle) -->
        <div id="u14419" class="ax_default _默认样式">
          <div id="u14419_div" class=""></div>
          <div id="u14419_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Table) -->
      <div id="u14420" class="ax_default _表格">

        <!-- Unnamed (Table Cell) -->
        <div id="u14421" class="ax_default _默认样式">
          <img id="u14421_img" class="img " src="images/修改商品信息/u4955.png"/>
          <div id="u14421_text" class="text ">
            <p><span>订单编号</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u14422" class="ax_default _默认样式">
          <img id="u14422_img" class="img " src="images/修改商品信息/u4956.png"/>
          <div id="u14422_text" class="text ">
            <p><span>201707196398345</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u14423" class="ax_default _默认样式">
          <img id="u14423_img" class="img " src="images/修改商品信息/u4955.png"/>
          <div id="u14423_text" class="text ">
            <p><span>订单金额</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u14424" class="ax_default _默认样式">
          <img id="u14424_img" class="img " src="images/修改商品信息/u4956.png"/>
          <div id="u14424_text" class="text ">
            <p><span>¥200.00</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u14425" class="ax_default _默认样式">
          <img id="u14425_img" class="img " src="images/修改商品信息/u4955.png"/>
          <div id="u14425_text" class="text ">
            <p><span>支付方式</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u14426" class="ax_default _默认样式">
          <img id="u14426_img" class="img " src="images/修改商品信息/u4956.png"/>
          <div id="u14426_text" class="text ">
            <p><span>支付宝</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u14427" class="ax_default _默认样式">
          <img id="u14427_img" class="img " src="images/修改商品信息/u4955.png"/>
          <div id="u14427_text" class="text ">
            <p><span>支付时间</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u14428" class="ax_default _默认样式">
          <img id="u14428_img" class="img " src="images/修改商品信息/u4956.png"/>
          <div id="u14428_text" class="text ">
            <p><span>2017-07-19 14:48:38 </span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u14429" class="ax_default _默认样式">
          <img id="u14429_img" class="img " src="images/修改商品信息/u4973.png"/>
          <div id="u14429_text" class="text ">
            <p><span>订单状态</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u14430" class="ax_default _默认样式">
          <img id="u14430_img" class="img " src="images/修改商品信息/u4974.png"/>
          <div id="u14430_text" class="text ">
            <p><span>已完成</span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (底部版权) -->

      <!-- Unnamed (Rectangle) -->
      <div id="u14432" class="ax_default _默认样式">
        <img id="u14432_img" class="img " src="images/登录界面/u23.svg"/>
        <div id="u14432_text" class="text ">
          <p><span>Copyright © www.xiangtianchi.com, All Rights Reserved.</span></p><p><span>Email : 840251972@qq.com&nbsp; QQ:&nbsp; 840251972</span></p>
        </div>
      </div>
      <div id="u14431" style="display:none; visibility:hidden;"></div>

      <!-- Unnamed (Table) -->
      <div id="u14433" class="ax_default _表格">

        <!-- Unnamed (Table Cell) -->
        <div id="u14434" class="ax_default _默认样式">
          <img id="u14434_img" class="img " src="images/修改商品信息/u4955.png"/>
          <div id="u14434_text" class="text ">
            <p><span>对账状态</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u14435" class="ax_default _默认样式">
          <img id="u14435_img" class="img " src="images/修改商品信息/u4956.png"/>
          <div id="u14435_text" class="text ">
            <p><span>异常</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u14436" class="ax_default _默认样式">
          <img id="u14436_img" class="img " src="images/修改商品信息/u4973.png"/>
          <div id="u14436_text" class="text ">
            <p><span>处理备注</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u14437" class="ax_default _默认样式">
          <img id="u14437_img" class="img " src="images/修改商品信息/u4974.png"/>
          <div id="u14437_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u14438" class="ax_default _默认样式">
        <div id="u14438_div" class=""></div>
        <div id="u14438_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u14439" class="ax_default _默认样式">
        <div id="u14439_div" class=""></div>
        <div id="u14439_text" class="text ">
          <p><span>冲正处理</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u14440" class="ax_default _默认样式">
        <img id="u14440_img" class="img " src="images/对账单详情-异常/u14440.svg"/>
        <div id="u14440_text" class="text ">
          <p><span style="font-family:'FontAwesome', sans-serif;"></span><span style="font-family:'微软雅黑', sans-serif;"> 订单信息</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u14441" class="ax_default _默认样式">
        <img id="u14441_img" class="img " src="images/对账单详情-异常/u14440.svg"/>
        <div id="u14441_text" class="text ">
          <p><span style="font-family:'FontAwesome', sans-serif;"></span><span style="font-family:'微软雅黑', sans-serif;"> 对账信息</span></p>
        </div>
      </div>
    </div>
    <script src="resources/scripts/axure/ios.js"></script>
  </body>
</html>
