<!DOCTYPE html>
<html>
  <head>
    <title>平台信息</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link href="resources/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="data/styles.css" type="text/css" rel="stylesheet"/>
    <link href="files/平台信息/styles.css" type="text/css" rel="stylesheet"/>
    <link href="http://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.css" type="text/css" rel="stylesheet"/>
    <script src="resources/scripts/jquery-3.7.1.min.js"></script>
    <script src="resources/scripts/axure/axQuery.js"></script>
    <script src="resources/scripts/axure/globals.js"></script>
    <script src="resources/scripts/axutils.js"></script>
    <script src="resources/scripts/axure/annotation.js"></script>
    <script src="resources/scripts/axure/axQuery.std.js"></script>
    <script src="resources/scripts/axure/doc.js"></script>
    <script src="resources/scripts/messagecenter.js"></script>
    <script src="resources/scripts/axure/events.js"></script>
    <script src="resources/scripts/axure/recording.js"></script>
    <script src="resources/scripts/axure/action.js"></script>
    <script src="resources/scripts/axure/expr.js"></script>
    <script src="resources/scripts/axure/geometry.js"></script>
    <script src="resources/scripts/axure/flyout.js"></script>
    <script src="resources/scripts/axure/model.js"></script>
    <script src="resources/scripts/axure/repeater.js"></script>
    <script src="resources/scripts/axure/sto.js"></script>
    <script src="resources/scripts/axure/utils.temp.js"></script>
    <script src="resources/scripts/axure/variables.js"></script>
    <script src="resources/scripts/axure/drag.js"></script>
    <script src="resources/scripts/axure/move.js"></script>
    <script src="resources/scripts/axure/visibility.js"></script>
    <script src="resources/scripts/axure/style.js"></script>
    <script src="resources/scripts/axure/adaptive.js"></script>
    <script src="resources/scripts/axure/tree.js"></script>
    <script src="resources/scripts/axure/init.temp.js"></script>
    <script src="resources/scripts/axure/legacy.js"></script>
    <script src="resources/scripts/axure/viewer.js"></script>
    <script src="resources/scripts/axure/math.js"></script>
    <script src="resources/scripts/axure/jquery.nicescroll.min.js"></script>
    <script src="data/document.js"></script>
    <script src="files/平台信息/data.js"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
  </head>
  <body>
    <div id="base" class="">

      <!-- Unnamed (Group) -->
      <div id="u14477" class="ax_default" data-left="0" data-top="119" data-width="1100" data-height="805" layer-opacity="1">

        <!-- Unnamed (Rectangle) -->
        <div id="u14478" class="ax_default _默认样式">
          <div id="u14478_div" class=""></div>
          <div id="u14478_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u14479" class="ax_default" data-left="0" data-top="0" data-width="0" data-height="0" layer-opacity="1">
      </div>

      <!-- Unnamed (标题通栏) -->

      <!-- 灰色背景 (Dynamic Panel) -->
      <div id="u14481" class="ax_default" data-label="灰色背景">
        <div id="u14481_state0" class="panel_state" data-label="State1" style="">
          <div id="u14481_state0_content" class="panel_state_content">
          </div>
        </div>
      </div>

      <!-- 线条 (Dynamic Panel) -->
      <div id="u14482" class="ax_default" data-label="线条">
        <div id="u14482_state0" class="panel_state" data-label="State1" style="">
          <div id="u14482_state0_content" class="panel_state_content">
          </div>
        </div>
      </div>

      <!-- 页面标题 (Rectangle) -->
      <div id="u14483" class="ax_default _默认样式" data-label="页面标题">
        <div id="u14483_div" class=""></div>
        <div id="u14483_text" class="text ">
          <p><span>页面标题</span></p>
        </div>
      </div>
      <div id="u14480" style="display:none; visibility:hidden;"></div>

      <!-- Unnamed (底部版权) -->

      <!-- Unnamed (Rectangle) -->
      <div id="u14485" class="ax_default _默认样式">
        <img id="u14485_img" class="img " src="images/登录界面/u23.svg"/>
        <div id="u14485_text" class="text ">
          <p><span>Copyright © www.xiangtianchi.com, All Rights Reserved.</span></p><p><span>Email : 840251972@qq.com&nbsp; QQ:&nbsp; 840251972</span></p>
        </div>
      </div>
      <div id="u14484" style="display:none; visibility:hidden;"></div>

      <!-- Unnamed (Rectangle) -->
      <div id="u14486" class="ax_default _默认样式">
        <img id="u14486_img" class="img " src="images/填写商品信息/u1053.svg"/>
        <div id="u14486_text" class="text ">
          <p><span style="color:#F04844;">*</span><span> 平台名称：</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u14487" class="ax_default _默认样式">
        <div id="u14487_div" class=""></div>
        <div id="u14487_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u14488" class="ax_default _默认样式">
        <img id="u14488_img" class="img " src="images/填写商品信息/u1053.svg"/>
        <div id="u14488_text" class="text ">
          <p><span style="color:#F04844;">*</span><span> 平台标题：</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u14489" class="ax_default _默认样式">
        <div id="u14489_div" class=""></div>
        <div id="u14489_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u14490" class="ax_default _默认样式">
        <img id="u14490_img" class="img " src="images/填写商品信息/u1053.svg"/>
        <div id="u14490_text" class="text ">
          <p><span style="color:#F04844;">*</span><span> 平台LOGO：</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u14491" class="ax_default _默认样式">
        <div id="u14491_div" class=""></div>
        <div id="u14491_text" class="text ">
          <p style="font-size:14px;"><span style="font-family:'FontAwesome', sans-serif;font-weight:400;font-size:16px;"></span><span style="font-family:'微软雅黑', sans-serif;font-weight:400;"> 选择上传文件</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u14492" class="ax_default _默认样式">
        <div id="u14492_div" class=""></div>
        <div id="u14492_text" class="text ">
          <p><span>请输入内容</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u14493" class="ax_default _默认样式" selectiongroup="按纽组-9">
        <div id="u14493_div" class=""></div>
        <div id="u14493_text" class="text ">
          <p><span>提交</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u14494" class="ax_default _默认样式">
        <img id="u14494_img" class="img " src="images/填写商品信息/u1053.svg"/>
        <div id="u14494_text" class="text ">
          <p><span>排序：</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u14495" class="ax_default _默认样式">
        <div id="u14495_div" class=""></div>
        <div id="u14495_text" class="text ">
          <p><span>该信息将在用户中心欢迎页面显示</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u14496" class="ax_default _默认样式">
        <div id="u14496_div" class=""></div>
        <div id="u14496_text" class="text ">
          <p><span>只能上传jpg/png格式文件，文件不能超过50kb</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u14497" class="ax_default _默认样式">
        <img id="u14497_img" class="img " src="images/填写商品信息/u1053.svg"/>
        <div id="u14497_text" class="text ">
          <p><span style="color:#F04844;">*</span><span> 平台描述：</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u14498" class="ax_default _默认样式">
        <div id="u14498_div" class=""></div>
        <div id="u14498_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u14499" class="ax_default _默认样式">
        <img id="u14499_img" class="img " src="images/填写商品信息/u1053.svg"/>
        <div id="u14499_text" class="text ">
          <p><span style="color:#F04844;">*</span><span> 关键词：</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u14500" class="ax_default _默认样式">
        <div id="u14500_div" class=""></div>
        <div id="u14500_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u14501" class="ax_default _默认样式">
        <img id="u14501_img" class="img " src="images/填写商品信息/u1053.svg"/>
        <div id="u14501_text" class="text ">
          <p><span style="color:#F04844;">*</span><span> 客服热线：</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u14502" class="ax_default _默认样式">
        <div id="u14502_div" class=""></div>
        <div id="u14502_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u14503" class="ax_default _默认样式">
        <img id="u14503_img" class="img " src="images/填写商品信息/u1053.svg"/>
        <div id="u14503_text" class="text ">
          <p><span style="color:#F04844;">*</span><span> 客服邮箱：</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u14504" class="ax_default _默认样式">
        <div id="u14504_div" class=""></div>
        <div id="u14504_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u14505" class="ax_default _默认样式">
        <div id="u14505_div" class=""></div>
        <div id="u14505_text" class="text ">
          <p><span>平台信息设置</span></p>
        </div>
      </div>
    </div>
    <script src="resources/scripts/axure/ios.js"></script>
  </body>
</html>
