<!DOCTYPE html>
<html>
  <head>
    <title>支付设置</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link href="resources/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="data/styles.css" type="text/css" rel="stylesheet"/>
    <link href="files/支付设置/styles.css" type="text/css" rel="stylesheet"/>
    <link href="http://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.css" type="text/css" rel="stylesheet"/>
    <script src="resources/scripts/jquery-3.7.1.min.js"></script>
    <script src="resources/scripts/axure/axQuery.js"></script>
    <script src="resources/scripts/axure/globals.js"></script>
    <script src="resources/scripts/axutils.js"></script>
    <script src="resources/scripts/axure/annotation.js"></script>
    <script src="resources/scripts/axure/axQuery.std.js"></script>
    <script src="resources/scripts/axure/doc.js"></script>
    <script src="resources/scripts/messagecenter.js"></script>
    <script src="resources/scripts/axure/events.js"></script>
    <script src="resources/scripts/axure/recording.js"></script>
    <script src="resources/scripts/axure/action.js"></script>
    <script src="resources/scripts/axure/expr.js"></script>
    <script src="resources/scripts/axure/geometry.js"></script>
    <script src="resources/scripts/axure/flyout.js"></script>
    <script src="resources/scripts/axure/model.js"></script>
    <script src="resources/scripts/axure/repeater.js"></script>
    <script src="resources/scripts/axure/sto.js"></script>
    <script src="resources/scripts/axure/utils.temp.js"></script>
    <script src="resources/scripts/axure/variables.js"></script>
    <script src="resources/scripts/axure/drag.js"></script>
    <script src="resources/scripts/axure/move.js"></script>
    <script src="resources/scripts/axure/visibility.js"></script>
    <script src="resources/scripts/axure/style.js"></script>
    <script src="resources/scripts/axure/adaptive.js"></script>
    <script src="resources/scripts/axure/tree.js"></script>
    <script src="resources/scripts/axure/init.temp.js"></script>
    <script src="resources/scripts/axure/legacy.js"></script>
    <script src="resources/scripts/axure/viewer.js"></script>
    <script src="resources/scripts/axure/math.js"></script>
    <script src="resources/scripts/axure/jquery.nicescroll.min.js"></script>
    <script src="data/document.js"></script>
    <script src="files/支付设置/data.js"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
  </head>
  <body>
    <div id="base" class="">

      <!-- Unnamed (标题通栏) -->

      <!-- 灰色背景 (Dynamic Panel) -->
      <div id="u15047" class="ax_default" data-label="灰色背景">
        <div id="u15047_state0" class="panel_state" data-label="State1" style="">
          <div id="u15047_state0_content" class="panel_state_content">
          </div>
        </div>
      </div>

      <!-- 线条 (Dynamic Panel) -->
      <div id="u15048" class="ax_default" data-label="线条">
        <div id="u15048_state0" class="panel_state" data-label="State1" style="">
          <div id="u15048_state0_content" class="panel_state_content">
          </div>
        </div>
      </div>

      <!-- 页面标题 (Rectangle) -->
      <div id="u15049" class="ax_default _默认样式" data-label="页面标题">
        <div id="u15049_div" class=""></div>
        <div id="u15049_text" class="text ">
          <p><span>页面标题</span></p>
        </div>
      </div>
      <div id="u15046" style="display:none; visibility:hidden;"></div>

      <!-- Unnamed (Rectangle) -->
      <div id="u15050" class="ax_default _默认样式" title="刷新">
        <div id="u15050_div" class=""></div>
        <div id="u15050_text" class="text ">
          <p><span>刷新</span></p>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u15051" class="ax_default" data-left="1031" data-top="16" data-width="19" data-height="17" layer-opacity="1">

        <!-- Unnamed (Shape) -->
        <div id="u15052" class="ax_default _默认样式">
          <img id="u15052_img" class="img " src="images/系统首页/u253.svg"/>
          <div id="u15052_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Shape) -->
        <div id="u15053" class="ax_default _默认样式">
          <img id="u15053_img" class="img " src="images/系统首页/u254.svg"/>
          <div id="u15053_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u15054" class="ax_default _默认样式">
        <div id="u15054_div" class=""></div>
        <div id="u15054_text" class="text ">
          <p style="font-size:18px;"><span style="font-family:'FontAwesome', sans-serif;font-weight:400;"></span><span style="font-family:'Arial Normal', 'Arial', sans-serif;font-weight:400;font-size:12px;"> </span><span style="font-family:'微软雅黑', sans-serif;font-weight:400;font-size:12px;">数据列表</span></p>
        </div>
      </div>

      <!-- Unnamed (Table) -->
      <div id="u15055" class="ax_default _表格">

        <!-- Unnamed (Table Cell) -->
        <div id="u15056" class="ax_default _默认样式">
          <img id="u15056_img" class="img " src="images/修改商品信息/u4931.png"/>
          <div id="u15056_text" class="text ">
            <p><span>支付方式名称</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u15057" class="ax_default _默认样式">
          <img id="u15057_img" class="img " src="images/支付设置/u15057.png"/>
          <div id="u15057_text" class="text ">
            <p><span>支付方式描述</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u15058" class="ax_default _默认样式">
          <img id="u15058_img" class="img " src="images/商品列表/u807.png"/>
          <div id="u15058_text" class="text ">
            <p><span>是否启用</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u15059" class="ax_default _默认样式">
          <img id="u15059_img" class="img " src="images/商品列表/u807.png"/>
          <div id="u15059_text" class="text ">
            <p><span>排序</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u15060" class="ax_default _默认样式">
          <img id="u15060_img" class="img " src="images/交易统计/u13381.png"/>
          <div id="u15060_text" class="text ">
            <p><span>操作</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u15061" class="ax_default _默认样式">
          <img id="u15061_img" class="img " src="images/支付设置/u15061.png"/>
          <div id="u15061_text" class="text ">
            <p><span>微信支付</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u15062" class="ax_default _默认样式">
          <img id="u15062_img" class="img " src="images/支付设置/u15062.png"/>
          <div id="u15062_text" class="text ">
            <p><span>微信支付，是基于客户端提供的服务功能。同时向商户提供销售经营分析、账户和资金管理的功能支持。用户通过扫描二维码、微信内打开商品页面购买等多种方式调起微信支付模块完成支付。</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u15063" class="ax_default _默认样式">
          <img id="u15063_img" class="img " src="images/支付设置/u15063.png"/>
          <div id="u15063_text" class="text ">
            <p><span></span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u15064" class="ax_default _默认样式">
          <img id="u15064_img" class="img " src="images/支付设置/u15063.png"/>
          <div id="u15064_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u15065" class="ax_default _默认样式">
          <img id="u15065_img" class="img " src="images/支付设置/u15065.png"/>
          <div id="u15065_text" class="text ">
            <p><a id="u15066" class="link"><span>编辑</span></a><span> </span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (底部版权) -->

      <!-- Unnamed (Rectangle) -->
      <div id="u15068" class="ax_default _默认样式">
        <img id="u15068_img" class="img " src="images/登录界面/u23.svg"/>
        <div id="u15068_text" class="text ">
          <p><span>Copyright © www.xiangtianchi.com, All Rights Reserved.</span></p><p><span>Email : 840251972@qq.com&nbsp; QQ:&nbsp; 840251972</span></p>
        </div>
      </div>
      <div id="u15067" style="display:none; visibility:hidden;"></div>

      <!-- Unnamed (Repeater) -->
      <div id="u15069" class="ax_default">
        <script id="u15069_script" type="axure-repeater-template">

          <!-- Unnamed (Table) -->
          <div id="u15070" class="ax_default _表格 u15070">

            <!-- Unnamed (Table Cell) -->
            <div id="u15071" class="ax_default _默认样式 u15071">
              <img id="u15071_img" class="img u15071_img" src="images/支付设置/u15061.png"/>
              <div id="u15071_text" class="text u15071_text">
                <p><span>微信支付</span></p>
              </div>
            </div>

            <!-- Unnamed (Table Cell) -->
            <div id="u15072" class="ax_default _默认样式 u15072">
              <img id="u15072_img" class="img u15072_img" src="images/支付设置/u15062.png"/>
              <div id="u15072_text" class="text u15072_text">
                <p><span>微信支付，是基于客户端提供的服务功能。同时向商户提供销售经营分析、账户和资金管理的功能支持。用户通过扫描二维码、微信内打开商品页面购买等多种方式调起微信支付模块完成支付。</span></p>
              </div>
            </div>

            <!-- Unnamed (Table Cell) -->
            <div id="u15073" class="ax_default _默认样式 u15073">
              <img id="u15073_img" class="img u15073_img" src="images/支付设置/u15063.png"/>
              <div id="u15073_text" class="text u15073_text">
                <p><span></span></p>
              </div>
            </div>

            <!-- Unnamed (Table Cell) -->
            <div id="u15074" class="ax_default _默认样式 u15074">
              <img id="u15074_img" class="img u15074_img" src="images/支付设置/u15063.png"/>
              <div id="u15074_text" class="text u15074_text" style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>

            <!-- Unnamed (Table Cell) -->
            <div id="u15075" class="ax_default _默认样式 u15075">
              <img id="u15075_img" class="img u15075_img" src="images/支付设置/u15065.png"/>
              <div id="u15075_text" class="text u15075_text">
                <p><a id="u15076" class="link"><span>编辑</span></a><span> </span></p>
              </div>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u15077" class="ax_default _默认样式 u15077">
            <div id="u15077_div" class="u15077_div"></div>
            <div id="u15077_text" class="text u15077_text" style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>
        </script>
        <div id="u15069-1" class="preeval" style="width: 1100px; height: 59px;">

          <!-- Unnamed (Table) -->
          <div id="u15070-1" class="ax_default _表格 u15070" style="visibility: inherit">

            <!-- Unnamed (Table Cell) -->
            <div id="u15071-1" class="ax_default _默认样式 u15071" style="width: 150px; height: 60px; left: 0px; top: 0px;visibility: inherit">
              <img id="u15071-1_img" class="img u15071_img" src="images/支付设置/u15061.png"/>
              <div id="u15071-1_text" class="text u15071_text" style="visibility: inherit">
                <p><span>微信支付</span></p>
              </div>
            </div>

            <!-- Unnamed (Table Cell) -->
            <div id="u15072-1" class="ax_default _默认样式 u15072" style="width: 650px; height: 60px; left: 150px; top: 0px;visibility: inherit">
              <img id="u15072-1_img" class="img u15072_img" src="images/支付设置/u15062.png"/>
              <div id="u15072-1_text" class="text u15072_text" style="visibility: inherit">
                <p><span>微信支付，是基于客户端提供的服务功能。同时向商户提供销售经营分析、账户和资金管理的功能支持。用户通过扫描二维码、微信内打开商品页面购买等多种方式调起微信支付模块完成支付。</span></p>
              </div>
            </div>

            <!-- Unnamed (Table Cell) -->
            <div id="u15073-1" class="ax_default _默认样式 u15073" style="width: 100px; height: 60px; left: 800px; top: 0px;visibility: inherit">
              <img id="u15073-1_img" class="img u15073_img" src="images/支付设置/u15063.png"/>
              <div id="u15073-1_text" class="text u15073_text" style="visibility: inherit">
                <p><span></span></p>
              </div>
            </div>

            <!-- Unnamed (Table Cell) -->
            <div id="u15074-1" class="ax_default _默认样式 u15074" style="width: 100px; height: 60px; left: 900px; top: 0px;visibility: inherit">
              <img id="u15074-1_img" class="img u15074_img" src="images/支付设置/u15063.png"/>
              <div id="u15074-1_text" class="text u15074_text" style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>

            <!-- Unnamed (Table Cell) -->
            <div id="u15075-1" class="ax_default _默认样式 u15075" style="width: 100px; height: 60px; left: 1000px; top: 0px;visibility: inherit">
              <img id="u15075-1_img" class="img u15075_img" src="images/支付设置/u15065.png"/>
              <div id="u15075-1_text" class="text u15075_text" style="visibility: inherit">
                <p><a id="u15076-1" class="link"><span>编辑</span></a><span> </span></p>
              </div>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u15077-1" class="ax_default _默认样式 u15077" style="width: 80px; height: 35px; left: 911px; top: 11px;visibility: inherit">
            <div id="u15077-1_div" class="u15077_div" style="width: 80px; height: 35px;visibility: inherit"></div>
            <div id="u15077-1_text" class="text u15077_text" style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>
        </div>
        <div id="u15069-2" class="preeval" style="width: 1100px; height: 59px;">

          <!-- Unnamed (Table) -->
          <div id="u15070-2" class="ax_default _表格 u15070" style="visibility: inherit">

            <!-- Unnamed (Table Cell) -->
            <div id="u15071-2" class="ax_default _默认样式 u15071" style="width: 150px; height: 60px; left: 0px; top: 0px;visibility: inherit">
              <img id="u15071-2_img" class="img u15071_img" src="images/支付设置/u15061.png"/>
              <div id="u15071-2_text" class="text u15071_text" style="visibility: inherit">
                <p><span>微信支付</span></p>
              </div>
            </div>

            <!-- Unnamed (Table Cell) -->
            <div id="u15072-2" class="ax_default _默认样式 u15072" style="width: 650px; height: 60px; left: 150px; top: 0px;visibility: inherit">
              <img id="u15072-2_img" class="img u15072_img" src="images/支付设置/u15062.png"/>
              <div id="u15072-2_text" class="text u15072_text" style="visibility: inherit">
                <p><span>微信支付，是基于客户端提供的服务功能。同时向商户提供销售经营分析、账户和资金管理的功能支持。用户通过扫描二维码、微信内打开商品页面购买等多种方式调起微信支付模块完成支付。</span></p>
              </div>
            </div>

            <!-- Unnamed (Table Cell) -->
            <div id="u15073-2" class="ax_default _默认样式 u15073" style="width: 100px; height: 60px; left: 800px; top: 0px;visibility: inherit">
              <img id="u15073-2_img" class="img u15073_img" src="images/支付设置/u15063.png"/>
              <div id="u15073-2_text" class="text u15073_text" style="visibility: inherit">
                <p><span></span></p>
              </div>
            </div>

            <!-- Unnamed (Table Cell) -->
            <div id="u15074-2" class="ax_default _默认样式 u15074" style="width: 100px; height: 60px; left: 900px; top: 0px;visibility: inherit">
              <img id="u15074-2_img" class="img u15074_img" src="images/支付设置/u15063.png"/>
              <div id="u15074-2_text" class="text u15074_text" style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>

            <!-- Unnamed (Table Cell) -->
            <div id="u15075-2" class="ax_default _默认样式 u15075" style="width: 100px; height: 60px; left: 1000px; top: 0px;visibility: inherit">
              <img id="u15075-2_img" class="img u15075_img" src="images/支付设置/u15065.png"/>
              <div id="u15075-2_text" class="text u15075_text" style="visibility: inherit">
                <p><a id="u15076-2" class="link"><span>编辑</span></a><span> </span></p>
              </div>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u15077-2" class="ax_default _默认样式 u15077" style="width: 80px; height: 35px; left: 911px; top: 11px;visibility: inherit">
            <div id="u15077-2_div" class="u15077_div" style="width: 80px; height: 35px;visibility: inherit"></div>
            <div id="u15077-2_text" class="text u15077_text" style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>
        </div>
        <div id="u15069-3" class="preeval" style="width: 1100px; height: 59px;">

          <!-- Unnamed (Table) -->
          <div id="u15070-3" class="ax_default _表格 u15070" style="visibility: inherit">

            <!-- Unnamed (Table Cell) -->
            <div id="u15071-3" class="ax_default _默认样式 u15071" style="width: 150px; height: 60px; left: 0px; top: 0px;visibility: inherit">
              <img id="u15071-3_img" class="img u15071_img" src="images/支付设置/u15061.png"/>
              <div id="u15071-3_text" class="text u15071_text" style="visibility: inherit">
                <p><span>微信支付</span></p>
              </div>
            </div>

            <!-- Unnamed (Table Cell) -->
            <div id="u15072-3" class="ax_default _默认样式 u15072" style="width: 650px; height: 60px; left: 150px; top: 0px;visibility: inherit">
              <img id="u15072-3_img" class="img u15072_img" src="images/支付设置/u15062.png"/>
              <div id="u15072-3_text" class="text u15072_text" style="visibility: inherit">
                <p><span>微信支付，是基于客户端提供的服务功能。同时向商户提供销售经营分析、账户和资金管理的功能支持。用户通过扫描二维码、微信内打开商品页面购买等多种方式调起微信支付模块完成支付。</span></p>
              </div>
            </div>

            <!-- Unnamed (Table Cell) -->
            <div id="u15073-3" class="ax_default _默认样式 u15073" style="width: 100px; height: 60px; left: 800px; top: 0px;visibility: inherit">
              <img id="u15073-3_img" class="img u15073_img" src="images/支付设置/u15063.png"/>
              <div id="u15073-3_text" class="text u15073_text" style="visibility: inherit">
                <p><span></span></p>
              </div>
            </div>

            <!-- Unnamed (Table Cell) -->
            <div id="u15074-3" class="ax_default _默认样式 u15074" style="width: 100px; height: 60px; left: 900px; top: 0px;visibility: inherit">
              <img id="u15074-3_img" class="img u15074_img" src="images/支付设置/u15063.png"/>
              <div id="u15074-3_text" class="text u15074_text" style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>

            <!-- Unnamed (Table Cell) -->
            <div id="u15075-3" class="ax_default _默认样式 u15075" style="width: 100px; height: 60px; left: 1000px; top: 0px;visibility: inherit">
              <img id="u15075-3_img" class="img u15075_img" src="images/支付设置/u15065.png"/>
              <div id="u15075-3_text" class="text u15075_text" style="visibility: inherit">
                <p><a id="u15076-3" class="link"><span>编辑</span></a><span> </span></p>
              </div>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u15077-3" class="ax_default _默认样式 u15077" style="width: 80px; height: 35px; left: 911px; top: 11px;visibility: inherit">
            <div id="u15077-3_div" class="u15077_div" style="width: 80px; height: 35px;visibility: inherit"></div>
            <div id="u15077-3_text" class="text u15077_text" style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>
        </div>
        <div id="u15069-4" class="preeval" style="width: 1100px; height: 59px;">

          <!-- Unnamed (Table) -->
          <div id="u15070-4" class="ax_default _表格 u15070" style="visibility: inherit">

            <!-- Unnamed (Table Cell) -->
            <div id="u15071-4" class="ax_default _默认样式 u15071" style="width: 150px; height: 60px; left: 0px; top: 0px;visibility: inherit">
              <img id="u15071-4_img" class="img u15071_img" src="images/支付设置/u15061.png"/>
              <div id="u15071-4_text" class="text u15071_text" style="visibility: inherit">
                <p><span>微信支付</span></p>
              </div>
            </div>

            <!-- Unnamed (Table Cell) -->
            <div id="u15072-4" class="ax_default _默认样式 u15072" style="width: 650px; height: 60px; left: 150px; top: 0px;visibility: inherit">
              <img id="u15072-4_img" class="img u15072_img" src="images/支付设置/u15062.png"/>
              <div id="u15072-4_text" class="text u15072_text" style="visibility: inherit">
                <p><span>微信支付，是基于客户端提供的服务功能。同时向商户提供销售经营分析、账户和资金管理的功能支持。用户通过扫描二维码、微信内打开商品页面购买等多种方式调起微信支付模块完成支付。</span></p>
              </div>
            </div>

            <!-- Unnamed (Table Cell) -->
            <div id="u15073-4" class="ax_default _默认样式 u15073" style="width: 100px; height: 60px; left: 800px; top: 0px;visibility: inherit">
              <img id="u15073-4_img" class="img u15073_img" src="images/支付设置/u15063.png"/>
              <div id="u15073-4_text" class="text u15073_text" style="visibility: inherit">
                <p><span></span></p>
              </div>
            </div>

            <!-- Unnamed (Table Cell) -->
            <div id="u15074-4" class="ax_default _默认样式 u15074" style="width: 100px; height: 60px; left: 900px; top: 0px;visibility: inherit">
              <img id="u15074-4_img" class="img u15074_img" src="images/支付设置/u15063.png"/>
              <div id="u15074-4_text" class="text u15074_text" style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>

            <!-- Unnamed (Table Cell) -->
            <div id="u15075-4" class="ax_default _默认样式 u15075" style="width: 100px; height: 60px; left: 1000px; top: 0px;visibility: inherit">
              <img id="u15075-4_img" class="img u15075_img" src="images/支付设置/u15065.png"/>
              <div id="u15075-4_text" class="text u15075_text" style="visibility: inherit">
                <p><a id="u15076-4" class="link"><span>编辑</span></a><span> </span></p>
              </div>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u15077-4" class="ax_default _默认样式 u15077" style="width: 80px; height: 35px; left: 911px; top: 11px;visibility: inherit">
            <div id="u15077-4_div" class="u15077_div" style="width: 80px; height: 35px;visibility: inherit"></div>
            <div id="u15077-4_text" class="text u15077_text" style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>
        </div>
        <div id="u15069-5" class="preeval" style="width: 1100px; height: 59px;">

          <!-- Unnamed (Table) -->
          <div id="u15070-5" class="ax_default _表格 u15070" style="visibility: inherit">

            <!-- Unnamed (Table Cell) -->
            <div id="u15071-5" class="ax_default _默认样式 u15071" style="width: 150px; height: 60px; left: 0px; top: 0px;visibility: inherit">
              <img id="u15071-5_img" class="img u15071_img" src="images/支付设置/u15061.png"/>
              <div id="u15071-5_text" class="text u15071_text" style="visibility: inherit">
                <p><span>微信支付</span></p>
              </div>
            </div>

            <!-- Unnamed (Table Cell) -->
            <div id="u15072-5" class="ax_default _默认样式 u15072" style="width: 650px; height: 60px; left: 150px; top: 0px;visibility: inherit">
              <img id="u15072-5_img" class="img u15072_img" src="images/支付设置/u15062.png"/>
              <div id="u15072-5_text" class="text u15072_text" style="visibility: inherit">
                <p><span>微信支付，是基于客户端提供的服务功能。同时向商户提供销售经营分析、账户和资金管理的功能支持。用户通过扫描二维码、微信内打开商品页面购买等多种方式调起微信支付模块完成支付。</span></p>
              </div>
            </div>

            <!-- Unnamed (Table Cell) -->
            <div id="u15073-5" class="ax_default _默认样式 u15073" style="width: 100px; height: 60px; left: 800px; top: 0px;visibility: inherit">
              <img id="u15073-5_img" class="img u15073_img" src="images/支付设置/u15063.png"/>
              <div id="u15073-5_text" class="text u15073_text" style="visibility: inherit">
                <p><span></span></p>
              </div>
            </div>

            <!-- Unnamed (Table Cell) -->
            <div id="u15074-5" class="ax_default _默认样式 u15074" style="width: 100px; height: 60px; left: 900px; top: 0px;visibility: inherit">
              <img id="u15074-5_img" class="img u15074_img" src="images/支付设置/u15063.png"/>
              <div id="u15074-5_text" class="text u15074_text" style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>

            <!-- Unnamed (Table Cell) -->
            <div id="u15075-5" class="ax_default _默认样式 u15075" style="width: 100px; height: 60px; left: 1000px; top: 0px;visibility: inherit">
              <img id="u15075-5_img" class="img u15075_img" src="images/支付设置/u15065.png"/>
              <div id="u15075-5_text" class="text u15075_text" style="visibility: inherit">
                <p><a id="u15076-5" class="link"><span>编辑</span></a><span> </span></p>
              </div>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u15077-5" class="ax_default _默认样式 u15077" style="width: 80px; height: 35px; left: 911px; top: 11px;visibility: inherit">
            <div id="u15077-5_div" class="u15077_div" style="width: 80px; height: 35px;visibility: inherit"></div>
            <div id="u15077-5_text" class="text u15077_text" style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>
        </div>
        <div id="u15069-6" class="preeval" style="width: 1100px; height: 59px;">

          <!-- Unnamed (Table) -->
          <div id="u15070-6" class="ax_default _表格 u15070" style="visibility: inherit">

            <!-- Unnamed (Table Cell) -->
            <div id="u15071-6" class="ax_default _默认样式 u15071" style="width: 150px; height: 60px; left: 0px; top: 0px;visibility: inherit">
              <img id="u15071-6_img" class="img u15071_img" src="images/支付设置/u15061.png"/>
              <div id="u15071-6_text" class="text u15071_text" style="visibility: inherit">
                <p><span>微信支付</span></p>
              </div>
            </div>

            <!-- Unnamed (Table Cell) -->
            <div id="u15072-6" class="ax_default _默认样式 u15072" style="width: 650px; height: 60px; left: 150px; top: 0px;visibility: inherit">
              <img id="u15072-6_img" class="img u15072_img" src="images/支付设置/u15062.png"/>
              <div id="u15072-6_text" class="text u15072_text" style="visibility: inherit">
                <p><span>微信支付，是基于客户端提供的服务功能。同时向商户提供销售经营分析、账户和资金管理的功能支持。用户通过扫描二维码、微信内打开商品页面购买等多种方式调起微信支付模块完成支付。</span></p>
              </div>
            </div>

            <!-- Unnamed (Table Cell) -->
            <div id="u15073-6" class="ax_default _默认样式 u15073" style="width: 100px; height: 60px; left: 800px; top: 0px;visibility: inherit">
              <img id="u15073-6_img" class="img u15073_img" src="images/支付设置/u15063.png"/>
              <div id="u15073-6_text" class="text u15073_text" style="visibility: inherit">
                <p><span></span></p>
              </div>
            </div>

            <!-- Unnamed (Table Cell) -->
            <div id="u15074-6" class="ax_default _默认样式 u15074" style="width: 100px; height: 60px; left: 900px; top: 0px;visibility: inherit">
              <img id="u15074-6_img" class="img u15074_img" src="images/支付设置/u15063.png"/>
              <div id="u15074-6_text" class="text u15074_text" style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>

            <!-- Unnamed (Table Cell) -->
            <div id="u15075-6" class="ax_default _默认样式 u15075" style="width: 100px; height: 60px; left: 1000px; top: 0px;visibility: inherit">
              <img id="u15075-6_img" class="img u15075_img" src="images/支付设置/u15065.png"/>
              <div id="u15075-6_text" class="text u15075_text" style="visibility: inherit">
                <p><a id="u15076-6" class="link"><span>编辑</span></a><span> </span></p>
              </div>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u15077-6" class="ax_default _默认样式 u15077" style="width: 80px; height: 35px; left: 911px; top: 11px;visibility: inherit">
            <div id="u15077-6_div" class="u15077_div" style="width: 80px; height: 35px;visibility: inherit"></div>
            <div id="u15077-6_text" class="text u15077_text" style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>
        </div>
        <div id="u15069-7" class="preeval" style="width: 1100px; height: 59px;">

          <!-- Unnamed (Table) -->
          <div id="u15070-7" class="ax_default _表格 u15070" style="visibility: inherit">

            <!-- Unnamed (Table Cell) -->
            <div id="u15071-7" class="ax_default _默认样式 u15071" style="width: 150px; height: 60px; left: 0px; top: 0px;visibility: inherit">
              <img id="u15071-7_img" class="img u15071_img" src="images/支付设置/u15061.png"/>
              <div id="u15071-7_text" class="text u15071_text" style="visibility: inherit">
                <p><span>微信支付</span></p>
              </div>
            </div>

            <!-- Unnamed (Table Cell) -->
            <div id="u15072-7" class="ax_default _默认样式 u15072" style="width: 650px; height: 60px; left: 150px; top: 0px;visibility: inherit">
              <img id="u15072-7_img" class="img u15072_img" src="images/支付设置/u15062.png"/>
              <div id="u15072-7_text" class="text u15072_text" style="visibility: inherit">
                <p><span>微信支付，是基于客户端提供的服务功能。同时向商户提供销售经营分析、账户和资金管理的功能支持。用户通过扫描二维码、微信内打开商品页面购买等多种方式调起微信支付模块完成支付。</span></p>
              </div>
            </div>

            <!-- Unnamed (Table Cell) -->
            <div id="u15073-7" class="ax_default _默认样式 u15073" style="width: 100px; height: 60px; left: 800px; top: 0px;visibility: inherit">
              <img id="u15073-7_img" class="img u15073_img" src="images/支付设置/u15063.png"/>
              <div id="u15073-7_text" class="text u15073_text" style="visibility: inherit">
                <p><span></span></p>
              </div>
            </div>

            <!-- Unnamed (Table Cell) -->
            <div id="u15074-7" class="ax_default _默认样式 u15074" style="width: 100px; height: 60px; left: 900px; top: 0px;visibility: inherit">
              <img id="u15074-7_img" class="img u15074_img" src="images/支付设置/u15063.png"/>
              <div id="u15074-7_text" class="text u15074_text" style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>

            <!-- Unnamed (Table Cell) -->
            <div id="u15075-7" class="ax_default _默认样式 u15075" style="width: 100px; height: 60px; left: 1000px; top: 0px;visibility: inherit">
              <img id="u15075-7_img" class="img u15075_img" src="images/支付设置/u15065.png"/>
              <div id="u15075-7_text" class="text u15075_text" style="visibility: inherit">
                <p><a id="u15076-7" class="link"><span>编辑</span></a><span> </span></p>
              </div>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u15077-7" class="ax_default _默认样式 u15077" style="width: 80px; height: 35px; left: 911px; top: 11px;visibility: inherit">
            <div id="u15077-7_div" class="u15077_div" style="width: 80px; height: 35px;visibility: inherit"></div>
            <div id="u15077-7_text" class="text u15077_text" style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>
        </div>
        <div id="u15069-8" class="preeval" style="width: 1100px; height: 59px;">

          <!-- Unnamed (Table) -->
          <div id="u15070-8" class="ax_default _表格 u15070" style="visibility: inherit">

            <!-- Unnamed (Table Cell) -->
            <div id="u15071-8" class="ax_default _默认样式 u15071" style="width: 150px; height: 60px; left: 0px; top: 0px;visibility: inherit">
              <img id="u15071-8_img" class="img u15071_img" src="images/支付设置/u15061.png"/>
              <div id="u15071-8_text" class="text u15071_text" style="visibility: inherit">
                <p><span>微信支付</span></p>
              </div>
            </div>

            <!-- Unnamed (Table Cell) -->
            <div id="u15072-8" class="ax_default _默认样式 u15072" style="width: 650px; height: 60px; left: 150px; top: 0px;visibility: inherit">
              <img id="u15072-8_img" class="img u15072_img" src="images/支付设置/u15062.png"/>
              <div id="u15072-8_text" class="text u15072_text" style="visibility: inherit">
                <p><span>微信支付，是基于客户端提供的服务功能。同时向商户提供销售经营分析、账户和资金管理的功能支持。用户通过扫描二维码、微信内打开商品页面购买等多种方式调起微信支付模块完成支付。</span></p>
              </div>
            </div>

            <!-- Unnamed (Table Cell) -->
            <div id="u15073-8" class="ax_default _默认样式 u15073" style="width: 100px; height: 60px; left: 800px; top: 0px;visibility: inherit">
              <img id="u15073-8_img" class="img u15073_img" src="images/支付设置/u15063.png"/>
              <div id="u15073-8_text" class="text u15073_text" style="visibility: inherit">
                <p><span></span></p>
              </div>
            </div>

            <!-- Unnamed (Table Cell) -->
            <div id="u15074-8" class="ax_default _默认样式 u15074" style="width: 100px; height: 60px; left: 900px; top: 0px;visibility: inherit">
              <img id="u15074-8_img" class="img u15074_img" src="images/支付设置/u15063.png"/>
              <div id="u15074-8_text" class="text u15074_text" style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>

            <!-- Unnamed (Table Cell) -->
            <div id="u15075-8" class="ax_default _默认样式 u15075" style="width: 100px; height: 60px; left: 1000px; top: 0px;visibility: inherit">
              <img id="u15075-8_img" class="img u15075_img" src="images/支付设置/u15065.png"/>
              <div id="u15075-8_text" class="text u15075_text" style="visibility: inherit">
                <p><a id="u15076-8" class="link"><span>编辑</span></a><span> </span></p>
              </div>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u15077-8" class="ax_default _默认样式 u15077" style="width: 80px; height: 35px; left: 911px; top: 11px;visibility: inherit">
            <div id="u15077-8_div" class="u15077_div" style="width: 80px; height: 35px;visibility: inherit"></div>
            <div id="u15077-8_text" class="text u15077_text" style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>
        </div>
        <div id="u15069-9" class="preeval" style="width: 1100px; height: 59px;">

          <!-- Unnamed (Table) -->
          <div id="u15070-9" class="ax_default _表格 u15070" style="visibility: inherit">

            <!-- Unnamed (Table Cell) -->
            <div id="u15071-9" class="ax_default _默认样式 u15071" style="width: 150px; height: 60px; left: 0px; top: 0px;visibility: inherit">
              <img id="u15071-9_img" class="img u15071_img" src="images/支付设置/u15061.png"/>
              <div id="u15071-9_text" class="text u15071_text" style="visibility: inherit">
                <p><span>微信支付</span></p>
              </div>
            </div>

            <!-- Unnamed (Table Cell) -->
            <div id="u15072-9" class="ax_default _默认样式 u15072" style="width: 650px; height: 60px; left: 150px; top: 0px;visibility: inherit">
              <img id="u15072-9_img" class="img u15072_img" src="images/支付设置/u15062.png"/>
              <div id="u15072-9_text" class="text u15072_text" style="visibility: inherit">
                <p><span>微信支付，是基于客户端提供的服务功能。同时向商户提供销售经营分析、账户和资金管理的功能支持。用户通过扫描二维码、微信内打开商品页面购买等多种方式调起微信支付模块完成支付。</span></p>
              </div>
            </div>

            <!-- Unnamed (Table Cell) -->
            <div id="u15073-9" class="ax_default _默认样式 u15073" style="width: 100px; height: 60px; left: 800px; top: 0px;visibility: inherit">
              <img id="u15073-9_img" class="img u15073_img" src="images/支付设置/u15063.png"/>
              <div id="u15073-9_text" class="text u15073_text" style="visibility: inherit">
                <p><span></span></p>
              </div>
            </div>

            <!-- Unnamed (Table Cell) -->
            <div id="u15074-9" class="ax_default _默认样式 u15074" style="width: 100px; height: 60px; left: 900px; top: 0px;visibility: inherit">
              <img id="u15074-9_img" class="img u15074_img" src="images/支付设置/u15063.png"/>
              <div id="u15074-9_text" class="text u15074_text" style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>

            <!-- Unnamed (Table Cell) -->
            <div id="u15075-9" class="ax_default _默认样式 u15075" style="width: 100px; height: 60px; left: 1000px; top: 0px;visibility: inherit">
              <img id="u15075-9_img" class="img u15075_img" src="images/支付设置/u15065.png"/>
              <div id="u15075-9_text" class="text u15075_text" style="visibility: inherit">
                <p><a id="u15076-9" class="link"><span>编辑</span></a><span> </span></p>
              </div>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u15077-9" class="ax_default _默认样式 u15077" style="width: 80px; height: 35px; left: 911px; top: 11px;visibility: inherit">
            <div id="u15077-9_div" class="u15077_div" style="width: 80px; height: 35px;visibility: inherit"></div>
            <div id="u15077-9_text" class="text u15077_text" style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>
        </div>
        <div id="u15069-10" class="preeval" style="width: 1100px; height: 59px;">

          <!-- Unnamed (Table) -->
          <div id="u15070-10" class="ax_default _表格 u15070" style="visibility: inherit">

            <!-- Unnamed (Table Cell) -->
            <div id="u15071-10" class="ax_default _默认样式 u15071" style="width: 150px; height: 60px; left: 0px; top: 0px;visibility: inherit">
              <img id="u15071-10_img" class="img u15071_img" src="images/支付设置/u15061.png"/>
              <div id="u15071-10_text" class="text u15071_text" style="visibility: inherit">
                <p><span>微信支付</span></p>
              </div>
            </div>

            <!-- Unnamed (Table Cell) -->
            <div id="u15072-10" class="ax_default _默认样式 u15072" style="width: 650px; height: 60px; left: 150px; top: 0px;visibility: inherit">
              <img id="u15072-10_img" class="img u15072_img" src="images/支付设置/u15062.png"/>
              <div id="u15072-10_text" class="text u15072_text" style="visibility: inherit">
                <p><span>微信支付，是基于客户端提供的服务功能。同时向商户提供销售经营分析、账户和资金管理的功能支持。用户通过扫描二维码、微信内打开商品页面购买等多种方式调起微信支付模块完成支付。</span></p>
              </div>
            </div>

            <!-- Unnamed (Table Cell) -->
            <div id="u15073-10" class="ax_default _默认样式 u15073" style="width: 100px; height: 60px; left: 800px; top: 0px;visibility: inherit">
              <img id="u15073-10_img" class="img u15073_img" src="images/支付设置/u15063.png"/>
              <div id="u15073-10_text" class="text u15073_text" style="visibility: inherit">
                <p><span></span></p>
              </div>
            </div>

            <!-- Unnamed (Table Cell) -->
            <div id="u15074-10" class="ax_default _默认样式 u15074" style="width: 100px; height: 60px; left: 900px; top: 0px;visibility: inherit">
              <img id="u15074-10_img" class="img u15074_img" src="images/支付设置/u15063.png"/>
              <div id="u15074-10_text" class="text u15074_text" style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>

            <!-- Unnamed (Table Cell) -->
            <div id="u15075-10" class="ax_default _默认样式 u15075" style="width: 100px; height: 60px; left: 1000px; top: 0px;visibility: inherit">
              <img id="u15075-10_img" class="img u15075_img" src="images/支付设置/u15065.png"/>
              <div id="u15075-10_text" class="text u15075_text" style="visibility: inherit">
                <p><a id="u15076-10" class="link"><span>编辑</span></a><span> </span></p>
              </div>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u15077-10" class="ax_default _默认样式 u15077" style="width: 80px; height: 35px; left: 911px; top: 11px;visibility: inherit">
            <div id="u15077-10_div" class="u15077_div" style="width: 80px; height: 35px;visibility: inherit"></div>
            <div id="u15077-10_text" class="text u15077_text" style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u15078" class="ax_default _默认样式">
        <div id="u15078_div" class=""></div>
        <div id="u15078_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>
    </div>
    <script src="resources/scripts/axure/ios.js"></script>
  </body>
</html>
