<!DOCTYPE html>
<html>
  <head>
    <title>新建相册</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link href="resources/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="data/styles.css" type="text/css" rel="stylesheet"/>
    <link href="files/新建相册/styles.css" type="text/css" rel="stylesheet"/>
    <link href="http://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.css" type="text/css" rel="stylesheet"/>
    <script src="resources/scripts/jquery-3.7.1.min.js"></script>
    <script src="resources/scripts/axure/axQuery.js"></script>
    <script src="resources/scripts/axure/globals.js"></script>
    <script src="resources/scripts/axutils.js"></script>
    <script src="resources/scripts/axure/annotation.js"></script>
    <script src="resources/scripts/axure/axQuery.std.js"></script>
    <script src="resources/scripts/axure/doc.js"></script>
    <script src="resources/scripts/messagecenter.js"></script>
    <script src="resources/scripts/axure/events.js"></script>
    <script src="resources/scripts/axure/recording.js"></script>
    <script src="resources/scripts/axure/action.js"></script>
    <script src="resources/scripts/axure/expr.js"></script>
    <script src="resources/scripts/axure/geometry.js"></script>
    <script src="resources/scripts/axure/flyout.js"></script>
    <script src="resources/scripts/axure/model.js"></script>
    <script src="resources/scripts/axure/repeater.js"></script>
    <script src="resources/scripts/axure/sto.js"></script>
    <script src="resources/scripts/axure/utils.temp.js"></script>
    <script src="resources/scripts/axure/variables.js"></script>
    <script src="resources/scripts/axure/drag.js"></script>
    <script src="resources/scripts/axure/move.js"></script>
    <script src="resources/scripts/axure/visibility.js"></script>
    <script src="resources/scripts/axure/style.js"></script>
    <script src="resources/scripts/axure/adaptive.js"></script>
    <script src="resources/scripts/axure/tree.js"></script>
    <script src="resources/scripts/axure/init.temp.js"></script>
    <script src="resources/scripts/axure/legacy.js"></script>
    <script src="resources/scripts/axure/viewer.js"></script>
    <script src="resources/scripts/axure/math.js"></script>
    <script src="resources/scripts/axure/jquery.nicescroll.min.js"></script>
    <script src="data/document.js"></script>
    <script src="files/新建相册/data.js"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
  </head>
  <body>
    <div id="base" class="">

      <!-- Unnamed (Group) -->
      <div id="u2802" class="ax_default" data-left="0" data-top="119" data-width="1100" data-height="572" layer-opacity="1">

        <!-- Unnamed (Rectangle) -->
        <div id="u2803" class="ax_default _默认样式">
          <div id="u2803_div" class=""></div>
          <div id="u2803_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u2804" class="ax_default" data-left="0" data-top="0" data-width="0" data-height="0" layer-opacity="1">
      </div>

      <!-- Unnamed (标题通栏) -->

      <!-- 灰色背景 (Dynamic Panel) -->
      <div id="u2806" class="ax_default" data-label="灰色背景">
        <div id="u2806_state0" class="panel_state" data-label="State1" style="">
          <div id="u2806_state0_content" class="panel_state_content">
          </div>
        </div>
      </div>

      <!-- 线条 (Dynamic Panel) -->
      <div id="u2807" class="ax_default" data-label="线条">
        <div id="u2807_state0" class="panel_state" data-label="State1" style="">
          <div id="u2807_state0_content" class="panel_state_content">
          </div>
        </div>
      </div>

      <!-- 页面标题 (Rectangle) -->
      <div id="u2808" class="ax_default _默认样式" data-label="页面标题">
        <div id="u2808_div" class=""></div>
        <div id="u2808_text" class="text ">
          <p><span>页面标题</span></p>
        </div>
      </div>
      <div id="u2805" style="display:none; visibility:hidden;"></div>

      <!-- Unnamed (底部版权) -->

      <!-- Unnamed (Rectangle) -->
      <div id="u2810" class="ax_default _默认样式">
        <img id="u2810_img" class="img " src="images/系统首页/u206.svg"/>
        <div id="u2810_text" class="text ">
          <p><span>Copyright © www.xiangtianchi.com, All Rights Reserved.</span></p><p><span>Email : 840251972@qq.com&nbsp; QQ:&nbsp; 840251972</span></p>
        </div>
      </div>
      <div id="u2809" style="display:none; visibility:hidden;"></div>

      <!-- Unnamed (Rectangle) -->
      <div id="u2811" class="ax_default _默认样式">
        <img id="u2811_img" class="img " src="images/填写商品信息/u851.svg"/>
        <div id="u2811_text" class="text ">
          <p><span style="color:#F04844;">*</span><span> 相册名称：</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u2812" class="ax_default _默认样式">
        <div id="u2812_div" class=""></div>
        <div id="u2812_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u2813" class="ax_default _默认样式">
        <img id="u2813_img" class="img " src="images/填写商品信息/u851.svg"/>
        <div id="u2813_text" class="text ">
          <p><span>相册封面：</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u2814" class="ax_default _默认样式">
        <div id="u2814_div" class=""></div>
        <div id="u2814_text" class="text ">
          <p style="font-size:14px;"><span style="font-family:'FontAwesome', sans-serif;font-weight:400;font-size:16px;"></span><span style="font-family:'微软雅黑', sans-serif;font-weight:400;"> 选择上传文件</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u2815" class="ax_default _默认样式">
        <img id="u2815_img" class="img " src="images/填写商品信息/u851.svg"/>
        <div id="u2815_text" class="text ">
          <p><span>相册描述：</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u2816" class="ax_default _默认样式">
        <div id="u2816_div" class=""></div>
        <div id="u2816_text" class="text ">
          <p><span>请输入内容</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u2817" class="ax_default _默认样式" selectiongroup="按纽组-9">
        <div id="u2817_div" class=""></div>
        <div id="u2817_text" class="text ">
          <p><span>提交</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u2818" class="ax_default _默认样式">
        <img id="u2818_img" class="img " src="images/填写商品信息/u851.svg"/>
        <div id="u2818_text" class="text ">
          <p><span>排序：</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u2819" class="ax_default _默认样式">
        <div id="u2819_div" class=""></div>
        <div id="u2819_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u2820" class="ax_default _默认样式">
        <div id="u2820_div" class=""></div>
        <div id="u2820_text" class="text ">
          <p><span>只能上传jpg/png格式文件，文件不能超过50kb</span></p>
        </div>
      </div>

      <!-- Unnamed (返回) -->

      <!-- Unnamed (Rectangle) -->
      <div id="u2822" class="ax_default _默认样式">
        <div id="u2822_div" class=""></div>
        <div id="u2822_text" class="text ">
          <p><span>返回</span></p>
        </div>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u2823" class="ax_default _默认样式">
        <img id="u2823_img" class="img " src="images/逐个编辑/u1585.svg"/>
        <div id="u2823_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>
      <div id="u2821" style="display:none; visibility:hidden;"></div>

      <!-- Unnamed (Rectangle) -->
      <div id="u2824" class="ax_default _默认样式">
        <div id="u2824_div" class=""></div>
        <div id="u2824_text" class="text ">
          <p><span>新建相册</span></p>
        </div>
      </div>
    </div>
    <script src="resources/scripts/axure/ios.js"></script>
  </body>
</html>
