<!DOCTYPE html>
<html>
  <head>
    <title>服务单详情-已完成</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link href="resources/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="data/styles.css" type="text/css" rel="stylesheet"/>
    <link href="files/服务单详情-已完成_1/styles.css" type="text/css" rel="stylesheet"/>
    <link href="http://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.css" type="text/css" rel="stylesheet"/>
    <script src="resources/scripts/jquery-3.7.1.min.js"></script>
    <script src="resources/scripts/axure/axQuery.js"></script>
    <script src="resources/scripts/axure/globals.js"></script>
    <script src="resources/scripts/axutils.js"></script>
    <script src="resources/scripts/axure/annotation.js"></script>
    <script src="resources/scripts/axure/axQuery.std.js"></script>
    <script src="resources/scripts/axure/doc.js"></script>
    <script src="resources/scripts/messagecenter.js"></script>
    <script src="resources/scripts/axure/events.js"></script>
    <script src="resources/scripts/axure/recording.js"></script>
    <script src="resources/scripts/axure/action.js"></script>
    <script src="resources/scripts/axure/expr.js"></script>
    <script src="resources/scripts/axure/geometry.js"></script>
    <script src="resources/scripts/axure/flyout.js"></script>
    <script src="resources/scripts/axure/model.js"></script>
    <script src="resources/scripts/axure/repeater.js"></script>
    <script src="resources/scripts/axure/sto.js"></script>
    <script src="resources/scripts/axure/utils.temp.js"></script>
    <script src="resources/scripts/axure/variables.js"></script>
    <script src="resources/scripts/axure/drag.js"></script>
    <script src="resources/scripts/axure/move.js"></script>
    <script src="resources/scripts/axure/visibility.js"></script>
    <script src="resources/scripts/axure/style.js"></script>
    <script src="resources/scripts/axure/adaptive.js"></script>
    <script src="resources/scripts/axure/tree.js"></script>
    <script src="resources/scripts/axure/init.temp.js"></script>
    <script src="resources/scripts/axure/legacy.js"></script>
    <script src="resources/scripts/axure/viewer.js"></script>
    <script src="resources/scripts/axure/math.js"></script>
    <script src="resources/scripts/axure/jquery.nicescroll.min.js"></script>
    <script src="data/document.js"></script>
    <script src="files/服务单详情-已完成_1/data.js"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
  </head>
  <body>
    <div id="base" class="">

      <!-- Unnamed (组合) -->
      <div id="u3578" class="ax_default" data-left="0" data-top="0" data-width="0" data-height="0" layer-opacity="1">
      </div>

      <!-- Unnamed (标题通栏) -->

      <!-- 灰色背景 (动态面板) -->
      <div id="u3580" class="ax_default" data-label="灰色背景">
        <div id="u3580_state0" class="panel_state" data-label="State1" style="">
          <div id="u3580_state0_content" class="panel_state_content">
          </div>
        </div>
      </div>

      <!-- 线条 (动态面板) -->
      <div id="u3581" class="ax_default" data-label="线条">
        <div id="u3581_state0" class="panel_state" data-label="State1" style="">
          <div id="u3581_state0_content" class="panel_state_content">
          </div>
        </div>
      </div>

      <!-- 页面标题 (矩形) -->
      <div id="u3582" class="ax_default _默认样式" data-label="页面标题">
        <div id="u3582_div" class=""></div>
        <div id="u3582_text" class="text ">
          <p><span>页面标题</span></p>
        </div>
      </div>
      <div id="u3579" style="display:none; visibility:hidden;"></div>

      <!-- Unnamed (返回) -->

      <!-- Unnamed (矩形) -->
      <div id="u3584" class="ax_default _默认样式">
        <div id="u3584_div" class=""></div>
        <div id="u3584_text" class="text ">
          <p><span>返回</span></p>
        </div>
      </div>

      <!-- Unnamed (形状) -->
      <div id="u3585" class="ax_default _默认样式">
        <img id="u3585_img" class="img " src="images/修改商品信息/u2460.svg"/>
        <div id="u3585_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>
      <div id="u3583" style="display:none; visibility:hidden;"></div>

      <!-- Unnamed (矩形) -->
      <div id="u3586" class="ax_default _默认样式">
        <div id="u3586_div" class=""></div>
        <div id="u3586_text" class="text ">
          <p><span>服务单信息</span></p>
        </div>
      </div>

      <!-- Unnamed (组合) -->
      <div id="u3587" class="ax_default" data-left="0" data-top="119" data-width="1100" data-height="767" layer-opacity="1">

        <!-- Unnamed (矩形) -->
        <div id="u3588" class="ax_default _默认样式">
          <div id="u3588_div" class=""></div>
          <div id="u3588_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (表格) -->
      <div id="u3589" class="ax_default _表格">

        <!-- Unnamed (单元格) -->
        <div id="u3590" class="ax_default _默认样式">
          <img id="u3590_img" class="img " src="images/修改商品信息/u2489.png"/>
          <div id="u3590_text" class="text ">
            <p><span>服务单号</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u3591" class="ax_default _默认样式">
          <img id="u3591_img" class="img " src="images/修改商品信息/u2490.png"/>
          <div id="u3591_text" class="text ">
            <p><span>313860326</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u3592" class="ax_default _默认样式">
          <img id="u3592_img" class="img " src="images/修改商品信息/u2489.png"/>
          <div id="u3592_text" class="text ">
            <p><span>申请状态</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u3593" class="ax_default _默认样式">
          <img id="u3593_img" class="img " src="images/修改商品信息/u2490.png"/>
          <div id="u3593_text" class="text ">
            <p><span>已完成</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u3594" class="ax_default _默认样式">
          <img id="u3594_img" class="img " src="images/修改商品信息/u2489.png"/>
          <div id="u3594_text" class="text ">
            <p><span>订单编号</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u3595" class="ax_default _默认样式">
          <img id="u3595_img" class="img " src="images/修改商品信息/u2490.png"/>
          <div id="u3595_text" class="text ">
            <p><span>201707196398345&nbsp; </span><a id="u3596" class="link"><span style="color:#1ABC9C;">查看</span></a></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u3597" class="ax_default _默认样式">
          <img id="u3597_img" class="img " src="images/修改商品信息/u2489.png"/>
          <div id="u3597_text" class="text ">
            <p><span>申请时间</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u3598" class="ax_default _默认样式">
          <img id="u3598_img" class="img " src="images/修改商品信息/u2490.png"/>
          <div id="u3598_text" class="text ">
            <p><span>2017-07-19 14:48:38 </span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u3599" class="ax_default _默认样式">
          <img id="u3599_img" class="img " src="images/修改商品信息/u2507.png"/>
          <div id="u3599_text" class="text ">
            <p><span>用户账号</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u3600" class="ax_default _默认样式">
          <img id="u3600_img" class="img " src="images/修改商品信息/u2508.png"/>
          <div id="u3600_text" class="text ">
            <p><span>18000000000</span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (底部版权) -->

      <!-- Unnamed (矩形) -->
      <div id="u3602" class="ax_default _默认样式">
        <img id="u3602_img" class="img " src="images/系统首页/u206.svg"/>
        <div id="u3602_text" class="text ">
          <p><span>Copyright © www.xiangtianchi.com, All Rights Reserved.</span></p><p><span>Email : 840251972@qq.com&nbsp; QQ:&nbsp; 840251972</span></p>
        </div>
      </div>
      <div id="u3601" style="display:none; visibility:hidden;"></div>

      <!-- Unnamed (表格) -->
      <div id="u3603" class="ax_default _表格">

        <!-- Unnamed (单元格) -->
        <div id="u3604" class="ax_default _默认样式">
          <img id="u3604_img" class="img " src="images/修改商品信息/u2489.png"/>
          <div id="u3604_text" class="text ">
            <p><span>订单金额</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u3605" class="ax_default _默认样式">
          <img id="u3605_img" class="img " src="images/修改商品信息/u2490.png"/>
          <div id="u3605_text" class="text ">
            <p><span>¥200.00</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u3606" class="ax_default _默认样式">
          <img id="u3606_img" class="img " src="images/修改商品信息/u2489.png"/>
          <div id="u3606_text" class="text ">
            <p><span>确认退款金额</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u3607" class="ax_default _默认样式">
          <img id="u3607_img" class="img " src="images/修改商品信息/u2490.png"/>
          <div id="u3607_text" class="text ">
            <p><span>¥200.00</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u3608" class="ax_default _默认样式">
          <img id="u3608_img" class="img " src="images/修改商品信息/u2489.png"/>
          <div id="u3608_text" class="text ">
            <p><span>退款方式</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u3609" class="ax_default _默认样式">
          <img id="u3609_img" class="img " src="images/修改商品信息/u2490.png"/>
          <div id="u3609_text" class="text ">
            <p><span>退回到原支付渠道</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u3610" class="ax_default _默认样式">
          <img id="u3610_img" class="img " src="images/修改商品信息/u2489.png"/>
          <div id="u3610_text" class="text ">
            <p><span>退款类型</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u3611" class="ax_default _默认样式">
          <img id="u3611_img" class="img " src="images/修改商品信息/u2490.png"/>
          <div id="u3611_text" class="text ">
            <p><span>取消订单</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u3612" class="ax_default _默认样式">
          <img id="u3612_img" class="img " src="images/修改商品信息/u2507.png"/>
          <div id="u3612_text" class="text ">
            <p><span>退款原因</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u3613" class="ax_default _默认样式">
          <img id="u3613_img" class="img " src="images/修改商品信息/u2508.png"/>
          <div id="u3613_text" class="text ">
            <p><span>原因描述</span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (表格) -->
      <div id="u3614" class="ax_default _表格">

        <!-- Unnamed (单元格) -->
        <div id="u3615" class="ax_default _默认样式">
          <img id="u3615_img" class="img " src="images/修改商品信息/u2489.png"/>
          <div id="u3615_text" class="text ">
            <p><span>处理人员</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u3616" class="ax_default _默认样式">
          <img id="u3616_img" class="img " src="images/修改商品信息/u2490.png"/>
          <div id="u3616_text" class="text ">
            <p><span>admin</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u3617" class="ax_default _默认样式">
          <img id="u3617_img" class="img " src="images/修改商品信息/u2489.png"/>
          <div id="u3617_text" class="text ">
            <p><span>处理时间</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u3618" class="ax_default _默认样式">
          <img id="u3618_img" class="img " src="images/修改商品信息/u2490.png"/>
          <div id="u3618_text" class="text ">
            <p><span>2017-07-19 14:48:38 </span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u3619" class="ax_default _默认样式">
          <img id="u3619_img" class="img " src="images/修改商品信息/u2507.png"/>
          <div id="u3619_text" class="text ">
            <p><span>操作备注</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u3620" class="ax_default _默认样式">
          <img id="u3620_img" class="img " src="images/修改商品信息/u2508.png"/>
          <div id="u3620_text" class="text ">
            <p><span>无</span></p>
          </div>
        </div>
      </div>
    </div>
    <script src="resources/scripts/axure/ios.js"></script>
  </body>
</html>
