<!DOCTYPE html>
<html>
  <head>
    <title>消息模板编辑-手机短信</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link href="resources/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="data/styles.css" type="text/css" rel="stylesheet"/>
    <link href="files/消息模板编辑-手机短信/styles.css" type="text/css" rel="stylesheet"/>
    <link href="http://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.css" type="text/css" rel="stylesheet"/>
    <script src="resources/scripts/jquery-3.7.1.min.js"></script>
    <script src="resources/scripts/axure/axQuery.js"></script>
    <script src="resources/scripts/axure/globals.js"></script>
    <script src="resources/scripts/axutils.js"></script>
    <script src="resources/scripts/axure/annotation.js"></script>
    <script src="resources/scripts/axure/axQuery.std.js"></script>
    <script src="resources/scripts/axure/doc.js"></script>
    <script src="resources/scripts/messagecenter.js"></script>
    <script src="resources/scripts/axure/events.js"></script>
    <script src="resources/scripts/axure/recording.js"></script>
    <script src="resources/scripts/axure/action.js"></script>
    <script src="resources/scripts/axure/expr.js"></script>
    <script src="resources/scripts/axure/geometry.js"></script>
    <script src="resources/scripts/axure/flyout.js"></script>
    <script src="resources/scripts/axure/model.js"></script>
    <script src="resources/scripts/axure/repeater.js"></script>
    <script src="resources/scripts/axure/sto.js"></script>
    <script src="resources/scripts/axure/utils.temp.js"></script>
    <script src="resources/scripts/axure/variables.js"></script>
    <script src="resources/scripts/axure/drag.js"></script>
    <script src="resources/scripts/axure/move.js"></script>
    <script src="resources/scripts/axure/visibility.js"></script>
    <script src="resources/scripts/axure/style.js"></script>
    <script src="resources/scripts/axure/adaptive.js"></script>
    <script src="resources/scripts/axure/tree.js"></script>
    <script src="resources/scripts/axure/init.temp.js"></script>
    <script src="resources/scripts/axure/legacy.js"></script>
    <script src="resources/scripts/axure/viewer.js"></script>
    <script src="resources/scripts/axure/math.js"></script>
    <script src="resources/scripts/axure/jquery.nicescroll.min.js"></script>
    <script src="data/document.js"></script>
    <script src="files/消息模板编辑-手机短信/data.js"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
  </head>
  <body>
    <div id="base" class="">

      <!-- Unnamed (Group) -->
      <div id="u14705" class="ax_default" data-left="0" data-top="119" data-width="1100" data-height="702" layer-opacity="1">

        <!-- Unnamed (Rectangle) -->
        <div id="u14706" class="ax_default _默认样式">
          <div id="u14706_div" class=""></div>
          <div id="u14706_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (标题通栏) -->

      <!-- 灰色背景 (Dynamic Panel) -->
      <div id="u14708" class="ax_default" data-label="灰色背景">
        <div id="u14708_state0" class="panel_state" data-label="State1" style="">
          <div id="u14708_state0_content" class="panel_state_content">
          </div>
        </div>
      </div>

      <!-- 线条 (Dynamic Panel) -->
      <div id="u14709" class="ax_default" data-label="线条">
        <div id="u14709_state0" class="panel_state" data-label="State1" style="">
          <div id="u14709_state0_content" class="panel_state_content">
          </div>
        </div>
      </div>

      <!-- 页面标题 (Rectangle) -->
      <div id="u14710" class="ax_default _默认样式" data-label="页面标题">
        <div id="u14710_div" class=""></div>
        <div id="u14710_text" class="text ">
          <p><span>页面标题</span></p>
        </div>
      </div>
      <div id="u14707" style="display:none; visibility:hidden;"></div>

      <!-- Unnamed (Rectangle) -->
      <div id="u14711" class="ax_default _默认样式">
        <div id="u14711_div" class=""></div>
        <div id="u14711_text" class="text ">
          <p><span>感谢您的订购，您的订单已经提交成功，订单号：$OrderId$。</span></p>
        </div>
      </div>

      <!-- Unnamed (返回) -->

      <!-- Unnamed (Rectangle) -->
      <div id="u14713" class="ax_default _默认样式">
        <div id="u14713_div" class=""></div>
        <div id="u14713_text" class="text ">
          <p><span>返回</span></p>
        </div>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u14714" class="ax_default _默认样式">
        <img id="u14714_img" class="img " src="images/逐个编辑/u1787.svg"/>
        <div id="u14714_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>
      <div id="u14712" style="display:none; visibility:hidden;"></div>

      <!-- Unnamed (底部版权) -->

      <!-- Unnamed (Rectangle) -->
      <div id="u14716" class="ax_default _默认样式">
        <img id="u14716_img" class="img " src="images/登录界面/u23.svg"/>
        <div id="u14716_text" class="text ">
          <p><span>Copyright © www.xiangtianchi.com, All Rights Reserved.</span></p><p><span>Email : 840251972@qq.com&nbsp; QQ:&nbsp; 840251972</span></p>
        </div>
      </div>
      <div id="u14715" style="display:none; visibility:hidden;"></div>

      <!-- Unnamed (Rectangle) -->
      <div id="u14717" class="ax_default _默认样式">
        <img id="u14717_img" class="img " src="images/填写商品信息/u1053.svg"/>
        <div id="u14717_text" class="text ">
          <p><span>消息类型：</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u14718" class="ax_default _默认样式">
        <img id="u14718_img" class="img " src="images/填写商品信息/u1053.svg"/>
        <div id="u14718_text" class="text ">
          <p><span>标签说明：</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u14719" class="ax_default _默认样式" selectiongroup="按纽组-9">
        <div id="u14719_div" class=""></div>
        <div id="u14719_text" class="text ">
          <p><span>提交</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u14720" class="ax_default _默认样式">
        <div id="u14720_div" class=""></div>
        <div id="u14720_text" class="text ">
          <p><span>内容不能为空，长度限制在1-300个字符之间</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u14721" class="ax_default _默认样式">
        <div id="u14721_div" class=""></div>
        <div id="u14721_text" class="text ">
          <p><span>订单创建时</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u14722" class="ax_default _默认样式">
        <img id="u14722_img" class="img " src="images/填写商品信息/u1053.svg"/>
        <div id="u14722_text" class="text ">
          <p><span style="color:#F04844;">*</span><span> 邮件内容：</span></p>
        </div>
      </div>

      <!-- Unnamed (Table) -->
      <div id="u14723" class="ax_default _表格">

        <!-- Unnamed (Table Cell) -->
        <div id="u14724" class="ax_default _默认样式">
          <img id="u14724_img" class="img " src="images/消息模板编辑-电子邮件/u14650.png"/>
          <div id="u14724_text" class="text ">
            <p><span>用户名：$Username$</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u14725" class="ax_default _默认样式">
          <img id="u14725_img" class="img " src="images/消息模板编辑-电子邮件/u14651.png"/>
          <div id="u14725_text" class="text ">
            <p><span>订单号：$OrderId$</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u14726" class="ax_default _默认样式">
          <img id="u14726_img" class="img " src="images/消息模板编辑-电子邮件/u14651.png"/>
          <div id="u14726_text" class="text ">
            <p><span>订单金额：$Total$</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u14727" class="ax_default _默认样式">
          <img id="u14727_img" class="img " src="images/消息模板编辑-电子邮件/u14650.png"/>
          <div id="u14727_text" class="text ">
            <p><span>配送方式：$Shipping_Type$</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u14728" class="ax_default _默认样式">
          <img id="u14728_img" class="img " src="images/消息模板编辑-电子邮件/u14651.png"/>
          <div id="u14728_text" class="text ">
            <p><span>收货人姓名：$Shipping_Name$</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u14729" class="ax_default _默认样式">
          <img id="u14729_img" class="img " src="images/消息模板编辑-电子邮件/u14651.png"/>
          <div id="u14729_text" class="text ">
            <p><span>收货人地址：$Shipping_Addr$</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u14730" class="ax_default _默认样式">
          <img id="u14730_img" class="img " src="images/消息模板编辑-电子邮件/u14650.png"/>
          <div id="u14730_text" class="text ">
            <p><span>收货人邮编：$Shipping_Zip$</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u14731" class="ax_default _默认样式">
          <img id="u14731_img" class="img " src="images/消息模板编辑-电子邮件/u14651.png"/>
          <div id="u14731_text" class="text ">
            <p><span>收货人电话：$Shipping_Phone$</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u14732" class="ax_default _默认样式">
          <img id="u14732_img" class="img " src="images/消息模板编辑-电子邮件/u14651.png"/>
          <div id="u14732_text" class="text ">
            <p><span>收货人手机：$Shipping_Cell$</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u14733" class="ax_default _默认样式">
          <img id="u14733_img" class="img " src="images/消息模板编辑-电子邮件/u14650.png"/>
          <div id="u14733_text" class="text ">
            <p><span>收货人Email：$Shipping_Email$</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u14734" class="ax_default _默认样式">
          <img id="u14734_img" class="img " src="images/消息模板编辑-电子邮件/u14651.png"/>
          <div id="u14734_text" class="text ">
            <p><span>商城名称：$SiteName$</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u14735" class="ax_default _默认样式">
          <img id="u14735_img" class="img " src="images/消息模板编辑-电子邮件/u14651.png"/>
          <div id="u14735_text" class="text ">
            <p><span>备注：$Memo$</span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u14736" class="ax_default _默认样式">
        <div id="u14736_div" class=""></div>
        <div id="u14736_text" class="text ">
          <p><span>手机短信</span></p>
        </div>
      </div>
    </div>
    <script src="resources/scripts/axure/ios.js"></script>
  </body>
</html>
