<!DOCTYPE html>
<html>
  <head>
    <title>消息模板编辑-APP推送消息</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link href="resources/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="data/styles.css" type="text/css" rel="stylesheet"/>
    <link href="files/消息模板编辑-app推送消息/styles.css" type="text/css" rel="stylesheet"/>
    <link href="http://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.css" type="text/css" rel="stylesheet"/>
    <script src="resources/scripts/jquery-3.7.1.min.js"></script>
    <script src="resources/scripts/axure/axQuery.js"></script>
    <script src="resources/scripts/axure/globals.js"></script>
    <script src="resources/scripts/axutils.js"></script>
    <script src="resources/scripts/axure/annotation.js"></script>
    <script src="resources/scripts/axure/axQuery.std.js"></script>
    <script src="resources/scripts/axure/doc.js"></script>
    <script src="resources/scripts/messagecenter.js"></script>
    <script src="resources/scripts/axure/events.js"></script>
    <script src="resources/scripts/axure/recording.js"></script>
    <script src="resources/scripts/axure/action.js"></script>
    <script src="resources/scripts/axure/expr.js"></script>
    <script src="resources/scripts/axure/geometry.js"></script>
    <script src="resources/scripts/axure/flyout.js"></script>
    <script src="resources/scripts/axure/model.js"></script>
    <script src="resources/scripts/axure/repeater.js"></script>
    <script src="resources/scripts/axure/sto.js"></script>
    <script src="resources/scripts/axure/utils.temp.js"></script>
    <script src="resources/scripts/axure/variables.js"></script>
    <script src="resources/scripts/axure/drag.js"></script>
    <script src="resources/scripts/axure/move.js"></script>
    <script src="resources/scripts/axure/visibility.js"></script>
    <script src="resources/scripts/axure/style.js"></script>
    <script src="resources/scripts/axure/adaptive.js"></script>
    <script src="resources/scripts/axure/tree.js"></script>
    <script src="resources/scripts/axure/init.temp.js"></script>
    <script src="resources/scripts/axure/legacy.js"></script>
    <script src="resources/scripts/axure/viewer.js"></script>
    <script src="resources/scripts/axure/math.js"></script>
    <script src="resources/scripts/axure/jquery.nicescroll.min.js"></script>
    <script src="data/document.js"></script>
    <script src="files/消息模板编辑-app推送消息/data.js"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
  </head>
  <body>
    <div id="base" class="">

      <!-- Unnamed (Group) -->
      <div id="u14737" class="ax_default" data-left="0" data-top="119" data-width="1100" data-height="750" layer-opacity="1">

        <!-- Unnamed (Rectangle) -->
        <div id="u14738" class="ax_default _默认样式">
          <div id="u14738_div" class=""></div>
          <div id="u14738_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (标题通栏) -->

      <!-- 灰色背景 (Dynamic Panel) -->
      <div id="u14740" class="ax_default" data-label="灰色背景">
        <div id="u14740_state0" class="panel_state" data-label="State1" style="">
          <div id="u14740_state0_content" class="panel_state_content">
          </div>
        </div>
      </div>

      <!-- 线条 (Dynamic Panel) -->
      <div id="u14741" class="ax_default" data-label="线条">
        <div id="u14741_state0" class="panel_state" data-label="State1" style="">
          <div id="u14741_state0_content" class="panel_state_content">
          </div>
        </div>
      </div>

      <!-- 页面标题 (Rectangle) -->
      <div id="u14742" class="ax_default _默认样式" data-label="页面标题">
        <div id="u14742_div" class=""></div>
        <div id="u14742_text" class="text ">
          <p><span>页面标题</span></p>
        </div>
      </div>
      <div id="u14739" style="display:none; visibility:hidden;"></div>

      <!-- Unnamed (Rectangle) -->
      <div id="u14743" class="ax_default _默认样式">
        <div id="u14743_div" class=""></div>
        <div id="u14743_text" class="text ">
          <p><span>感谢您的订购，您的订单已经提交成功，订单号：$OrderId$。</span></p>
        </div>
      </div>

      <!-- Unnamed (返回) -->

      <!-- Unnamed (Rectangle) -->
      <div id="u14745" class="ax_default _默认样式">
        <div id="u14745_div" class=""></div>
        <div id="u14745_text" class="text ">
          <p><span>返回</span></p>
        </div>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u14746" class="ax_default _默认样式">
        <img id="u14746_img" class="img " src="images/逐个编辑/u1787.svg"/>
        <div id="u14746_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>
      <div id="u14744" style="display:none; visibility:hidden;"></div>

      <!-- Unnamed (底部版权) -->

      <!-- Unnamed (Rectangle) -->
      <div id="u14748" class="ax_default _默认样式">
        <img id="u14748_img" class="img " src="images/登录界面/u23.svg"/>
        <div id="u14748_text" class="text ">
          <p><span>Copyright © www.xiangtianchi.com, All Rights Reserved.</span></p><p><span>Email : 840251972@qq.com&nbsp; QQ:&nbsp; 840251972</span></p>
        </div>
      </div>
      <div id="u14747" style="display:none; visibility:hidden;"></div>

      <!-- Unnamed (Rectangle) -->
      <div id="u14749" class="ax_default _默认样式">
        <img id="u14749_img" class="img " src="images/填写商品信息/u1053.svg"/>
        <div id="u14749_text" class="text ">
          <p><span>消息类型：</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u14750" class="ax_default _默认样式">
        <img id="u14750_img" class="img " src="images/填写商品信息/u1053.svg"/>
        <div id="u14750_text" class="text ">
          <p><span>标签说明：</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u14751" class="ax_default _默认样式" selectiongroup="按纽组-9">
        <div id="u14751_div" class=""></div>
        <div id="u14751_text" class="text ">
          <p><span>提交</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u14752" class="ax_default _默认样式">
        <div id="u14752_div" class=""></div>
        <div id="u14752_text" class="text ">
          <p><span>内容不能为空，长度限制在1-300个字符之间</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u14753" class="ax_default _默认样式">
        <div id="u14753_div" class=""></div>
        <div id="u14753_text" class="text ">
          <p><span>订单创建时</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u14754" class="ax_default _默认样式">
        <img id="u14754_img" class="img " src="images/填写商品信息/u1053.svg"/>
        <div id="u14754_text" class="text ">
          <p><span style="color:#F04844;">*</span><span> APP推送标题：</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u14755" class="ax_default _默认样式">
        <img id="u14755_img" class="img " src="images/填写商品信息/u1053.svg"/>
        <div id="u14755_text" class="text ">
          <p><span style="color:#F04844;">*</span><span> 内容模板：</span></p>
        </div>
      </div>

      <!-- Unnamed (Table) -->
      <div id="u14756" class="ax_default _表格">

        <!-- Unnamed (Table Cell) -->
        <div id="u14757" class="ax_default _默认样式">
          <img id="u14757_img" class="img " src="images/消息模板编辑-电子邮件/u14650.png"/>
          <div id="u14757_text" class="text ">
            <p><span>用户名：$Username$</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u14758" class="ax_default _默认样式">
          <img id="u14758_img" class="img " src="images/消息模板编辑-电子邮件/u14651.png"/>
          <div id="u14758_text" class="text ">
            <p><span>订单号：$OrderId$</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u14759" class="ax_default _默认样式">
          <img id="u14759_img" class="img " src="images/消息模板编辑-电子邮件/u14651.png"/>
          <div id="u14759_text" class="text ">
            <p><span>订单金额：$Total$</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u14760" class="ax_default _默认样式">
          <img id="u14760_img" class="img " src="images/消息模板编辑-电子邮件/u14650.png"/>
          <div id="u14760_text" class="text ">
            <p><span>配送方式：$Shipping_Type$</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u14761" class="ax_default _默认样式">
          <img id="u14761_img" class="img " src="images/消息模板编辑-电子邮件/u14651.png"/>
          <div id="u14761_text" class="text ">
            <p><span>收货人姓名：$Shipping_Name$</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u14762" class="ax_default _默认样式">
          <img id="u14762_img" class="img " src="images/消息模板编辑-电子邮件/u14651.png"/>
          <div id="u14762_text" class="text ">
            <p><span>收货人地址：$Shipping_Addr$</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u14763" class="ax_default _默认样式">
          <img id="u14763_img" class="img " src="images/消息模板编辑-电子邮件/u14650.png"/>
          <div id="u14763_text" class="text ">
            <p><span>收货人邮编：$Shipping_Zip$</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u14764" class="ax_default _默认样式">
          <img id="u14764_img" class="img " src="images/消息模板编辑-电子邮件/u14651.png"/>
          <div id="u14764_text" class="text ">
            <p><span>收货人电话：$Shipping_Phone$</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u14765" class="ax_default _默认样式">
          <img id="u14765_img" class="img " src="images/消息模板编辑-电子邮件/u14651.png"/>
          <div id="u14765_text" class="text ">
            <p><span>收货人手机：$Shipping_Cell$</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u14766" class="ax_default _默认样式">
          <img id="u14766_img" class="img " src="images/消息模板编辑-电子邮件/u14650.png"/>
          <div id="u14766_text" class="text ">
            <p><span>收货人Email：$Shipping_Email$</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u14767" class="ax_default _默认样式">
          <img id="u14767_img" class="img " src="images/消息模板编辑-电子邮件/u14651.png"/>
          <div id="u14767_text" class="text ">
            <p><span>商城名称：$SiteName$</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u14768" class="ax_default _默认样式">
          <img id="u14768_img" class="img " src="images/消息模板编辑-电子邮件/u14651.png"/>
          <div id="u14768_text" class="text ">
            <p><span>备注：$Memo$</span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u14769" class="ax_default _默认样式">
        <div id="u14769_div" class=""></div>
        <div id="u14769_text" class="text ">
          <p><span>订单已提交成功</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u14770" class="ax_default _默认样式">
        <div id="u14770_div" class=""></div>
        <div id="u14770_text" class="text ">
          <p><span>APP推送消息 </span></p>
        </div>
      </div>
    </div>
    <script src="resources/scripts/axure/ios.js"></script>
  </body>
</html>
