<!DOCTYPE html>
<html>
  <head>
    <title>消息模板编辑-电子邮件</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link href="resources/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="data/styles.css" type="text/css" rel="stylesheet"/>
    <link href="files/消息模板编辑-电子邮件/styles.css" type="text/css" rel="stylesheet"/>
    <link href="http://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.css" type="text/css" rel="stylesheet"/>
    <script src="resources/scripts/jquery-3.7.1.min.js"></script>
    <script src="resources/scripts/axure/axQuery.js"></script>
    <script src="resources/scripts/axure/globals.js"></script>
    <script src="resources/scripts/axutils.js"></script>
    <script src="resources/scripts/axure/annotation.js"></script>
    <script src="resources/scripts/axure/axQuery.std.js"></script>
    <script src="resources/scripts/axure/doc.js"></script>
    <script src="resources/scripts/messagecenter.js"></script>
    <script src="resources/scripts/axure/events.js"></script>
    <script src="resources/scripts/axure/recording.js"></script>
    <script src="resources/scripts/axure/action.js"></script>
    <script src="resources/scripts/axure/expr.js"></script>
    <script src="resources/scripts/axure/geometry.js"></script>
    <script src="resources/scripts/axure/flyout.js"></script>
    <script src="resources/scripts/axure/model.js"></script>
    <script src="resources/scripts/axure/repeater.js"></script>
    <script src="resources/scripts/axure/sto.js"></script>
    <script src="resources/scripts/axure/utils.temp.js"></script>
    <script src="resources/scripts/axure/variables.js"></script>
    <script src="resources/scripts/axure/drag.js"></script>
    <script src="resources/scripts/axure/move.js"></script>
    <script src="resources/scripts/axure/visibility.js"></script>
    <script src="resources/scripts/axure/style.js"></script>
    <script src="resources/scripts/axure/adaptive.js"></script>
    <script src="resources/scripts/axure/tree.js"></script>
    <script src="resources/scripts/axure/init.temp.js"></script>
    <script src="resources/scripts/axure/legacy.js"></script>
    <script src="resources/scripts/axure/viewer.js"></script>
    <script src="resources/scripts/axure/math.js"></script>
    <script src="resources/scripts/axure/jquery.nicescroll.min.js"></script>
    <script src="data/document.js"></script>
    <script src="files/消息模板编辑-电子邮件/data.js"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
  </head>
  <body>
    <div id="base" class="">

      <!-- Unnamed (Group) -->
      <div id="u14630" class="ax_default" data-left="0" data-top="110" data-width="1100" data-height="968" layer-opacity="1">

        <!-- Unnamed (Rectangle) -->
        <div id="u14631" class="ax_default _默认样式">
          <div id="u14631_div" class=""></div>
          <div id="u14631_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u14632" class="ax_default" data-left="0" data-top="0" data-width="0" data-height="0" layer-opacity="1">
      </div>

      <!-- Unnamed (标题通栏) -->

      <!-- 灰色背景 (Dynamic Panel) -->
      <div id="u14634" class="ax_default" data-label="灰色背景">
        <div id="u14634_state0" class="panel_state" data-label="State1" style="">
          <div id="u14634_state0_content" class="panel_state_content">
          </div>
        </div>
      </div>

      <!-- 线条 (Dynamic Panel) -->
      <div id="u14635" class="ax_default" data-label="线条">
        <div id="u14635_state0" class="panel_state" data-label="State1" style="">
          <div id="u14635_state0_content" class="panel_state_content">
          </div>
        </div>
      </div>

      <!-- 页面标题 (Rectangle) -->
      <div id="u14636" class="ax_default _默认样式" data-label="页面标题">
        <div id="u14636_div" class=""></div>
        <div id="u14636_text" class="text ">
          <p><span>页面标题</span></p>
        </div>
      </div>
      <div id="u14633" style="display:none; visibility:hidden;"></div>

      <!-- Unnamed (底部版权) -->

      <!-- Unnamed (Rectangle) -->
      <div id="u14638" class="ax_default _默认样式">
        <img id="u14638_img" class="img " src="images/登录界面/u23.svg"/>
        <div id="u14638_text" class="text ">
          <p><span>Copyright © www.xiangtianchi.com, All Rights Reserved.</span></p><p><span>Email : 840251972@qq.com&nbsp; QQ:&nbsp; 840251972</span></p>
        </div>
      </div>
      <div id="u14637" style="display:none; visibility:hidden;"></div>

      <!-- Unnamed (Rectangle) -->
      <div id="u14639" class="ax_default _默认样式">
        <img id="u14639_img" class="img " src="images/填写商品信息/u1053.svg"/>
        <div id="u14639_text" class="text ">
          <p><span>消息类型：</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u14640" class="ax_default _默认样式">
        <img id="u14640_img" class="img " src="images/填写商品信息/u1053.svg"/>
        <div id="u14640_text" class="text ">
          <p><span>标签说明：</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u14641" class="ax_default _默认样式" selectiongroup="按纽组-9">
        <div id="u14641_div" class=""></div>
        <div id="u14641_text" class="text ">
          <p><span>提交</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u14642" class="ax_default _默认样式">
        <div id="u14642_div" class=""></div>
        <div id="u14642_text" class="text ">
          <p><span>邮件內容不能为空，长度限不能超过4000个字符</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u14643" class="ax_default _默认样式">
        <div id="u14643_div" class=""></div>
        <div id="u14643_text" class="text ">
          <p><span>订单创建时</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u14644" class="ax_default _默认样式">
        <img id="u14644_img" class="img " src="images/填写商品信息/u1053.svg"/>
        <div id="u14644_text" class="text ">
          <p><span style="color:#F04844;">*</span><span> 邮件标题：</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u14645" class="ax_default _默认样式">
        <img id="u14645_img" class="img " src="images/填写商品信息/u1053.svg"/>
        <div id="u14645_text" class="text ">
          <p><span style="color:#F04844;">*</span><span> 内容模板：</span></p>
        </div>
      </div>

      <!-- Unnamed (返回) -->

      <!-- Unnamed (Rectangle) -->
      <div id="u14647" class="ax_default _默认样式">
        <div id="u14647_div" class=""></div>
        <div id="u14647_text" class="text ">
          <p><span>返回</span></p>
        </div>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u14648" class="ax_default _默认样式">
        <img id="u14648_img" class="img " src="images/逐个编辑/u1787.svg"/>
        <div id="u14648_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>
      <div id="u14646" style="display:none; visibility:hidden;"></div>

      <!-- Unnamed (Table) -->
      <div id="u14649" class="ax_default _表格">

        <!-- Unnamed (Table Cell) -->
        <div id="u14650" class="ax_default _默认样式">
          <img id="u14650_img" class="img " src="images/消息模板编辑-电子邮件/u14650.png"/>
          <div id="u14650_text" class="text ">
            <p><span>用户名：$Username$</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u14651" class="ax_default _默认样式">
          <img id="u14651_img" class="img " src="images/消息模板编辑-电子邮件/u14651.png"/>
          <div id="u14651_text" class="text ">
            <p><span>订单号：$OrderId$</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u14652" class="ax_default _默认样式">
          <img id="u14652_img" class="img " src="images/消息模板编辑-电子邮件/u14651.png"/>
          <div id="u14652_text" class="text ">
            <p><span>订单金额：$Total$</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u14653" class="ax_default _默认样式">
          <img id="u14653_img" class="img " src="images/消息模板编辑-电子邮件/u14650.png"/>
          <div id="u14653_text" class="text ">
            <p><span>配送方式：$Shipping_Type$</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u14654" class="ax_default _默认样式">
          <img id="u14654_img" class="img " src="images/消息模板编辑-电子邮件/u14651.png"/>
          <div id="u14654_text" class="text ">
            <p><span>收货人姓名：$Shipping_Name$</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u14655" class="ax_default _默认样式">
          <img id="u14655_img" class="img " src="images/消息模板编辑-电子邮件/u14651.png"/>
          <div id="u14655_text" class="text ">
            <p><span>收货人地址：$Shipping_Addr$</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u14656" class="ax_default _默认样式">
          <img id="u14656_img" class="img " src="images/消息模板编辑-电子邮件/u14650.png"/>
          <div id="u14656_text" class="text ">
            <p><span>收货人邮编：$Shipping_Zip$</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u14657" class="ax_default _默认样式">
          <img id="u14657_img" class="img " src="images/消息模板编辑-电子邮件/u14651.png"/>
          <div id="u14657_text" class="text ">
            <p><span>收货人电话：$Shipping_Phone$</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u14658" class="ax_default _默认样式">
          <img id="u14658_img" class="img " src="images/消息模板编辑-电子邮件/u14651.png"/>
          <div id="u14658_text" class="text ">
            <p><span>收货人手机：$Shipping_Cell$</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u14659" class="ax_default _默认样式">
          <img id="u14659_img" class="img " src="images/消息模板编辑-电子邮件/u14650.png"/>
          <div id="u14659_text" class="text ">
            <p><span>收货人Email：$Shipping_Email$</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u14660" class="ax_default _默认样式">
          <img id="u14660_img" class="img " src="images/消息模板编辑-电子邮件/u14651.png"/>
          <div id="u14660_text" class="text ">
            <p><span>商城名称：$SiteName$</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u14661" class="ax_default _默认样式">
          <img id="u14661_img" class="img " src="images/消息模板编辑-电子邮件/u14651.png"/>
          <div id="u14661_text" class="text ">
            <p><span>备注：$Memo$</span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (富文本编辑器) -->

      <!-- Unnamed (Rectangle) -->
      <div id="u14663" class="ax_default _默认样式">
        <div id="u14663_div" class=""></div>
        <div id="u14663_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u14664" class="ax_default _默认样式">
        <div id="u14664_div" class=""></div>
        <div id="u14664_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Image) -->
      <div id="u14665" class="ax_default image">
        <img id="u14665_img" class="img " src="images/填写商品属性/u1321.png"/>
        <div id="u14665_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Repeater) -->
      <div id="u14666" class="ax_default">
        <script id="u14666_script" type="axure-repeater-template">

          <!-- Unnamed (Rectangle) -->
          <div id="u14667" class="ax_default _默认样式 u14667">
            <div id="u14667_div" class="u14667_div"></div>
            <div id="u14667_text" class="text u14667_text" style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>
        </script>
        <div id="u14666-1" class="preeval" style="width: 34px; height: 34px;">

          <!-- Unnamed (Rectangle) -->
          <div id="u14667-1" class="ax_default _默认样式 u14667" style="width: 34px; height: 34px; left: 0px; top: 0px;visibility: inherit">
            <div id="u14667-1_div" class="u14667_div" style="width: 34px; height: 34px;visibility: inherit"></div>
            <div id="u14667-1_text" class="text u14667_text" style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>
        </div>
        <div id="u14666-2" class="preeval" style="width: 34px; height: 34px;">

          <!-- Unnamed (Rectangle) -->
          <div id="u14667-2" class="ax_default _默认样式 u14667" style="width: 34px; height: 34px; left: 0px; top: 0px;visibility: inherit">
            <div id="u14667-2_div" class="u14667_div" style="width: 34px; height: 34px;visibility: inherit"></div>
            <div id="u14667-2_text" class="text u14667_text" style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>
        </div>
        <div id="u14666-3" class="preeval" style="width: 34px; height: 34px;">

          <!-- Unnamed (Rectangle) -->
          <div id="u14667-3" class="ax_default _默认样式 u14667" style="width: 34px; height: 34px; left: 0px; top: 0px;visibility: inherit">
            <div id="u14667-3_div" class="u14667_div" style="width: 34px; height: 34px;visibility: inherit"></div>
            <div id="u14667-3_text" class="text u14667_text" style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>
        </div>
        <div id="u14666-4" class="preeval" style="width: 34px; height: 34px;">

          <!-- Unnamed (Rectangle) -->
          <div id="u14667-4" class="ax_default _默认样式 u14667" style="width: 34px; height: 34px; left: 0px; top: 0px;visibility: inherit">
            <div id="u14667-4_div" class="u14667_div" style="width: 34px; height: 34px;visibility: inherit"></div>
            <div id="u14667-4_text" class="text u14667_text" style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>
        </div>
        <div id="u14666-5" class="preeval" style="width: 34px; height: 34px;">

          <!-- Unnamed (Rectangle) -->
          <div id="u14667-5" class="ax_default _默认样式 u14667" style="width: 34px; height: 34px; left: 0px; top: 0px;visibility: inherit">
            <div id="u14667-5_div" class="u14667_div" style="width: 34px; height: 34px;visibility: inherit"></div>
            <div id="u14667-5_text" class="text u14667_text" style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>
        </div>
        <div id="u14666-6" class="preeval" style="width: 34px; height: 34px;">

          <!-- Unnamed (Rectangle) -->
          <div id="u14667-6" class="ax_default _默认样式 u14667" style="width: 34px; height: 34px; left: 0px; top: 0px;visibility: inherit">
            <div id="u14667-6_div" class="u14667_div" style="width: 34px; height: 34px;visibility: inherit"></div>
            <div id="u14667-6_text" class="text u14667_text" style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>
        </div>
        <div id="u14666-7" class="preeval" style="width: 34px; height: 34px;">

          <!-- Unnamed (Rectangle) -->
          <div id="u14667-7" class="ax_default _默认样式 u14667" style="width: 34px; height: 34px; left: 0px; top: 0px;visibility: inherit">
            <div id="u14667-7_div" class="u14667_div" style="width: 34px; height: 34px;visibility: inherit"></div>
            <div id="u14667-7_text" class="text u14667_text" style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>
        </div>
        <div id="u14666-8" class="preeval" style="width: 34px; height: 34px;">

          <!-- Unnamed (Rectangle) -->
          <div id="u14667-8" class="ax_default _默认样式 u14667" style="width: 34px; height: 34px; left: 0px; top: 0px;visibility: inherit">
            <div id="u14667-8_div" class="u14667_div" style="width: 34px; height: 34px;visibility: inherit"></div>
            <div id="u14667-8_text" class="text u14667_text" style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>
        </div>
        <div id="u14666-9" class="preeval" style="width: 34px; height: 34px;">

          <!-- Unnamed (Rectangle) -->
          <div id="u14667-9" class="ax_default _默认样式 u14667" style="width: 34px; height: 34px; left: 0px; top: 0px;visibility: inherit">
            <div id="u14667-9_div" class="u14667_div" style="width: 34px; height: 34px;visibility: inherit"></div>
            <div id="u14667-9_text" class="text u14667_text" style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>
        </div>
        <div id="u14666-10" class="preeval" style="width: 34px; height: 34px;">

          <!-- Unnamed (Rectangle) -->
          <div id="u14667-10" class="ax_default _默认样式 u14667" style="width: 34px; height: 34px; left: 0px; top: 0px;visibility: inherit">
            <div id="u14667-10_div" class="u14667_div" style="width: 34px; height: 34px;visibility: inherit"></div>
            <div id="u14667-10_text" class="text u14667_text" style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>
        </div>
        <div id="u14666-11" class="preeval" style="width: 34px; height: 34px;">

          <!-- Unnamed (Rectangle) -->
          <div id="u14667-11" class="ax_default _默认样式 u14667" style="width: 34px; height: 34px; left: 0px; top: 0px;visibility: inherit">
            <div id="u14667-11_div" class="u14667_div" style="width: 34px; height: 34px;visibility: inherit"></div>
            <div id="u14667-11_text" class="text u14667_text" style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>
        </div>
        <div id="u14666-12" class="preeval" style="width: 34px; height: 34px;">

          <!-- Unnamed (Rectangle) -->
          <div id="u14667-12" class="ax_default _默认样式 u14667" style="width: 34px; height: 34px; left: 0px; top: 0px;visibility: inherit">
            <div id="u14667-12_div" class="u14667_div" style="width: 34px; height: 34px;visibility: inherit"></div>
            <div id="u14667-12_text" class="text u14667_text" style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>
        </div>
        <div id="u14666-13" class="preeval" style="width: 34px; height: 34px;">

          <!-- Unnamed (Rectangle) -->
          <div id="u14667-13" class="ax_default _默认样式 u14667" style="width: 34px; height: 34px; left: 0px; top: 0px;visibility: inherit">
            <div id="u14667-13_div" class="u14667_div" style="width: 34px; height: 34px;visibility: inherit"></div>
            <div id="u14667-13_text" class="text u14667_text" style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>
        </div>
        <div id="u14666-14" class="preeval" style="width: 34px; height: 34px;">

          <!-- Unnamed (Rectangle) -->
          <div id="u14667-14" class="ax_default _默认样式 u14667" style="width: 34px; height: 34px; left: 0px; top: 0px;visibility: inherit">
            <div id="u14667-14_div" class="u14667_div" style="width: 34px; height: 34px;visibility: inherit"></div>
            <div id="u14667-14_text" class="text u14667_text" style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>
        </div>
        <div id="u14666-15" class="preeval" style="width: 34px; height: 34px;">

          <!-- Unnamed (Rectangle) -->
          <div id="u14667-15" class="ax_default _默认样式 u14667" style="width: 34px; height: 34px; left: 0px; top: 0px;visibility: inherit">
            <div id="u14667-15_div" class="u14667_div" style="width: 34px; height: 34px;visibility: inherit"></div>
            <div id="u14667-15_text" class="text u14667_text" style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>
        </div>
        <div id="u14666-16" class="preeval" style="width: 34px; height: 34px;">

          <!-- Unnamed (Rectangle) -->
          <div id="u14667-16" class="ax_default _默认样式 u14667" style="width: 34px; height: 34px; left: 0px; top: 0px;visibility: inherit">
            <div id="u14667-16_div" class="u14667_div" style="width: 34px; height: 34px;visibility: inherit"></div>
            <div id="u14667-16_text" class="text u14667_text" style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>
        </div>
        <div id="u14666-17" class="preeval" style="width: 34px; height: 34px;">

          <!-- Unnamed (Rectangle) -->
          <div id="u14667-17" class="ax_default _默认样式 u14667" style="width: 34px; height: 34px; left: 0px; top: 0px;visibility: inherit">
            <div id="u14667-17_div" class="u14667_div" style="width: 34px; height: 34px;visibility: inherit"></div>
            <div id="u14667-17_text" class="text u14667_text" style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>
        </div>
        <div id="u14666-18" class="preeval" style="width: 34px; height: 34px;">

          <!-- Unnamed (Rectangle) -->
          <div id="u14667-18" class="ax_default _默认样式 u14667" style="width: 34px; height: 34px; left: 0px; top: 0px;visibility: inherit">
            <div id="u14667-18_div" class="u14667_div" style="width: 34px; height: 34px;visibility: inherit"></div>
            <div id="u14667-18_text" class="text u14667_text" style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>
        </div>
      </div>
      <div id="u14662" style="display:none; visibility:hidden;"></div>

      <!-- Unnamed (Rectangle) -->
      <div id="u14668" class="ax_default _默认样式">
        <div id="u14668_div" class=""></div>
        <div id="u14668_text" class="text ">
          <p><span>订单已提交成功</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u14669" class="ax_default _默认样式">
        <div id="u14669_div" class=""></div>
        <div id="u14669_text" class="text ">
          <p><span>电子邮件</span></p>
        </div>
      </div>
    </div>
    <script src="resources/scripts/axure/ios.js"></script>
  </body>
</html>
