<!DOCTYPE html>
<html>
  <head>
    <title>添加发货点</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link href="resources/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="data/styles.css" type="text/css" rel="stylesheet"/>
    <link href="files/添加发货点/styles.css" type="text/css" rel="stylesheet"/>
    <link href="http://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.css" type="text/css" rel="stylesheet"/>
    <script src="resources/scripts/jquery-3.7.1.min.js"></script>
    <script src="resources/scripts/axure/axQuery.js"></script>
    <script src="resources/scripts/axure/globals.js"></script>
    <script src="resources/scripts/axutils.js"></script>
    <script src="resources/scripts/axure/annotation.js"></script>
    <script src="resources/scripts/axure/axQuery.std.js"></script>
    <script src="resources/scripts/axure/doc.js"></script>
    <script src="resources/scripts/messagecenter.js"></script>
    <script src="resources/scripts/axure/events.js"></script>
    <script src="resources/scripts/axure/recording.js"></script>
    <script src="resources/scripts/axure/action.js"></script>
    <script src="resources/scripts/axure/expr.js"></script>
    <script src="resources/scripts/axure/geometry.js"></script>
    <script src="resources/scripts/axure/flyout.js"></script>
    <script src="resources/scripts/axure/model.js"></script>
    <script src="resources/scripts/axure/repeater.js"></script>
    <script src="resources/scripts/axure/sto.js"></script>
    <script src="resources/scripts/axure/utils.temp.js"></script>
    <script src="resources/scripts/axure/variables.js"></script>
    <script src="resources/scripts/axure/drag.js"></script>
    <script src="resources/scripts/axure/move.js"></script>
    <script src="resources/scripts/axure/visibility.js"></script>
    <script src="resources/scripts/axure/style.js"></script>
    <script src="resources/scripts/axure/adaptive.js"></script>
    <script src="resources/scripts/axure/tree.js"></script>
    <script src="resources/scripts/axure/init.temp.js"></script>
    <script src="resources/scripts/axure/legacy.js"></script>
    <script src="resources/scripts/axure/viewer.js"></script>
    <script src="resources/scripts/axure/math.js"></script>
    <script src="resources/scripts/axure/jquery.nicescroll.min.js"></script>
    <script src="data/document.js"></script>
    <script src="files/添加发货点/data.js"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
  </head>
  <body>
    <div id="base" class="">

      <!-- Unnamed (组合) -->
      <div id="u3944" class="ax_default" data-left="0" data-top="119" data-width="1100" data-height="491" layer-opacity="1">

        <!-- Unnamed (矩形) -->
        <div id="u3945" class="ax_default _默认样式">
          <div id="u3945_div" class=""></div>
          <div id="u3945_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (组合) -->
      <div id="u3946" class="ax_default" data-left="0" data-top="0" data-width="0" data-height="0" layer-opacity="1">
      </div>

      <!-- Unnamed (标题通栏) -->

      <!-- 灰色背景 (动态面板) -->
      <div id="u3948" class="ax_default" data-label="灰色背景">
        <div id="u3948_state0" class="panel_state" data-label="State1" style="">
          <div id="u3948_state0_content" class="panel_state_content">
          </div>
        </div>
      </div>

      <!-- 线条 (动态面板) -->
      <div id="u3949" class="ax_default" data-label="线条">
        <div id="u3949_state0" class="panel_state" data-label="State1" style="">
          <div id="u3949_state0_content" class="panel_state_content">
          </div>
        </div>
      </div>

      <!-- 页面标题 (矩形) -->
      <div id="u3950" class="ax_default _默认样式" data-label="页面标题">
        <div id="u3950_div" class=""></div>
        <div id="u3950_text" class="text ">
          <p><span>页面标题</span></p>
        </div>
      </div>
      <div id="u3947" style="display:none; visibility:hidden;"></div>

      <!-- Unnamed (底部版权) -->

      <!-- Unnamed (矩形) -->
      <div id="u3952" class="ax_default _默认样式">
        <img id="u3952_img" class="img " src="images/系统首页/u206.svg"/>
        <div id="u3952_text" class="text ">
          <p><span>Copyright © www.xiangtianchi.com, All Rights Reserved.</span></p><p><span>Email : 840251972@qq.com&nbsp; QQ:&nbsp; 840251972</span></p>
        </div>
      </div>
      <div id="u3951" style="display:none; visibility:hidden;"></div>

      <!-- Unnamed (返回) -->

      <!-- Unnamed (矩形) -->
      <div id="u3954" class="ax_default _默认样式">
        <div id="u3954_div" class=""></div>
        <div id="u3954_text" class="text ">
          <p><span>返回</span></p>
        </div>
      </div>

      <!-- Unnamed (形状) -->
      <div id="u3955" class="ax_default _默认样式">
        <img id="u3955_img" class="img " src="images/修改商品信息/u2460.svg"/>
        <div id="u3955_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>
      <div id="u3953" style="display:none; visibility:hidden;"></div>

      <!-- Unnamed (矩形) -->
      <div id="u3956" class="ax_default _默认样式" selectiongroup="按纽组-9">
        <div id="u3956_div" class=""></div>
        <div id="u3956_text" class="text ">
          <p><span>提交</span></p>
        </div>
      </div>

      <!-- Unnamed (组合) -->
      <div id="u3957" class="ax_default" data-left="400" data-top="271" data-width="120" data-height="40" layer-opacity="1">

        <!-- Unnamed (矩形) -->
        <div id="u3958" class="ax_default _默认样式">
          <div id="u3958_div" class=""></div>
          <div id="u3958_text" class="text ">
            <p><span>省</span></p>
          </div>
        </div>

        <!-- Unnamed (形状) -->
        <div id="u3959" class="ax_default _默认样式">
          <img id="u3959_img" class="img " src="images/商品列表/u279.svg"/>
          <div id="u3959_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (组合) -->
      <div id="u3960" class="ax_default" data-left="530" data-top="271" data-width="120" data-height="40" layer-opacity="1">

        <!-- Unnamed (矩形) -->
        <div id="u3961" class="ax_default _默认样式">
          <div id="u3961_div" class=""></div>
          <div id="u3961_text" class="text ">
            <p><span>市</span></p>
          </div>
        </div>

        <!-- Unnamed (形状) -->
        <div id="u3962" class="ax_default _默认样式">
          <img id="u3962_img" class="img " src="images/商品列表/u279.svg"/>
          <div id="u3962_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (组合) -->
      <div id="u3963" class="ax_default" data-left="660" data-top="271" data-width="120" data-height="40" layer-opacity="1">

        <!-- Unnamed (矩形) -->
        <div id="u3964" class="ax_default _默认样式">
          <div id="u3964_div" class=""></div>
          <div id="u3964_text" class="text ">
            <p><span>区</span></p>
          </div>
        </div>

        <!-- Unnamed (形状) -->
        <div id="u3965" class="ax_default _默认样式">
          <img id="u3965_img" class="img " src="images/商品列表/u279.svg"/>
          <div id="u3965_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3966" class="ax_default _默认样式">
        <div id="u3966_div" class=""></div>
        <div id="u3966_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3967" class="ax_default _默认样式">
        <img id="u3967_img" class="img " src="images/填写商品信息/u534.svg"/>
        <div id="u3967_text" class="text ">
          <p><span style="color:#F04844;">*</span><span> 发货点名称：</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3968" class="ax_default _默认样式">
        <div id="u3968_div" class=""></div>
        <div id="u3968_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3969" class="ax_default _默认样式">
        <img id="u3969_img" class="img " src="images/填写商品信息/u534.svg"/>
        <div id="u3969_text" class="text ">
          <p><span style="color:#F04844;">*</span><span> 发货人姓名：</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3970" class="ax_default _默认样式">
        <img id="u3970_img" class="img " src="images/填写商品信息/u534.svg"/>
        <div id="u3970_text" class="text ">
          <p><span style="color:#F04844;">*</span><span> 所在区域：</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3971" class="ax_default _默认样式">
        <img id="u3971_img" class="img " src="images/填写商品信息/u534.svg"/>
        <div id="u3971_text" class="text ">
          <p><span style="color:#F04844;">*</span><span> 详细地址：</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3972" class="ax_default _默认样式">
        <div id="u3972_div" class=""></div>
        <div id="u3972_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3973" class="ax_default _默认样式">
        <div id="u3973_div" class=""></div>
        <div id="u3973_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3974" class="ax_default _默认样式">
        <img id="u3974_img" class="img " src="images/填写商品信息/u534.svg"/>
        <div id="u3974_text" class="text ">
          <p><span style="color:#F04844;">*</span><span> 联系电话：</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3975" class="ax_default _默认样式">
        <div id="u3975_div" class=""></div>
        <div id="u3975_text" class="text ">
          <p><span>添加发货点</span></p>
        </div>
      </div>
    </div>
    <script src="resources/scripts/axure/ios.js"></script>
  </body>
</html>
