<!DOCTYPE html>
<html>
  <head>
    <title>添加广告</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link href="resources/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="data/styles.css" type="text/css" rel="stylesheet"/>
    <link href="files/添加广告/styles.css" type="text/css" rel="stylesheet"/>
    <link href="http://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.css" type="text/css" rel="stylesheet"/>
    <script src="resources/scripts/jquery-3.7.1.min.js"></script>
    <script src="resources/scripts/axure/axQuery.js"></script>
    <script src="resources/scripts/axure/globals.js"></script>
    <script src="resources/scripts/axutils.js"></script>
    <script src="resources/scripts/axure/annotation.js"></script>
    <script src="resources/scripts/axure/axQuery.std.js"></script>
    <script src="resources/scripts/axure/doc.js"></script>
    <script src="resources/scripts/messagecenter.js"></script>
    <script src="resources/scripts/axure/events.js"></script>
    <script src="resources/scripts/axure/recording.js"></script>
    <script src="resources/scripts/axure/action.js"></script>
    <script src="resources/scripts/axure/expr.js"></script>
    <script src="resources/scripts/axure/geometry.js"></script>
    <script src="resources/scripts/axure/flyout.js"></script>
    <script src="resources/scripts/axure/model.js"></script>
    <script src="resources/scripts/axure/repeater.js"></script>
    <script src="resources/scripts/axure/sto.js"></script>
    <script src="resources/scripts/axure/utils.temp.js"></script>
    <script src="resources/scripts/axure/variables.js"></script>
    <script src="resources/scripts/axure/drag.js"></script>
    <script src="resources/scripts/axure/move.js"></script>
    <script src="resources/scripts/axure/visibility.js"></script>
    <script src="resources/scripts/axure/style.js"></script>
    <script src="resources/scripts/axure/adaptive.js"></script>
    <script src="resources/scripts/axure/tree.js"></script>
    <script src="resources/scripts/axure/init.temp.js"></script>
    <script src="resources/scripts/axure/legacy.js"></script>
    <script src="resources/scripts/axure/viewer.js"></script>
    <script src="resources/scripts/axure/math.js"></script>
    <script src="resources/scripts/axure/jquery.nicescroll.min.js"></script>
    <script src="data/document.js"></script>
    <script src="files/添加广告/data.js"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
  </head>
  <body>
    <div id="base" class="">

      <!-- Unnamed (Group) -->
      <div id="u11641" class="ax_default" data-left="0" data-top="119" data-width="1100" data-height="746" layer-opacity="1">

        <!-- Unnamed (Rectangle) -->
        <div id="u11642" class="ax_default _默认样式">
          <div id="u11642_div" class=""></div>
          <div id="u11642_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u11643" class="ax_default" data-left="0" data-top="0" data-width="0" data-height="0" layer-opacity="1">
      </div>

      <!-- Unnamed (标题通栏) -->

      <!-- 灰色背景 (Dynamic Panel) -->
      <div id="u11645" class="ax_default" data-label="灰色背景">
        <div id="u11645_state0" class="panel_state" data-label="State1" style="">
          <div id="u11645_state0_content" class="panel_state_content">
          </div>
        </div>
      </div>

      <!-- 线条 (Dynamic Panel) -->
      <div id="u11646" class="ax_default" data-label="线条">
        <div id="u11646_state0" class="panel_state" data-label="State1" style="">
          <div id="u11646_state0_content" class="panel_state_content">
          </div>
        </div>
      </div>

      <!-- 页面标题 (Rectangle) -->
      <div id="u11647" class="ax_default _默认样式" data-label="页面标题">
        <div id="u11647_div" class=""></div>
        <div id="u11647_text" class="text ">
          <p><span>页面标题</span></p>
        </div>
      </div>
      <div id="u11644" style="display:none; visibility:hidden;"></div>

      <!-- Unnamed (底部版权) -->

      <!-- Unnamed (Rectangle) -->
      <div id="u11649" class="ax_default _默认样式">
        <img id="u11649_img" class="img " src="images/系统首页/u206.svg"/>
        <div id="u11649_text" class="text ">
          <p><span>Copyright © www.xiangtianchi.com, All Rights Reserved.</span></p><p><span>Email : 840251972@qq.com&nbsp; QQ:&nbsp; 840251972</span></p>
        </div>
      </div>
      <div id="u11648" style="display:none; visibility:hidden;"></div>

      <!-- Unnamed (返回) -->

      <!-- Unnamed (Rectangle) -->
      <div id="u11651" class="ax_default _默认样式">
        <div id="u11651_div" class=""></div>
        <div id="u11651_text" class="text ">
          <p><span>返回</span></p>
        </div>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u11652" class="ax_default _默认样式">
        <img id="u11652_img" class="img " src="images/逐个编辑/u1585.svg"/>
        <div id="u11652_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>
      <div id="u11650" style="display:none; visibility:hidden;"></div>

      <!-- Unnamed (Rectangle) -->
      <div id="u11653" class="ax_default _默认样式" selectiongroup="按纽组-9">
        <div id="u11653_div" class=""></div>
        <div id="u11653_text" class="text ">
          <p><span>提交</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u11654" class="ax_default _默认样式">
        <img id="u11654_img" class="img " src="images/添加模板/u5925.svg"/>
        <div id="u11654_text" class="text ">
          <p><span>广告备注：</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u11655" class="ax_default _默认样式">
        <div id="u11655_div" class=""></div>
        <div id="u11655_text" class="text ">
          <p><span>请输入内容</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u11656" class="ax_default _默认样式">
        <div id="u11656_div" class=""></div>
        <div id="u11656_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u11657" class="ax_default _默认样式">
        <img id="u11657_img" class="img " src="images/填写商品属性/u1062.svg"/>
        <div id="u11657_text" class="text ">
          <p><span style="color:#F04844;">*</span><span> 广告名称：</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u11658" class="ax_default _默认样式">
        <img id="u11658_img" class="img " src="images/填写商品属性/u1062.svg"/>
        <div id="u11658_text" class="text ">
          <p><span style="color:#F04844;">*</span><span> 开始时间</span><span>：</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u11659" class="ax_default _默认样式">
        <img id="u11659_img" class="img " src="images/填写商品属性/u1062.svg"/>
        <div id="u11659_text" class="text ">
          <p><span style="color:#F04844;">*</span><span> 到期时间：</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u11660" class="ax_default _默认样式">
        <img id="u11660_img" class="img " src="images/填写商品属性/u1062.svg"/>
        <div id="u11660_text" class="text ">
          <p><span>上线/下线：</span></p>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u11661" class="ax_default" data-left="399" data-top="300" data-width="241" data-height="40" layer-opacity="1">

        <!-- Unnamed (Group) -->
        <div id="u11662" class="ax_default" data-left="399" data-top="300" data-width="241" data-height="40" layer-opacity="1">

          <!-- Unnamed (Rectangle) -->
          <div id="u11663" class="ax_default _默认样式">
            <div id="u11663_div" class=""></div>
            <div id="u11663_text" class="text ">
              <p style="font-size:12px;"><span style="font-family:'微软雅黑', sans-serif;font-weight:400;">请</span><span style="font-family:'微软雅黑', sans-serif;font-weight:400;font-size:14px;">选择时间</span></p>
            </div>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u11664" class="ax_default _默认样式">
          <div id="u11664_div" class=""></div>
          <div id="u11664_text" class="text ">
            <p><span></span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u11665" class="ax_default" data-left="399" data-top="350" data-width="241" data-height="40" layer-opacity="1">

        <!-- Unnamed (Group) -->
        <div id="u11666" class="ax_default" data-left="399" data-top="350" data-width="241" data-height="40" layer-opacity="1">

          <!-- Unnamed (Rectangle) -->
          <div id="u11667" class="ax_default _默认样式">
            <div id="u11667_div" class=""></div>
            <div id="u11667_text" class="text ">
              <p style="font-size:12px;"><span style="font-family:'微软雅黑', sans-serif;font-weight:400;">请</span><span style="font-family:'微软雅黑', sans-serif;font-weight:400;font-size:14px;">选择时间</span></p>
            </div>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u11668" class="ax_default _默认样式">
          <div id="u11668_div" class=""></div>
          <div id="u11668_text" class="text ">
            <p><span></span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u11669" class="ax_default" data-left="399" data-top="400" data-width="130" data-height="40" layer-opacity="1">

        <!-- Unnamed (Rectangle) -->
        <div id="u11670" class="ax_default _默认样式">
          <img id="u11670_img" class="img " src="images/填写商品属性/u1072.svg"/>
          <div id="u11670_text" class="text ">
            <p style="font-size:16px;"><span style="font-family:'FontAwesome', sans-serif;font-weight:400;color:#1ABC9C;"></span><span style="font-family:'微软雅黑', sans-serif;font-weight:400;font-size:14px;color:#999999;"> 上线&nbsp; &nbsp; </span><span style="font-family:'FontAwesome', sans-serif;font-weight:400;color:#999999;"></span><span style="font-family:'微软雅黑', sans-serif;font-weight:400;font-size:14px;color:#999999;"> 下线&nbsp;&nbsp; </span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u11671" class="ax_default _默认样式">
        <img id="u11671_img" class="img " src="images/添加模板/u5925.svg"/>
        <div id="u11671_text" class="text ">
          <p><span style="color:#F04844;">*</span><span> 广告图片：</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u11672" class="ax_default _默认样式">
        <div id="u11672_div" class=""></div>
        <div id="u11672_text" class="text ">
          <p style="font-size:14px;"><span style="font-family:'FontAwesome', sans-serif;font-weight:400;font-size:16px;"></span><span style="font-family:'微软雅黑', sans-serif;font-weight:400;"> 选择上传文件</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u11673" class="ax_default _默认样式">
        <div id="u11673_div" class=""></div>
        <div id="u11673_text" class="text ">
          <p><span>只能上传jpg/png格式文件，文件不能超过50kb</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u11674" class="ax_default _默认样式">
        <div id="u11674_div" class=""></div>
        <div id="u11674_text" class="text ">
          <p><span>广告名称只是作为辨别多个广告条目之用，并不显示在广告中</span></p>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u11675" class="ax_default" data-left="400" data-top="250" data-width="240" data-height="40" layer-opacity="1">

        <!-- Unnamed (Group) -->
        <div id="u11676" class="ax_default" data-left="400" data-top="250" data-width="239" data-height="40" layer-opacity="1">

          <!-- Unnamed (Rectangle) -->
          <div id="u11677" class="ax_default _默认样式">
            <div id="u11677_div" class=""></div>
            <div id="u11677_text" class="text ">
              <p><span>请选择</span></p>
            </div>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u11678" class="ax_default _默认样式">
          <div id="u11678_div" class=""></div>
          <div id="u11678_text" class="text ">
            <p><span></span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u11679" class="ax_default _默认样式">
        <img id="u11679_img" class="img " src="images/填写商品属性/u1062.svg"/>
        <div id="u11679_text" class="text ">
          <p><span style="color:#F04844;">*</span><span> 广告位置：</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u11680" class="ax_default _默认样式">
        <div id="u11680_div" class=""></div>
        <div id="u11680_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u11681" class="ax_default _默认样式">
        <img id="u11681_img" class="img " src="images/填写商品属性/u1062.svg"/>
        <div id="u11681_text" class="text ">
          <p><span style="color:#F04844;">*</span><span> 广告链接：</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u11682" class="ax_default _默认样式">
        <div id="u11682_div" class=""></div>
        <div id="u11682_text" class="text ">
          <p><span>添加广告</span></p>
        </div>
      </div>
    </div>
    <script src="resources/scripts/axure/ios.js"></script>
  </body>
</html>
