<!DOCTYPE html>
<html>
  <head>
    <title>添加模板</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link href="resources/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="data/styles.css" type="text/css" rel="stylesheet"/>
    <link href="files/添加模板/styles.css" type="text/css" rel="stylesheet"/>
    <link href="http://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.css" type="text/css" rel="stylesheet"/>
    <script src="resources/scripts/jquery-3.7.1.min.js"></script>
    <script src="resources/scripts/axure/axQuery.js"></script>
    <script src="resources/scripts/axure/globals.js"></script>
    <script src="resources/scripts/axutils.js"></script>
    <script src="resources/scripts/axure/annotation.js"></script>
    <script src="resources/scripts/axure/axQuery.std.js"></script>
    <script src="resources/scripts/axure/doc.js"></script>
    <script src="resources/scripts/messagecenter.js"></script>
    <script src="resources/scripts/axure/events.js"></script>
    <script src="resources/scripts/axure/recording.js"></script>
    <script src="resources/scripts/axure/action.js"></script>
    <script src="resources/scripts/axure/expr.js"></script>
    <script src="resources/scripts/axure/geometry.js"></script>
    <script src="resources/scripts/axure/flyout.js"></script>
    <script src="resources/scripts/axure/model.js"></script>
    <script src="resources/scripts/axure/repeater.js"></script>
    <script src="resources/scripts/axure/sto.js"></script>
    <script src="resources/scripts/axure/utils.temp.js"></script>
    <script src="resources/scripts/axure/variables.js"></script>
    <script src="resources/scripts/axure/drag.js"></script>
    <script src="resources/scripts/axure/move.js"></script>
    <script src="resources/scripts/axure/visibility.js"></script>
    <script src="resources/scripts/axure/style.js"></script>
    <script src="resources/scripts/axure/adaptive.js"></script>
    <script src="resources/scripts/axure/tree.js"></script>
    <script src="resources/scripts/axure/init.temp.js"></script>
    <script src="resources/scripts/axure/legacy.js"></script>
    <script src="resources/scripts/axure/viewer.js"></script>
    <script src="resources/scripts/axure/math.js"></script>
    <script src="resources/scripts/axure/jquery.nicescroll.min.js"></script>
    <script src="data/document.js"></script>
    <script src="files/添加模板/data.js"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
  </head>
  <body>
    <div id="base" class="">

      <!-- Unnamed (标题通栏) -->

      <!-- 灰色背景 (动态面板) -->
      <div id="u3758" class="ax_default" data-label="灰色背景">
        <div id="u3758_state0" class="panel_state" data-label="State1" style="">
          <div id="u3758_state0_content" class="panel_state_content">
          </div>
        </div>
      </div>

      <!-- 线条 (动态面板) -->
      <div id="u3759" class="ax_default" data-label="线条">
        <div id="u3759_state0" class="panel_state" data-label="State1" style="">
          <div id="u3759_state0_content" class="panel_state_content">
          </div>
        </div>
      </div>

      <!-- 页面标题 (矩形) -->
      <div id="u3760" class="ax_default _默认样式" data-label="页面标题">
        <div id="u3760_div" class=""></div>
        <div id="u3760_text" class="text ">
          <p><span>页面标题</span></p>
        </div>
      </div>
      <div id="u3757" style="display:none; visibility:hidden;"></div>

      <!-- Unnamed (底部版权) -->

      <!-- Unnamed (矩形) -->
      <div id="u3762" class="ax_default _默认样式">
        <img id="u3762_img" class="img " src="images/系统首页/u206.svg"/>
        <div id="u3762_text" class="text ">
          <p><span>Copyright © www.xiangtianchi.com, All Rights Reserved.</span></p><p><span>Email : 840251972@qq.com&nbsp; QQ:&nbsp; 840251972</span></p>
        </div>
      </div>
      <div id="u3761" style="display:none; visibility:hidden;"></div>

      <!-- Unnamed (表格) -->
      <div id="u3763" class="ax_default _表格">

        <!-- Unnamed (单元格) -->
        <div id="u3764" class="ax_default _默认样式">
          <img id="u3764_img" class="img " src="images/添加模板/u3764.png"/>
          <div id="u3764_text" class="text ">
            <p><span>单据名称</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u3765" class="ax_default _默认样式">
          <img id="u3765_img" class="img " src="images/添加模板/u3765.png"/>
          <div id="u3765_text" class="text ">
            <p><span>单据尺寸</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u3766" class="ax_default _默认样式">
          <img id="u3766_img" class="img " src="images/添加模板/u3766.png"/>
          <div id="u3766_text" class="text ">
            <p><span>单据背景图</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u3767" class="ax_default _默认样式">
          <img id="u3767_img" class="img " src="images/添加模板/u3767.png"/>
          <div id="u3767_text" class="text ">
            <p><span>单据打印项</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u3768" class="ax_default _默认样式">
          <img id="u3768_img" class="img " src="images/添加模板/u3768.png"/>
          <div id="u3768_text" class="text ">
            <p><span>操作</span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3769" class="ax_default _默认样式">
        <div id="u3769_div" class=""></div>
        <div id="u3769_text" class="text ">
          <p><span>模板设置区域</span></p>
        </div>
      </div>

      <!-- Unnamed (刷新) -->

      <!-- Unnamed (矩形) -->
      <div id="u3771" class="ax_default _默认样式" title="刷新">
        <div id="u3771_div" class=""></div>
        <div id="u3771_text" class="text ">
          <p><span>刷新</span></p>
        </div>
      </div>

      <!-- Unnamed (组合) -->
      <div id="u3772" class="ax_default" data-left="941" data-top="16" data-width="19" data-height="17" layer-opacity="1">

        <!-- Unnamed (形状) -->
        <div id="u3773" class="ax_default _默认样式">
          <img id="u3773_img" class="img " src="images/系统首页/u22.svg"/>
          <div id="u3773_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (形状) -->
        <div id="u3774" class="ax_default _默认样式">
          <img id="u3774_img" class="img " src="images/系统首页/u23.svg"/>
          <div id="u3774_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>
      </div>
      <div id="u3770" style="display:none; visibility:hidden;"></div>

      <!-- Unnamed (组合) -->
      <div id="u3775" class="ax_default" data-left="10" data-top="119" data-width="210" data-height="40" layer-opacity="1">

        <!-- Unnamed (矩形) -->
        <div id="u3776" class="ax_default _默认样式">
          <div id="u3776_div" class=""></div>
          <div id="u3776_text" class="text ">
            <p><span>顺丰快递</span></p>
          </div>
        </div>

        <!-- Unnamed (形状) -->
        <div id="u3777" class="ax_default _默认样式">
          <img id="u3777_img" class="img " src="images/商品列表/u279.svg"/>
          <div id="u3777_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3778" class="ax_default _默认样式">
        <div id="u3778_div" class=""></div>
        <div id="u3778_text" class="text ">
          <p><span>228</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3779" class="ax_default _默认样式">
        <div id="u3779_div" class=""></div>
        <div id="u3779_text" class="text ">
          <p><span>MM</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3780" class="ax_default _默认样式">
        <img id="u3780_img" class="img " src="images/添加模板/u3780.svg"/>
        <div id="u3780_text" class="text ">
          <p><span>宽：</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3781" class="ax_default _默认样式">
        <div id="u3781_div" class=""></div>
        <div id="u3781_text" class="text ">
          <p><span>127</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3782" class="ax_default _默认样式">
        <div id="u3782_div" class=""></div>
        <div id="u3782_text" class="text ">
          <p><span>MM</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3783" class="ax_default _默认样式">
        <img id="u3783_img" class="img " src="images/添加模板/u3780.svg"/>
        <div id="u3783_text" class="text ">
          <p><span>高：</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3784" class="ax_default _默认样式">
        <img id="u3784_img" class="img " src="images/添加模板/u3784.svg"/>
        <div id="u3784_text" class="text ">
          <p><a id="u3785" class="link"><span>&nbsp;上传</span></a><span>&nbsp;&nbsp; 删除</span></p>
        </div>
      </div>

      <!-- Unnamed (组合) -->
      <div id="u3786" class="ax_default" data-left="712" data-top="119" data-width="180" data-height="40" layer-opacity="1">

        <!-- Unnamed (矩形) -->
        <div id="u3787" class="ax_default _默认样式">
          <div id="u3787_div" class=""></div>
          <div id="u3787_text" class="text ">
            <p><span>请选择打印项</span></p>
          </div>
        </div>

        <!-- Unnamed (形状) -->
        <div id="u3788" class="ax_default _默认样式">
          <img id="u3788_img" class="img " src="images/商品列表/u279.svg"/>
          <div id="u3788_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3789" class="ax_default _默认样式">
        <img id="u3789_img" class="img " src="images/添加模板/u3789.svg"/>
        <div id="u3789_text" class="text ">
          <p><span>添加</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3790" class="ax_default _默认样式">
        <div id="u3790_div" class=""></div>
        <div id="u3790_text" class="text ">
          <p><span>保存</span></p>
        </div>
      </div>

      <!-- Unnamed (返回) -->

      <!-- Unnamed (矩形) -->
      <div id="u3792" class="ax_default _默认样式">
        <div id="u3792_div" class=""></div>
        <div id="u3792_text" class="text ">
          <p><span>返回</span></p>
        </div>
      </div>

      <!-- Unnamed (形状) -->
      <div id="u3793" class="ax_default _默认样式">
        <img id="u3793_img" class="img " src="images/修改商品信息/u2460.svg"/>
        <div id="u3793_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>
      <div id="u3791" style="display:none; visibility:hidden;"></div>

      <!-- 对话框 (动态面板) -->
      <div id="u3794" class="ax_default ax_default_hidden" data-label="对话框" style="display:none; visibility: hidden">
        <div id="u3794_state0" class="panel_state" data-label="上传图片" style="">
          <div id="u3794_state0_content" class="panel_state_content">

            <!-- Unnamed (矩形) -->
            <div id="u3795" class="ax_default _默认样式">
              <div id="u3795_div" class=""></div>
              <div id="u3795_text" class="text " style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u3796" class="ax_default _默认样式">
              <div id="u3796_div" class=""></div>
              <div id="u3796_text" class="text " style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>

            <!-- Unnamed (组合) -->
            <div id="u3797" class="ax_default" data-left="393" data-top="257" data-width="180" data-height="35" layer-opacity="1">

              <!-- Unnamed (组合) -->
              <div id="u3798" class="ax_default" data-left="393" data-top="257" data-width="180" data-height="35" layer-opacity="1">

                <!-- Unnamed (矩形) -->
                <div id="u3799" class="ax_default _默认样式">
                  <div id="u3799_div" class=""></div>
                  <div id="u3799_text" class="text ">
                    <p><span>取消</span></p>
                  </div>
                </div>

                <!-- Unnamed (矩形) -->
                <div id="u3800" class="ax_default _默认样式">
                  <div id="u3800_div" class=""></div>
                  <div id="u3800_text" class="text ">
                    <p><span>确定</span></p>
                  </div>
                </div>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u3801" class="ax_default _默认样式">
              <div id="u3801_div" class=""></div>
              <div id="u3801_text" class="text ">
                <p><span>上传图片</span></p>
              </div>
            </div>

            <!-- Unnamed (形状) -->
            <div id="u3802" class="ax_default _默认样式">
              <img id="u3802_img" class="img " src="images/商品列表/u232.svg"/>
              <div id="u3802_text" class="text " style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u3803" class="ax_default _默认样式">
              <img id="u3803_img" class="img " src="images/填写商品属性/u628.svg"/>
              <div id="u3803_text" class="text ">
                <p><span>选择图片：</span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u3804" class="ax_default _默认样式">
              <div id="u3804_div" class=""></div>
              <div id="u3804_text" class="text ">
                <p style="font-size:14px;"><span style="font-family:'FontAwesome', sans-serif;font-weight:400;font-size:16px;"></span><span style="font-family:'微软雅黑', sans-serif;font-weight:400;"> 选择上传文件</span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u3805" class="ax_default _默认样式">
              <div id="u3805_div" class=""></div>
              <div id="u3805_text" class="text ">
                <p><span>注意：扫描图片分辨率请调整为96dpi，图片格式jpg/png</span></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="resources/scripts/axure/ios.js"></script>
  </body>
</html>
