<!DOCTYPE html>
<html>
  <head>
    <title>添加模板</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link href="resources/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="data/styles.css" type="text/css" rel="stylesheet"/>
    <link href="files/添加模板_1/styles.css" type="text/css" rel="stylesheet"/>
    <link href="http://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.css" type="text/css" rel="stylesheet"/>
    <script src="resources/scripts/jquery-3.7.1.min.js"></script>
    <script src="resources/scripts/axure/axQuery.js"></script>
    <script src="resources/scripts/axure/globals.js"></script>
    <script src="resources/scripts/axutils.js"></script>
    <script src="resources/scripts/axure/annotation.js"></script>
    <script src="resources/scripts/axure/axQuery.std.js"></script>
    <script src="resources/scripts/axure/doc.js"></script>
    <script src="resources/scripts/messagecenter.js"></script>
    <script src="resources/scripts/axure/events.js"></script>
    <script src="resources/scripts/axure/recording.js"></script>
    <script src="resources/scripts/axure/action.js"></script>
    <script src="resources/scripts/axure/expr.js"></script>
    <script src="resources/scripts/axure/geometry.js"></script>
    <script src="resources/scripts/axure/flyout.js"></script>
    <script src="resources/scripts/axure/model.js"></script>
    <script src="resources/scripts/axure/repeater.js"></script>
    <script src="resources/scripts/axure/sto.js"></script>
    <script src="resources/scripts/axure/utils.temp.js"></script>
    <script src="resources/scripts/axure/variables.js"></script>
    <script src="resources/scripts/axure/drag.js"></script>
    <script src="resources/scripts/axure/move.js"></script>
    <script src="resources/scripts/axure/visibility.js"></script>
    <script src="resources/scripts/axure/style.js"></script>
    <script src="resources/scripts/axure/adaptive.js"></script>
    <script src="resources/scripts/axure/tree.js"></script>
    <script src="resources/scripts/axure/init.temp.js"></script>
    <script src="resources/scripts/axure/legacy.js"></script>
    <script src="resources/scripts/axure/viewer.js"></script>
    <script src="resources/scripts/axure/math.js"></script>
    <script src="resources/scripts/axure/jquery.nicescroll.min.js"></script>
    <script src="data/document.js"></script>
    <script src="files/添加模板_1/data.js"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
  </head>
  <body>
    <div id="base" class="">

      <!-- Unnamed (Group) -->
      <div id="u14891" class="ax_default" data-left="0" data-top="119" data-width="1100" data-height="568" layer-opacity="1">

        <!-- Unnamed (Rectangle) -->
        <div id="u14892" class="ax_default _默认样式">
          <div id="u14892_div" class=""></div>
          <div id="u14892_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u14893" class="ax_default" data-left="0" data-top="0" data-width="0" data-height="0" layer-opacity="1">
      </div>

      <!-- Unnamed (标题通栏) -->

      <!-- 灰色背景 (Dynamic Panel) -->
      <div id="u14895" class="ax_default" data-label="灰色背景">
        <div id="u14895_state0" class="panel_state" data-label="State1" style="">
          <div id="u14895_state0_content" class="panel_state_content">
          </div>
        </div>
      </div>

      <!-- 线条 (Dynamic Panel) -->
      <div id="u14896" class="ax_default" data-label="线条">
        <div id="u14896_state0" class="panel_state" data-label="State1" style="">
          <div id="u14896_state0_content" class="panel_state_content">
          </div>
        </div>
      </div>

      <!-- 页面标题 (Rectangle) -->
      <div id="u14897" class="ax_default _默认样式" data-label="页面标题">
        <div id="u14897_div" class=""></div>
        <div id="u14897_text" class="text ">
          <p><span>页面标题</span></p>
        </div>
      </div>
      <div id="u14894" style="display:none; visibility:hidden;"></div>

      <!-- Unnamed (底部版权) -->

      <!-- Unnamed (Rectangle) -->
      <div id="u14899" class="ax_default _默认样式">
        <img id="u14899_img" class="img " src="images/登录界面/u23.svg"/>
        <div id="u14899_text" class="text ">
          <p><span>Copyright © www.xiangtianchi.com, All Rights Reserved.</span></p><p><span>Email : 840251972@qq.com&nbsp; QQ:&nbsp; 840251972</span></p>
        </div>
      </div>
      <div id="u14898" style="display:none; visibility:hidden;"></div>

      <!-- Unnamed (Rectangle) -->
      <div id="u14900" class="ax_default _默认样式">
        <img id="u14900_img" class="img " src="images/填写商品信息/u1053.svg"/>
        <div id="u14900_text" class="text ">
          <p><span style="color:#F04844;">*</span><span> 模板名称：</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u14901" class="ax_default _默认样式">
        <div id="u14901_div" class=""></div>
        <div id="u14901_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u14902" class="ax_default _默认样式">
        <img id="u14902_img" class="img " src="images/添加模板_1/u14902.svg"/>
        <div id="u14902_text" class="text ">
          <p><span style="color:#F04844;">*</span><span> 费用计算方式：</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u14903" class="ax_default _默认样式" selectiongroup="按纽组-9">
        <div id="u14903_div" class=""></div>
        <div id="u14903_text" class="text ">
          <p><span>提交</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u14904" class="ax_default _默认样式">
        <img id="u14904_img" class="img " src="images/填写商品信息/u1053.svg"/>
        <div id="u14904_text" class="text ">
          <p><span style="color:#F04844;">*</span><span> 首重（kg）：</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u14905" class="ax_default _默认样式">
        <img id="u14905_img" class="img " src="images/填写商品信息/u1053.svg"/>
        <div id="u14905_text" class="text ">
          <p><span style="color:#F04844;">*</span><span> 首费（元）：</span></p>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u14906" class="ax_default" data-left="400" data-top="220" data-width="252" data-height="40" layer-opacity="1">

        <!-- Unnamed (Rectangle) -->
        <div id="u14907" class="ax_default _默认样式">
          <img id="u14907_img" class="img " src="images/验证码设置/u14787.svg"/>
          <div id="u14907_text" class="text ">
            <p style="font-size:16px;"><span style="font-family:'FontAwesome', sans-serif;font-weight:400;color:#1ABC9C;"></span><span style="font-family:'微软雅黑', sans-serif;font-weight:400;font-size:14px;color:#999999;"> 按重量计算&nbsp; &nbsp; </span><span style="font-family:'FontAwesome', sans-serif;font-weight:400;color:#999999;"></span><span style="font-family:'微软雅黑', sans-serif;font-weight:400;font-size:14px;color:#999999;"> 按商品件数计算&nbsp; &nbsp; </span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u14908" class="ax_default _默认样式">
        <div id="u14908_div" class=""></div>
        <div id="u14908_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u14909" class="ax_default _默认样式">
        <div id="u14909_div" class=""></div>
        <div id="u14909_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u14910" class="ax_default _默认样式">
        <img id="u14910_img" class="img " src="images/填写商品信息/u1053.svg"/>
        <div id="u14910_text" class="text ">
          <p><span style="color:#F04844;">*</span><span> 续重（kg）：</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u14911" class="ax_default _默认样式">
        <img id="u14911_img" class="img " src="images/填写商品信息/u1053.svg"/>
        <div id="u14911_text" class="text ">
          <p><span style="color:#F04844;">*</span><span> 续费（元）：</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u14912" class="ax_default _默认样式">
        <div id="u14912_div" class=""></div>
        <div id="u14912_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u14913" class="ax_default _默认样式">
        <div id="u14913_div" class=""></div>
        <div id="u14913_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u14914" class="ax_default _默认样式">
        <img id="u14914_img" class="img " src="images/填写商品信息/u1053.svg"/>
        <div id="u14914_text" class="text ">
          <p><span style="color:#F04844;">*</span><span> 目的地：</span></p>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u14915" class="ax_default" data-left="400" data-top="472" data-width="120" data-height="40" layer-opacity="1">

        <!-- Unnamed (Rectangle) -->
        <div id="u14916" class="ax_default _默认样式">
          <div id="u14916_div" class=""></div>
          <div id="u14916_text" class="text ">
            <p><span>省</span></p>
          </div>
        </div>

        <!-- Unnamed (Shape) -->
        <div id="u14917" class="ax_default _默认样式">
          <img id="u14917_img" class="img " src="images/商品列表/u694.svg"/>
          <div id="u14917_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u14918" class="ax_default" data-left="530" data-top="472" data-width="120" data-height="40" layer-opacity="1">

        <!-- Unnamed (Rectangle) -->
        <div id="u14919" class="ax_default _默认样式">
          <div id="u14919_div" class=""></div>
          <div id="u14919_text" class="text ">
            <p><span>市</span></p>
          </div>
        </div>

        <!-- Unnamed (Shape) -->
        <div id="u14920" class="ax_default _默认样式">
          <img id="u14920_img" class="img " src="images/商品列表/u694.svg"/>
          <div id="u14920_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u14921" class="ax_default" data-left="660" data-top="472" data-width="120" data-height="40" layer-opacity="1">

        <!-- Unnamed (Rectangle) -->
        <div id="u14922" class="ax_default _默认样式">
          <div id="u14922_div" class=""></div>
          <div id="u14922_text" class="text ">
            <p><span>区</span></p>
          </div>
        </div>

        <!-- Unnamed (Shape) -->
        <div id="u14923" class="ax_default _默认样式">
          <img id="u14923_img" class="img " src="images/商品列表/u694.svg"/>
          <div id="u14923_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u14924" class="ax_default _默认样式">
        <img id="u14924_img" class="img " src="images/添加分类/u2458.svg"/>
        <div id="u14924_text" class="text ">
          <p><span>添加</span></p>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u14925" class="ax_default" data-left="400" data-top="530" data-width="77" data-height="26" layer-opacity="1">

        <!-- Unnamed (Rectangle) -->
        <div id="u14926" class="ax_default _默认样式">
          <div id="u14926_div" class=""></div>
          <div id="u14926_text" class="text ">
            <p><span>北京市</span></p>
          </div>
        </div>

        <!-- Unnamed (Group) -->
        <div id="u14927" class="ax_default" data-left="460" data-top="538" data-width="10" data-height="10" layer-opacity="1">

          <!-- Unnamed (Shape) -->
          <div id="u14928" class="ax_default _默认样式">
            <img id="u14928_img" class="img " src="images/填写商品信息/u1189.svg"/>
            <div id="u14928_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Shape) -->
          <div id="u14929" class="ax_default _默认样式">
            <img id="u14929_img" class="img " src="images/填写商品信息/u1190.svg"/>
            <div id="u14929_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u14930" class="ax_default" data-left="487" data-top="530" data-width="77" data-height="26" layer-opacity="1">

        <!-- Unnamed (Rectangle) -->
        <div id="u14931" class="ax_default _默认样式">
          <div id="u14931_div" class=""></div>
          <div id="u14931_text" class="text ">
            <p><span>深圳市</span></p>
          </div>
        </div>

        <!-- Unnamed (Group) -->
        <div id="u14932" class="ax_default" data-left="547" data-top="538" data-width="10" data-height="10" layer-opacity="1">

          <!-- Unnamed (Shape) -->
          <div id="u14933" class="ax_default _默认样式">
            <img id="u14933_img" class="img " src="images/填写商品信息/u1189.svg"/>
            <div id="u14933_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Shape) -->
          <div id="u14934" class="ax_default _默认样式">
            <img id="u14934_img" class="img " src="images/填写商品信息/u1190.svg"/>
            <div id="u14934_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u14935" class="ax_default" data-left="574" data-top="530" data-width="77" data-height="26" layer-opacity="1">

        <!-- Unnamed (Rectangle) -->
        <div id="u14936" class="ax_default _默认样式">
          <div id="u14936_div" class=""></div>
          <div id="u14936_text" class="text ">
            <p><span>上海市</span></p>
          </div>
        </div>

        <!-- Unnamed (Group) -->
        <div id="u14937" class="ax_default" data-left="634" data-top="538" data-width="10" data-height="10" layer-opacity="1">

          <!-- Unnamed (Shape) -->
          <div id="u14938" class="ax_default _默认样式">
            <img id="u14938_img" class="img " src="images/填写商品信息/u1189.svg"/>
            <div id="u14938_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Shape) -->
          <div id="u14939" class="ax_default _默认样式">
            <img id="u14939_img" class="img " src="images/填写商品信息/u1190.svg"/>
            <div id="u14939_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u14940" class="ax_default" data-left="661" data-top="530" data-width="77" data-height="26" layer-opacity="1">

        <!-- Unnamed (Rectangle) -->
        <div id="u14941" class="ax_default _默认样式">
          <div id="u14941_div" class=""></div>
          <div id="u14941_text" class="text ">
            <p><span>广州市</span></p>
          </div>
        </div>

        <!-- Unnamed (Group) -->
        <div id="u14942" class="ax_default" data-left="721" data-top="538" data-width="10" data-height="10" layer-opacity="1">

          <!-- Unnamed (Shape) -->
          <div id="u14943" class="ax_default _默认样式">
            <img id="u14943_img" class="img " src="images/填写商品信息/u1189.svg"/>
            <div id="u14943_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Shape) -->
          <div id="u14944" class="ax_default _默认样式">
            <img id="u14944_img" class="img " src="images/填写商品信息/u1190.svg"/>
            <div id="u14944_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>
        </div>
      </div>

      <!-- Unnamed (返回) -->

      <!-- Unnamed (Rectangle) -->
      <div id="u14946" class="ax_default _默认样式">
        <div id="u14946_div" class=""></div>
        <div id="u14946_text" class="text ">
          <p><span>返回</span></p>
        </div>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u14947" class="ax_default _默认样式">
        <img id="u14947_img" class="img " src="images/逐个编辑/u1787.svg"/>
        <div id="u14947_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>
      <div id="u14945" style="display:none; visibility:hidden;"></div>

      <!-- Unnamed (Rectangle) -->
      <div id="u14948" class="ax_default _默认样式">
        <div id="u14948_div" class=""></div>
        <div id="u14948_text" class="text ">
          <p><span>添加模板</span></p>
        </div>
      </div>
    </div>
    <script src="resources/scripts/axure/ios.js"></script>
  </body>
</html>
