<!DOCTYPE html>
<html>
  <head>
    <title>添加属性</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link href="resources/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="data/styles.css" type="text/css" rel="stylesheet"/>
    <link href="files/添加属性/styles.css" type="text/css" rel="stylesheet"/>
    <link href="http://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.css" type="text/css" rel="stylesheet"/>
    <script src="resources/scripts/jquery-3.7.1.min.js"></script>
    <script src="resources/scripts/axure/axQuery.js"></script>
    <script src="resources/scripts/axure/globals.js"></script>
    <script src="resources/scripts/axutils.js"></script>
    <script src="resources/scripts/axure/annotation.js"></script>
    <script src="resources/scripts/axure/axQuery.std.js"></script>
    <script src="resources/scripts/axure/doc.js"></script>
    <script src="resources/scripts/messagecenter.js"></script>
    <script src="resources/scripts/axure/events.js"></script>
    <script src="resources/scripts/axure/recording.js"></script>
    <script src="resources/scripts/axure/action.js"></script>
    <script src="resources/scripts/axure/expr.js"></script>
    <script src="resources/scripts/axure/geometry.js"></script>
    <script src="resources/scripts/axure/flyout.js"></script>
    <script src="resources/scripts/axure/model.js"></script>
    <script src="resources/scripts/axure/repeater.js"></script>
    <script src="resources/scripts/axure/sto.js"></script>
    <script src="resources/scripts/axure/utils.temp.js"></script>
    <script src="resources/scripts/axure/variables.js"></script>
    <script src="resources/scripts/axure/drag.js"></script>
    <script src="resources/scripts/axure/move.js"></script>
    <script src="resources/scripts/axure/visibility.js"></script>
    <script src="resources/scripts/axure/style.js"></script>
    <script src="resources/scripts/axure/adaptive.js"></script>
    <script src="resources/scripts/axure/tree.js"></script>
    <script src="resources/scripts/axure/init.temp.js"></script>
    <script src="resources/scripts/axure/legacy.js"></script>
    <script src="resources/scripts/axure/viewer.js"></script>
    <script src="resources/scripts/axure/math.js"></script>
    <script src="resources/scripts/axure/jquery.nicescroll.min.js"></script>
    <script src="data/document.js"></script>
    <script src="files/添加属性/data.js"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
  </head>
  <body>
    <div id="base" class="">

      <!-- Unnamed (Group) -->
      <div id="u2516" class="ax_default" data-left="0" data-top="119" data-width="1100" data-height="987" layer-opacity="1">

        <!-- Unnamed (Rectangle) -->
        <div id="u2517" class="ax_default _默认样式">
          <div id="u2517_div" class=""></div>
          <div id="u2517_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u2518" class="ax_default" data-left="0" data-top="0" data-width="0" data-height="0" layer-opacity="1">
      </div>

      <!-- Unnamed (标题通栏) -->

      <!-- 灰色背景 (Dynamic Panel) -->
      <div id="u2520" class="ax_default" data-label="灰色背景">
        <div id="u2520_state0" class="panel_state" data-label="State1" style="">
          <div id="u2520_state0_content" class="panel_state_content">
          </div>
        </div>
      </div>

      <!-- 线条 (Dynamic Panel) -->
      <div id="u2521" class="ax_default" data-label="线条">
        <div id="u2521_state0" class="panel_state" data-label="State1" style="">
          <div id="u2521_state0_content" class="panel_state_content">
          </div>
        </div>
      </div>

      <!-- 页面标题 (Rectangle) -->
      <div id="u2522" class="ax_default _默认样式" data-label="页面标题">
        <div id="u2522_div" class=""></div>
        <div id="u2522_text" class="text ">
          <p><span>页面标题</span></p>
        </div>
      </div>
      <div id="u2519" style="display:none; visibility:hidden;"></div>

      <!-- Unnamed (底部版权) -->

      <!-- Unnamed (Rectangle) -->
      <div id="u2524" class="ax_default _默认样式">
        <img id="u2524_img" class="img " src="images/系统首页/u206.svg"/>
        <div id="u2524_text" class="text ">
          <p><span>Copyright © www.xiangtianchi.com, All Rights Reserved.</span></p><p><span>Email : 840251972@qq.com&nbsp; QQ:&nbsp; 840251972</span></p>
        </div>
      </div>
      <div id="u2523" style="display:none; visibility:hidden;"></div>

      <!-- Unnamed (Rectangle) -->
      <div id="u2525" class="ax_default _默认样式">
        <img id="u2525_img" class="img " src="images/填写商品信息/u851.svg"/>
        <div id="u2525_text" class="text ">
          <p><span style="color:#F04844;">*</span><span> 属性名称：</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u2526" class="ax_default _默认样式">
        <div id="u2526_div" class=""></div>
        <div id="u2526_text" class="text ">
          <p><span>颜色</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u2527" class="ax_default _默认样式">
        <img id="u2527_img" class="img " src="images/填写商品信息/u851.svg"/>
        <div id="u2527_text" class="text ">
          <p><span>商品类型：</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u2528" class="ax_default _默认样式" selectiongroup="按纽组-9">
        <div id="u2528_div" class=""></div>
        <div id="u2528_text" class="text ">
          <p><span>提交</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u2529" class="ax_default _默认样式">
        <img id="u2529_img" class="img " src="images/填写商品信息/u880.svg"/>
        <div id="u2529_text" class="text ">
          <p><span>分类筛选样式：</span></p>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u2530" class="ax_default" data-left="400" data-top="278" data-width="130" data-height="22" layer-opacity="1">

        <!-- Unnamed (Rectangle) -->
        <div id="u2531" class="ax_default _默认样式">
          <img id="u2531_img" class="img " src="images/填写商品信息/u955.svg"/>
          <div id="u2531_text" class="text ">
            <p style="font-size:14px;"><span style="font-family:'FontAwesome', sans-serif;font-weight:400;font-size:16px;color:#999999;"></span><span style="font-family:'微软雅黑', sans-serif;font-weight:400;color:#999999;"> 普通&nbsp;&nbsp; </span><span style="font-family:'FontAwesome', sans-serif;font-weight:400;font-size:16px;color:#1ABC9C;"></span><span style="font-family:'微软雅黑', sans-serif;font-weight:400;color:#999999;"> 颜色&nbsp; &nbsp; </span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u2532" class="ax_default _默认样式">
        <img id="u2532_img" class="img " src="images/填写商品信息/u880.svg"/>
        <div id="u2532_text" class="text ">
          <p><span>相同属性值的商品是否关联：</span></p>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u2533" class="ax_default" data-left="400" data-top="417" data-width="130" data-height="22" layer-opacity="1">

        <!-- Unnamed (Rectangle) -->
        <div id="u2534" class="ax_default _默认样式">
          <img id="u2534_img" class="img " src="images/填写商品信息/u955.svg"/>
          <div id="u2534_text" class="text ">
            <p style="font-size:14px;"><span style="font-family:'FontAwesome', sans-serif;font-weight:400;font-size:16px;color:#1ABC9C;"></span><span style="font-family:'微软雅黑', sans-serif;font-weight:400;color:#999999;"> 是&nbsp;&nbsp; </span><span style="font-family:'FontAwesome', sans-serif;font-weight:400;font-size:16px;color:#999999;"></span><span style="font-family:'微软雅黑', sans-serif;font-weight:400;color:#999999;"> 否&nbsp; &nbsp; </span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (返回) -->

      <!-- Unnamed (Rectangle) -->
      <div id="u2536" class="ax_default _默认样式">
        <div id="u2536_div" class=""></div>
        <div id="u2536_text" class="text ">
          <p><span>返回</span></p>
        </div>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u2537" class="ax_default _默认样式">
        <img id="u2537_img" class="img " src="images/逐个编辑/u1585.svg"/>
        <div id="u2537_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>
      <div id="u2535" style="display:none; visibility:hidden;"></div>

      <!-- Unnamed (Group) -->
      <div id="u2538" class="ax_default" data-left="400" data-top="220" data-width="241" data-height="40" layer-opacity="1">

        <!-- Unnamed (Rectangle) -->
        <div id="u2539" class="ax_default _默认样式">
          <div id="u2539_div" class=""></div>
          <div id="u2539_text" class="text ">
            <p><span>请选择类型</span></p>
          </div>
        </div>

        <!-- Unnamed (Shape) -->
        <div id="u2540" class="ax_default _默认样式">
          <img id="u2540_img" class="img " src="images/商品列表/u463.svg"/>
          <div id="u2540_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u2541" class="ax_default _默认样式">
        <img id="u2541_img" class="img " src="images/填写商品信息/u880.svg"/>
        <div id="u2541_text" class="text ">
          <p><span>是否支持手动新增：</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u2542" class="ax_default _默认样式">
        <img id="u2542_img" class="img " src="images/填写商品信息/u880.svg"/>
        <div id="u2542_text" class="text ">
          <p><span>能否进行检索：</span></p>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u2543" class="ax_default" data-left="400" data-top="327" data-width="368" data-height="22" layer-opacity="1">

        <!-- Unnamed (Rectangle) -->
        <div id="u2544" class="ax_default _默认样式">
          <img id="u2544_img" class="img " src="images/添加属性/u2544.svg"/>
          <div id="u2544_text" class="text ">
            <p style="font-size:14px;"><span style="font-family:'FontAwesome', sans-serif;font-weight:400;font-size:16px;color:#1ABC9C;"></span><span style="font-family:'微软雅黑', sans-serif;font-weight:400;color:#999999;"> 不需要检索&nbsp;&nbsp; </span><span style="font-family:'FontAwesome', sans-serif;font-weight:400;font-size:16px;color:#999999;"></span><span style="font-family:'微软雅黑', sans-serif;font-weight:400;color:#999999;"> 关键字检索&nbsp; &nbsp; </span><span style="font-family:'FontAwesome', sans-serif;font-weight:400;font-size:16px;color:#999999;"></span><span style="font-family:'微软雅黑', sans-serif;font-weight:400;color:#999999;"> 范围检索&nbsp; &nbsp; </span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u2545" class="ax_default _默认样式">
        <div id="u2545_div" class=""></div>
        <div id="u2545_text" class="text ">
          <p><span>不需要该属性成为检索商品条件的情况请选择不需要检索，需要该属性进行关键字检索商品时选择关键字检索，如果该属性检索时希望是指定某个范围时，选择范围检索。</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u2546" class="ax_default _默认样式">
        <img id="u2546_img" class="img " src="images/填写商品信息/u880.svg"/>
        <div id="u2546_text" class="text ">
          <p><span>属性是否可选：</span></p>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u2547" class="ax_default" data-left="400" data-top="467" data-width="368" data-height="22" layer-opacity="1">

        <!-- Unnamed (Rectangle) -->
        <div id="u2548" class="ax_default _默认样式">
          <img id="u2548_img" class="img " src="images/添加属性/u2544.svg"/>
          <div id="u2548_text" class="text ">
            <p style="font-size:14px;"><span style="font-family:'FontAwesome', sans-serif;font-weight:400;font-size:16px;color:#1ABC9C;"></span><span style="font-family:'微软雅黑', sans-serif;font-weight:400;color:#999999;"> 唯一属性&nbsp;&nbsp; </span><span style="font-family:'FontAwesome', sans-serif;font-weight:400;font-size:16px;color:#999999;"></span><span style="font-family:'微软雅黑', sans-serif;font-weight:400;color:#999999;"> 单选属性&nbsp; &nbsp; </span><span style="font-family:'FontAwesome', sans-serif;font-weight:400;font-size:16px;color:#999999;"></span><span style="font-family:'微软雅黑', sans-serif;font-weight:400;color:#999999;"> 复选属性&nbsp; &nbsp; </span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u2549" class="ax_default _默认样式">
        <div id="u2549_div" class=""></div>
        <div id="u2549_text" class="text ">
          <p><span>选择&quot;单选/复选属性&quot;时，可以对商品该属性设置多个值，同时还能对不同属性值指定不同的价格加价，用户购买商品时需要选定具体的属性值。选择&quot;唯一属性&quot;时，商品的该属性值只能设置一个值，用户只能查看该值。</span></p>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u2550" class="ax_default" data-left="400" data-top="850" data-width="443" data-height="22" layer-opacity="1">

        <!-- Unnamed (Rectangle) -->
        <div id="u2551" class="ax_default _默认样式">
          <img id="u2551_img" class="img " src="images/添加属性/u2551.svg"/>
          <div id="u2551_text" class="text ">
            <p style="font-size:14px;"><span style="font-family:'FontAwesome', sans-serif;font-weight:400;font-size:16px;color:#999999;"></span><span style="font-family:'微软雅黑', sans-serif;font-weight:400;color:#999999;"> 是&nbsp;&nbsp; </span><span style="font-family:'FontAwesome', sans-serif;font-weight:400;font-size:16px;color:#1ABC9C;"></span><span style="font-family:'微软雅黑', sans-serif;font-weight:400;color:#999999;">&nbsp; 否</span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u2552" class="ax_default _默认样式">
        <img id="u2552_img" class="img " src="images/添加属性/u2552.svg"/>
        <div id="u2552_text" class="text ">
          <p><span>属性值可选值列表：</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u2553" class="ax_default _默认样式">
        <div id="u2553_div" class=""></div>
        <div id="u2553_text" class="text ">
          <p><span>黑色</span></p><p><span>红色 </span></p><p><span>白色 </span></p><p><span>粉色 </span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u2554" class="ax_default _默认样式">
        <img id="u2554_img" class="img " src="images/填写商品信息/u851.svg"/>
        <div id="u2554_text" class="text ">
          <p><span>属性排序：</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u2555" class="ax_default _默认样式">
        <div id="u2555_div" class=""></div>
        <div id="u2555_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u2556" class="ax_default _默认样式">
        <div id="u2556_div" class=""></div>
        <div id="u2556_text" class="text ">
          <p><span>排序级别最高的属性可单独上传属性图片</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u2557" class="ax_default _默认样式">
        <img id="u2557_img" class="img " src="images/添加属性/u2557.svg"/>
        <div id="u2557_text" class="text ">
          <p><span>设置属性颜色</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u2558" class="ax_default _默认样式">
        <img id="u2558_img" class="img " src="images/填写商品信息/u880.svg"/>
        <div id="u2558_text" class="text ">
          <p><span>该属性值的录入方式：</span></p>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u2559" class="ax_default" data-left="400" data-top="560" data-width="443" data-height="22" layer-opacity="1">

        <!-- Unnamed (Rectangle) -->
        <div id="u2560" class="ax_default _默认样式">
          <img id="u2560_img" class="img " src="images/添加属性/u2551.svg"/>
          <div id="u2560_text" class="text ">
            <p style="font-size:14px;"><span style="font-family:'FontAwesome', sans-serif;font-weight:400;font-size:16px;color:#999999;"></span><span style="font-family:'微软雅黑', sans-serif;font-weight:400;color:#999999;"> 手工录入&nbsp;&nbsp; </span><span style="font-family:'FontAwesome', sans-serif;font-weight:400;font-size:16px;color:#1ABC9C;"></span><span style="font-family:'微软雅黑', sans-serif;font-weight:400;color:#999999;">&nbsp; 从下面的列表中选择（一行代表一个可选值）</span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u2561" class="ax_default _默认样式">
        <div id="u2561_div" class=""></div>
        <div id="u2561_text" class="text ">
          <p><span>添加分类</span></p>
        </div>
      </div>
    </div>
    <script src="resources/scripts/axure/ios.js"></script>
  </body>
</html>
