<!DOCTYPE html>
<html>
  <head>
    <title>添加活动</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link href="resources/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="data/styles.css" type="text/css" rel="stylesheet"/>
    <link href="files/添加活动/styles.css" type="text/css" rel="stylesheet"/>
    <link href="http://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.css" type="text/css" rel="stylesheet"/>
    <script src="resources/scripts/jquery-3.7.1.min.js"></script>
    <script src="resources/scripts/axure/axQuery.js"></script>
    <script src="resources/scripts/axure/globals.js"></script>
    <script src="resources/scripts/axutils.js"></script>
    <script src="resources/scripts/axure/annotation.js"></script>
    <script src="resources/scripts/axure/axQuery.std.js"></script>
    <script src="resources/scripts/axure/doc.js"></script>
    <script src="resources/scripts/messagecenter.js"></script>
    <script src="resources/scripts/axure/events.js"></script>
    <script src="resources/scripts/axure/recording.js"></script>
    <script src="resources/scripts/axure/action.js"></script>
    <script src="resources/scripts/axure/expr.js"></script>
    <script src="resources/scripts/axure/geometry.js"></script>
    <script src="resources/scripts/axure/flyout.js"></script>
    <script src="resources/scripts/axure/model.js"></script>
    <script src="resources/scripts/axure/repeater.js"></script>
    <script src="resources/scripts/axure/sto.js"></script>
    <script src="resources/scripts/axure/utils.temp.js"></script>
    <script src="resources/scripts/axure/variables.js"></script>
    <script src="resources/scripts/axure/drag.js"></script>
    <script src="resources/scripts/axure/move.js"></script>
    <script src="resources/scripts/axure/visibility.js"></script>
    <script src="resources/scripts/axure/style.js"></script>
    <script src="resources/scripts/axure/adaptive.js"></script>
    <script src="resources/scripts/axure/tree.js"></script>
    <script src="resources/scripts/axure/init.temp.js"></script>
    <script src="resources/scripts/axure/legacy.js"></script>
    <script src="resources/scripts/axure/viewer.js"></script>
    <script src="resources/scripts/axure/math.js"></script>
    <script src="resources/scripts/axure/jquery.nicescroll.min.js"></script>
    <script src="data/document.js"></script>
    <script src="files/添加活动/data.js"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
  </head>
  <body>
    <div id="base" class="">

      <!-- Unnamed (Group) -->
      <div id="u9840" class="ax_default" data-left="0" data-top="70" data-width="1100" data-height="621" layer-opacity="1">

        <!-- Unnamed (Rectangle) -->
        <div id="u9841" class="ax_default _默认样式">
          <div id="u9841_div" class=""></div>
          <div id="u9841_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u9842" class="ax_default" data-left="0" data-top="0" data-width="0" data-height="0" layer-opacity="1">
      </div>

      <!-- Unnamed (标题通栏) -->

      <!-- 灰色背景 (Dynamic Panel) -->
      <div id="u9844" class="ax_default" data-label="灰色背景">
        <div id="u9844_state0" class="panel_state" data-label="State1" style="">
          <div id="u9844_state0_content" class="panel_state_content">
          </div>
        </div>
      </div>

      <!-- 线条 (Dynamic Panel) -->
      <div id="u9845" class="ax_default" data-label="线条">
        <div id="u9845_state0" class="panel_state" data-label="State1" style="">
          <div id="u9845_state0_content" class="panel_state_content">
          </div>
        </div>
      </div>

      <!-- 页面标题 (Rectangle) -->
      <div id="u9846" class="ax_default _默认样式" data-label="页面标题">
        <div id="u9846_div" class=""></div>
        <div id="u9846_text" class="text ">
          <p><span>页面标题</span></p>
        </div>
      </div>
      <div id="u9843" style="display:none; visibility:hidden;"></div>

      <!-- Unnamed (底部版权) -->

      <!-- Unnamed (Rectangle) -->
      <div id="u9848" class="ax_default _默认样式">
        <img id="u9848_img" class="img " src="images/系统首页/u206.svg"/>
        <div id="u9848_text" class="text ">
          <p><span>Copyright © www.xiangtianchi.com, All Rights Reserved.</span></p><p><span>Email : 840251972@qq.com&nbsp; QQ:&nbsp; 840251972</span></p>
        </div>
      </div>
      <div id="u9847" style="display:none; visibility:hidden;"></div>

      <!-- Unnamed (返回) -->

      <!-- Unnamed (Rectangle) -->
      <div id="u9850" class="ax_default _默认样式">
        <div id="u9850_div" class=""></div>
        <div id="u9850_text" class="text ">
          <p><span>返回</span></p>
        </div>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u9851" class="ax_default _默认样式">
        <img id="u9851_img" class="img " src="images/逐个编辑/u1585.svg"/>
        <div id="u9851_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>
      <div id="u9849" style="display:none; visibility:hidden;"></div>

      <!-- Unnamed (Rectangle) -->
      <div id="u9852" class="ax_default _默认样式" selectiongroup="按纽组-9">
        <div id="u9852_div" class=""></div>
        <div id="u9852_text" class="text ">
          <p><span>提交</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u9853" class="ax_default _默认样式">
        <img id="u9853_img" class="img " src="images/添加模板/u5925.svg"/>
        <div id="u9853_text" class="text ">
          <p><span style="color:#F04844;">*</span><span> 活动描述：</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u9854" class="ax_default _默认样式">
        <div id="u9854_div" class=""></div>
        <div id="u9854_text" class="text ">
          <p><span>请输入内容</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u9855" class="ax_default _默认样式">
        <div id="u9855_div" class=""></div>
        <div id="u9855_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u9856" class="ax_default _默认样式">
        <img id="u9856_img" class="img " src="images/填写商品属性/u1062.svg"/>
        <div id="u9856_text" class="text ">
          <p><span style="color:#F04844;">*</span><span> </span><span>活动标题：</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u9857" class="ax_default _默认样式">
        <img id="u9857_img" class="img " src="images/填写商品属性/u1062.svg"/>
        <div id="u9857_text" class="text ">
          <p><span style="color:#F04844;">*</span><span> 开始时间</span><span>：</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u9858" class="ax_default _默认样式">
        <img id="u9858_img" class="img " src="images/填写商品属性/u1062.svg"/>
        <div id="u9858_text" class="text ">
          <p><span style="color:#F04844;">*</span><span> 结束时间：</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u9859" class="ax_default _默认样式">
        <img id="u9859_img" class="img " src="images/填写商品属性/u1062.svg"/>
        <div id="u9859_text" class="text ">
          <p><span>上线/下架：</span></p>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u9860" class="ax_default" data-left="399" data-top="170" data-width="241" data-height="40" layer-opacity="1">

        <!-- Unnamed (Group) -->
        <div id="u9861" class="ax_default" data-left="399" data-top="170" data-width="241" data-height="40" layer-opacity="1">

          <!-- Unnamed (Rectangle) -->
          <div id="u9862" class="ax_default _默认样式">
            <div id="u9862_div" class=""></div>
            <div id="u9862_text" class="text ">
              <p style="font-size:12px;"><span style="font-family:'微软雅黑', sans-serif;font-weight:400;">请</span><span style="font-family:'微软雅黑', sans-serif;font-weight:400;font-size:14px;">选择时间</span></p>
            </div>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u9863" class="ax_default _默认样式">
          <div id="u9863_div" class=""></div>
          <div id="u9863_text" class="text ">
            <p><span></span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u9864" class="ax_default" data-left="399" data-top="220" data-width="241" data-height="40" layer-opacity="1">

        <!-- Unnamed (Group) -->
        <div id="u9865" class="ax_default" data-left="399" data-top="220" data-width="241" data-height="40" layer-opacity="1">

          <!-- Unnamed (Rectangle) -->
          <div id="u9866" class="ax_default _默认样式">
            <div id="u9866_div" class=""></div>
            <div id="u9866_text" class="text ">
              <p style="font-size:12px;"><span style="font-family:'微软雅黑', sans-serif;font-weight:400;">请</span><span style="font-family:'微软雅黑', sans-serif;font-weight:400;font-size:14px;">选择时间</span></p>
            </div>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u9867" class="ax_default _默认样式">
          <div id="u9867_div" class=""></div>
          <div id="u9867_text" class="text ">
            <p><span></span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u9868" class="ax_default" data-left="399" data-top="270" data-width="130" data-height="40" layer-opacity="1">

        <!-- Unnamed (Rectangle) -->
        <div id="u9869" class="ax_default _默认样式">
          <img id="u9869_img" class="img " src="images/填写商品属性/u1072.svg"/>
          <div id="u9869_text" class="text ">
            <p style="font-size:16px;"><span style="font-family:'FontAwesome', sans-serif;font-weight:400;color:#1ABC9C;"></span><span style="font-family:'微软雅黑', sans-serif;font-weight:400;font-size:14px;color:#999999;"> 上线&nbsp; &nbsp; </span><span style="font-family:'FontAwesome', sans-serif;font-weight:400;color:#999999;"></span><span style="font-family:'微软雅黑', sans-serif;font-weight:400;font-size:14px;color:#999999;"> 下架&nbsp; &nbsp; </span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u9870" class="ax_default _默认样式">
        <img id="u9870_img" class="img " src="images/添加模板/u5925.svg"/>
        <div id="u9870_text" class="text ">
          <p><span style="color:#F04844;">*</span><span> 标题图片：</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u9871" class="ax_default _默认样式">
        <div id="u9871_div" class=""></div>
        <div id="u9871_text" class="text ">
          <p style="font-size:14px;"><span style="font-family:'FontAwesome', sans-serif;font-weight:400;font-size:16px;"></span><span style="font-family:'微软雅黑', sans-serif;font-weight:400;"> 选择上传文件</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u9872" class="ax_default _默认样式">
        <div id="u9872_div" class=""></div>
        <div id="u9872_text" class="text ">
          <p><span>只能上传jpg/png格式文件，文件不能超过50kb</span></p>
        </div>
      </div>
    </div>
    <script src="resources/scripts/axure/ios.js"></script>
  </body>
</html>
