<!DOCTYPE html>
<html>
  <head>
    <title>添加成员</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link href="resources/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="data/styles.css" type="text/css" rel="stylesheet"/>
    <link href="files/添加成员/styles.css" type="text/css" rel="stylesheet"/>
    <link href="http://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.css" type="text/css" rel="stylesheet"/>
    <script src="resources/scripts/jquery-3.7.1.min.js"></script>
    <script src="resources/scripts/axure/axQuery.js"></script>
    <script src="resources/scripts/axure/globals.js"></script>
    <script src="resources/scripts/axutils.js"></script>
    <script src="resources/scripts/axure/annotation.js"></script>
    <script src="resources/scripts/axure/axQuery.std.js"></script>
    <script src="resources/scripts/axure/doc.js"></script>
    <script src="resources/scripts/messagecenter.js"></script>
    <script src="resources/scripts/axure/events.js"></script>
    <script src="resources/scripts/axure/recording.js"></script>
    <script src="resources/scripts/axure/action.js"></script>
    <script src="resources/scripts/axure/expr.js"></script>
    <script src="resources/scripts/axure/geometry.js"></script>
    <script src="resources/scripts/axure/flyout.js"></script>
    <script src="resources/scripts/axure/model.js"></script>
    <script src="resources/scripts/axure/repeater.js"></script>
    <script src="resources/scripts/axure/sto.js"></script>
    <script src="resources/scripts/axure/utils.temp.js"></script>
    <script src="resources/scripts/axure/variables.js"></script>
    <script src="resources/scripts/axure/drag.js"></script>
    <script src="resources/scripts/axure/move.js"></script>
    <script src="resources/scripts/axure/visibility.js"></script>
    <script src="resources/scripts/axure/style.js"></script>
    <script src="resources/scripts/axure/adaptive.js"></script>
    <script src="resources/scripts/axure/tree.js"></script>
    <script src="resources/scripts/axure/init.temp.js"></script>
    <script src="resources/scripts/axure/legacy.js"></script>
    <script src="resources/scripts/axure/viewer.js"></script>
    <script src="resources/scripts/axure/math.js"></script>
    <script src="resources/scripts/axure/jquery.nicescroll.min.js"></script>
    <script src="data/document.js"></script>
    <script src="files/添加成员/data.js"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
  </head>
  <body>
    <div id="base" class="">

      <!-- Unnamed (Group) -->
      <div id="u15425" class="ax_default" data-left="0" data-top="119" data-width="1100" data-height="754" layer-opacity="1">

        <!-- Unnamed (Rectangle) -->
        <div id="u15426" class="ax_default _默认样式">
          <div id="u15426_div" class=""></div>
          <div id="u15426_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u15427" class="ax_default" data-left="0" data-top="0" data-width="0" data-height="0" layer-opacity="1">
      </div>

      <!-- Unnamed (标题通栏) -->

      <!-- 灰色背景 (Dynamic Panel) -->
      <div id="u15429" class="ax_default" data-label="灰色背景">
        <div id="u15429_state0" class="panel_state" data-label="State1" style="">
          <div id="u15429_state0_content" class="panel_state_content">
          </div>
        </div>
      </div>

      <!-- 线条 (Dynamic Panel) -->
      <div id="u15430" class="ax_default" data-label="线条">
        <div id="u15430_state0" class="panel_state" data-label="State1" style="">
          <div id="u15430_state0_content" class="panel_state_content">
          </div>
        </div>
      </div>

      <!-- 页面标题 (Rectangle) -->
      <div id="u15431" class="ax_default _默认样式" data-label="页面标题">
        <div id="u15431_div" class=""></div>
        <div id="u15431_text" class="text ">
          <p><span>页面标题</span></p>
        </div>
      </div>
      <div id="u15428" style="display:none; visibility:hidden;"></div>

      <!-- Unnamed (底部版权) -->

      <!-- Unnamed (Rectangle) -->
      <div id="u15433" class="ax_default _默认样式">
        <img id="u15433_img" class="img " src="images/登录界面/u23.svg"/>
        <div id="u15433_text" class="text ">
          <p><span>Copyright © www.xiangtianchi.com, All Rights Reserved.</span></p><p><span>Email : 840251972@qq.com&nbsp; QQ:&nbsp; 840251972</span></p>
        </div>
      </div>
      <div id="u15432" style="display:none; visibility:hidden;"></div>

      <!-- Unnamed (Rectangle) -->
      <div id="u15434" class="ax_default _默认样式">
        <img id="u15434_img" class="img " src="images/编辑支付方式/u15088.svg"/>
        <div id="u15434_text" class="text ">
          <p><span style="color:#F04844;">*</span><span> 成员名称：</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u15435" class="ax_default _默认样式">
        <div id="u15435_div" class=""></div>
        <div id="u15435_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u15436" class="ax_default _默认样式">
        <img id="u15436_img" class="img " src="images/添加模板_1/u14902.svg"/>
        <div id="u15436_text" class="text ">
          <p><span style="color:#F04844;">*</span><span> 成员姓名：</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u15437" class="ax_default _默认样式" selectiongroup="按纽组-9">
        <div id="u15437_div" class=""></div>
        <div id="u15437_text" class="text ">
          <p><span>提交</span></p>
        </div>
      </div>

      <!-- Unnamed (返回) -->

      <!-- Unnamed (Rectangle) -->
      <div id="u15439" class="ax_default _默认样式">
        <div id="u15439_div" class=""></div>
        <div id="u15439_text" class="text ">
          <p><span>返回</span></p>
        </div>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u15440" class="ax_default _默认样式">
        <img id="u15440_img" class="img " src="images/逐个编辑/u1787.svg"/>
        <div id="u15440_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>
      <div id="u15438" style="display:none; visibility:hidden;"></div>

      <!-- Unnamed (Rectangle) -->
      <div id="u15441" class="ax_default _默认样式">
        <div id="u15441_div" class=""></div>
        <div id="u15441_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u15442" class="ax_default" data-left="400" data-top="320" data-width="240" data-height="40" layer-opacity="1">

        <!-- Unnamed (Group) -->
        <div id="u15443" class="ax_default" data-left="400" data-top="320" data-width="239" data-height="40" layer-opacity="1">

          <!-- Unnamed (Rectangle) -->
          <div id="u15444" class="ax_default _默认样式">
            <div id="u15444_div" class=""></div>
            <div id="u15444_text" class="text ">
              <p><span>全部</span></p>
            </div>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u15445" class="ax_default _默认样式">
          <div id="u15445_div" class=""></div>
          <div id="u15445_text" class="text ">
            <p><span></span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u15446" class="ax_default _默认样式">
        <div id="u15446_div" class=""></div>
        <div id="u15446_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u15447" class="ax_default _默认样式">
        <img id="u15447_img" class="img " src="images/添加模板_1/u14902.svg"/>
        <div id="u15447_text" class="text ">
          <p><span style="color:#F04844;">*</span><span> 邮箱地址：</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u15448" class="ax_default _默认样式">
        <img id="u15448_img" class="img " src="images/添加模板_1/u14902.svg"/>
        <div id="u15448_text" class="text ">
          <p><span style="color:#F04844;">*</span><span> 所属部门：</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u15449" class="ax_default _默认样式">
        <div id="u15449_div" class=""></div>
        <div id="u15449_text" class="text ">
          <p><span>选择所属部门后默认继承部门权限，可在成员列表中单独设置权限</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u15450" class="ax_default _默认样式">
        <div id="u15450_div" class=""></div>
        <div id="u15450_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u15451" class="ax_default _默认样式">
        <img id="u15451_img" class="img " src="images/添加模板_1/u14902.svg"/>
        <div id="u15451_text" class="text ">
          <p><span style="color:#F04844;">*</span><span> 登录密码：</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u15452" class="ax_default _默认样式">
        <div id="u15452_div" class=""></div>
        <div id="u15452_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u15453" class="ax_default _默认样式">
        <img id="u15453_img" class="img " src="images/添加模板_1/u14902.svg"/>
        <div id="u15453_text" class="text ">
          <p><span style="color:#F04844;">*</span><span> 确认密码：</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u15454" class="ax_default _默认样式">
        <img id="u15454_img" class="img " src="images/添加模板_1/u14902.svg"/>
        <div id="u15454_text" class="text ">
          <p><span>备注信息：</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u15455" class="ax_default _默认样式">
        <div id="u15455_div" class=""></div>
        <div id="u15455_text" class="text ">
          <p><span>请输入内容</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u15456" class="ax_default _默认样式">
        <div id="u15456_div" class=""></div>
        <div id="u15456_text" class="text ">
          <p><span>添加成员</span></p>
        </div>
      </div>
    </div>
    <script src="resources/scripts/axure/ios.js"></script>
  </body>
</html>
