<!DOCTYPE html>
<html>
  <head>
    <title>登录界面</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link href="resources/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="data/styles.css" type="text/css" rel="stylesheet"/>
    <link href="files/登录界面/styles.css" type="text/css" rel="stylesheet"/>
    <link href="http://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.css" type="text/css" rel="stylesheet"/>
    <script src="resources/scripts/jquery-3.7.1.min.js"></script>
    <script src="resources/scripts/axure/axQuery.js"></script>
    <script src="resources/scripts/axure/globals.js"></script>
    <script src="resources/scripts/axutils.js"></script>
    <script src="resources/scripts/axure/annotation.js"></script>
    <script src="resources/scripts/axure/axQuery.std.js"></script>
    <script src="resources/scripts/axure/doc.js"></script>
    <script src="resources/scripts/messagecenter.js"></script>
    <script src="resources/scripts/axure/events.js"></script>
    <script src="resources/scripts/axure/recording.js"></script>
    <script src="resources/scripts/axure/action.js"></script>
    <script src="resources/scripts/axure/expr.js"></script>
    <script src="resources/scripts/axure/geometry.js"></script>
    <script src="resources/scripts/axure/flyout.js"></script>
    <script src="resources/scripts/axure/model.js"></script>
    <script src="resources/scripts/axure/repeater.js"></script>
    <script src="resources/scripts/axure/sto.js"></script>
    <script src="resources/scripts/axure/utils.temp.js"></script>
    <script src="resources/scripts/axure/variables.js"></script>
    <script src="resources/scripts/axure/drag.js"></script>
    <script src="resources/scripts/axure/move.js"></script>
    <script src="resources/scripts/axure/visibility.js"></script>
    <script src="resources/scripts/axure/style.js"></script>
    <script src="resources/scripts/axure/adaptive.js"></script>
    <script src="resources/scripts/axure/tree.js"></script>
    <script src="resources/scripts/axure/init.temp.js"></script>
    <script src="resources/scripts/axure/legacy.js"></script>
    <script src="resources/scripts/axure/viewer.js"></script>
    <script src="resources/scripts/axure/math.js"></script>
    <script src="resources/scripts/axure/jquery.nicescroll.min.js"></script>
    <script src="data/document.js"></script>
    <script src="files/登录界面/data.js"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
  </head>
  <body>
    <div id="base" class="">

      <!-- 背景 (Dynamic Panel) -->
      <div id="u0" class="ax_default" data-label="背景">
        <div id="u0_state0" class="panel_state" data-label="State1" style="">
          <div id="u0_state0_content" class="panel_state_content">
          </div>
        </div>
      </div>

      <!-- 登录面板 (Dynamic Panel) -->
      <div id="u1" class="ax_default" data-label="登录面板">
        <div id="u1_state0" class="panel_state" data-label="State1" style="">
          <div id="u1_state0_content" class="panel_state_content">

            <!-- Unnamed (Rectangle) -->
            <div id="u2" class="ax_default _默认样式">
              <img id="u2_img" class="img " src="images/登录界面/u2.svg"/>
              <div id="u2_text" class="text ">
                <p style="font-size:48px;"><span style="font-family:'微软雅黑 Bold', '微软雅黑', '微软雅黑', sans-serif;font-weight:700;">象天尺后台业务管理系统</span><span style="font-family:'微软雅黑 Bold', '微软雅黑', '微软雅黑', sans-serif;font-weight:700;font-size:36px;"> </span></p><p style="font-size:36px;"><span style="font-family:'微软雅黑', sans-serif;font-weight:400;">&nbsp;Management System</span></p>
              </div>
            </div>

            <!-- 登录按纽 (Rectangle) -->
            <div id="u3" class="ax_default _默认样式" data-label="登录按纽" selectiongroup="按纽组-9">
              <div id="u3_div" class=""></div>
              <div id="u3_text" class="text ">
                <p><span></span></p>
              </div>
            </div>

            <!-- 输入框 (Group) -->
            <div id="u4" class="ax_default" data-label="输入框" data-left="536" data-top="172" data-width="300" data-height="50" layer-opacity="1">

              <!-- 边框 (Rectangle) -->
              <div id="u5" class="ax_default _默认样式" data-label="边框">
                <div id="u5_div" class=""></div>
                <div id="u5_text" class="text ">
                  <p><span></span></p>
                </div>
              </div>

              <!-- 密码 (Text Field) -->
              <div id="u6" class="ax_default _默认样式" data-label="密码">
                <div id="u6_div" class=""></div>
                <input id="u6_input" type="password" value="" class="u6_input" maxlength="20"/>
              </div>

              <!-- 清除 (Rectangle) -->
              <div id="u7" class="ax_default _默认样式 ax_default_hidden" data-label="清除" style="display:none; visibility: hidden">
                <div id="u7_div" class=""></div>
                <div id="u7_text" class="text ">
                  <p><span></span></p>
                </div>
              </div>
            </div>

            <!-- 输入框 (Group) -->
            <div id="u8" class="ax_default" data-label="输入框" data-left="219" data-top="172" data-width="300" data-height="50" layer-opacity="1">

              <!-- 边框 (Rectangle) -->
              <div id="u9" class="ax_default _默认样式" data-label="边框">
                <div id="u9_div" class=""></div>
                <div id="u9_text" class="text " style="display:none; visibility: hidden">
                  <p></p>
                </div>
              </div>

              <!-- 用户名 (Text Field) -->
              <div id="u10" class="ax_default _默认样式" data-label="用户名">
                <div id="u10_div" class=""></div>
                <input id="u10_input" type="text" value="" class="u10_input" maxlength="20"/>
              </div>

              <!-- 清除 (Rectangle) -->
              <div id="u11" class="ax_default _默认样式 ax_default_hidden" data-label="清除" style="display:none; visibility: hidden">
                <div id="u11_div" class=""></div>
                <div id="u11_text" class="text ">
                  <p><span></span></p>
                </div>
              </div>
            </div>

            <!-- Unnamed (Shape) -->
            <div id="u12" class="ax_default _默认样式">
              <img id="u12_img" class="img " src="images/登录界面/u12.svg"/>
              <div id="u12_text" class="text " style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>

            <!-- Unnamed (Shape) -->
            <div id="u13" class="ax_default _默认样式">
              <img id="u13_img" class="img " src="images/登录界面/u13.svg"/>
              <div id="u13_text" class="text " style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>

            <!-- 警告提示 (Dynamic Panel) -->
            <div id="u14" class="ax_default ax_default_hidden" data-label="警告提示" style="display:none; visibility: hidden">
              <div id="u14_state0" class="panel_state" data-label="用户名或密码不正确" style="">
                <div id="u14_state0_content" class="panel_state_content">

                  <!-- Unnamed (Rectangle) -->
                  <div id="u15" class="ax_default _默认样式">
                    <div id="u15_div" class=""></div>
                    <div id="u15_text" class="text ">
                      <p style="font-size:16px;"><span style="font-family:'FontAwesome', sans-serif;font-weight:400;font-size:20px;"></span><span style="font-family:&quot;微软雅黑&quot;, sans-serif;font-weight:400;font-size:20px;"> </span><span style="font-family:&quot;微软雅黑&quot;, sans-serif;font-weight:400;">用户名或密码不正确</span></p>
                    </div>
                  </div>
                </div>
              </div>
              <div id="u14_state1" class="panel_state" data-label="请填写用户名称" style="visibility: hidden;">
                <div id="u14_state1_content" class="panel_state_content">

                  <!-- Unnamed (Rectangle) -->
                  <div id="u16" class="ax_default _默认样式">
                    <div id="u16_div" class=""></div>
                    <div id="u16_text" class="text ">
                      <p style="font-size:16px;"><span style="font-family:'FontAwesome', sans-serif;font-weight:400;font-size:20px;"></span><span style="font-family:&quot;微软雅黑&quot;, sans-serif;font-weight:400;font-size:20px;"> </span><span style="font-family:&quot;微软雅黑&quot;, sans-serif;font-weight:400;">请填写用户账号</span></p>
                    </div>
                  </div>
                </div>
              </div>
              <div id="u14_state2" class="panel_state" data-label="请填写登录密码" style="visibility: hidden;">
                <div id="u14_state2_content" class="panel_state_content">

                  <!-- Unnamed (Rectangle) -->
                  <div id="u17" class="ax_default _默认样式">
                    <div id="u17_div" class=""></div>
                    <div id="u17_text" class="text ">
                      <p style="font-size:16px;"><span style="font-family:'FontAwesome', sans-serif;font-weight:400;font-size:20px;"></span><span style="font-family:&quot;微软雅黑&quot;, sans-serif;font-weight:400;font-size:20px;"> </span><span style="font-family:&quot;微软雅黑&quot;, sans-serif;font-weight:400;">请填写登录密码</span></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Unnamed (Group) -->
            <div id="u18" class="ax_default" data-left="214" data-top="54" data-width="80" data-height="88" layer-opacity="1">

              <!-- Unnamed (Shape) -->
              <div id="u19" class="ax_default _默认样式">
                <img id="u19_img" class="img " src="images/登录界面/u19.svg"/>
                <div id="u19_text" class="text " style="display:none; visibility: hidden">
                  <p></p>
                </div>
              </div>

              <!-- Unnamed (Shape) -->
              <div id="u20" class="ax_default _默认样式">
                <img id="u20_img" class="img " src="images/登录界面/u20.svg"/>
                <div id="u20_text" class="text " style="display:none; visibility: hidden">
                  <p></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- 底部版权 (Dynamic Panel) -->
      <div id="u21" class="ax_default" data-label="底部版权">
        <div id="u21_state0" class="panel_state" data-label="State1" style="">
          <div id="u21_state0_content" class="panel_state_content">

            <!-- Unnamed (底部版权) -->

            <!-- Unnamed (Rectangle) -->
            <div id="u23" class="ax_default _默认样式">
              <img id="u23_img" class="img " src="images/登录界面/u23.svg"/>
              <div id="u23_text" class="text ">
                <p><span>Copyright © www.xiangtianchi.com, All Rights Reserved.</span></p><p><span>Email : 840251972@qq.com&nbsp; QQ:&nbsp; 840251972</span></p>
              </div>
            </div>
            <div id="u22" style="display:none; visibility:hidden;"></div>
          </div>
        </div>
      </div>
    </div>
    <script src="resources/scripts/axure/ios.js"></script>
  </body>
</html>
