<!DOCTYPE html>
<html>
  <head>
    <title>编辑支付方式</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link href="resources/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="data/styles.css" type="text/css" rel="stylesheet"/>
    <link href="files/编辑支付方式/styles.css" type="text/css" rel="stylesheet"/>
    <link href="http://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.css" type="text/css" rel="stylesheet"/>
    <script src="resources/scripts/jquery-3.7.1.min.js"></script>
    <script src="resources/scripts/axure/axQuery.js"></script>
    <script src="resources/scripts/axure/globals.js"></script>
    <script src="resources/scripts/axutils.js"></script>
    <script src="resources/scripts/axure/annotation.js"></script>
    <script src="resources/scripts/axure/axQuery.std.js"></script>
    <script src="resources/scripts/axure/doc.js"></script>
    <script src="resources/scripts/messagecenter.js"></script>
    <script src="resources/scripts/axure/events.js"></script>
    <script src="resources/scripts/axure/recording.js"></script>
    <script src="resources/scripts/axure/action.js"></script>
    <script src="resources/scripts/axure/expr.js"></script>
    <script src="resources/scripts/axure/geometry.js"></script>
    <script src="resources/scripts/axure/flyout.js"></script>
    <script src="resources/scripts/axure/model.js"></script>
    <script src="resources/scripts/axure/repeater.js"></script>
    <script src="resources/scripts/axure/sto.js"></script>
    <script src="resources/scripts/axure/utils.temp.js"></script>
    <script src="resources/scripts/axure/variables.js"></script>
    <script src="resources/scripts/axure/drag.js"></script>
    <script src="resources/scripts/axure/move.js"></script>
    <script src="resources/scripts/axure/visibility.js"></script>
    <script src="resources/scripts/axure/style.js"></script>
    <script src="resources/scripts/axure/adaptive.js"></script>
    <script src="resources/scripts/axure/tree.js"></script>
    <script src="resources/scripts/axure/init.temp.js"></script>
    <script src="resources/scripts/axure/legacy.js"></script>
    <script src="resources/scripts/axure/viewer.js"></script>
    <script src="resources/scripts/axure/math.js"></script>
    <script src="resources/scripts/axure/jquery.nicescroll.min.js"></script>
    <script src="data/document.js"></script>
    <script src="files/编辑支付方式/data.js"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
  </head>
  <body>
    <div id="base" class="">

      <!-- Unnamed (Group) -->
      <div id="u15079" class="ax_default" data-left="0" data-top="119" data-width="1100" data-height="800" layer-opacity="1">

        <!-- Unnamed (Rectangle) -->
        <div id="u15080" class="ax_default _默认样式">
          <div id="u15080_div" class=""></div>
          <div id="u15080_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u15081" class="ax_default" data-left="0" data-top="0" data-width="0" data-height="0" layer-opacity="1">
      </div>

      <!-- Unnamed (标题通栏) -->

      <!-- 灰色背景 (Dynamic Panel) -->
      <div id="u15083" class="ax_default" data-label="灰色背景">
        <div id="u15083_state0" class="panel_state" data-label="State1" style="">
          <div id="u15083_state0_content" class="panel_state_content">
          </div>
        </div>
      </div>

      <!-- 线条 (Dynamic Panel) -->
      <div id="u15084" class="ax_default" data-label="线条">
        <div id="u15084_state0" class="panel_state" data-label="State1" style="">
          <div id="u15084_state0_content" class="panel_state_content">
          </div>
        </div>
      </div>

      <!-- 页面标题 (Rectangle) -->
      <div id="u15085" class="ax_default _默认样式" data-label="页面标题">
        <div id="u15085_div" class=""></div>
        <div id="u15085_text" class="text ">
          <p><span>页面标题</span></p>
        </div>
      </div>
      <div id="u15082" style="display:none; visibility:hidden;"></div>

      <!-- Unnamed (底部版权) -->

      <!-- Unnamed (Rectangle) -->
      <div id="u15087" class="ax_default _默认样式">
        <img id="u15087_img" class="img " src="images/登录界面/u23.svg"/>
        <div id="u15087_text" class="text ">
          <p><span>Copyright © www.xiangtianchi.com, All Rights Reserved.</span></p><p><span>Email : 840251972@qq.com&nbsp; QQ:&nbsp; 840251972</span></p>
        </div>
      </div>
      <div id="u15086" style="display:none; visibility:hidden;"></div>

      <!-- Unnamed (Rectangle) -->
      <div id="u15088" class="ax_default _默认样式">
        <img id="u15088_img" class="img " src="images/编辑支付方式/u15088.svg"/>
        <div id="u15088_text" class="text ">
          <p><span style="color:#F04844;">*</span><span> 支付方式名称：</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u15089" class="ax_default _默认样式">
        <div id="u15089_div" class=""></div>
        <div id="u15089_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u15090" class="ax_default _默认样式">
        <img id="u15090_img" class="img " src="images/添加模板_1/u14902.svg"/>
        <div id="u15090_text" class="text ">
          <p><span>支付方式描述：</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u15091" class="ax_default _默认样式" selectiongroup="按纽组-9">
        <div id="u15091_div" class=""></div>
        <div id="u15091_text" class="text ">
          <p><span>提交</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u15092" class="ax_default _默认样式">
        <img id="u15092_img" class="img " src="images/添加模板_1/u14902.svg"/>
        <div id="u15092_text" class="text ">
          <p><span>微信公众号AppId：</span></p>
        </div>
      </div>

      <!-- Unnamed (返回) -->

      <!-- Unnamed (Rectangle) -->
      <div id="u15094" class="ax_default _默认样式">
        <div id="u15094_div" class=""></div>
        <div id="u15094_text" class="text ">
          <p><span>返回</span></p>
        </div>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u15095" class="ax_default _默认样式">
        <img id="u15095_img" class="img " src="images/逐个编辑/u1787.svg"/>
        <div id="u15095_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>
      <div id="u15093" style="display:none; visibility:hidden;"></div>

      <!-- Unnamed (Rectangle) -->
      <div id="u15096" class="ax_default _默认样式">
        <div id="u15096_div" class=""></div>
        <div id="u15096_text" class="text ">
          <p><span>请输入内容</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u15097" class="ax_default _默认样式">
        <div id="u15097_div" class=""></div>
        <div id="u15097_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u15098" class="ax_default _默认样式">
        <img id="u15098_img" class="img " src="images/添加模板_1/u14902.svg"/>
        <div id="u15098_text" class="text ">
          <p><span>微信公众号AppSecret：</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u15099" class="ax_default _默认样式">
        <div id="u15099_div" class=""></div>
        <div id="u15099_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u15100" class="ax_default _默认样式">
        <img id="u15100_img" class="img " src="images/添加模板_1/u14902.svg"/>
        <div id="u15100_text" class="text ">
          <p><span>商户支付密钥Key：</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u15101" class="ax_default _默认样式">
        <div id="u15101_div" class=""></div>
        <div id="u15101_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u15102" class="ax_default _默认样式">
        <img id="u15102_img" class="img " src="images/添加模板_1/u14902.svg"/>
        <div id="u15102_text" class="text ">
          <p><span>受理商ID(即微信支付商户号)：</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u15103" class="ax_default _默认样式">
        <div id="u15103_div" class=""></div>
        <div id="u15103_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u15104" class="ax_default _默认样式">
        <img id="u15104_img" class="img " src="images/添加模板_1/u14902.svg"/>
        <div id="u15104_text" class="text ">
          <p><span>支付手续费：</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u15105" class="ax_default _默认样式">
        <div id="u15105_div" class=""></div>
        <div id="u15105_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u15106" class="ax_default _默认样式">
        <img id="u15106_img" class="img " src="images/添加模板_1/u14902.svg"/>
        <div id="u15106_text" class="text ">
          <p><span>货到付款：</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u15107" class="ax_default _默认样式">
        <img id="u15107_img" class="img " src="images/添加模板_1/u14902.svg"/>
        <div id="u15107_text" class="text ">
          <p><span>在线支付：</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u15108" class="ax_default _默认样式">
        <img id="u15108_img" class="img " src="images/编辑支付方式/u15108.svg"/>
        <div id="u15108_text" class="text ">
          <p><span>否</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u15109" class="ax_default _默认样式">
        <img id="u15109_img" class="img " src="images/编辑支付方式/u15108.svg"/>
        <div id="u15109_text" class="text ">
          <p><span>是</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u15110" class="ax_default _默认样式">
        <div id="u15110_div" class=""></div>
        <div id="u15110_text" class="text ">
          <p><span>编辑支付方式</span></p>
        </div>
      </div>
    </div>
    <script src="resources/scripts/axure/ios.js"></script>
  </body>
</html>
