<!DOCTYPE html>
<html>
  <head>
    <title>订单设置</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link href="resources/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="data/styles.css" type="text/css" rel="stylesheet"/>
    <link href="files/订单设置/styles.css" type="text/css" rel="stylesheet"/>
    <link href="http://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.css" type="text/css" rel="stylesheet"/>
    <script src="resources/scripts/jquery-3.7.1.min.js"></script>
    <script src="resources/scripts/axure/axQuery.js"></script>
    <script src="resources/scripts/axure/globals.js"></script>
    <script src="resources/scripts/axutils.js"></script>
    <script src="resources/scripts/axure/annotation.js"></script>
    <script src="resources/scripts/axure/axQuery.std.js"></script>
    <script src="resources/scripts/axure/doc.js"></script>
    <script src="resources/scripts/messagecenter.js"></script>
    <script src="resources/scripts/axure/events.js"></script>
    <script src="resources/scripts/axure/recording.js"></script>
    <script src="resources/scripts/axure/action.js"></script>
    <script src="resources/scripts/axure/expr.js"></script>
    <script src="resources/scripts/axure/geometry.js"></script>
    <script src="resources/scripts/axure/flyout.js"></script>
    <script src="resources/scripts/axure/model.js"></script>
    <script src="resources/scripts/axure/repeater.js"></script>
    <script src="resources/scripts/axure/sto.js"></script>
    <script src="resources/scripts/axure/utils.temp.js"></script>
    <script src="resources/scripts/axure/variables.js"></script>
    <script src="resources/scripts/axure/drag.js"></script>
    <script src="resources/scripts/axure/move.js"></script>
    <script src="resources/scripts/axure/visibility.js"></script>
    <script src="resources/scripts/axure/style.js"></script>
    <script src="resources/scripts/axure/adaptive.js"></script>
    <script src="resources/scripts/axure/tree.js"></script>
    <script src="resources/scripts/axure/init.temp.js"></script>
    <script src="resources/scripts/axure/legacy.js"></script>
    <script src="resources/scripts/axure/viewer.js"></script>
    <script src="resources/scripts/axure/math.js"></script>
    <script src="resources/scripts/axure/jquery.nicescroll.min.js"></script>
    <script src="data/document.js"></script>
    <script src="files/订单设置/data.js"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
  </head>
  <body>
    <div id="base" class="">

      <!-- Unnamed (组合) -->
      <div id="u2908" class="ax_default" data-left="0" data-top="119" data-width="1100" data-height="436" layer-opacity="1">

        <!-- Unnamed (矩形) -->
        <div id="u2909" class="ax_default _默认样式">
          <div id="u2909_div" class=""></div>
          <div id="u2909_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (组合) -->
      <div id="u2910" class="ax_default" data-left="0" data-top="0" data-width="0" data-height="0" layer-opacity="1">
      </div>

      <!-- Unnamed (标题通栏) -->

      <!-- 灰色背景 (动态面板) -->
      <div id="u2912" class="ax_default" data-label="灰色背景">
        <div id="u2912_state0" class="panel_state" data-label="State1" style="">
          <div id="u2912_state0_content" class="panel_state_content">
          </div>
        </div>
      </div>

      <!-- 线条 (动态面板) -->
      <div id="u2913" class="ax_default" data-label="线条">
        <div id="u2913_state0" class="panel_state" data-label="State1" style="">
          <div id="u2913_state0_content" class="panel_state_content">
          </div>
        </div>
      </div>

      <!-- 页面标题 (矩形) -->
      <div id="u2914" class="ax_default _默认样式" data-label="页面标题">
        <div id="u2914_div" class=""></div>
        <div id="u2914_text" class="text ">
          <p><span>页面标题</span></p>
        </div>
      </div>
      <div id="u2911" style="display:none; visibility:hidden;"></div>

      <!-- Unnamed (底部版权) -->

      <!-- Unnamed (矩形) -->
      <div id="u2916" class="ax_default _默认样式">
        <img id="u2916_img" class="img " src="images/系统首页/u206.svg"/>
        <div id="u2916_text" class="text ">
          <p><span>Copyright © www.xiangtianchi.com, All Rights Reserved.</span></p><p><span>Email : 840251972@qq.com&nbsp; QQ:&nbsp; 840251972</span></p>
        </div>
      </div>
      <div id="u2915" style="display:none; visibility:hidden;"></div>

      <!-- Unnamed (矩形) -->
      <div id="u2917" class="ax_default _默认样式">
        <img id="u2917_img" class="img " src="images/订单设置/u2917.svg"/>
        <div id="u2917_text" class="text ">
          <p><span style="color:#F04844;">*</span><span> 秒杀订单超过：</span></p>
        </div>
      </div>

      <!-- Unnamed (组合) -->
      <div id="u2918" class="ax_default" data-left="401" data-top="170" data-width="220" data-height="40" layer-opacity="1">

        <!-- Unnamed (矩形) -->
        <div id="u2919" class="ax_default _默认样式">
          <div id="u2919_div" class=""></div>
          <div id="u2919_text" class="text ">
            <p><span>40</span></p>
          </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u2920" class="ax_default _默认样式">
          <div id="u2920_div" class=""></div>
          <div id="u2920_text" class="text ">
            <p><span>分</span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2921" class="ax_default _默认样式">
        <img id="u2921_img" class="img " src="images/订单设置/u2921.svg"/>
        <div id="u2921_text" class="text ">
          <p><span>&nbsp;未付款，订单自动关闭 </span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2922" class="ax_default _默认样式">
        <img id="u2922_img" class="img " src="images/订单设置/u2917.svg"/>
        <div id="u2922_text" class="text ">
          <p><span style="color:#F04844;">*</span><span> 正常订单超过：</span></p>
        </div>
      </div>

      <!-- Unnamed (组合) -->
      <div id="u2923" class="ax_default" data-left="401" data-top="221" data-width="220" data-height="40" layer-opacity="1">

        <!-- Unnamed (矩形) -->
        <div id="u2924" class="ax_default _默认样式">
          <div id="u2924_div" class=""></div>
          <div id="u2924_text" class="text ">
            <p><span>60</span></p>
          </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u2925" class="ax_default _默认样式">
          <div id="u2925_div" class=""></div>
          <div id="u2925_text" class="text ">
            <p><span>分</span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2926" class="ax_default _默认样式">
        <img id="u2926_img" class="img " src="images/订单设置/u2921.svg"/>
        <div id="u2926_text" class="text ">
          <p><span>&nbsp;未付款，订单自动关闭 </span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2927" class="ax_default _默认样式">
        <img id="u2927_img" class="img " src="images/订单设置/u2917.svg"/>
        <div id="u2927_text" class="text ">
          <p><span style="color:#F04844;">*</span><span> 发货超过：</span></p>
        </div>
      </div>

      <!-- Unnamed (组合) -->
      <div id="u2928" class="ax_default" data-left="401" data-top="272" data-width="220" data-height="40" layer-opacity="1">

        <!-- Unnamed (矩形) -->
        <div id="u2929" class="ax_default _默认样式">
          <div id="u2929_div" class=""></div>
          <div id="u2929_text" class="text ">
            <p><span>15</span></p>
          </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u2930" class="ax_default _默认样式">
          <div id="u2930_div" class=""></div>
          <div id="u2930_text" class="text ">
            <p><span>天</span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2931" class="ax_default _默认样式">
        <img id="u2931_img" class="img " src="images/订单设置/u2921.svg"/>
        <div id="u2931_text" class="text ">
          <p><span>未收货，订单自动完成 </span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2932" class="ax_default _默认样式">
        <img id="u2932_img" class="img " src="images/订单设置/u2917.svg"/>
        <div id="u2932_text" class="text ">
          <p><span style="color:#F04844;">*</span><span> 订单完成超过：</span></p>
        </div>
      </div>

      <!-- Unnamed (组合) -->
      <div id="u2933" class="ax_default" data-left="401" data-top="323" data-width="220" data-height="40" layer-opacity="1">

        <!-- Unnamed (矩形) -->
        <div id="u2934" class="ax_default _默认样式">
          <div id="u2934_div" class=""></div>
          <div id="u2934_text" class="text ">
            <p><span>7</span></p>
          </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u2935" class="ax_default _默认样式">
          <div id="u2935_div" class=""></div>
          <div id="u2935_text" class="text ">
            <p><span>天</span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2936" class="ax_default _默认样式">
        <img id="u2936_img" class="img " src="images/订单设置/u2921.svg"/>
        <div id="u2936_text" class="text ">
          <p><span>自动结束交易，不能申请售后 </span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2937" class="ax_default _默认样式">
        <img id="u2937_img" class="img " src="images/订单设置/u2917.svg"/>
        <div id="u2937_text" class="text ">
          <p><span style="color:#F04844;">*</span><span> 订单完成超过：</span></p>
        </div>
      </div>

      <!-- Unnamed (组合) -->
      <div id="u2938" class="ax_default" data-left="401" data-top="374" data-width="220" data-height="40" layer-opacity="1">

        <!-- Unnamed (矩形) -->
        <div id="u2939" class="ax_default _默认样式">
          <div id="u2939_div" class=""></div>
          <div id="u2939_text" class="text ">
            <p><span>7</span></p>
          </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u2940" class="ax_default _默认样式">
          <div id="u2940_div" class=""></div>
          <div id="u2940_text" class="text ">
            <p><span>天</span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2941" class="ax_default _默认样式">
        <img id="u2941_img" class="img " src="images/订单设置/u2921.svg"/>
        <div id="u2941_text" class="text ">
          <p><span>自动五星好评</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2942" class="ax_default _默认样式" selectiongroup="按纽组-9">
        <div id="u2942_div" class=""></div>
        <div id="u2942_text" class="text ">
          <p><span>提交</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2943" class="ax_default _默认样式">
        <div id="u2943_div" class=""></div>
        <div id="u2943_text" class="text ">
          <p><span>订单设置</span></p>
        </div>
      </div>
    </div>
    <script src="resources/scripts/axure/ios.js"></script>
  </body>
</html>
