<!DOCTYPE html>
<html>
  <head>
    <title>设置商品</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link href="resources/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="data/styles.css" type="text/css" rel="stylesheet"/>
    <link href="files/设置商品/styles.css" type="text/css" rel="stylesheet"/>
    <link href="http://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.css" type="text/css" rel="stylesheet"/>
    <script src="resources/scripts/jquery-3.7.1.min.js"></script>
    <script src="resources/scripts/axure/axQuery.js"></script>
    <script src="resources/scripts/axure/globals.js"></script>
    <script src="resources/scripts/axutils.js"></script>
    <script src="resources/scripts/axure/annotation.js"></script>
    <script src="resources/scripts/axure/axQuery.std.js"></script>
    <script src="resources/scripts/axure/doc.js"></script>
    <script src="resources/scripts/messagecenter.js"></script>
    <script src="resources/scripts/axure/events.js"></script>
    <script src="resources/scripts/axure/recording.js"></script>
    <script src="resources/scripts/axure/action.js"></script>
    <script src="resources/scripts/axure/expr.js"></script>
    <script src="resources/scripts/axure/geometry.js"></script>
    <script src="resources/scripts/axure/flyout.js"></script>
    <script src="resources/scripts/axure/model.js"></script>
    <script src="resources/scripts/axure/repeater.js"></script>
    <script src="resources/scripts/axure/sto.js"></script>
    <script src="resources/scripts/axure/utils.temp.js"></script>
    <script src="resources/scripts/axure/variables.js"></script>
    <script src="resources/scripts/axure/drag.js"></script>
    <script src="resources/scripts/axure/move.js"></script>
    <script src="resources/scripts/axure/visibility.js"></script>
    <script src="resources/scripts/axure/style.js"></script>
    <script src="resources/scripts/axure/adaptive.js"></script>
    <script src="resources/scripts/axure/tree.js"></script>
    <script src="resources/scripts/axure/init.temp.js"></script>
    <script src="resources/scripts/axure/legacy.js"></script>
    <script src="resources/scripts/axure/viewer.js"></script>
    <script src="resources/scripts/axure/math.js"></script>
    <script src="resources/scripts/axure/jquery.nicescroll.min.js"></script>
    <script src="data/document.js"></script>
    <script src="files/设置商品/data.js"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
  </head>
  <body>
    <div id="base" class="">

      <!-- Unnamed (标题通栏) -->

      <!-- 灰色背景 (Dynamic Panel) -->
      <div id="u8761" class="ax_default" data-label="灰色背景">
        <div id="u8761_state0" class="panel_state" data-label="State1" style="">
          <div id="u8761_state0_content" class="panel_state_content">
          </div>
        </div>
      </div>

      <!-- 线条 (Dynamic Panel) -->
      <div id="u8762" class="ax_default" data-label="线条">
        <div id="u8762_state0" class="panel_state" data-label="State1" style="">
          <div id="u8762_state0_content" class="panel_state_content">
          </div>
        </div>
      </div>

      <!-- 页面标题 (Rectangle) -->
      <div id="u8763" class="ax_default _默认样式" data-label="页面标题">
        <div id="u8763_div" class=""></div>
        <div id="u8763_text" class="text ">
          <p><span>页面标题</span></p>
        </div>
      </div>
      <div id="u8760" style="display:none; visibility:hidden;"></div>

      <!-- Unnamed (刷新) -->

      <!-- Unnamed (Rectangle) -->
      <div id="u8765" class="ax_default _默认样式" title="刷新">
        <div id="u8765_div" class=""></div>
        <div id="u8765_text" class="text ">
          <p><span>刷新</span></p>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u8766" class="ax_default" data-left="1031" data-top="16" data-width="19" data-height="17" layer-opacity="1">

        <!-- Unnamed (Shape) -->
        <div id="u8767" class="ax_default _默认样式">
          <img id="u8767_img" class="img " src="images/系统首页/u22.svg"/>
          <div id="u8767_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Shape) -->
        <div id="u8768" class="ax_default _默认样式">
          <img id="u8768_img" class="img " src="images/系统首页/u23.svg"/>
          <div id="u8768_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>
      </div>
      <div id="u8764" style="display:none; visibility:hidden;"></div>

      <!-- Unnamed (Rectangle) -->
      <div id="u8769" class="ax_default _默认样式">
        <div id="u8769_div" class=""></div>
        <div id="u8769_text" class="text ">
          <p style="font-size:18px;"><span style="font-family:'FontAwesome', sans-serif;font-weight:400;"></span><span style="font-family:'Arial Normal', 'Arial', sans-serif;font-weight:400;font-size:12px;"> </span><span style="font-family:'微软雅黑', sans-serif;font-weight:400;font-size:12px;">数据列表</span></p>
        </div>
      </div>

      <!-- Unnamed (Table) -->
      <div id="u8770" class="ax_default _表格">

        <!-- Unnamed (Table Cell) -->
        <div id="u8771" class="ax_default _默认样式">
          <img id="u8771_img" class="img " src="images/商品列表/u546.png"/>
          <div id="u8771_text" class="text ">
            <p><span>编号</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u8772" class="ax_default _默认样式">
          <img id="u8772_img" class="img " src="images/会员等级设置/u8044.png"/>
          <div id="u8772_text" class="text ">
            <p><span>秒杀时段名称</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u8773" class="ax_default _默认样式">
          <img id="u8773_img" class="img " src="images/秒杀时间段列表/u8667.png"/>
          <div id="u8773_text" class="text ">
            <p><span>每日开始时间</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u8774" class="ax_default _默认样式">
          <img id="u8774_img" class="img " src="images/会员等级设置/u8044.png"/>
          <div id="u8774_text" class="text ">
            <p><span>每日结束时间</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u8775" class="ax_default _默认样式">
          <img id="u8775_img" class="img " src="images/商品回收站/u1386.png"/>
          <div id="u8775_text" class="text ">
            <p><span>商品数量</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u8776" class="ax_default _默认样式">
          <img id="u8776_img" class="img " src="images/秒杀时间段列表/u8670.png"/>
          <div id="u8776_text" class="text ">
            <p><span>操作</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u8777" class="ax_default _默认样式">
          <img id="u8777_img" class="img " src="images/秒杀时间段列表/u8671.png"/>
          <div id="u8777_text" class="text ">
            <p><span>1000001</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u8778" class="ax_default _默认样式">
          <img id="u8778_img" class="img " src="images/会员等级设置/u8051.png"/>
          <div id="u8778_text" class="text ">
            <p><span>8:00</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u8779" class="ax_default _默认样式">
          <img id="u8779_img" class="img " src="images/秒杀时间段列表/u8673.png"/>
          <div id="u8779_text" class="text ">
            <p><span>08:00:00</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u8780" class="ax_default _默认样式">
          <img id="u8780_img" class="img " src="images/会员等级设置/u8051.png"/>
          <div id="u8780_text" class="text ">
            <p><span>10:00:00</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u8781" class="ax_default _默认样式">
          <img id="u8781_img" class="img " src="images/秒杀时间段列表/u8675.png"/>
          <div id="u8781_text" class="text ">
            <p><span>10</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u8782" class="ax_default _默认样式">
          <img id="u8782_img" class="img " src="images/秒杀时间段列表/u8676.png"/>
          <div id="u8782_text" class="text ">
            <p><a id="u8783" class="link"><span>商品列表</span></a></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u8784" class="ax_default _默认样式">
          <img id="u8784_img" class="img " src="images/秒杀时间段列表/u8671.png"/>
          <div id="u8784_text" class="text ">
            <p><span>1000002</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u8785" class="ax_default _默认样式">
          <img id="u8785_img" class="img " src="images/会员等级设置/u8051.png"/>
          <div id="u8785_text" class="text ">
            <p><span>12:00</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u8786" class="ax_default _默认样式">
          <img id="u8786_img" class="img " src="images/秒杀时间段列表/u8673.png"/>
          <div id="u8786_text" class="text ">
            <p><span>10:00:01</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u8787" class="ax_default _默认样式">
          <img id="u8787_img" class="img " src="images/会员等级设置/u8051.png"/>
          <div id="u8787_text" class="text ">
            <p><span>12:00:00</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u8788" class="ax_default _默认样式">
          <img id="u8788_img" class="img " src="images/秒杀时间段列表/u8675.png"/>
          <div id="u8788_text" class="text ">
            <p><span>10</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u8789" class="ax_default _默认样式">
          <img id="u8789_img" class="img " src="images/秒杀时间段列表/u8676.png"/>
          <div id="u8789_text" class="text ">
            <p><a id="u8790" class="link"><span>商品列表</span></a></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u8791" class="ax_default _默认样式">
          <img id="u8791_img" class="img " src="images/秒杀时间段列表/u8671.png"/>
          <div id="u8791_text" class="text ">
            <p><span>1000003</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u8792" class="ax_default _默认样式">
          <img id="u8792_img" class="img " src="images/会员等级设置/u8051.png"/>
          <div id="u8792_text" class="text ">
            <p><span>14:00</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u8793" class="ax_default _默认样式">
          <img id="u8793_img" class="img " src="images/秒杀时间段列表/u8673.png"/>
          <div id="u8793_text" class="text ">
            <p><span>12:00:01</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u8794" class="ax_default _默认样式">
          <img id="u8794_img" class="img " src="images/会员等级设置/u8051.png"/>
          <div id="u8794_text" class="text ">
            <p><span>14:00:00</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u8795" class="ax_default _默认样式">
          <img id="u8795_img" class="img " src="images/秒杀时间段列表/u8675.png"/>
          <div id="u8795_text" class="text ">
            <p><span>10</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u8796" class="ax_default _默认样式">
          <img id="u8796_img" class="img " src="images/秒杀时间段列表/u8676.png"/>
          <div id="u8796_text" class="text ">
            <p><a id="u8797" class="link"><span>商品列表</span></a></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u8798" class="ax_default _默认样式">
          <img id="u8798_img" class="img " src="images/秒杀时间段列表/u8671.png"/>
          <div id="u8798_text" class="text ">
            <p><span>1000004</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u8799" class="ax_default _默认样式">
          <img id="u8799_img" class="img " src="images/会员等级设置/u8051.png"/>
          <div id="u8799_text" class="text ">
            <p><span>16:00</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u8800" class="ax_default _默认样式">
          <img id="u8800_img" class="img " src="images/秒杀时间段列表/u8673.png"/>
          <div id="u8800_text" class="text ">
            <p><span>14:00:01</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u8801" class="ax_default _默认样式">
          <img id="u8801_img" class="img " src="images/会员等级设置/u8051.png"/>
          <div id="u8801_text" class="text ">
            <p><span>16:00:00</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u8802" class="ax_default _默认样式">
          <img id="u8802_img" class="img " src="images/秒杀时间段列表/u8675.png"/>
          <div id="u8802_text" class="text ">
            <p><span>10</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u8803" class="ax_default _默认样式">
          <img id="u8803_img" class="img " src="images/秒杀时间段列表/u8676.png"/>
          <div id="u8803_text" class="text ">
            <p><a id="u8804" class="link"><span>商品列表</span></a></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u8805" class="ax_default _默认样式">
          <img id="u8805_img" class="img " src="images/秒杀时间段列表/u8671.png"/>
          <div id="u8805_text" class="text ">
            <p><span>1000005</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u8806" class="ax_default _默认样式">
          <img id="u8806_img" class="img " src="images/会员等级设置/u8051.png"/>
          <div id="u8806_text" class="text ">
            <p><span>18:00</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u8807" class="ax_default _默认样式">
          <img id="u8807_img" class="img " src="images/秒杀时间段列表/u8673.png"/>
          <div id="u8807_text" class="text ">
            <p><span>16:00:01</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u8808" class="ax_default _默认样式">
          <img id="u8808_img" class="img " src="images/会员等级设置/u8051.png"/>
          <div id="u8808_text" class="text ">
            <p><span>16:00:00</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u8809" class="ax_default _默认样式">
          <img id="u8809_img" class="img " src="images/秒杀时间段列表/u8675.png"/>
          <div id="u8809_text" class="text ">
            <p><span>10</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u8810" class="ax_default _默认样式">
          <img id="u8810_img" class="img " src="images/秒杀时间段列表/u8676.png"/>
          <div id="u8810_text" class="text ">
            <p><a id="u8811" class="link"><span>商品列表</span></a></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u8812" class="ax_default _默认样式">
          <img id="u8812_img" class="img " src="images/秒杀时间段列表/u8671.png"/>
          <div id="u8812_text" class="text ">
            <p><span>1000006</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u8813" class="ax_default _默认样式">
          <img id="u8813_img" class="img " src="images/会员等级设置/u8051.png"/>
          <div id="u8813_text" class="text ">
            <p><span>20:00</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u8814" class="ax_default _默认样式">
          <img id="u8814_img" class="img " src="images/秒杀时间段列表/u8673.png"/>
          <div id="u8814_text" class="text ">
            <p><span>18:00:01</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u8815" class="ax_default _默认样式">
          <img id="u8815_img" class="img " src="images/会员等级设置/u8051.png"/>
          <div id="u8815_text" class="text ">
            <p><span>20:00:00</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u8816" class="ax_default _默认样式">
          <img id="u8816_img" class="img " src="images/秒杀时间段列表/u8675.png"/>
          <div id="u8816_text" class="text ">
            <p><span>10</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u8817" class="ax_default _默认样式">
          <img id="u8817_img" class="img " src="images/秒杀时间段列表/u8676.png"/>
          <div id="u8817_text" class="text ">
            <p><a id="u8818" class="link"><span>商品列表</span></a></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u8819" class="ax_default _默认样式">
          <img id="u8819_img" class="img " src="images/商品评价/u1888.png"/>
          <div id="u8819_text" class="text ">
            <p><span>1000007</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u8820" class="ax_default _默认样式">
          <img id="u8820_img" class="img " src="images/会员等级设置/u8075.png"/>
          <div id="u8820_text" class="text ">
            <p><span>22:00</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u8821" class="ax_default _默认样式">
          <img id="u8821_img" class="img " src="images/秒杀时间段列表/u8715.png"/>
          <div id="u8821_text" class="text ">
            <p><span>20:00:01</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u8822" class="ax_default _默认样式">
          <img id="u8822_img" class="img " src="images/会员等级设置/u8075.png"/>
          <div id="u8822_text" class="text ">
            <p><span>22:00:00</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u8823" class="ax_default _默认样式">
          <img id="u8823_img" class="img " src="images/秒杀时间段列表/u8717.png"/>
          <div id="u8823_text" class="text ">
            <p><span>10</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u8824" class="ax_default _默认样式">
          <img id="u8824_img" class="img " src="images/秒杀时间段列表/u8718.png"/>
          <div id="u8824_text" class="text ">
            <p><a id="u8825" class="link"><span>商品列表</span></a></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (底部版权) -->

      <!-- Unnamed (Rectangle) -->
      <div id="u8827" class="ax_default _默认样式">
        <img id="u8827_img" class="img " src="images/系统首页/u206.svg"/>
        <div id="u8827_text" class="text ">
          <p><span>Copyright © www.xiangtianchi.com, All Rights Reserved.</span></p><p><span>Email : 840251972@qq.com&nbsp; QQ:&nbsp; 840251972</span></p>
        </div>
      </div>
      <div id="u8826" style="display:none; visibility:hidden;"></div>
    </div>
    <script src="resources/scripts/axure/ios.js"></script>
  </body>
</html>
