<!DOCTYPE html>
<html>
  <head>
    <title>验证码设置</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link href="resources/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="data/styles.css" type="text/css" rel="stylesheet"/>
    <link href="files/验证码设置/styles.css" type="text/css" rel="stylesheet"/>
    <link href="http://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.css" type="text/css" rel="stylesheet"/>
    <script src="resources/scripts/jquery-3.7.1.min.js"></script>
    <script src="resources/scripts/axure/axQuery.js"></script>
    <script src="resources/scripts/axure/globals.js"></script>
    <script src="resources/scripts/axutils.js"></script>
    <script src="resources/scripts/axure/annotation.js"></script>
    <script src="resources/scripts/axure/axQuery.std.js"></script>
    <script src="resources/scripts/axure/doc.js"></script>
    <script src="resources/scripts/messagecenter.js"></script>
    <script src="resources/scripts/axure/events.js"></script>
    <script src="resources/scripts/axure/recording.js"></script>
    <script src="resources/scripts/axure/action.js"></script>
    <script src="resources/scripts/axure/expr.js"></script>
    <script src="resources/scripts/axure/geometry.js"></script>
    <script src="resources/scripts/axure/flyout.js"></script>
    <script src="resources/scripts/axure/model.js"></script>
    <script src="resources/scripts/axure/repeater.js"></script>
    <script src="resources/scripts/axure/sto.js"></script>
    <script src="resources/scripts/axure/utils.temp.js"></script>
    <script src="resources/scripts/axure/variables.js"></script>
    <script src="resources/scripts/axure/drag.js"></script>
    <script src="resources/scripts/axure/move.js"></script>
    <script src="resources/scripts/axure/visibility.js"></script>
    <script src="resources/scripts/axure/style.js"></script>
    <script src="resources/scripts/axure/adaptive.js"></script>
    <script src="resources/scripts/axure/tree.js"></script>
    <script src="resources/scripts/axure/init.temp.js"></script>
    <script src="resources/scripts/axure/legacy.js"></script>
    <script src="resources/scripts/axure/viewer.js"></script>
    <script src="resources/scripts/axure/math.js"></script>
    <script src="resources/scripts/axure/jquery.nicescroll.min.js"></script>
    <script src="data/document.js"></script>
    <script src="files/验证码设置/data.js"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
  </head>
  <body>
    <div id="base" class="">

      <!-- Unnamed (Group) -->
      <div id="u14771" class="ax_default" data-left="0" data-top="119" data-width="1100" data-height="931" layer-opacity="1">

        <!-- Unnamed (Rectangle) -->
        <div id="u14772" class="ax_default _默认样式">
          <div id="u14772_div" class=""></div>
          <div id="u14772_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u14773" class="ax_default" data-left="0" data-top="0" data-width="0" data-height="0" layer-opacity="1">
      </div>

      <!-- Unnamed (标题通栏) -->

      <!-- 灰色背景 (Dynamic Panel) -->
      <div id="u14775" class="ax_default" data-label="灰色背景">
        <div id="u14775_state0" class="panel_state" data-label="State1" style="">
          <div id="u14775_state0_content" class="panel_state_content">
          </div>
        </div>
      </div>

      <!-- 线条 (Dynamic Panel) -->
      <div id="u14776" class="ax_default" data-label="线条">
        <div id="u14776_state0" class="panel_state" data-label="State1" style="">
          <div id="u14776_state0_content" class="panel_state_content">
          </div>
        </div>
      </div>

      <!-- 页面标题 (Rectangle) -->
      <div id="u14777" class="ax_default _默认样式" data-label="页面标题">
        <div id="u14777_div" class=""></div>
        <div id="u14777_text" class="text ">
          <p><span>页面标题</span></p>
        </div>
      </div>
      <div id="u14774" style="display:none; visibility:hidden;"></div>

      <!-- Unnamed (底部版权) -->

      <!-- Unnamed (Rectangle) -->
      <div id="u14779" class="ax_default _默认样式">
        <img id="u14779_img" class="img " src="images/登录界面/u23.svg"/>
        <div id="u14779_text" class="text ">
          <p><span>Copyright © www.xiangtianchi.com, All Rights Reserved.</span></p><p><span>Email : 840251972@qq.com&nbsp; QQ:&nbsp; 840251972</span></p>
        </div>
      </div>
      <div id="u14778" style="display:none; visibility:hidden;"></div>

      <!-- Unnamed (Rectangle) -->
      <div id="u14780" class="ax_default _默认样式">
        <img id="u14780_img" class="img " src="images/填写商品信息/u1053.svg"/>
        <div id="u14780_text" class="text ">
          <p><span style="color:#F04844;">*</span><span> 启用验证码：</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u14781" class="ax_default _默认样式" selectiongroup="按纽组-9">
        <div id="u14781_div" class=""></div>
        <div id="u14781_text" class="text ">
          <p><span>提交</span></p>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u14782" class="ax_default" data-left="400" data-top="169" data-width="130" data-height="119" layer-opacity="1">

        <!-- Unnamed (Rectangle) -->
        <div id="u14783" class="ax_default _默认样式">
          <img id="u14783_img" class="img " src="images/验证码设置/u14783.svg"/>
          <div id="u14783_text" class="text ">
            <p style="font-size:16px;"><span style="font-family:'FontAwesome', sans-serif;font-weight:400;color:#1ABC9C;"></span><span style="font-family:'微软雅黑', sans-serif;font-weight:400;font-size:14px;color:#999999;"> 新用户注册&nbsp;&nbsp; </span></p><p style="font-size:16px;"><span style="font-family:'FontAwesome', sans-serif;font-weight:400;color:#1ABC9C;"></span><span style="font-family:'微软雅黑', sans-serif;font-weight:400;font-size:14px;color:#999999;"> 用户登录&nbsp; &nbsp; </span></p><p style="font-size:16px;"><span style="font-family:'FontAwesome', sans-serif;font-weight:400;color:#1ABC9C;"></span><span style="font-family:'微软雅黑', sans-serif;font-weight:400;font-size:14px;color:#999999;"> 发表相关评论&nbsp; &nbsp; </span></p><p style="font-size:16px;"><span style="font-family:'FontAwesome', sans-serif;font-weight:400;color:#1ABC9C;"></span><span style="font-family:'微软雅黑', sans-serif;font-weight:400;font-size:14px;color:#999999;"> 后台系统登录&nbsp; &nbsp; </span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u14784" class="ax_default _默认样式">
        <div id="u14784_div" class=""></div>
        <div id="u14784_text" class="text ">
          <p><span>启用验证码可以避免恶意批量评论或提交信息，推荐打开验证码功能。注意: 启用验证码会使得部分操作变得繁琐，建议仅在必需时打开</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u14785" class="ax_default _默认样式">
        <img id="u14785_img" class="img " src="images/基本设置/u14534.svg"/>
        <div id="u14785_text" class="text ">
          <p><span style="color:#F04844;">*</span><span> 登录失败时显示验证码：</span></p>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u14786" class="ax_default" data-left="400" data-top="350" data-width="252" data-height="40" layer-opacity="1">

        <!-- Unnamed (Rectangle) -->
        <div id="u14787" class="ax_default _默认样式">
          <img id="u14787_img" class="img " src="images/验证码设置/u14787.svg"/>
          <div id="u14787_text" class="text ">
            <p style="font-size:16px;"><span style="font-family:'FontAwesome', sans-serif;font-weight:400;color:#1ABC9C;"></span><span style="font-family:'微软雅黑', sans-serif;font-weight:400;font-size:14px;color:#999999;"> 关闭&nbsp; &nbsp; </span><span style="font-family:'FontAwesome', sans-serif;font-weight:400;color:#999999;"></span><span style="font-family:'微软雅黑', sans-serif;font-weight:400;font-size:14px;color:#999999;"> 开启&nbsp; &nbsp; </span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u14788" class="ax_default _默认样式">
        <div id="u14788_div" class=""></div>
        <div id="u14788_text" class="text ">
          <p><span>选择“是”将在用户登录失败 3 次后才显示验证码，选择“否”将始终在登录时显示验证码。注意: 只有在启用了用户登录验证码时本设置才有效</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u14789" class="ax_default _默认样式">
        <img id="u14789_img" class="img " src="images/基本设置/u14534.svg"/>
        <div id="u14789_text" class="text ">
          <p><span style="color:#F04844;">*</span><span> 验证码方式：</span></p>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u14790" class="ax_default" data-left="400" data-top="456" data-width="252" data-height="40" layer-opacity="1">

        <!-- Unnamed (Rectangle) -->
        <div id="u14791" class="ax_default _默认样式">
          <img id="u14791_img" class="img " src="images/验证码设置/u14787.svg"/>
          <div id="u14791_text" class="text ">
            <p style="font-size:16px;"><span style="font-family:'FontAwesome', sans-serif;font-weight:400;color:#1ABC9C;"></span><span style="font-family:'微软雅黑', sans-serif;font-weight:400;font-size:14px;color:#999999;"> 图形验证码&nbsp; &nbsp; </span><span style="font-family:'FontAwesome', sans-serif;font-weight:400;color:#999999;"></span><span style="font-family:'微软雅黑', sans-serif;font-weight:400;font-size:14px;color:#999999;"> 滑动验证码&nbsp; &nbsp; </span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u14792" class="ax_default _默认样式">
        <img id="u14792_img" class="img " src="images/基本设置/u14534.svg"/>
        <div id="u14792_text" class="text ">
          <p><span style="color:#F04844;">*</span><span> 图形验证码宽度：</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u14793" class="ax_default _默认样式">
        <div id="u14793_div" class=""></div>
        <div id="u14793_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u14794" class="ax_default _默认样式">
        <div id="u14794_div" class=""></div>
        <div id="u14794_text" class="text ">
          <p><span>验证码图片的宽度，范围在 40～145 之间</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u14795" class="ax_default _默认样式">
        <img id="u14795_img" class="img " src="images/基本设置/u14534.svg"/>
        <div id="u14795_text" class="text ">
          <p><span style="color:#F04844;">*</span><span> 图形验证码高度：</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u14796" class="ax_default _默认样式">
        <div id="u14796_div" class=""></div>
        <div id="u14796_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u14797" class="ax_default _默认样式">
        <div id="u14797_div" class=""></div>
        <div id="u14797_text" class="text ">
          <p><span>验证码图片的高度，范围在 15～50 之间</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u14798" class="ax_default _默认样式">
        <img id="u14798_img" class="img " src="images/基本设置/u14534.svg"/>
        <div id="u14798_text" class="text ">
          <p><span style="color:#F04844;">*</span><span> 图形验证码内容大小：</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u14799" class="ax_default _默认样式">
        <div id="u14799_div" class=""></div>
        <div id="u14799_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u14800" class="ax_default _默认样式">
        <div id="u14800_div" class=""></div>
        <div id="u14800_text" class="text ">
          <p><span>验证码内容大小，范围在16-20之间</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u14801" class="ax_default _默认样式">
        <img id="u14801_img" class="img " src="images/基本设置/u14534.svg"/>
        <div id="u14801_text" class="text ">
          <p><span style="color:#F04844;">*</span><span> 图形验证码位数：</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u14802" class="ax_default _默认样式">
        <div id="u14802_div" class=""></div>
        <div id="u14802_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u14803" class="ax_default _默认样式">
        <div id="u14803_div" class=""></div>
        <div id="u14803_text" class="text ">
          <p><span>图形验证码位数，范围4-6之间</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u14804" class="ax_default _默认样式">
        <img id="u14804_img" class="img " src="images/基本设置/u14534.svg"/>
        <div id="u14804_text" class="text ">
          <p><span>图形验证码预览：</span></p>
        </div>
      </div>

      <!-- Unnamed (Image) -->
      <div id="u14805" class="ax_default image">
        <img id="u14805_img" class="img " src="images/验证码设置/u14805.png"/>
        <div id="u14805_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u14806" class="ax_default _默认样式">
        <div id="u14806_div" class=""></div>
        <div id="u14806_text" class="text ">
          <p><span>验证码设置</span></p>
        </div>
      </div>
    </div>
    <script src="resources/scripts/axure/ios.js"></script>
  </body>
</html>
